.banner {
	margin-bottom: 40px;
	padding: 0;
	box-sizing: border-box;	
}

.banner__title-wrapper {
	width: 100%;
	padding: 5px 0;	
	
	border-top: 1px solid rgba(255,255,255,.5);
	border-bottom: 1px solid rgba(255,255,255,.5);
	box-sizing: border-box;
	z-index: 1;
}

.banner__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
	padding: 20px;
	
	
	line-height: normal;
	
	text-align: center;
	color: #000000;	
	background-color: rgba(255,255,255,.5);
	box-sizing: border-box;
	z-index: 1;

	.banner__title-first {
		font-size: 28px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.banner__title-second {
		font-family: 'Nicoletta';
		font-weight: 300;
		letter-spacing: 2px;
	}
}

.banner__img-wrapper {
	display: flex;
	align-items: center;
	height: 300px;
	position: relative;		
	box-sizing: border-box;
	img {
		height: 300px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.banner__img-wrapper {
		height: 440px;
		img {
			height: 440px;
		}
	}

	.banner__title {
		.banner__title-first {
			font-size: 35px;			
		}
		.banner__title-second {
			font-size: 50px;
		}
	}
}
