.portfolio {	
	margin-bottom: 40px;
	padding: 0 30px;
	padding-top: 30px;
	box-sizing: border-box;
}

.portfolio__title {
	margin-bottom: 40px;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.portfolio__item {
	width: 45%;
	line-height: 0;
	margin-bottom: 20px;
}


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	.portfolio__item {
		width: 30%;
	}
}

@media (min-width: @tablet-width) {
	.portfolio__title {
		font-size: 30px;
	}

	.portfolio__item {
		width: 22%;
	}
}

@media (min-width: @desktop-width) {
	.portfolio__item {
		width: 18%;
	}
}