/*--- Exo 2 ---*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=Josefin+Sans:wght@600&display=swap');

/*--- Gotham Pro---*/
@font-face {
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local('Gotham Pro Light'), 
    	url('../fonts/gotham/GothamProLight.woff2') format('woff2'), 
    	url('../fonts/gotham/GothamProLight.woff') format('woff'), 
    	url('../fonts/gotham/GothamProLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: local('Gotham Pro Light Italic'), 
    	url('../fonts/gotham/GothamProLightItalic.woff2') format('woff2'), 
    	url('../fonts/gotham/GothamProLightItalic.woff') format('woff'), 
    	url('../fonts/gotham/GothamProLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Pro';    
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Gotham Pro Regular'), 
    	url('../fonts/gotham/GothamProRegular.woff2') format('woff2'), 
    	url('../fonts/gotham/GothamProRegular.woff') format('woff'), 
    	url('../fonts/gotham/GothamProRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Pro';    
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: local('Gotham Pro Italic'), 
    	url('../fonts/gotham/GothamProItalic.woff2') format('woff2'), 
    	url('../fonts/gotham/GothamProItalic.woff') format('woff'), 
    	url('../fonts/gotham/GothamProItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Pro';    
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('Gotham Pro Medium'), 
        url('../fonts/gotham/GothamProMedium.woff2') format('woff2'), 
        url('../fonts/gotham/GothamProMedium.woff') format('woff'), 
        url('../fonts/gotham/GothamProMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Pro';    
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: local('Gotham Pro Medium Italic'), 
        url('../fonts/gotham/GothamProMediumItalic.woff2') format('woff2'), 
        url('../fonts/gotham/GothamProMediumItalic.woff') format('woff'), 
        url('../fonts/gotham/GothamProMediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Pro';    
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Gotham Pro Bold'), 
        url('../fonts/gotham/GothamProBold.woff2') format('woff2'), 
        url('../fonts/gotham/GothamProBold.woff') format('woff'), 
        url('../fonts/gotham/GothamProBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Pro';    
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: local('Gotham Pro Bold Italic'), 
        url('../fonts/gotham/GothamProBoldItalic.woff2') format('woff2'), 
        url('../fonts/gotham/GothamProBoldItalic.woff') format('woff'), 
        url('../fonts/gotham/GothamProBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Pro';    
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: local('Gotham Pro Black'), 
        url('../fonts/gotham/GothamProBlack.woff2') format('woff2'), 
        url('../fonts/gotham/GothamProBlack.woff') format('woff'), 
        url('../fonts/gotham/GothamProBlack.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Pro';    
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src: local('Gotham Pro Black Italic'), 
        url('../fonts/gotham/GothamProBlackItalic.woff2') format('woff2'), 
        url('../fonts/gotham/GothamProBlackItalic.woff') format('woff'), 
        url('../fonts/gotham/GothamProBlackItalic.ttf') format('truetype');
}