.plus {
	position: relative;
	margin-bottom: 80px;
}

.plus__wrapper {
	padding: 0 15px;
}

.plus__list-title {
	margin-bottom: 50px;
	font-size: 24px;
	line-height: 34px;
	font-weight: 700;
	text-align: center;
}

.plus__list {
	
}

.plus__item {
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
}

.plus__title {
	display: flex;
	align-items: center;
	position: relative;
	min-height: 50px;
	margin-bottom: 15px;
	padding-left: 20px;
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
	text-transform: uppercase;
	color: #1567BA;	
	&::before {
		content: '';
		position: absolute;
		top: -10px;
		bottom: 0;
		left: 0;
		width: 1px;
		background-color: #292B2C;
	}
}

.plus__text {
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	&:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: @mobile-width) {
	.plus__wrapper {
		width: 80%;
	}
}

@media (min-width: 600px) {
	.plus__wrapper {
		width: 470px;
	}
}

@media (min-width: @tablet-width) {	

	.plus__wrapper {
		width: 100%;
		padding: 0 30px;
	}

	.plus__title {
		margin-bottom: 20px;
	}

	.plus__list {
		display: flex;
		justify-content: space-between;
	}

	.plus__item {
		width: 47%;
		margin-bottom: 0;
	}

	.plus__list--3, 
	.plus__list--4 {
		flex-wrap: wrap;
		.plus__item {
			width: 45%;
			margin-bottom: 70px;
		}
	}	
}

@media (min-width: @desktop-width) {
	.plus__list--4 {	
		.plus__item {
			width: 22%;
			margin-bottom: 0;
		}
	}

	.plus__list--3 {
		justify-content: flex-start;
		.plus__item {
			width: 30%;
			// margin-bottom: 0;
			margin-right: 30px;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

@media (min-width: @desktop-full-width) {
	.plus__item {
		width: 48%;	
	}

}