.advantages {
	display: flex;
	justify-content: space-between;
}

.advantages__img {
	width: 600px;
}

.advantages__center {
	width: 600px;
}

.advantages__list {

}

.advantages__item {
	font-size: 24px;
	line-height: 140%;
	border-bottom: 1px solid #55565a;
}


@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}