.button {
	display: block;
	justify-content: center;
	align-items: center;
	padding: 20px 40px;
	font-size: 20px;
	// padding: 28px 54px;
	// font-size: 24px;
	line-height: 150%;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: @bg-color;
	border: none;	
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	transition: @animation;	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
		/* отмена выделения текста */
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
			    user-select: none;
	&:hover,
	&:focus {
		background-color: #dddddd;
		// box-shadow: inset 0px 0px 30px rgba(0,0,0,.2);
	}
}

.button--dark {
	color: #ffffff;	
	background-color: #282829;	
	&:hover,
	&:focus {
		background-color: #333333;
	}
}

// .button {
// 	-webkit-animation: glowing 1.3s infinite;
// 	-moz-animation: glowing 1.3s infinite;
// 	-o-animation: glowing 1.3s infinite;
// 	animation: glowing 1.3s infinite;
// }

// @-webkit-keyframes glowing {
// 	0% {background-color: #fd4d35; -webkit-box-shadow: 0 0 0 0px rgba(253, 77, 53, 0.5);}
// 	50% {background-color: #ff0606;}
// 	100% {background-color: #fd4d35; -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);}
// }

// @-moz-keyframes glowing {
// 	0% {background-color: #fd4d35; -moz-box-shadow: 0 0 0 0px rgba(253, 77, 53, 0.5);}
// 	50% {background-color: #ff0606;}
// 	100% {background-color: #fd4d35; -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);}
// }

// @-o-keyframes glowing {
// 	0% {background-color: #fd4d35; box-shadow: 0 0 0 0px rgba(253, 77, 53, 0.5);}
// 	50% {background-color: #ff0606;}
// 	100% {background-color: #fd4d35; box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);}
// }

// @keyframes glowing {
// 	0% {background-color: #fd4d35; box-shadow: 0 0 0 0px rgba(253, 77, 53, 0.5);}
// 	50% {background-color: #ff0606;}
// 	100% {background-color: #fd4d35; box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);}
// }