.page-header {
	position: fixed;	
	width: 100%;
	// padding: 22px 0 15px 0;
	transition: @animation;
	z-index: 2;
	background-color: rgba(0,0,0,.8);
}

.page-header__scroll {
	background-color: rgba(0,0,0,.8);
}

.page-header__wrapper {
	// display: flex;
	// align-items: center;
	position: relative;
	// min-height: 80px;
	padding: 22px 65px 15px 20px;
	// padding-left: 162px;
}

.page-header__logo {	
	// margin-right: 200px;	
}

.page-header__menu {	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.page-header__nav {
	position: absolute;
	// width: 600px;
}


.page-header__toggle-nav {
	position: absolute;
	top: 27px;
	// top: 20px;
	right: 20px;
}

.page-header__nav {
	position: relative;
	top: 95px;
    opacity: 0;
    visibility: hidden;
    transition: @animation;
}

.page-header__nav--show {
	top: 72px;
	opacity: 1;
	visibility: visible;
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}