.logo {
	display: inline-block;
	font-family: @ff-p;
	font-size: 26px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	color: @text;
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	.logo {		
		font-size: 36px;
		line-height: 150%;
	}
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}