.menu {

}

.menu__list {
	// display: flex;
	// flex-wrap: wrap;
	position: absolute;
	background-color: rgba(255,255,255,.2);
	padding-top: 10px;
}

.menu__item {
	// margin-right: 25px;
	margin-bottom: 3px;
	line-height: 0;
	text-align: center;
	border-bottom: 1px dotted #777777;
	a {
		display: inline-block;
		padding: 20px;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: .9px;
		font-style: italic;
		text-decoration: none;
		text-transform: uppercase;

		color: @text;
		&:hover,
		&:focus {
			color: #90bb09;		
		}
	}
	&:last-child {
		border-bottom: none;
		// margin-right: 0;
	}
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}