.сonsultation {
	padding-top: 100px;
	background-color: #282829;
	padding-bottom: 100px;
}

.сonsultation__wrapper {	
	position: relative;	
	// padding: 70px 130px;
	// background-color: #ffffff;
	// border: 2px solid #d5c9be;
	// border-radius: 30px;
	// background-image: url('../../img/bg-girl.jpg');
	// background-repeat: no-repeat;
	// background-position: center right;
	// &::after {
	// 	position: absolute;
	// 	bottom: 0;
	// 	right: 70px;
	// 	content: '';
	// 	width: 597px;
	// 	height: 680px;
	// 	// background-color: red;
	// 	background-image: url('../../img/girl.png');
	// 	background-repeat: no-repeat;
	// }
}

.consultation__wrapper-form {
	width: 83%;
	margin: 0 auto;
	padding: 70px 130px;
	border: 2px solid #d5c9be;
	border-radius: 30px;
	background-color: #ffffff;
	background-image: url('../../img/bg-girl.jpg');
	background-repeat: no-repeat;
	background-position: center right;
	&::after {
		position: absolute;
		bottom: 0;
		right: 220px;
		// right: 70px;
		content: '';
		width: 597px;
		height: 680px;
		// background-color: red;
		background-image: url('../../img/girl.png');
		background-repeat: no-repeat;
	}
}	

.сonsultation__title {
	width: 600px;
	margin: 0;
	margin-bottom: 41px;
	font-family: @ff-p;
	font-size: 54px;
	line-height: 110%;
	font-weight: 300;
	color: #38535d;
}

.сonsultation__form {
	width: 780px;
}

.сonsultation__rules {

}

/*.сonsultation__rules {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 22px;
	font-size: 19px;
	line-height: 150%;
	color: #55565a;

	span {
		width: 90%;
	}
	
	&:hover .rates__rules-indicator {
		opacity: 1;
	}

	input[type=checkbox]:focus + .rates__rules-indicator {
		opacity: 1;
	}

	input[type=checkbox]:checked + .rates__rules-indicator {
		background-image: url('../img/icon-marker.svg');
		opacity: 1;
	}
}

span.сonsultation__rules-indicator {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 17px;
	// background-color: @blue-light;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: .4;
	transition: @animation;	
}*/

.сonsultation__submit {	
	width: 100%;
	padding: 32px 54px;
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}