.breadcrumbs {
	position: relative;
	top: 2px;
	display: flex;
	gap: 10px 33px;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 20px;
	li {
		position: relative;
		&.general {
			position: relative;
			padding-left: 25px;
			&::before {
				position: absolute;
				left: 0;
				content: '';
				display: block;
				width: 18px;
				height: 18px;
				background-image: url('data:image/svg+xml; utf-8, <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.08333 16.75V10.6636C6.08333 10.1034 6.5609 9.64923 7.15 9.64923H10.35C10.9391 9.64923 11.4167 10.1034 11.4167 10.6636V16.75M8.13184 0.937708L1.19851 5.62647C0.917125 5.81676 0.75 6.1248 0.75 6.45316V15.2284C0.75 16.0688 1.46634 16.75 2.35 16.75H15.15C16.0337 16.75 16.75 16.0688 16.75 15.2284V6.45316C16.75 6.1248 16.5829 5.81676 16.3015 5.62647L9.36816 0.937709C8.99807 0.687431 8.50193 0.68743 8.13184 0.937708Z" stroke="rgb(52,174,107)" stroke-width="1.5" stroke-linecap="round"/></svg>');    	
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;
			}
			a {
				color: @green;
			}
		}

		&::after {
			position: absolute;
			right: -21px;
			content: '/';
		    font-size: 24px;
			transform: rotate(9deg);
			color: @grey;
		}

		a {
			font-size: 16px;
			line-height: 130%;
			color: @deep-grey;
			&:hover,
			&:focus {
				text-decoration: underline;	
			}
		}
		&:last-child::after {
			content: none;
		}
		span {
			color: @grey;
		}
	}
}

@media (max-width: @mobile-width) {
	.breadcrumbs {
		padding-top: 9px;
		padding-bottom: 9px;
		gap: 1px 28px;
		li {
			&.general {				
				&::before {
					width: 16px;
					height: 16px;
				}
			}
			&::after {			
				right: -19px;
			    font-size: 22px;
			}
			a {
				font-size: 14px;
			}
			span {
				font-size: 14px;
			}
		}
	}
			
}

&:hover,
&:focus {
	
}