.glare {
	position: relative;
	z-index: 0;
	&::before {
		content: '';
		position: absolute;
		top: 260px;
		left: 50%;
		margin-left: -460px;
		width: 1px;
		height: 1px;
		border-radius: 50%;
		background-color: rgba(52,174,107,.3);
		box-shadow: 0 0 100px 200px rgba(52,174,107,.3);
	}
	&::after {
		content: '';
		position: absolute;
		top: 440px;
		left: 50%;
		margin-left: -100px;
		width: 1px;
		height: 1px;
		border-radius: 50%;
		background-color: rgba(37,135,249,.3);
		box-shadow: 0 0 100px 200px rgba(37,135,249,.3);
	}	
}

.recommendation.glare {
	&::before {	
		top: 250px;		
		margin-left: -200px;
	}
	&::after {		
		top: 400px;
		margin-left: 160px;
	}
}

.include.glare {
	&::before {	
		content: none;
	}
	&::after {
		content: none;
	}
}

.faq.glare {
	&::before {	
		content: none;
	}
	&::after {
		content: none;
	}
}

.commerce.glare {
	&::before {	
		content: none;
	}
	&::after {
		content: none;
	}
}

.page-footer.glare {
	&::before {
		top: auto;
		bottom: 100px;
		margin-left: -200px;
	}
	&::after {		
		top: auto;
		bottom: 100px;
		margin-left: 160px;
	}
}

@media (max-width: @desktop-width) {
	.glare {
		&::before {
			margin-left: -260px;
		}
		&::after {
			margin-left: 0;
		}
	}

	.projects.glare {
		&::before {	
			top: 0px;			
		}
		&::after {		
			top: 120px;
			margin-left: 140px;
		}		
	}

	.faq.glare {
		&::before {
			top: 430px;
			margin-left: 195px;
			content: '';
		}
		&::after {
			top: 500px;
			margin-left: -150px;
			content: '';
		}
	}

	.page-footer.glare {
		&::before {
			margin-left: 200px;
		}
		&::after {
			margin-left: -160px;
		}
	}
}

@media (max-width: 600px) {
	.recommendation.glare {
		&::before {	
			top: 410px;
			margin-left: 100px;		
			box-shadow: 0 0 100px 100px rgba(52,174,107,.3);
		}
		&::after {		
			top: 380px;
			margin-left: -100px;
			box-shadow: 0 0 100px 100px rgba(37,135,249,.3);
		}		
	}

	.projects.glare {
		&::before {	
			top: 300px;
			margin-left: 100px;		
	
		}
		&::after {		
			top: 380px;
			margin-left: -100px;
			
		}		
	}

	.page-footer.glare {
		&::before {			
			margin-left: -160px;
			bottom: 400px;
		}
		&::after {
			margin-left: 90px;
			bottom: 300px;
		}
	}
}

@media (max-width: @mobile-width) {
	.glare {
		&::before {
			top: 100px;
			margin-left: 0;
			box-shadow: 0 0 100px 100px rgba(52,174,107,.3);
		}
		&::after {
			top: 240px;
			margin-left: -90px;
			box-shadow: 0 0 100px 100px rgba(37,135,249,.3);
		}
	}
	.recommendation.glare {
		&::before {	
			top: 390px;
			margin-left: 100px;		
			box-shadow: 0 0 100px 100px rgba(52,174,107,.3);
		}
		&::after {
			top: 350px;
			margin-left: -100px;
			box-shadow: 0 0 100px 100px rgba(37,135,249,.3);
		}		
	}

	.include.glare {
		&::before {	
			content: '';
			top: auto;
			bottom: 100px;
			margin-left: 100px;
			box-shadow: 0 0 150px 150px rgba(52,174,107,.3);
		}
		&::after {
			content: '';
			top: 350px;
			margin-left: -100px;
			box-shadow: 0 0 100px 100px rgba(37,135,249,.3);
		}
	}
	.faq.glare {
		&::before {
			top: 430px;
			margin-left: -100px;
			box-shadow: 0 0 100px 100px rgba(52,174,107,.3);
		}
		&::after {
			top: 400px;
			margin-left: 120px;
			box-shadow: 0 0 100px 100px rgba(37,135,249,.3);
		}
	}

	.commerce.glare {
		&::before {
			content: '';
			top: 280px;
			margin-left: -100px;
			box-shadow: 0 0 100px 100px rgba(52,174,107,.3);
		}
		&::after {
			content: '';
			top: 400px;
			margin-left: 120px;
			box-shadow: 0 0 100px 100px rgba(37,135,249,.3);
		}
	}
}

&:hover,
&:focus {
	
}