.page-header {
	position: relative;
	min-width: 320px;	
	transition: @animation;
	// background-color: @dark;
	border-radius: 0 0 20px 20px;	
}

.page-header__wrapper {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;

	display: flex;
	// justify-content: center;
	align-items: center;
}

.page-header__logo {
	picture {
		img {
			width: 200px;
		}
	}
}

.page-header__menu {
	// margin-right: auto;
	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	// z-index: 1;
	flex-grow: 1;
	display: flex;
	align-items: center;
	position: relative;
	// top: 2px;	
	left: auto;
	right: auto;
}

.page-header__toggle-nav {
	display: none;
	// position: absolute;
	// top: 20px;
	// right: 20px;
}

.page-header__nav {
	position: relative;
	top: 2px;	
    transition: @animation;

	display: flex;
	justify-content: space-between;
	align-items: center;	
	box-shadow: none;
	opacity: 1;
	visibility: visible;
}

.page-header__contacts,
.page-header__contacts-desktop {
	// padding-top: 15px;
	// padding-bottom: 15px;
	display: flex;
	gap: 26px;	
	align-items: center;
	margin-left: auto;
	margin-right: 2px;
	text-align: center;
	a {
		display: inline-block;		
		margin-bottom: 15px;		
		line-height: 0;		
		&.page-header__phone-number {
			display: block;
			// width: 100%;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 110%;
			color: @deep-grey;
			&:hover,
			&:focus {
				color: @green;
			}
		}
	}
}

.page-header__contacts {
	display: none;
}

@media (max-width: @desktop-1440-width) {
	.page-header__toggle-nav {
		display: block;
		margin-left: 30px;
	}

	.page-header__nav {
		position: absolute;
		top: 95px;
		right: 0;
		opacity: 0;
		visibility: hidden;
		box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .1);
	}

	.page-header__nav--show {
		top: 64px;
		right: 0;
		opacity: 1;
		visibility: visible;
	}
}

@media (max-width: @desktop-width) {
	.page-header__contacts-desktop a.page-header__phone-number,
	.page-header__contacts-desktop .page-header__fos {
		display: none;
	}

	.page-header__contacts a.page-header__phone-number {
		margin-bottom: 15px;
		color: @white;
		opacity: 0.8;
	}

	.page-header__contacts a.page-header__phone-number:hover,
	.page-header__contacts a.page-header__phone-number:focus {
		color: @white;
		opacity: 1;
	}

	.page-header__contacts .page-header__fos {
		padding: 10px 30px;
		background-color: @white;
		color: @green;
	}

	.page-header__toggle-nav {	
		margin-left: 15px;
	}

	.page-header__nav {
		flex-direction: column;
	}

	.page-header__contacts {
		display: block;
		width: 100%;
		margin: 0;
		margin-top: 5px;
		padding: 20px;
		text-align: left;
		// border-top: 1px dashed @green;
		background-color: @green;		
	}
}

@media (max-width: @mobile-width) {
	.page-header__logo {
		width: 86px;
	}

	.page-header__nav--show {
		top: 45px;
	}
}



