.projects {
	margin-bottom: 165px;
}

.projects__wrapper {
	position: relative;
	z-index: 1;
}

.projects__title {

}

.projects__desc {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 130%;
}

.projects__list {
	margin: 0 50px;	
}

.projects__item {
	position: relative;
	display: flex !important;
	flex-direction: column;	
	height: 292px;	
	padding: 20px 24px;
	background-color: @white;
	border-radius: 30px;
	box-shadow: 0px 4px 15px 0px rgba(1,8,3,.08);
	overflow: hidden;
	.category {
		display: inline-block;
		margin: auto auto 10px 0;
		padding: 4px 8px;
		font-size: 12px;
		line-height: 130%;
		border-radius: 30px;
		border: 1px solid @deep-grey;
		z-index: 1;
	}
	h3 {
		width: 90%;
		font-size: 24px;
		line-height: 130%;
		z-index: 1;
	}
	&::before {
		content: '';
		position: absolute;
		top: -24px;
		right: -65px;
		width: 350px;
		height: 350px;
		background-image: url('../img/bg-scroll.png');
		background-repeat: no-repeat;
		opacity: 0.4;
	}
	&.bg-left::before {
		top: -28px;
		left: -69px;
		right: auto;
		transform: rotate(180deg);
	}
	&.bg-gradient {
		background: linear-gradient(98.54deg, #34AE6B 3.22%, #2587F9 86.86%);		
		.category {
			color: @white;
			border: 1px solid @white;
		}
		h3 {			
			color: @white;
		}
		.desc {
			width: 90%;
			margin: 10px 0 20px 0;
			font-size: 16px;
			line-height: 130%;
			color: @white;
		}
		.link {
			position: relative;
			margin-right: auto;
			margin-bottom: 25px;
			font-size: 18px;
			line-height: 130%;
			font-weight: 600;
			color: @white;			
			&::after {
				position: absolute;
				top: 8px;
				right: -20px;
				content: '';
				width: 7px;
				height: 7px;
				border-right: 2px solid @white;
				border-bottom: 2px solid @white;
				transform: rotate(-45deg);
				transition: @animation;
			}
			&:hover::after,
			&:focus::after {
				right: -25px;
			}
		}
		&::before {
			top: -69px;
			right: -15px;
			width: 346px;
			height: 348px;
			background-image: url('../img/icon-scroll.svg');			
		}
	}
}

.projects__button {
	position: absolute;
	top: 45px;
	right: 60px;
	padding: 16px 22px;
	font-weight: 600;
}

@media (max-width: 1080px) {
	.projects__title {
		margin-bottom: 12px;
	}

	.projects__list {
		margin: 0 -8px;
		margin-bottom: 35px !important;
	}

	.projects__item {
		height: 173px;
		padding: 16px;
		border-radius: 20px;
		h3 {
			width: 100%;
			font-size: 18px;
		}
		&::before {
			top: -28px;
			right: -28px;
			width: 230px;
			height: 230px;
			background-size: cover;
		}
		&.bg-left::before {			
			left: -30px;			
		}
		&.bg-gradient {
			.desc {
				width: 100%;
				margin: 5px 0 10px 0;
				font-size: 15px;				
			}
			.link {
				margin-bottom: 0;
				font-size: 14px;				
				&::after {
					top: 5px;
					right: -15px;					
					width: 5px;
					height: 5px;					
				}
				&:hover::after,
				&:focus::after {
					right: -20px;
				}
			}
			&::before {
				top: -32px;
				right: -32px;
				width: 230px;
				height: 230px;				
			}
		}
	}

	.projects__button {
		position: static;
		max-width: 200px;
		margin: 0 auto;
	}
}

@media (max-width: @desktop-width) {
	.projects {
		margin-bottom: 100px;
	}

	.projects__desc {
		font-size: 14px;
	}
}

@media (max-width: @mobile-width) {	
	.projects__desc {
		margin-bottom: 30px;
	}

	.projects__item {
		padding: 16px 16px 20px 16px;
		.category {		
			margin: auto auto 12px 0;
		}
		h3 {
			font-size: 16px;
		}
	}

	.projects__button {
		font-size: 14px;
	}
}

&:hover,
&:focus {
	
}