.slick-dots {
	bottom: -5px;
	li {
		margin: 0 4px;
		width: 11px;
		height: 11px;
		button {
			width: 11px;
			height: 11px;
			padding: 0;
			color: @white;			
			&::before {
				position: relative;
				top: 2px;
				font-size: 11px;
				line-height: 0;
				width: 11px;
				height: 11px;
				content: '•';
				text-align: center;
				color: @white;
				opacity: 1;
				// text-shadow: 0px 0px 2px rgba(1,8,3,.08);
			}
		}
	}	
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: @green;
}

.slick-track {
	display: flex;	
	padding: 20px 0 30px;
	transition: none; // cancel jerky rewind
}

.recommendation__list {
	.slick-slide {
		display: flex;
		height:auto;
		& > div {
			display: flex;
		}
	}
	.slick-dots {
		// bottom: -30px;
		li {
			button {
				&::before {
					// color: #ffffff;
				}
			}
		}
	}
}

@media (max-width: @mobile-width) {
	.slick-dots {
		bottom: 1px;
	}
}

// .gallery__list {
// 	.slick-slide {
// 		margin-right: 30px;		
// 	}
// 	.slick-dots {
// 		bottom: -10px;
// 		li {
// 			button {
// 				&::before {
// 					color: #000000;
// 				}
// 			}
// 			&.slick-active {
// 				button {
// 					&:before {
// 						opacity: 1;
// 						color: #1567BA;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
/*
.company__list--first {
	.slick-slide {
		// margin-right: 30px;
	}
	.slick-dots {
		display: none;
		li {
			button {
				&::before {
					color: #ffffff;
				}
			}
		}
	}
}*/

// @media (min-width: @mobile-width) {

// }

// @media (min-width: 600px) {

// }

// @media (min-width: @tablet-width) {
// 	.gallery__list {
// 		.slick-dots {
// 			bottom: -20px;
// 		}
// 	}
// }

// @media (min-width: @desktop-width) {
	
// }

// @media (min-width: @desktop-full-width) {
	
// }
