.artwork {
	padding: 0 30px 10px 30px;
	box-sizing: border-box;
}

.artwork__title {
	margin-bottom: 40px;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
	span {		
		display: inline-block;
		padding: 0 7px;
		font-family: 'Nicoletta';
		font-size: 35px;
	}
}

.artwork__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.artwork__item {
	width: 60%;
	margin: 0 auto;	
	margin-bottom: 20px;	
}


@media (min-width: @mobile-width) {
	.artwork__item {
		width: 30%;	
	}	
}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	.artwork__title {
		font-size: 30px;
		span {
			font-size: 40px;
		}
	}

	.artwork__item {	
		width: 28%;
		// margin-bottom: 30px;		
	}
}

@media (min-width: @desktop-width) {

}