.banner {
	margin-bottom: 60px;
	padding: 0;
	box-sizing: border-box;
}

.banner__title {
	margin: 0;
	margin-bottom: 20px;
	padding: 20px;
	font-weight: 300;
	line-height: normal;	
	text-align: center;
	color: #9AA3AC;	
	box-sizing: border-box;	
}

.banner__list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.banner__item {
	width: 80%;
	// width: 30%;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #dedede;
	box-sizing: border-box;
	line-height: 0;
}

@media (min-width: @mobile-width) {
	.banner__item {
		width: 44%;
	}
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.banner__title {
		font-size: 35px;
	}

	.banner__item {
		width: 30%;
	}	
}
