.footer-page {
	margin: 0;
	padding: 0;
	background-color: #000000;
	
}

/*--- FOOTER TOP ---*/
.footer-page__top {	
    display: flex;
    flex-direction: column;
    padding: 20px 30px 0 30px;
    padding-bottom: 30px;    
}

.footer-page__contacts {
	order: 1;
}

.footer-page__logo {
	display: block;
	padding: 0 0 20px 0;
	text-align: center;
	text-decoration: none;
}

.footer-page__phone {
	display: block;
	margin-bottom: 30px;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;	
	svg {
		position: relative;
		top: 2px;
		margin-right: 10px;
		fill: #ffffff;
		opacity: 0.5;
	}
}

.footer-page__menu {
	order: 2;
}

.footer-page__item {
	a {
		display: block;
		margin-bottom: 5px;
		padding: 5px 15px;
		font-size: 18px;
		color: #ffffff;
		text-decoration: none;
		background-color: rgba(255,255,255,.2);
		
		&:hover,
		&:focus {
			background-color: rgba(255,255,255,.3);
		}
	}
	&:last-child {
		a {
			margin-bottom: 0;	
		}		
	}
}

.footer-page__item--active {
	a {
		background-color: rgba(255,255,255,.3);
	}
}

@media (min-width: 600px) {
	.footer-page__top {
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 20% 20px 20%;
	}

	.footer-page__phone {
		margin-bottom: 0;
	}
}

@media (min-width: @tablet-width) {
	.footer-page__top {
		padding: 20px 25% 20px 25%;
	}
}

@media (min-width: @desktop-width) {
	.footer-page__top {
		padding: 20px 30% 20px 30%;
	}
}

@media (min-width: @desktop-full-width) {
	.footer-page__top {		
		padding: 20px 35% 20px 35%;
	}
}


/*--- FOOTER BOTTOM ---*/
.footer-page__bottom {	
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
	text-align: center;
	color: #ffffff;
	border-top: 1px dashed rgba(255,255,255,.3);
	background-color: rgba(255,255,255,.2);
}

.footer-page__bottom-wrapper {
	// display: flex;
	// flex-direction: column;
	// align-items: center;
}

.footer-page__developer {
	padding: 5px 0;
	text-align: center;
	// order: 2;
	opacity: 0.5;	
	p {		
		padding: 0;
		font-size: 14px;
		line-height: normal;
		box-sizing: border-box;
	}
	a {
		color: #ffffff;
		text-decoration: none;
		transition: all 0.25s ease-out;
		&:hover,
		&:focus {
			text-decoration: underline;			
		}
	}
}

.footer-page__copyright {	
	text-align: center;
	padding: 5px 10px;
	opacity: 0.5;
}

@media (min-width: @tablet-width) {
	.footer-page__bottom {
		padding-top: 0;
	}

	.footer-page__bottom-wrapper {	
		flex-direction: row;
		padding: 0 30px;
	}

	.footer-page__developer {
		// order: 1;
		text-align: left;
		p {
			padding-right: 50px;
		}
	}
	.footer-page__copyright {
		// order: 2;
		// width: 60%;	
	}
}

