.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	// background-color: rgba(255,0,0,.5);
}

@media (max-width: @desktop-1200-width) {
	.container {
		width: 100%;
		padding: 0 30px;
	}
}

@media (max-width: @desktop-width) {
	// .container {
	// 	width: 768px;
	// 	padding: 0 45px;
	// }
}

@media (max-width: @tablet-width) {
	// .container {
	// 	width: 100%;		
	// }
}

@media (max-width: @mobile-width) {
	// .container {
	// 	width: 360px;
	// 	padding-left: 16px;
	// 	padding-right: 16px;
	// }		
}

// @media (min-width: @desktop-1200-width) {
// 	.container {
// 		width: 1120px;
// 	}
// }

// @media (min-width: @desktop-1600-width) {
// 	.container {
// 		width: 1520px;
// 	}
// }

// @media (min-width: @desktop-full-width) {
// 	.container {
// 		width: 1920px;
// 		padding: 0 70px;
// 	}
// }

