.timer {
	background-color: #f3f3f3;	
}

.timer__wrapper {
	display: flex;
	align-items: center;
	gap: 30px;
	padding: 37px 22px 20px;
}

.timer__block {
	width: 570px;
}

.timer__title {
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

#timer421ee20f7b6354d7edb01d9206242daa {
	// margin-left: -10px !important;
	background-color: #f6f6f6;
	padding: 7px;
}

.timer__button {
	position: relative;
	top: -10px;
	margin-left: 85px;
	padding: 31px 70px 23px;
}



@media (max-width: @desktop-1200-width) {
	
}

@media (max-width: @desktop-width) {
	
}

@media (max-width: @tablet-width) {
	
}

@media (max-width: 600px) {
	
}

@media (max-width: @mobile-width) {
	
}