.about-us {
	position: relative;
	margin-bottom: 80px;
	padding: 0 15px;
	background-repeat: no-repeat;
	background-position: bottom -280px center;	
	overflow: hidden;
}

.about-us__title {
	margin-bottom: 40px;
	font-size: 32px;
	line-height: 44px;
	color: #1567BA;	
}

.about-us__presentation {
	padding: 0;
}

.about-us__order {
	margin-bottom: 80px;
}

.about-us__order-img {
	margin-bottom: 10px;
}

.about-us__order-item {
	margin-bottom: 40px;
}

.about-us__order-title {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #1567BA;
}

.about-us__order-text {
	font-size: 14px;
	line-height: 28px;
}

.about-us__order-sublist {
	margin-bottom: 10px;
	padding: 0 15px 0 30px;
	li {	
		position: relative;		
		line-height: 28px;
		&::before {
			content: '';
			position: absolute;
			top: 14px;
			left: -15px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: @color;
		}
	}
}


@media (min-width: @mobile-width) {
	.about-us__order {
		width: 470px;
		padding: 0 30px;
	}

	.about-us__order-img {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	.about-us {			
		padding: 0 30px;		
	}

	.about-us__order {
		width: 100%;
	}

	.about-us__presentation {
		margin-bottom: 120px;
	}
}

@media (min-width: @desktop-width) {
	.about-us__title {
		font-size: 48px;
		line-height: 67px;
		margin-bottom: 40px;
	}

	.about-us__presentation {
		padding-top: 50px;
		.presentation__img {
			top: 0;
		}
	}

	.about-us__order-list {
		display: flex;
		justify-content: space-between;
	}

	.about-us__order-item {
		width: 30%;
	}
}

@media (min-width: 1100px) {

}

@media (min-width: @desktop-full-width) {
	.about-us {		
		padding: 0;		
	}

	.about-us__title {
		margin-bottom: 45px;
		font-size: 45px;
		line-height: 62px;
	}
}