.banner {	
	position: relative;
	height: 1048px;
	margin-bottom: 5px;
	padding: 0 15px;
	padding-top: 80px;
	
	background-image: url('../img/main--mobile.jpg');
	background-repeat: no-repeat;
	box-sizing: border-box;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
	.banner {
		background-image: url('../img/main--mobile@2x.jpg');
	}
}

.banner__mask {	
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(21, 103, 186, .5);

}

.banner__title {
	position: relative;
	margin: 0;
	margin-bottom: 40px;
	font-size: 40px;
	line-height: 52px;
	text-transform: uppercase;
	color: #ffffff;
	z-index: 1;
}

.banner__form-wrapper {
	position: relative;
}


@media (min-width: @mobile-width) {
	.banner {
		background-size: cover;
	}

}

@media (min-width: 600px) {
	.banner {
		height: 750px;
	}

	.banner__title {
		width: 550px;
		margin: 0 auto;
	}
}

@media (min-width: @tablet-width) {
	.banner {
		height: 592px;
		background-image: url(../img/main.jpg);
	}	
}

@media (min-width: @tablet-width) and (min-resolution: 144dpi), 
       (min-width: @tablet-width) and (min-resolution: 1.5dppx) {
	.banner {
		background-image: url('../img/main@2x.jpg');
	}
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-full-width) {
	.banner {
		padding: 0;
	}

	.banner__title {
		width: 470px;
		margin: 0;
		top: 160px;		
		font-size: 60px;
		line-height: 78px;
		text-align: left;
	}

	
}

@media (min-width: 1040px) {
	
}

@media (min-width: 1100px) {
	
	
}

@media (min-width: @desktop-full-width) {
	
}
