.button {
	display: block;
	margin: 0 auto;
	padding: 20px 25px;
	font: inherit;
	font-size: 18px;
	line-height: 25px;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	background-color: @color-orange;
	&:hover,
	&:focus {
		background-color: darken(@color-orange, 10%);
	}
	&:active {
		background-color: darken(@color-orange, 15%);
	}
}



@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}