.description {
	position: relative;
	margin-bottom: 80px;
	padding: 0 15px;
}

.description__list {
	
}

.description__item {	
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}
}

.description__img {
	width: 100%;
	margin-bottom: 50px;
}

.description__data {
	margin-bottom: 5px;
}

.description__data-title {
	position: relative;
	margin-bottom: 15px;	
	padding-left: 20px;
	font-size: 24px;
	line-height: 33px;
	font-weight: 700;	
	svg {
		position: absolute;
		top: -40px;
		left: 0;
		z-index: -1;
	}
}

.description__data-text {
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	&:last-child {
		margin-bottom: 0;
	}
}

.description__data-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 0 15px 0 30px;
	li {
		width: 45%;
		position: relative;		
		line-height: 28px;
		&::before {
			content: '';
			position: absolute;
			top: 14px;
			left: -15px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: @color;
		}
	}
}

.description__contacts {
	margin-bottom: 35px;
}

@media (min-width: @mobile-width) {
	.description {
		width: 470px;
		margin: 0 auto 70px auto;
	}
}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	.description {			
		width: 100%;
		padding: 0 30px;	
	}
	.description__item {		
		margin-bottom: 80px;
		picture {
			width: 48%;
		}
	}

	.description__item-wrapper {
		display: flex;
	}

	.description__item--right {
		picture {
			order: 2;
		}
		.description__data {
			order: 1;
			width: 48%;				
			margin-right: 30px;
			padding-top: 40px;
			padding-left: 45px;
			padding-left: 0;
		}
	}

	.description__img {
		margin-bottom: 0;
	}

	.description__data {
		width: 52%;
		margin-bottom: 0;
		padding-top: 40px;
		padding-left: 30px;
	}

	.description__data-list {
		width: 715px;
		margin-left: auto;
		padding-top: 10px;
		padding-right: 30px;
		li {
			width: 26%;
		}
	}

}

@media (min-width: @desktop-width) {
	.description__title {
		font-size: 48px;
		line-height: 67px;
	}

	.description__contacts {
		margin-bottom: 80px;
	}

}

@media (min-width: 1100px) {

}

@media (min-width: @desktop-full-width) {
	.description {		
		padding: 0;
	}

	.description__item {
		margin-bottom: 75px;
		picture {
			width: 470px;
		}
	}

	.description__data {
		padding-left: 100px;
	}

	.description__data-title {
		margin-bottom: 20px;
		font-size: 28px;
		line-height: 40px;
	}

	.description__item-title {
		margin-bottom: 20px;
		font-size: 28px;
		line-height: 39px;		
	}

	.description__item--right {
		picture {
			margin-left: auto;
		}
		.description__data {
			// padding-left: 100px;
		}
	}

	.description__data-list {
		width: 52%;
		margin-left: auto;
		justify-content: flex-start;
		li {
			width: 42%;
			margin-right: 30px;
		}
	}
}
