.gallery {
	position: relative;
	margin-bottom: 80px;
	padding: 0 15px;
	background-repeat: no-repeat;
	background-position: bottom -280px center;	
	overflow: hidden;
	z-index: 1;
}

.gallery__title {
	margin-bottom: 25px;
	font-size: 32px;
	line-height: 44px;
	color: #1567BA;
	
}

.gallery__list {
	margin-bottom: 60px !important;
}

.gallery__item {
	display: block !important;
	width: 270px;
	height: 270px;
}

.gallery__button {
	width: 280px;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	.gallery {			
		padding: 0 30px;	
	}

	.gallery__list {
		margin-bottom: 30px !important;
	}


	.gallery__item {
		width: 216px;
		height: 216px;
		margin-bottom: 30px;
		img {
			width: 216px;
			height: 216px;
		}
	}
}

@media (min-width: @desktop-width) {
	.gallery__title {
		font-size: 48px;
		line-height: 67px;
		margin-bottom: 40px;
	}
}

@media (min-width: 1100px) {

}

@media (min-width: @desktop-full-width) {
	.gallery {		
		padding: 0;
	}

	.gallery__title {
		margin-bottom: 45px;
		font-size: 45px;
		line-height: 62px;
	}

	.gallery__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 55px !important;
	}

	.gallery__item {
		width: 270px;
		height: 270px;
		margin-bottom: 30px;
		img {
			width: 270px;
			height: 270px;
		}
	}
}