.page-header {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-header__top {
	display: none;
	padding: 20px 0;
	background-color: #292B2C;
}

.page-header__top-list {
	display: flex;		
	justify-content: space-between;
	text-transform: uppercase;
}

.page-header__top-item {
	font-size: 12px;
	line-height: 17px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
}

@media (min-width: @desktop-full-width) {
	.page-header__top {
		display: block;		
	}
}

.page-header__wrapper {
	height: 78px;
	display: flex;
	align-items: center;
	position: relative;
	padding: 0 15px;
}

/*--- LOGO ---*/
.page-header__logo {	
	&:focus {
		box-shadow: none;
	}
}

.page-header__box {
	position: relative;	
}

@media (min-width: @mobile-width) {
	.page-header__logo {
		text-align: left;
	}
}

@media (min-width: 600px) {

}


@media (min-width: @tablet-width) {
	.page-header__wrapper {
		height: auto;
		flex-wrap: wrap;
	}
	.page-header__logo {
		padding: 25px 0;
	}
}

@media (min-width: @desktop-width) {	
	// .page-header {
	// 	position: fixed;
	// 	width: 100%;
	// 	box-shadow: 0px 1px 3px 0px rgba(0,0,0,.3);
	// 	z-index: 10;
	// }

	// .page-header__wrapper {
	// 	position: relative;
	// 	display: flex;		
	// 	padding: 0;
	// }

	// .page-header__box {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: flex-end;
	// 	margin-left: auto;	
	// }
}

@media (min-width: @desktop-full-width) {
	.page-header__wrapper {
		height: 96px;
		flex-wrap: nowrap;
		padding: 0;
	}
}


.page-header__menu {
	margin-left: 48px;
}

/*--- MAIN MENU ---*/
.page-header__nav-wrapper {	
	padding-top: 10px;
}

.page-header__nav {	
	width: 100%;
	position: absolute;
	top: 150%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-out;
	z-index: 10;
}

.page-header__nav--show {
	top: 78px; 
	opacity: 1;
	visibility: visible;
}


.page-header__toggle-nav {
	position: absolute;	
	top: 50%;
	right: 15px;
	margin-top: -10px;
}

@media (min-width: @mobile-width) {
	.page-header__nav {
		width: 50%;
		left: auto;
		right: 0;
	}
}

@media (min-width: @tablet-width) {
	.page-header__menu {
		margin-left: auto;	
	}

	.page-header__toggle-nav {
		display: none;
	}

	.page-header__nav {
		width: auto;
		position: static;
		opacity: 1;
		visibility: visible;
	}


}

@media (min-width: @desktop-full-width) {
	.page-header__menu {
		margin-left: 48px;
	}
	
}



/*--- CONTACTS ---*/
.page-header__contacts {
	display: none;
	margin-left: auto;
	text-align: right;
}

.page-header__phone {
	margin-bottom: 5px;	
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: @tablet-width) {
	.page-header__contacts {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-left: 0;
		padding: 5px 15px;
		border-top: 1px dashed #dddddd;
	}

	.page-header__phone {
		margin-bottom: 0;		
		font-size: 18px;
		line-height: 25px;
	}
}

@media (min-width: @desktop-full-width) {
	.page-header__contacts {
		display: block;		
		width: auto;
		margin-left: auto;
		padding: 0;
		border-top: none;
	}

	.page-header__phone {
		margin-bottom: 5px;
		font-size: 28px;
		line-height: 39px;
	}
}