.logo {	
	// position: absolute;
	// bottom: -83px;
	// padding: 0;
	// width: 185px;
	// height: 146px;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;	
	// background-color: #ffffff;
	// border-radius: 1px 1px 8px 8px;
	// box-shadow: 0 10px 30px 0 rgba(0,0,0,.2);
	overflow: hidden;
	z-index: 1;
	picture {
		display: block;
	}
	/*svg {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -73px;
		margin-left: -161px;
		.logo__blue-rhomb {
			fill: #2571B8;
		}
		.logo__orange-rectangle {
			fill: #ED702A;
		}
	}*/
}


@media (min-width: @mobile-width) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}
