.menu {	
	padding: 0;	
	list-style-type: none;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,.9);
}

.menu__list {
	display: flex;
	position: relative;
	flex-direction: column;
}

.menu__item {
	a {
		position: relative;
		display: block;
		padding: 15px 20px;
		font-size: 18px;
		line-height: 20px;		
		font-weight: 600;
		text-align: right;
		text-decoration: none;
		color: #292B2C;
		border-bottom: 1px dotted #d8d8d8;
		transition: all .2s ease-out;
		&:hover,
		&:focus {
			color: #1567BA;
		}	
	}	
}

.menu__item--dropdown {	
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 15px;
		width: 0;
		height: 0;
		border-width: 5px 4px 0 4px;
		border-color: #292B2C transparent transparent transparent;
		border-style: solid;
		transition: all .2s ease-out;
	}
}

.menu__dropdown {
	z-index: 1;	
	li {
		a {
			display: block;
			font-size: 15px;
			font-weight: 400;
			text-decoration: none;			
			border-bottom: 1px dotted #eeeeee;
			background-color: #ffffff;
			transition: all .3s ease-out;
			z-index: 2;
			&:hover,
			&:focus {
				color: #000000;
				background-color: #F3F7FC;
			}
			&:focus {
				box-shadow: none;
			}
		}
	}
}

@media (min-width: @mobile-width) {

}


	


@media (min-width: @tablet-width) {

	

}

@media (min-width: 800px) {
	
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-full-width) {
	.menu {
		background-color: transparent;
	}

	.menu__list {
		flex-direction: row;
	}

	.menu__item {
		border-bottom: none;
		&:hover {
			& > .menu__dropdown {
				top: 30px; 
				opacity: 1;
				visibility: visible;
			}
		}
		a {			
			position: relative;
			padding: 10px 15px;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			text-transform: uppercase;
			letter-spacing: .5px;
			border-bottom: none;
			color: #ffffff;
			&::before {
				content: none;
				position: absolute;
				left: 10px;
				right: 10px;
				bottom: 4px;
				height: 4px;
				background-color: #ffffff;
				transition: all .25s ease-out;
			}
			&:hover,
			&:focus {
				color: #ffffff;
				&::before {
					content: '';
				}
			}
		}
	}

	.menu__item--active {
		a {
			&::before {
				content: '';
			}
		}	
	}

	.page-inner {
		.menu__item {
			a {				
				color: #292B2C;
				&::before {
					content: none;
					position: absolute;
					left: 10px;
					right: 10px;
					bottom: 4px;
					height: 4px;
					background-color: #1567BA;
					transition: all .25s ease-out;
				}
				&:hover,
				&:focus {
					color: #000000;
					&::before {
						content: '';
					}
				}
			}
		}

		.menu__item--active {
			a {
				&::before {
					content: '';
					background-color: #1567BA;
				}
			}	
		}

		.menu__dropdown {		
			li {
				a {					
					&:hover,
					&:focus {				
						&::before {
							content: none;
						}
					}
				}
			}
		}
	}

	.menu__item--dropdown {	
		position: relative;
		&::after {	
			left: auto;
			right: 3px;
			margin-top: -2px;
		}		
		&:hover,
		&:focus {
			&::before {
				content: none !important;
			}
		}		
	}

	.menu__dropdown {
		position: absolute;
		top: 50px;
		padding-top: 10px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease-out;
		z-index: 2;
		li {
			a {
				text-align: left;
				padding: 8px 15px;
				text-transform: none;
				color: #000000;
				background-color: rgba(255,255,255,.8);
				&:hover,
				&:focus {				
					&::before {
						content: none;
					}
				}
			}
		}
	}

	.menu__item--dropdown {	
		&::after {			
			border-color: #ffffff transparent transparent transparent;
		}
	}

	.page-inner {
		.menu__item--dropdown {
			&::after {
				border-color: #292B2C transparent transparent transparent;
			}
		}	
	}

	
}