.post {
	position: relative;
	margin-bottom: 80px;
	padding: 0 15px;
	background-repeat: no-repeat;
	background-position: bottom -280px center;	
	overflow: hidden;
}

.post__title {
	margin-bottom: 25px;
	font-family: @ff-d;
	font-size: 32px;
	line-height: 44px;
	text-transform: uppercase;
	color: #1567BA;	
}

.post__item {
	margin-bottom: 40px;
}

.post__item-img {
	margin-bottom: 15px;
	border-radius: 8px;
}

.post__item-title {
	a {
		margin-bottom: 10px;
		font-family: @ff-d;
		font-size: 16px;
		line-height: 23px;
		text-transform: uppercase;
		text-decoration: none;
		color: #1567BA;
		&:hover,
		&:focus {
			color: #0a58a7;
		}
	}	
}

.post__item-date {
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 24px;
	color: #828282;
}

.post__item-text {	
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
}

.post__item-button {
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	color: #292B2C;
}

.post__button {
	width: 200px;
}

.post--related {
	.post__title {
		font-size: 28px;
		line-height: 40px;
		font-weight: 700;
		color: @color;		
	}

	.post__item {
		width: 375px !important;
		margin-right: 30px;
	}
}

@media (min-width: @mobile-width) {
	.post {
		width: 470px;
		margin: 0 auto;
		margin-bottom: 80px;
	}

	.post__item-img {
		width: 100%;
	}
}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	.post {			
		width: 100%;
		padding: 0 30px;		
	}

	.post__title {
		margin-bottom: 40px;
	}	
	.post__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.post__item {
		width: 48%;
		margin-left: 40px;
		&:nth-child(2n+1) {
			margin-left: 0;
		}
	}
}

@media (min-width: @desktop-width) {
	.post {
		font-size: 48px;
		line-height: 67px;		
	}

	.post__title {
		margin-bottom: 40px;
		font-size: 42px;
		line-height: 59px;
	}	

	.post__item-title {
		a {			
			font-size: 18px;
			line-height: 25px;
		}	
	}

}

@media (min-width: 1100px) {

}

@media (min-width: @desktop-full-width) {
	.post {		
		padding: 0;		
	}

	.post__title {
		margin-bottom: 45px;
		// font-size: 42px;
		// line-height: 59px;
	}

	.post__list {
		justify-content: space-between;
	}

	.post__item {
		width: 31%;
		margin-left: 0;
		&:nth-child(3n+1) {
			margin-left: 0;
		}
	}
}