.presentation {
	position: relative;
	margin-bottom: 45px;
	padding: 410px 15px 15px 15px;
}

.presentation__img {
	width: 100%;
	margin-bottom: 15px;
	border-radius: 8px;
}

.presentation__title {
	margin-bottom: 20px;
	font-family: @ff-d;
	font-size: 24px;
	line-height: 140%;
	font-weight: 600;
	text-transform: uppercase;
	color: #1567BA;
}

.presentation__text {	
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	letter-spacing: .15px;
}

@media (min-width: @mobile-width) {
	.presentation {		
		width: 80%;		
	}
}

@media (min-width: 600px) {
	.presentation {		
		width: 470px;
		margin: 0 auto 65px auto;
		padding: 290px 0 15px 0;
	}
}

@media (min-width: @tablet-width) {
	.presentation {
		width: 100%;
		padding: 340px 30px 0 30px;
	}

	.presentation__text {
		letter-spacing: 0;
	}
}

@media (min-width: @desktop-width) {
	.presentation {	
		padding-top: 260px;
	}

	.presentation__img {
		position: absolute;
		top: 200px;
		left: -200px;
		width: 770px;		
		margin-bottom: 0;
		z-index: -1;
	}

	.presentation__text-wrapper {
		right: 0;
		width: 670px;
		margin-top: 0;
		margin-left: auto;
		padding: 70px 40px 0 70px;
		background-color: rgba(255,255,255,.8);		
	}

	.presentation__title {	
		// font-size: 30px;
		// line-height: 42px;
	}
}

@media (min-width: @desktop-full-width) {
	.presentation {
		padding-top: 390px;
		padding-bottom: 0;
		padding-right: 0;
		margin-bottom: 60px;
	}

		.presentation__img {
			top: 330px;
		}

	.presentation__text-wrapper {
		padding: 70px 0 0 70px;
		background-color: #ffffff;
	}
}	
