.promo {
	position: relative;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0 15px;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		top: -20px;
		width: 100%;
		height: 300px;
		z-index: -1;
		background-color: #fafafa;
	}
}

.promo__title-wrapper {
	margin-bottom: 40px;
}

.promo__title {
	margin-bottom: 25px;
	font-family: @ff-d;
	font-size: 32px;
	line-height: 44px;
	text-align: left;
	text-transform: uppercase;
	color: #1567BA;
}

.promo__date {
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 24px;
	color: #828282;
}

.promo__description {
	position: relative;
	padding-left: 30px;
	line-height: 28px;
	font-weight: 700;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 1px;
		background-color: @color;
	}
}

.promo__text {
	line-height: 28px;
	font-weight: 400;
}

.promo__list-title {
	margin-bottom: 10px;
	padding-top: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
}

.promo__list {
	margin-bottom: 10px;
	padding: 0 15px 0 20px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	li {		
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 11px;
			left: -13px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: @color;
		}
	}
}

.promo__with-img {
	.promo__box {
		display: none;
		width: 550px;
		height: 370px;
		background-color: transparent;
		float: right;
	}

	.promo__img {
		width: 100%;
		margin-bottom: 30px;
	}
}

@media (min-width: @mobile-width) {
	.promo {	
		padding: 0 30px;
	}
}

@media (min-width: 600px) {
	.promo {
		&::after {
			width: 80%;
		}
	}
}

@media (min-width: @tablet-width) {
	.promo {
		&::after {
			width: 615px;
			height: 180px;
		}
	}

	.promo__title {
		margin-bottom: 20px;
	}

	.promo__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.promo__item {
		width: 46%;
	}

	.promo__with-img {
		.promo__img {
			width: 50%;
			float: right;
			margin-left: 80px;
			margin-bottom: 50px;
		}
	}
}

@media (min-width: @desktop-width) {
	.promo__with-img {
		.promo__title-wrapper {
			max-width: 800px;
		}

		.promo__img {
			width: 470px;
		}
	}
}

@media (min-width: 1100px) {
	.promo {
		display: flex;		
		&::after {
			width: 870px;
			height: auto;
			max-height: 360px;
			top: -40px;
			bottom: 0;
			left: -100px;			
		}
	}

	.promo__with-img {
		display: block;
		.promo__title-wrapper {
			width: auto;
			margin-bottom: 30px;
		}

		.promo__text-wrapper {
			width: auto;
			margin-left: 0;
		}

		.promo__box {
			display: block;
		}

		.promo__img {
			position: absolute;
			top: 0;
			right: 30px;
		}
	}

	.promo__title {
		font-size: 40px;
		line-height: 57px;
	}

	.promo__title-wrapper {
		width: 400px;
		margin-top: auto;
		margin-bottom: 30px;
	}

	.promo__text-wrapper {
		width: 600px;
		margin-left: auto;
	}

	.promo__item {
		width: 100%;
	}

	.promo__with-img {		
		.promo__img {			
			float: right;
			// margin-top: -235px;
		}
	}
}

@media (min-width: @desktop-full-width) {
	.promo {
		margin-bottom: 70px;
		padding: 0;
	}

	.promo__title {
		font-size: 42px;
		line-height: 59px;
	}

	.promo__title-wrapper {
		width: 500px;
		margin-top: auto;
		margin-bottom: 30px;
	}

	.promo__text-wrapper {
		width: 600px;
		margin-left: auto;
	}

	.promo__with-img {
		.promo__img {
			
		}
	}
}
