.works {
	position: relative;
	margin-bottom: 80px;
	padding: 80px 15px 60px 15px;
	background-color: #1567BA;
	background-image: url('../img/works/works-bg.svg');
	background-repeat: no-repeat;
	background-position: bottom -280px center;	
	overflow: hidden;
}

.works__title {
	font-family: @ff-d;
	margin-bottom: 25px;
	font-size: 32px;
	line-height: 44px;
	text-transform: uppercase;
	color: #ffffff;
	
}

.works__list {
	margin-bottom: 60px !important;
}

.works__item {
	position: relative;
	display: block !important;
	img {		
		&.works__img {
			border: 5px solid #4AA3FD;
			box-sizing: border-box;
			border-radius: 8px;
		}		
	}
}

.works__watermark {
	position: absolute;
	bottom: 15px;
	left: 50%;
	width: 78px;
	margin-left: -36px;
}

.works__button {
	width: 200px;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	.works {			
		padding: 80px 30px;
		background-position: bottom -255px center;
	}
	.works__item {
		width: 216px;
		height: 216px;
		img {
			width: 216px;
			// height: 216px;
		}
	}
}

@media (min-width: @desktop-width) {
	.works__title {
		font-size: 42px;
		line-height: 59px;
	}
}

@media (min-width: 1100px) {

}

@media (min-width: @desktop-full-width) {
	.works {		
		padding: 80px 0 60px 0;
		background-position: bottom -235px right;
	}

	.works__title {
		margin-bottom: 45px;
	}

	.works__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 0 !important;
		padding-bottom: 10px;
	}

	.works__item {
		width: 270px;
		height: 270px;
		margin-bottom: 30px;
		img {
			width: 270px;
		}
	}

	.works__button {
		width: 200px;
	}	
}