.works {
	position: relative;
	margin-bottom: 80px;
	padding: 200px 15px;
	background-color: #1567BA;
	background-image: url('../img/works/works-bg.svg');
	background-repeat: no-repeat;
	background-position: bottom -275px center;
	overflow: hidden;
	/*&::before {
		content: '';
		position: absolute;
		top: -255px;
		left: -500px;
		width: 1361px;
		height: 885px;
		background-image: url('../img/works/works-bg.svg');
		background-repeat: no-repeat;
		z-index: 0;	
	}*/
}

.works__title {
	font-size: 32px;
	line-height: 44px;
	color: #ffffff;
	
}

.works__list {
	// display: flex;
}

.works__item {
	//width: 147px;	
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	.works__title {
		font-size: 48px;
		line-height: 67px;
	}	
}

@media (min-width: 1100px) {

}

@media (min-width: @desktop-full-width) {

}
