.company {
	margin-bottom: 95px;
}

.company__list {
	// display: flex;	
}

.company__item {
	display: flex !important;
	justify-content: center;
	align-items: center;
	height: 60px;
	padding: 10px 15px;
	a {
		display: block;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	.clients__title {
		font-size: 48px;
		line-height: 67px;
	}	
}

@media (min-width: 1100px) {

}

@media (min-width: @desktop-full-width) {
	.clients {
		margin-bottom: 80px;
	}

	.clients__title {
		margin-bottom: 25px;
	}
}
