.inner {
	margin-bottom: 70px;
	padding: 0 30px;
	padding-top: 20px;
	overflow: hidden;
}

.inner__plug {
	display: none;
}

.inner__text {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 26px;
	text-align: justify;
	color: #555555;
	box-sizing: border-box;	
}

.inner__text--border {
	margin-bottom: 30px;
	padding: 5px 10px;
	border: 1px dashed #480028;
	border-radius: 4px;
	color: #480028;
}

.inner__list-title {	
	font-family: @ff;
	font-size: 22px;
	line-height: 33px;
	font-weight: 400;
	text-align: center;
	color: #000000;
	box-sizing: border-box;	
}

.inner__list {
	margin-bottom: 30px;
}

.inner__item {
	position: relative;
	margin-bottom: 10px;
	padding-left: 30px;
	font-size: 16px;
	line-height: 21x;
	color: #777777;
	// line-height: 28px;
	&::before {
		content: '';
		position: absolute;
		top: 11px;
		left: 5px;
		width: 7px;
		height: 7px;
		background-color: #E0A100;
		transform: rotate(45deg);
	}
}

.inner__advantages {

}

.inner__advantages-item {
	margin-bottom: 30px;
	text-align: center;
	svg {
		width: 20px;
		height: 20px;
		fill: #E0A100;
	}
}

.inner__advantages-title {
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 26px;
	// font-weight: 100;
	color: #000000;
}

.inner__advantages-text {
	font-size: 17px;
	line-height: 24px;
	// font-weight: 200;
	color: #999999;
}

@media (min-width: @mobile-width) {
	.inner__list-title {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	.inner__list {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.inner__advantages {
		width: 80%;
		margin: 0 auto;
	}
}

@media (min-width: 600px) {
	.inner__list-title {
		width: auto;
		text-align: left;
	}

	.inner__list {
		width: auto;
		padding-left: 20px;
	}

	.inner__advantages-item {
		position: relative;
		text-align: left;
		padding-left: 40px;
		svg {
			position: absolute;
			top: 3px;
			left: 0;
		}
	}

	
}

@media (min-width: @tablet-width) {
	.inner {
		padding: 0 10%;
	}

	.inner__advantages {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: auto;
	}

	.inner__advantages-item {
		width: 38%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
}

@media (min-width: @desktop-width) {
	.inner__wrapper {
		position: relative;
		width: 90%;
		margin: 0 auto;		
		padding-top: 50px;
		&::after {
			content: '';
			position: absolute;
			top: 200px;			
			right: -250px;
			width: 750px;
			height: 106px;
			background-image: url(../img/thread.png);
			background-repeat: no-repeat;
			transform: rotate(-30deg);
			z-index: -1;
		};
	}

	.inner__plug {
		display: block;
		width: 30%;
		height: 400px;
		float: right;
	}

	.banner__form--inner {		
		top: auto;
		bottom: -280px;
	}
}

@media (min-width: @desktop-full-width) {
	.inner__plug {	
		width: 33%;
	}
}
