.more{

}

.more__item {
	display: none;
	&:nth-child(-n+3) {
		display: list-item;
	}
}

.more__item--show {
	display: list-item !important;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	.more__item {	
		&:nth-child(-n+4) {
			display: list-item;
		}
	}
}

@media (min-width: @desktop-width) {

}


@media (min-width: @desktop-full-width) {
	.more__item {	
		&:nth-child(-n+6) {
			display: list-item;
		}
	}
}