.footer-links {
	width: 320px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0 20px;	

	box-sizing: border-box;
}

.footer-links__logo {
	display: block;
	margin-bottom: 20px;
	padding-bottom: 36px;

	border-bottom: 1px solid #d9d9d9;

	/* demo */
	min-height: 24px;
}

.footer-links__social {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;

	/* demo */
	min-height: 20px;
}

.footer-links__htmlacademy {
	display: block;

	/* demo */
	min-height: 40px;
}

@media (min-width: @tablet-width) {
	.footer-links {
		display: flex;
		justify-content: space-between;

		width: 768px;
		margin-bottom: 30px;
		padding: 0 30px;
	}

	.footer-links__logo {
		width: 192px;
		margin-bottom: 0;
		padding-bottom: 0;

		border-bottom: none;
	}

	.footer-links__social {
		width: 324px;
		margin-bottom: 0;
		padding-bottom: 0;

		border-bottom: none;
	}

	.footer-links__htmlacademy {
		width: 192px;		
	}
}

@media (min-width: @desktop-width) {
	.footer-links {
		width: 1300px;
		margin-bottom: 40px;
		padding: 0 40px;
	}
}