.page-main {
	
}

.page-main__title {
	width: 320px;
	margin: 0 auto;
	margin-bottom: 32px;
	padding: 30px 20px 0 20px;
	
	box-sizing: border-box;

	/* demo */
	min-height: 70px;
}

@media (min-width: @tablet-width) {
	.page-main {		
		
	}

	.page-main__title {
		width: 768px;
		margin-bottom: 70px;
		padding: 40px 30px 0 30px;		

		/* demo */
		min-height: 105px;
	}
}

@media (min-width: @desktop-width) {
	.page-main {
		
	}

	.page-main__title {
		width: 1300px;
		padding: 80px 40px 0 40px;	

		/* demo */
		min-height: 145px;
	}
}