.strategy {
	width: 320px;
	margin: 0 auto;
	margin-bottom: 35px;
	padding: 0 20px;

	box-sizing: border-box;
	/* demo */
	min-height: 480px;
}

.strategy__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.strategy__item	{
	width: 280px;

	&:first-child {
		margin-bottom: 20px;	
	}

	/* demo */
	min-height: 266px;
}

@media (min-width: @tablet-width) {
	.strategy {
		width: 768px;
		margin-bottom: 50px;		
		padding: 0 30px;
	}

	.strategy__item	{
		width: 708px;

		&:first-child {
			margin-bottom: 30px;
		}

		/* demo */
		min-height: 372px;
	}
}

@media (min-width: @desktop-width) {
	.strategy {
		width: 1300px;
		margin-bottom: 77px;
		padding: 0 40px;

		/* demo */
		min-height: 0;
	}

	.strategy__list {
		display: flex;
		justify-content: space-between;
	}

	.strategy__item {
		width: 570px;
		
		&:first-child {
			margin-bottom: 0;
		}

		/* demo */
		min-height: 372px;
	}
}