.strategy {
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;

	box-sizing: border-box;
	/* demo */
	min-height: 480px;
}

.strategy__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.strategy__item	{
	width: 280px;
	margin-bottom: 20px;

	/* demo */
	min-height: 266px;
}

@media (min-width: @tablet-width) {
	.strategy {
		width: 768px;
		margin: 0 auto;
		padding: 0 30px;

		/* demo */
		min-height: 820px;
	}
}

@media (min-width: @desktop-width) {
	.promo {	

		/* demo */
		min-height: 697px;
	}
}