@color: #383434;
@gray: #474344;
@green: #498837;
@bg-color: #ffffff;
@ff: 'Roboto', sans-serif;
@ff-m: 'Montserrat', sans-serif;
@animation: all 0.25s ease-out;

@mobile-width: 480px;
@tablet-width: 768px;
@desktop-width: 960px;
@desktop-1200-width: 1200px;
@desktop-full-width: 1620px;