.modal-project {
  display: none;
  width: 380px;  
  padding: 25px;
  top: 50%;
  left: 50%;
  margin-left: -190px;
  margin-top: -120px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  z-index: 101;
  .form {

  }
  .form__item {
    width: 100%;
  }
}

.modal-project__button {
  width: 100%;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 300;
}

.modal-project__close {
  position: absolute;
	top: -5px;
	right: -35px;
	width: 25px;
	height: 25px;
	font-size: 0;	
	background-color: transparent;
	box-sizing: border-box;
  border: none;	
  border-radius: 50%;
	cursor: pointer;
	opacity: 0.7;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.modal-project__close::before,
.modal-project__close::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 0px;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}

.modal-project__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-project__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-project__close:hover {
  opacity: 1;
}

@media (max-width: @desktop-width) {
  .modal-project {
    .form {
      width: 100%;
    }
  }
}

@media (max-width: @mobile-width) {
  .modal-project {
    width: auto;
    margin-top: -160px;
    margin-left: 0;
    padding: 20px;
    left: 20px;
    right: 20px;
  }

  .modal-project__close {
    display: none;
  }
}