/*--- Development START ---*/
.plug__wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding: 100px 20px 50px 20px;
  text-align: center;
  box-sizing: border-box;
}

.plug__svg {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
}
.plug__info {
  margin: 0 30px;
  margin-bottom: 10px;
  padding: 0;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #003837;  
}
.plug__info svg {
  display: block;
  width: 120px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}
.plug__text-sorry {
  display: block;
  font-size: 24px;
  font-weight: 600;
}
.plug__hot {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
}
.plug__hot span {
  opacity: .3;
}
.plug__gear-one, .plug__gear-two {
  -webkit-animation-name: rotationGearR;
     -moz-animation-name: rotationGearR;
       -o-animation-name: rotationGearR;
      animation-name: rotationGearR;
  -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
       -o-animation-duration: 3s;
      animation-duration: 3s;
  -webkit-transform-origin: 50% 55.555555555555% 0;
     -moz-transform-origin: 50% 55.555555555555% 0;
       -o-transform-origin: 50% 55.555555555555% 0;
      transform-origin: 50% 55.555555555555% 0;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;      
}
.plug__gear-two {
    -webkit-animation-name: rotationGearL;
     -moz-animation-name: rotationGearL;
       -o-animation-name: rotationGearL;
      animation-name: rotationGearL;
  -webkit-animation-duration: 7s;
     -moz-animation-duration: 7s;
       -o-animation-duration: 7s;
      animation-duration: 7s;
  -webkit-transform-origin: 20% 77.7777777777777777% 0;
     -moz-transform-origin: 20% 77.7777777777777777% 0;
       -o-transform-origin: 20% 77.7777777777777777% 0;
      transform-origin: 20% 77.7777777777777777% 0;
}
@-webkit-keyframes rotationGearR {
  0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }   
}
@keyframes rotationGearR {
  0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes rotationGearL {
  0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(-360deg);
    }   
}
@keyframes rotationGearL {
  0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}

@media (min-width: 480px) {
  .plug__hot br {
    display: none;
  }
}

@media (min-width: 768px) {
  .plug__wrapper {
    width: 65%;
    margin: 0 auto;
  }
}
/*--- Development END ---*/

/*body::-webkit-scrollbar-track {  
  border-radius: 10px;
  background-color: rgba(255,255,255,.12);
}

body::-webkit-scrollbar {
  width: 4px;  
  background-color: rgba(255,255,255,.12);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #073b3a;
}*/

.theme-btn1 {
  font-size: 16px;
}

p.before-title {
  display: inline-block;
  padding: 8px 12px;  
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  font-style: normal;  
  text-align: center;
  color: #073b3a;
  border-radius: 2px;
  background: rgba(7, 59, 58, 0.1);
}

.breadcumb-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 20px;
  margin-bottom: 0;
  padding: 0 20px;
}

.breadcumb-wrap li {
  color: rgba(255,255,255,.7);
}

ol.breadcumb-wrap li > a {
  position: relative;
  color: #ffffff !important;
}

ol.breadcumb-wrap li > a:focus,
ol.breadcumb-wrap li > a:hover {
  text-decoration: underline;
}

ol.breadcumb-wrap li > a::after {
  content: "/";
  position: absolute;
  right: -12px;
  top: 50%;
  margin-top: -7px;
  color: rgb(255, 255, 255);
}


/*--- header-elements ---*/
.homepage1-body .header-area.homepage1 .header-elements .site-logo {
  width: auto;
  height: 60px;
  margin-right: 30px;
}

.header-elements .btn-area {
  position: relative;
  margin-left: 20px;
}

.header-elements .btn-area:after {  
  content: '';
  position: absolute;
  left: -20px;
  top: 7px;
  bottom: 7px;
  width: 1px;
  background-color: #E6E7E7;
}

.header-elements a.theme-btn1 {
  min-width: 150px;
  line-height: 17px;
  text-transform: none;
  text-align: center;  
}

.header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.header-socials li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.8;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.header-socials li a:focus,
.header-socials li a:hover {
  opacity: 1;
}

.header-socials li a i {  
  color: #073B3A;
}

.homepage1-body .header-area.homepage1 .header-elements .main-menu ul li a {
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .header-elements a.theme-btn1 {
    font-size: 14px;
  }

  .header-elements .main-menu ul li {
    margin-bottom: 5px;
  }

  .homepage1-body .header-area.homepage1 .header-elements .main-menu ul li a {
    font-size: 14px;
  }

  .header-elements .main-menu ul li a {    
    padding: 0 15px;
  }
}

ul.mobile-nav-list {
  overflow-y: auto;
}

.mobile-header.mobile-header1 .mobile-logo {
  width: auto;
  margin-left: 20px;
}

.mobile-sidebar {

}

.mobile-sidebar.mobile-sidebar1 {
  padding-top: 18px;
  overflow-y: auto;
}

.mobile-sidebar.mobile-sidebar1 .mobile-nav.mobile-nav1 .mobile-nav-list.nav-list1 li a {
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.mobile-sidebar.mobile-sidebar1 .mobile-nav.mobile-nav1 .mobile-nav-list.nav-list1 li a:focus,
.mobile-sidebar.mobile-sidebar1 .mobile-nav.mobile-nav1 .mobile-nav-list.nav-list1 li a:hover {
  color: #cbcd30;
}

.allmobilesection {
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid #cbcd30;
}

.allmobilesection .theme-btn1 {
  font-size: 16px;
}

.mobile-sidebar.mobile-sidebar1 .footer1-contact-info .social-links-mobile-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-sidebar.mobile-sidebar1 .footer1-contact-info .social-links-mobile-menu ul li a:focus,
.mobile-sidebar.mobile-sidebar1 .footer1-contact-info .social-links-mobile-menu ul li a:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.mobile-sidebar.mobile-sidebar1 .footer1-contact-info .contact-info-single {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-sidebar.mobile-sidebar1 .footer1-contact-info .contact-info-single .contact-info-icon svg {
  width: 30px;
  height: 30px;
  margin-right: 7px;  
}

.mobile-sidebar.mobile-sidebar1 .footer1-contact-info .contact-info-single .contact-info-text a {
  font-size: 18px;
  opacity: .5;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.mobile-sidebar.mobile-sidebar1 .footer1-contact-info .contact-info-single .contact-info-text a:focus,
.mobile-sidebar.mobile-sidebar1 .footer1-contact-info .contact-info-single .contact-info-text a:hover {
  opacity: 1;
}

@media (min-width: 992px) {  
  .mobile-sidebar {
      display: none !important;
  }
}


/*--- Hero ---*/
.hero-area-slider .hero1-section-area {
  height: 840px;
  padding: 420px 0 250px;
}

.hero-area-slider .hero1-section-area::after {
  background-color: #000606;
}

.hero-area-slider .hero1-section-area .hero-header-area h2 {
  padding: 0 70px;
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
}

.hero-area-slider .hero1-section-area .hero-header-area .btn-area1 > a {
  width: 200px;
  padding: 20px;
  font-size: 18px;
}

.hero-area-slider .hero1-section-area .hero-header-area .btn-area1 > a::after {
  content: none;
}

.hero-area-slider .hero1-section-area .hero-header-area .btn-area1 > a.theme-btn1 {
  color: #ffffff;
  background-color: #073b3a;
}

.hero-area-slider .hero1-section-area .hero-header-area .btn-area1 > a.theme-btn2 {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;  
}

.hero-area-slider .hero1-section-area .hero-header-area .btn-area1 > a:focus,
.hero-area-slider .hero1-section-area .hero-header-area .btn-area1 > a:hover {
  color: #030e0f;
  background: #cbcd30;
  border-color: #cbcd30;
}

@media only screen and (max-width: 1200px) {
  .hero-area-slider .hero1-section-area {
    height: 640px;
    padding: 250px 0 200px;
  }

  .testimonial-arrows .testimonial-prev-arrow button,
  .testimonial-arrows .testimonial-next-arrow button {
    top: 38%;
  }
}

@media only screen and (max-width: 991px) {
  .hero-area-slider .hero1-section-area .hero-header-area h2 {    
    font-size: 50px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-area-slider .hero1-section-area {
    height: 550px;
    padding: 180px 0 100px;
  }  
  .hero-area-slider .hero1-section-area .hero-header-area h2 {
    padding: 0;
    font-size: 40px;
    line-height: 40px;
  }

  .hero-area-slider .hero1-section-area .hero-header-area .btn-area1 > a.theme-btn1,
  .hero-area-slider .hero1-section-area .hero-header-area .btn-area1 > a.theme-btn2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .testimonial-arrows {
    position: relative;
    top: -85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .testimonial-arrows .testimonial-prev-arrow button,
  .testimonial-arrows .testimonial-next-arrow button {
    position: relative;
    width: 50px;
    height: 50px;
    top: auto;
    bottom: 0;
    line-height: 50px;
    left: auto;
    right: auto;
  }
}

@media only screen and (max-width: 480px) {
  .hero-area-slider .hero1-section-area .hero-header-area h2 {
    font-size: 35px;
    line-height: 38px;
  }
}


/*--- About ---*/
.about1-section-area .about-images-area .author-img h3 {
  font-size: 20px;
}

.about-heading.heading1 h2 {
  line-height: 50px;
}

.about-heading.heading1 p.decription {
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e8e8;
}

.about-heading.heading1 .theme-btn1 {
  padding: 15px 30px;
}

@media only screen and (max-width: 1400px) {
  .about-heading.heading1 h2 {
    font-size: 35px;
    line-height: 44px;
  }
}

@media only screen and (max-width: 1200px) {
  .about1-section-area .about-images-area .img2 {
    width: 360px;
    height: 200px;
    margin-bottom: -100px;
  }

  .about-heading.heading1 p.decription {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .about1-section-area .about-images-area .img2 {
    width: 470px;
    height: 260px;
    margin-bottom: -170px;
  }

  .about1-section-area .about-images-area .author-img {
    right: -50px;
  }
}

@media only screen and (max-width: 767px) {
  .about1-section-area {
    padding-top: 10px;
  }

  .about1-section-area .about-images-area .img1 img {
    border-radius: 16px;
  }

  .about1-section-area .about-images-area .img2 {
    width: 100%;
    margin-bottom: 30px;
  }

  .about1-section-area .about-images-area .author-img {
    right: 0;
  }

  .author-img.aniamtion-key-1 {
    margin-top: 30px;
    -webkit-animation-name: none;
            animation-name: none;
  }

  .about-heading.heading1 h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .about-heading.heading1 {
    padding: 0 10px;
  }
}


/*--- Properties Area ---*/
.properties-section-area h2 {
  line-height: 48px;
}

.properties-section-area .property-feature-slider .tabs-btn-area ul li button {
  text-transform: none;
}

.properties-section-area .property-feature-slider .property-boxarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.properties-section-area .property-feature-slider .property-boxarea .img1 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.properties-section-area .property-feature-slider .property-boxarea .content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.properties-section-area .property-feature-slider .property-boxarea .content-area p {
  line-height: 24px;
}

.properties-section-area .property-feature-slider .property-boxarea .content-area .btn-area {
  margin-top: auto;
  padding-top: 10px;
}

.properties-section-area .property-feature-slider .tabs-btn-area ul {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.properties-section-area .property-feature-slider .tabs-btn-area ul li {
  margin-right: 0;
}

.property-more {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 40px;
  font-size: 18px;
  text-transform: none;
  color: #ffffff;
  background-color: #073b3a;
}

.property-more:after {
  content: none;
}

.property-more:focus,
.property-more:hover {
    color: #030e0f;
    background: #cbcd30;
}


@media (max-width: 1200px) {
  
}

@media (max-width: 991px) {
  .properties-section-area.sp2 {
    padding: 50px 0;
  }

  .properties-section-area .property-feature-slider .tabs-btn-area ul li button {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .properties-section-area h2 {
      line-height: 40px;
  }

  .properties-section-area .property-feature-slider .tabs-btn-area ul {
    gap: 15px;
  }

  .properties-section-area .property-feature-slider .tabs-btn-area ul li button {
    padding: 10px 15px;
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .properties-section-area .property-feature-slider {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/*--- Items Area ---*/
.items-section-title {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

p.items-section-description {
  font-size: 24px;
  line-height: 36px;
}

.items-section-data {
  font-size: 20px;
  color: #003837;
}

.items-section-data .name > a {
  font-size: 30px;
  font-weight: 700;
  color: inherit;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.items-section-data .name > a:focus,
.items-section-data .name > a:hover {
  color: #cbcd30;
}

@media (max-width: 767px) {
  p.items-section-description {
    font-size: 20px;
    line-height: 30px;
  } 

  .items-section-area .items-section-data {
    margin-top: 0;
    padding: 25px;
    font-size: 18px;
  }

  .items-section-data .name {
    font-size: 25px;
  }
}

@media (max-width: 575px) {
  .items-section-area {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/*--- Property-Location Area ---*/
.property-location-section-area {

}

.property-location-section-area h5 {
  text-transform: none;
}

.property-location-section-area .property-single-slider .owl-nav button.owl-prev {
  left: -100px;      
}

.property-location-section-area .property-single-slider .owl-nav button.owl-next {
  right: -100px;
}


@media only screen and (min-width: 768px) and (max-width: 1500px) {
  .property-location-section-area .property-single-slider .owl-nav {
      margin-top: 30px;
      text-align: center;
  }

  .property-location-section-area .property-single-slider .owl-nav button.owl-prev {
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      margin-top: 0;
      margin-right: 16px;
  }

  .property-location-section-area .property-single-slider .owl-nav button.owl-next {
      position: relative;
      z-index: 1;
      top: 0;
      right: 0;
      margin-top: 0;
  }
}

@media (max-width: 767px) {
  .property-location-section-area .property-single-slider .owl-nav button.owl-prev {      
    left: 0;
    margin-right: 25px;
  }

  .property-location-section-area .property-single-slider .owl-nav button.owl-next {
    right: 0;
  }
}


/*--- .Testimonial Area ---*/
.testimonial-slider-area .slick-track {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.testimonial-slider-area .slick-slide {
  height:auto;
  -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
}

.testimonial-slider-area .testimonial-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;  
}

.testimonial-slider-area .testimonial-box > img.quotes{
  width: 50px;
}

.testimonial-slider-area .testimonial-box .test-images {
  margin-top: auto;
}

@media (max-width: 575px) {
  .testimonial1-section-area {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 480px) {
  .testimonial1-section-area .testimonial-slider-area .testimonial-box .test-images .auhtor-area .text a {
    font-size: 22px;
    line-height: 26px;
  }

  .testimonial1-section-area .testimonial-slider-area .testimonial-box .test-images .auhtor-area .text p {
    line-height: 18px;
  }

  .testimonial1-section-area .testimonial-slider-area .testimonial-box .test-images .auhtor-area .text .space10 {
    height: 5px;
  }
}


/*--- Footer ---*/
.footer1-section-area {
  padding-top: 120px;
  text-align: center;
}

.footer-logoarea a.logo > img {
  width: 80px;
  height: auto;
}

.footer-logoarea p.description,
.footer-logoarea ul.socials {
  text-align: left;
}

.footer1-section-area .footer-content,
.footer1-section-area .footer-content2,
.footer1-section-area .instagram-posts {
  text-align: left;
}

.footer1-section-area .footer-content h2,
.footer1-section-area .footer-content2 h2,
.footer1-section-area .instagram-posts h2 {
  margin-bottom: 25px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  color: #030e0f;
}

.footer1-section-area .instagram-posts h2 {
  margin-bottom: 0;
}

.footer1-section-area .footer-content ul li a,
.footer1-section-area .footer-content2 ul li a {
  margin-top: 0;
  margin-bottom: 15px;
}

@media (max-width: 1400px) {
  .footer1-section-area .footer-content {
    padding-left: 20px;
  }
}

@media (max-width: 1200px) {
  .footer1-section-area .col-lg-3 {
    width: 50%;
  }

  .footer1-section-area .bl-1,
  .footer1-section-area .bl-2,
  .footer1-section-area .bl-3,
  .footer1-section-area .bl-4 {
    margin-bottom: 40px;
  }

  .footer1-section-area .bl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer1-section-area .bl-2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer1-section-area .bl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer1-section-area .bl-4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .footer1-section-area {
    padding-top: 50px;
  }

  .footer1-section-area .bl-1,
  .footer1-section-area .bl-2,
  .footer1-section-area .bl-3,
  .footer1-section-area .bl-4 {
    margin-bottom: 0px;
  }

  .footer1-section-area .bl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer1-section-area .bl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer1-section-area .bl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer1-section-area .bl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer1-section-area .col-lg-3 {
    width: 100%;
  }

  .footer1-section-area .footer-content {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .footer1-section-area {
    padding-left: 10px;
    padding-right: 10px;
  }
}



/*===== Контакты =======*/
.faq-section-area {
  padding-left: 10px;
  padding-right: 10px;
}

.contact-inner-section .heading1 .number-address-area .phone-number .img1,
.contact-inner-section .heading1 .number-address-area2 .phone-number .img1 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.contact-inner-section .heading1 .number-address-area .phone-number .img1 svg,
  .contact-inner-section .heading1 .number-address-area2 .phone-number .img1 svg {
  width: 25px;
  height: 25px;
}

.contact-inner-section .heading1 .social ul li {
  margin-right: 5px;
}

.contact-inner-section .heading1 .social ul li:last-child {
  margin-right: 0;
}

.contact-inner-section .heading1 .social ul li a {
  width: 45px;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
}

.contact-inner-section .contact-form-area .input-area input,
.contact-inner-section .contact-form-area .input-area textarea {
  margin-top: 0;
  margin-bottom: 24px;
}

.contact-inner-section .contact-form-area .input-area textarea {
  margin-bottom: 0;
}

.faq-section-area .faq-area .accordion .accordion-item .accordion-body p {
  font-size: 16px;
  color: #777777;
}

.faq-section-area .faq-area .accordion .accordion-item button {
  padding-right: 60px;
  line-height: 25px;
}

.faq-section-area .faq-area .accordion .accordion-item button::before {
  margin-top: -7px;
  top: 50%;
}

.faq-section-area .faq-area .accordion .accordion-item button::after {
  top: 50%;
}

@media (max-width: 1400px) {
  .contact-inner-section .heading1 .number-address-area {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .contact-inner-section .heading1 .number-address-area2 .phone-number {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .contact-inner-section .heading1 .number-address-area2 .phone-number .img1 {
    flex-shrink: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .contact-inner-section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact-inner-section .heading1 .number-address-area .phone-number .content a,
    .contact-inner-section .heading1 .number-address-area2 .phone-number .content a {
    font-size: 18px;
  }

  .faq-section-area .faq-area .accordion .accordion-item button {
    font-size: 18px;
  }
}