.banner {
	margin: 0;
	padding: 50px 0;

	background-image: url(../../img/banner_home.jpg);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__title {
	width: 500px;
	margin: 0 auto;
	padding: 50px;

	background-color: #ffffff;

	box-sizing: border-box;

	span {
		display: block;
	}
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {

}