.header-page {
	margin: 0;
	padding: 0;	
	background: linear-gradient(180deg, rgba(234,234,234,.75) 0, rgba(255,255,255,1) 90%);
}

@media (min-width: @tablet-width) {
	
	
}

@media (min-width: @desktop-width) {
	
}