header {
	margin: 0;
	padding: 20px;
	background-color: @bg-header;
	// border: 1px solid rgba(120,120,255,.1);

	// border-radius: 2px;
	// box-shadow: 1px 1px 0 0 rgba(0,0,0,.05);
}

div {
	display: flex;
}

p {	
	padding: 10px;
	
	text-align: justify;

	&:first-child {
		margin-right: 20px;
	}
}

@media (min-width: @tablet-width) {
	/* header {
		width: 50%;	
	} */
	
}

@media (min-width: @desktop-width) {
	// header {
	// 	width: 75%;
	// }
}