.header-page {
	margin: 0;
	padding: 0;	
	background: linear-gradient(180deg, rgba(234,234,234,.75) 0, rgba(255,255,255,1) 90%);
}

.page-header__top {
	display: flex;
}

.page-header__toggle-nav-first {
	display: none;
}

.page-header__toggle-nav-second {
	display: none;
}

@media (min-width: @tablet-width) {
	
	
}

@media (min-width: @desktop-width) {
	
}