.search {
	margin: 0;
	margin-bottom: 40px;
	padding: 0 30px;
	box-sizing: border-box;
	background-color: red;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {

}