.footer-page {
	height: 200px;
	margin: 0;
	padding: 0;
	// border-top: 1px dashed #dddddd;
	background-color: #000000;
	
}

/*--- FOOTER TOP ---*/
.footer-page__top {	
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 30px;    
}

.footer-page__contacts {
	order: 2;
}

.footer-page__phone {
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	span {
		opacity: 0.5;
	}
}

.footer-page__logo {	
	display: flex;
	flex-wrap: wrap;	
	justify-content: center;
	text-decoration: none;
	order: 1;
	padding: 20px 30px;
	.footer-page__logo-logo {
		width: 50%;
	}
	.footer-page__logo-text {
		
	}
}

.footer-page__social {
	display: flex;
	justify-content: center;	
	width: 100%;
	box-sizing: border-box;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		margin-right: 10px;
		background-color: #ffffff;
		border-radius: 50%;
		transition: all 0.25s ease-out;
		svg {
			fill: #121212;
		}
		&:hover,
		&:focus {
			opacity: 0.7;
		}
		&:last-child {
			margin-right: 0;
		}
	}	
}

@media (min-width: @mobile-width) {
	.footer-page__social {		
		a {			
			width: 40px;
			height: 40px;			
		}	
	}
}

@media (min-width: 600px) {
	.footer-page__logo {
		.footer-page__logo-logo {
			width: 40%;
		}
		.footer-page__logo-text {
			width: 80%;
		}
	}
}

@media (min-width: @tablet-width) {
	.footer-page__top {
		flex-direction: row;		
		justify-content: space-between;
	}

	.footer-page__contacts {
		order: 1;		
		width: 40%;		
		padding: 20px 30px;
	}

	.footer-page__phone {
		text-align: left;
	}

	.footer-page__social {
		justify-content: flex-start;
	}

	.footer-page__logo {
		flex-wrap: nowrap;
		align-items: center;
		order: 2;
		.footer-page__logo-logo {
			width: 30%;			
			margin-right: 10px;
		}
		.footer-page__logo-text {
			width: 60%;

		}
	}
}


/*--- FOOTER BOTTOM ---*/
.footer-page__bottom {
	padding-top: 10px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
	text-align: center;
	color: #ffffff;
	border-top: 1px dashed #cccccc;
	background-color: rgba(255,255,255,.2);
}

.footer-page__bottom-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-page__developer {
	padding: 5px 0;
	text-align: center;
	order: 2;
	opacity: 0.5;	
	p {		
		padding: 0;
		font-size: 14px;
		line-height: normal;
		box-sizing: border-box;
	}
	a {
		color: #ffffff;
		text-decoration: none;
		transition: all 0.25s ease-out;
		&:hover,
		&:focus {
			text-decoration: underline;			
		}
	}
}

.footer-page__copyright {	
	text-align: center;
}

@media (min-width: @tablet-width) {
	.footer-page__top {
		padding-bottom: 10px;
	}

	.footer-page__bottom {
		padding-top: 0;
	}

	.footer-page__bottom-wrapper {	
		flex-direction: row;
		padding: 0 30px;
	}

	.footer-page__developer {
		order: 1;
		text-align: left;
		p {
			padding-right: 50px;
		}
	}
	.footer-page__copyright {
		order: 2;
		width: 60%;	
	}
}

