.page-header {
	margin: 0;
	padding: 0 20px;
	// padding: 0 30px;
	box-sizing: border-box;
}

.page-header__wrapper {	
	// position: relative;
	// display: flex;
	// justify-content: flex-start;
	// padding: 0;
}

/*--- LOGO ---*/
.page-header__logo {
	text-align: center;
}

.page-header__box {
	position: relative;
	
}

@media (min-width: @mobile-width) {
	.page-header__logo {
		text-align: left;
	}	
}


/*--- PHONE ---*/
.page-header__phone {	
	position: relative;
	padding: 5px 20px;
	// padding: 2px 20px 2px 50px;	
	&::before {
		content: none;
		// content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: -33px;
			
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 33px 33px;
		border-color: transparent transparent #ececec transparent;

		
	}
}

@media (min-width: @mobile-width) {
	.page-header__phone {
		padding: 5px 5px;
	}
}

@media (min-width: @tablet-width) {
	.page-header__wrapper {	
		// display: flex;
		// justify-content: space-between;
		// align-items: center;		
	}

	.page-header__logo {		
		
	}		
}

/*--- MAIN MENU ---*/
.page-header__nav-wrapper {	
	padding-top: 10px;
	// position: relative;
	// display: flex;
	// align-items: center;
	// width: 100%;
}

.page-header__nav {
	// margin-left: auto;
	// width: 100%;
	// position: absolute;
	// bottom: 0;
	// right: 0;
	// margin-bottom: 20px;
	// min-height: 45px;
}



.page-header__toggle-nav {
	display: none;
	// position: absolute;
	// top: 12px;
	// right: 20px;
	// margin-left: 50px;

}

.main-nav__wrapper {
	
}

.main-nav {
	// position: absolute;  
	// top: 180%;
	// left: 0;
	// right: 0;

	// opacity: 0;
	// visibility: hidden;
	// transition: all 0.2s ease-out;
	// z-index: 10;
}

.main-nav__list {
	
}

.main-nav--show {
	// top: 120%; 
	// opacity: 1;
	// visibility: visible;
}

// .page-header__phone-wrapper {
// 	margin-bottom: 20px;
// 	border-bottom: 1px dashed #D9CDAD;
// }

// .page-header__phone {
// 	padding: 5px 20px;
// 	font-size: 20px;
// 	font-weight: 400;
// 	line-height: 36px;
// 	text-align: right;
// 	color: #af9702;
// 	svg {
// 		position: relative;
// 		top: 4px;
// 		margin-right: 7px;
// 	}
// }

@media (min-width: @tablet-width) {
	// .page-header__toggle-nav {
	// 	display: none;	
	// }

	// .page-header__nav {
	// 	width: auto;
	// 	position: static;
	// }

	// .main-nav {
	// 	width: 100%;
	// 	position: static;		
	// 	opacity: 1;
	// 	visibility: visible;
	// }
}