.blog {
	padding: 0 10px;
}

.blog__title {	
	display: block;
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: @white;
	h2 {
		margin: 0;
		font-size: 32px;
		line-height: 40px;
		font-weight: 600;
	}
}

.blog__list {
	// height: 420px;
	border-radius: 50px;
	border: 2px solid @blue;
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}