html {
	// width:100vw;
	// scrollbar-width: none; // скрыть скролл для Firefox

	// width:100vw;
	// overflow-x:hidden;
}

body {
	min-width: 320px;	
	min-height: 2000px;
	margin: 0 auto;
	padding: 0;
	font-family: @ff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;  
	color: @white;
	background-color: @main-dark;
	overflow-x: hidden;
}
:focus {
  outline: none;
  // -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;
  //         box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;
}


/* Стилизация scroll'а */
/* Работает в Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: @gray-font rgba(255,255,255,.2);
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {  
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,.02);
}

*::-webkit-scrollbar-thumb {
  background-color: @gray-font;
  border-radius: 4px;
  // border: 1px solid white;
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	      clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

p, ul {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div, p, a {
	box-sizing: border-box;
	transition: all 0.3s ease-out;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
		/* отмена выделения текста */
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
			    user-select: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
}

picture {
	display: block;
	line-height: 0;
}

// .green {
// 	font-weight: 600;
// 	color: @green;
// }

.fancybox__wrapper {
	// top:0 !important;
	padding: 0 10px !important;
	transition: none;
}

.fancybox__container {
	background-color: rgba(24, 24, 27, 0.5);
}

.fancybox__caption {
	width: auto !important;
	margin-top: 5px;
	margin: 5px 20px;
	padding: 5px 10px !important;
	font-size: 15px;
	line-height: 22px;
	text-align: center;	
	background-color: rgba(255,255,255,.2);
	border: 1px solid rgba(255,255,255,.1);
	border-radius: 5px;
}

.page-main {
	overflow-x: hidden;
}

// .h2 {
// 	margin: 0;	
// 	font-size: 20px;
// 	line-height: 27px;	
// 	font-weight: 700;
// 	letter-spacing: 0em;
// 	text-align: center;
// 	color: @main-dark;
// }



@media (min-width: @mobile-width) {
	// .h2 {
	// 	font-size: 25px;
	// 	line-height: 34px;
	// }
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	// .h2 {
	// 	font-size: 32px;
	// 	line-height: 43px;
	// }
}

@media (min-width: @desktop-width) {
	// .h2 {
	// 	font-size: 35px;
	// 	line-height: 47px;
	// }
}

@media (min-width: @desktop-1200-width) {
	
}

@media (min-width: @desktop-1400-width) {
	
}


@media (min-width: @desktop-full-width) {
	html {
		width:100vw;
	}
}