.container {
	width: 320px;
	margin: 0 auto;
	// padding: 0 16px;
	box-sizing: border-box;	
}

@media (min-width: @mobile-width) {
	.container {
		width: 460px;
	}
}

@media (min-width: @tablet-width) {
	.container {
		width: 748px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: @desktop-width) {
	.container {
		width: 940px;
	}		
}

@media (min-width: @desktop-1200-width) {
	.container {
		width: 1120px;
		// padding: 0;
	}
}

@media (min-width: @desktop-1400-width) {
	.container {
		width: 1320px;
		// padding: 0;
	}
}

@media (min-width: @desktop-1600-width) {
	.container {
		width: 1500px;
		padding: 0 93px;
	}
}


@media (min-width: @desktop-full-width) {
	.container {
		// width: 1500px;
		// padding: 0 93px;
	}
}