.development {
	position: relative;
	min-height: 250px;
	margin-bottom: 210px;
	padding: 0 30px;
}

@media (min-width: @mobile-width) {
	.development {
		
	}	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}