.page-footer {
	padding: 18px 18px 30px 18px;
	border: 2px solid @blue;
	border-bottom: none;
	border-radius: 48px 48px 0 0;
}

.page-footer__menu {
	margin-bottom: 18px;
}

.page-footer__menu-item {
	a {
		display: block;
		font-size: 14px;
		line-height: 22px;
		color: @white;
		text-decoration: none;
		letter-spacing: -.2px;
		&:focus,
		&:hover {
			text-decoration: underline;
			color: @blue;
		}
	}
}

.page-footer__socials-title {
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -.2px;
}

.page-footer__socials {
	display: flex;
}

.page-footer__socials-icon {
	margin-right: 8px;
	a {
		display: block;
		line-height: 0;
		svg {
			polygon, path {
				fill: @blue;
				transition: @animation;
			}
		}
	}
	&:focus,
	&:hover {
		svg {
			polygon, path {
				fill: url(#gr_linear);
			}
		}
	}
	&:last-child {
		margin-right: 0;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-1400-width) {

}

@media (min-width: @desktop-1600-width) {

}

@media (min-width: @desktop-full-width) {
	
}