.icons {
	position: relative;
	display: flex;
	flex-direction: column-reverse;	
	margin-bottom: 33px;
	// background-color: rgba(255,0,0,.5);
	overflow: hidden;
	ul {
		width: 305px;		
		height: 49px;
		margin-top: 9px;
		font-size: 0;
		text-align: right;
		white-space: nowrap;
		li {
			display: inline-block;
			margin-right: 12px;			
			svg {
				width: 49px;
				height: 49px;
				fill: @white;
			}
			&:nth-child(13),
			&:nth-child(14),
			&:nth-child(15),
			&:nth-child(16) {
				display: none;
			}
		}
		&:last-child {
			margin-top: 0;
		}
	}
	.purple {
		border-color: #9dadf2;
		svg {
			fill: #9dadf2;
		}
	}
	.light-green {
		border-color: #7ddacf;
		svg {
			fill: #7ddacf;
		}
	}
	.blue {
		border-color: @blue;
		svg {
			fill: @blue;
		}
	}
	.white {
		border-color: @white;
		svg {
			fill: @white;
		}
	}
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		// content: '';
		height: 250px;
		background: linear-gradient(0deg, rgba(17,10,29,1) 0%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 100%);
	}
}

.icons__border {
	position: relative;	
	width: 109px;
	height: 49px;
	border-width: 2px;	
	border-style: solid;
	border-radius: 100px;	
	box-sizing: border-box;
	svg {
		position: absolute;
		left: -2px;
		bottom: -2px;		
	}	
}

.icons__first {
	// height: 596px;
	margin-left: -305px;
	// margin-top: -596px;	
	opacity: 0.2;	
	transition: @animation;	
	// -webkit-animation: rightScrollX 5s infinite linear;
	// -moz-animation: rightScrollX 5s infinite linear;
	// animation: rightScrollX 5s infinite linear;
	.icons__border {
		svg {
			left: auto;
			right: -2px;
			// right: -3px;
		}
	}
}

.icons__second {
	// height: 596px;
	// margin-top: 8px;
	opacity: 0.6;	
	transition: @animation;
	-webkit-animation: leftScrollX 5s infinite linear;
	-moz-animation: leftScrollX 5s infinite linear;
	animation: leftScrollX 5s infinite linear;	
}

.icons__third {
	// height: 596px;
	margin-left: -305px;
	// margin-top: -596px;
	opacity: 0.4;	
	transition: @animation;	
	-webkit-animation: rightScrollX 20s infinite linear;
	-moz-animation: rightScrollX 20s infinite linear;
	animation: rightScrollX 20s infinite linear;	

	.icons__border {
		svg {
			left: auto;
			right: -2px;
			// right: -3px;
		}
	}
}

@keyframes topScrollY {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0, -100%);
	}
}

@keyframes bottomScrollY {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0, 100%);
	}
}

@keyframes rightScrollX {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(100%, 0);
	}
}

@keyframes leftScrollX {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes iconRotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media (min-width: @mobile-width) {
	.icons {
		margin-bottom: 45px;
	}
}

@media (min-width: 600px) {
	.icons {		
		// height: 165px;
		margin-bottom: 50px;		
		ul {
			width: 395px;
			// width: 100px;
			height: 65px;			
			// margin-right: 16px;			
			li {
				margin-right: 14px;
				// margin-bottom: 16px;			
				svg {
					width: 65px;
					height: 65px;
					// width: 100px;
					// height: 100px;					
				}
				&:nth-child(13),
				&:nth-child(14),
				&:nth-child(15),
				&:nth-child(16) {
					display: inline-block;
				}
			}
		}
	}

	.icons__first {
		margin-left: -395px;
	}

	.icons__third {
		margin-left: -395px;
	}

	.icons__border {
		position: relative;	
		width: 145px;
		height: 65px;
		// height: 220px;
	}
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {
	.icons {
		display: block;
		width: 250px;
		height: 750px;
		margin-bottom: 0;
		ul {
			width: 75px;
			// width: 100px;
			margin-top: 0;
			margin-right: 16px;
			li {
				display: block;
				// margin-bottom: 16px;
				margin-right: 0;
				svg {
					width: 75px;
					height: 75px;
					// width: 100px;
					// height: 100px;					
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.icons__border {		
		width: auto;
		height: 165px;
		// height: 220px;
		border-width: 3px;		
		svg {
			left: -3px;
			bottom: -3px;
		}	
	}

	.icons__first {
		// height: 596px;
		margin-left: 0;
		// margin-top: -596px;		
		-webkit-animation-name: bottomScrollY;
		-moz-animation-name: bottomScrollY;
		animation-name: bottomScrollY;
		.icons__border {
			svg {
				left: auto;				
				right: -3px;
			}
		}
	}

	.icons__second {
		// height: 596px;
		// margin-top: 8px;		
		-webkit-animation: leftScrollX 5s infinite linear;
		-moz-animation: leftScrollX 5s infinite linear;
		animation: leftScrollX 5s infinite linear;	
	}

	.icons__third {
		// height: 596px;
		margin-left: -305px;
		// margin-top: -596px;		
		-webkit-animation: rightScrollX 20s infinite linear;
		-moz-animation: rightScrollX 20s infinite linear;
		animation: rightScrollX 20s infinite linear;
		.icons__border {
			svg {
				left: auto;
				right: -2px;
				// right: -3px;
			}
		}
	}
}

@media (min-width: @desktop-1400-width) {
	.icons {
		width: 300px;
		height: 850px;
	}
}

@media (min-width: @desktop-full-width) {
	.icons {
		width: 334px;
		height: 1025px;
	}
}

&:hover,
&:focus {
	
}