.icons {
	height: 165px;
	margin-bottom: 33px;
	background-color: rgba(255,0,0,.5);	
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	.icons {
		width: 334px;
		height: 960px;
		margin-bottom: 0;
	}
}

&:hover,
&:focus {
	
}