.menu {	
	padding: 0;	
	list-style-type: none;	
}

.menu__item {
	position: relative;
	margin-left: -2px;
	margin-right: -2px;
	margin-bottom: 5px;
	a {
		position: relative;
		display: block;
		padding: 11px 18px;
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		text-decoration: none;
		
		color: @white;		
		border: 2px solid @blue;
		border-radius: 28px;
		transition: all .2s ease-out;

		// background-color: rgba(255,0,0,.5);
		&:hover,
		&:focus {
			
		}
	}
	&.last-child {
		margin-bottom: 0;
	}
}


@media (min-width: @mobile-width) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {


}

@media (min-width: @desktop-1200-width) {
		
}

@media (min-width: @desktop-1400-width) {
	
}

@media (min-width: @desktop-1600-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}