.menu {	
	padding: 0;	
	list-style-type: none;	
}

.menu__item {
	position: relative;
	a {
		position: relative;
		display: block;
		padding: 15px 0;
		font-size: 14px;
		line-height: 14px;
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;
		color: @white;
		letter-spacing: .9px;
		transition: all .2s ease-out;		
		&:hover,
		&:focus {
			
		}		
	}	
}


@media (min-width: @mobile-width) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {


}

@media (min-width: @desktop-1200-width) {
		
}

@media (min-width: @desktop-1400-width) {
	
}

@media (min-width: @desktop-1600-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}