.page {
	padding-top: 50px;
	padding-bottom: 50px;
}

.page__title {
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	.page__title {
		font-size: 36px;
	}
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	.page__title {
		font-size: 40px;
	}
}

&:hover,
&:focus {
	
}