.to-messenger {
  padding: 16px;
  padding-top: 9px;
}

.to-messenger__desc {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  color: @gray;
}

.to-messenger__submit {
  height: 40px;
  margin-bottom: 5px;
}

.to-messenger__item {
  .form__input {
    height: auto;
  }
  textarea {
    padding-top: 10px;
  }
}

@media (min-width: @mobile-width) {
  
}

@media (min-width: 600px) {
  
}

@media (min-width: @tablet-width) {
  .to-messenger__desc {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;    
  }

   .to-messenger__submit {
    width: 40%;
    margin: 0 auto;
   }
}

@media (min-width: @desktop-width) {
  .to-messenger__item {
    .form__input {
      height: 90px;
    }
  }   
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
  .to-messenger {
    padding: 20px 40px 16px 40px;
  }

  .to-messenger__desc {
    margin-bottom: 33px;
    font-size: 17px;
    line-height: 23px;
    text-align: left;  
  }

  .to-messenger__item {
    .form__input {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .to-messenger__submit {
    width: 30%;
    height: 50px;
    margin-bottom: 0;
  }
}