@import 'variables.less';
@import 'scaffolding.less';
@import 'outlines.less';

@import 'blocks/header.less';


body {
	font-family: @ff;
	color: @color;

	background-color: @bg-color;
}

@media (min-width: @tablet-width) {
		
}