@color: #777777;
@bg-color: #ffffff;
@bg-header: #ffffff;
@ff: 'Exo 2', Tahoma, Verdana, sans-serif;
@anim: all .2s ease-out;

@custom-width: 600px;
@custom940-width: 940px;
@tablet-width: 768px;
@desktop-width: 1200px;

@tooltip-color: #333333;