.animation-up {
	/*--- animation scroll ---*/
	opacity: 0;
	transform: translateY(120px);
	transition: transform .7s, opacity .7s;
}

.animation-left {
	/*--- animation scroll ---*/
	opacity: 0;
	transform: translateX(-100px);
	transition: transform .7s, opacity .7s;
}

.animation-right {
	/*--- animation scroll ---*/
	opacity: 0;
	transform: translateX(200px);
	transition: transform .7s, opacity .7s;
}

.animation-show {
	/*--- animation scroll ---*/
	opacity: 0;	
	transition: opacity .7s;
}

.delay-1ms {transition-delay: 0.1s;}
.delay-2ms {transition-delay: 0.2s;}
.delay-3ms {transition-delay: 0.3s;}
.delay-4ms {transition-delay: 0.4s;}
.delay-5ms {transition-delay: 0.5s;}
.delay-6ms {transition-delay: 0.6s;}
.delay-7ms {transition-delay: 0.7s;}
.delay-8ms {transition-delay: 0.8s;}
.delay-9ms {transition-delay: 0.9s;}
.delay-1s {transition-delay: 1s;}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}