.faq {
	margin-bottom: 50px;
}

.faq__title {
	margin-bottom: 20px;
}

.faq__img {
	width: 100%;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	.faq {
		margin-bottom: 70px;
	}

	.faq__wrapper {
		width: 650px;
	}

	.faq__title {
		margin-bottom: 30px;
	}
}

@media (min-width: @desktop-1200-width) {
	.faq {
		margin-bottom: 120px;
	}

	.faq__wrapper {
		width: 900px;
	}

	.faq__title {
		margin-bottom: 30px;
	}
}

@media (min-width: @desktop-1600-width) {
	.faq__wrapper {
		width: 1520px;
	}

	.faq__title {
		margin-bottom: 40px;
	}

	.faq__content {
		display: flex;
		justify-content: space-between;
	}

	.faq__accordion {
		width: 700px;
	}

	.faq__img {
		width: 740px;
	}
}

@media (min-width: @desktop-full-width) {
	.faq__wrapper {
		width: 1920px;
	}
	.faq__title {
		margin-right: 110px;
	}

	.faq__accordion {
		width: 880px;
	}

	.faq__img {
		width: 879px;
	}
}

&:hover,
&:focus {
	
}