.page-header {
	position: relative;	
	min-width: 320px;
	height: 64px;
	transition: @animation;
	// z-index: 100;
	background-color: @dark;
	border-radius: 0 0 20px 20px;
	// border-radius: 0 0 40px 40px;
	&:before,
	&:after {
		position: absolute;
		left: 0;
		bottom: 0;
		content: '';
		width: 100px;
		height: 100px;
		background-color: @bg-block;
		z-index: -1;
	}
	&:after {
		left: auto;
		right: 0;
	}
}

.page-header__wrapper {
	position: relative;
	padding-top: 4px;	
	padding-bottom: 4px;	
}

.page-header__logo {
	picture {
		img {
			width: 200px;
		}
	}
}

.page-header__menu {
	margin-right: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.page-header__toggle-nav {
	position: absolute;
	top: 20px;
	right: 20px;
}

.page-header__nav {
	position: relative;
	top: 95px;
    opacity: 0;
    visibility: hidden;
    transition: @animation;
}

.page-header__nav--show {
	top: 64px;
	opacity: 1;
	visibility: visible;
}

.page-header__contacts {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	// display: flex;
	// align-items: center;
	background-color: @dark;
	a {
		display: inline-block;
		margin-right: 12px;
		margin-bottom: 15px;		
		line-height: 0;
		svg {

		}
		&.social {
			opacity: 0.9;
			&:hover,
			&:focus {
				opacity: 1;
			}
		}		

		&.page-header__phone-number {
			display: block;
			width: 100%;
			margin-bottom: 0;
			font-size: 24px;
			// font-size: 32px;
			line-height: 100%;	
		}
		&:last-child {
			margin-right: 0;
		}
	}
}




@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.page-header {
		height: 82px;
	}

	.page-header__wrapper {
		// display: flex;
		// justify-content: justify-content;
		// align-items: center;
		padding-top: 6px;
		// padding-right: 35px;			
		padding-bottom: 6px;
	}

	.page-header__logo {
		// margin-right: 285px;
		picture {
			img {
				width: 251px;
			}
		}
	}

	.page-header__toggle-nav {
		top: 30px;		
	}

	.page-header__nav--show {
		top: 82px;		
	}
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-1200-width) {
	.page-header__toggle-nav {
		display: none;
	}

	.page-header__menu {
		margin-right: auto;
		position: static;
		top: auto;
		left: auto;
		right: auto;
	}
}

@media (min-width: @desktop-1600-width) {

}

@media (min-width: @desktop-full-width) {
	.page-header {
		position: relative;	
		min-width: 320px;
		transition: @animation;
		// z-index: 100;
		background-color: @dark;
		border-radius: 0 0 40px 40px;	
		&:before,
		&:after {
			position: absolute;
			left: 0;
			bottom: 0;
			content: '';
			width: 100px;
			height: 100px;
			background-color: @bg-block;
			z-index: -1;
		}
		&:after {
			left: auto;
			right: 0;
		}
	}

	.page-header__wrapper {
		display: flex;
		justify-content: justify-content;
		align-items: center;
		padding-top: 6px;
		padding-right: 35px;
		padding-bottom: 6px;
	}

	.page-header__logo {
		margin-right: 285px;
	}

	.page-header__menu {
		margin-right: auto;
		// position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
	}

	.page-header__toggle-nav {
		display: none;
		// position: absolute;
		// top: 27px;
		// right: 20px;
	}

	// .page-header__nav {
	// 	position: relative;
	// 	top: 95px;
	//     opacity: 0;
	//     visibility: hidden;
	//     transition: @animation;
	// }

	// .page-header__nav--show {
	// 	top: 72px;
	// 	opacity: 1;
	// 	visibility: visible;
	// }

	.page-header__contacts {
		display: flex;
		align-items: center;	
		a {
			margin-right: 12px;
			svg {

			}
			&.social {
				opacity: 0.9;
				&:hover,
				&:focus {
					opacity: 1;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.page-header__phone-number {
		font-size: 32px;
		// text-decoration: none;
		// color: @white;
	}
}