.info {
	margin-bottom: 50px;
}

.info__wrapper {
	display: flex;
	justify-content: space-between;
}

.info__left {
	width: 690px;
}

.info__title {
	position: relative;
	text-align: left;
	.rocket {
		display: block;
		// position: absolute;
		// bottom: 1px;
		// width: 30px;
		// height: 30px;
		width: 72px;
		height: 72px;
		background-image: url('../img/rocket.webp');
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.info__content {
	width: 730px;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	.info {
		margin-bottom: 70px;
	}
}

@media (min-width: @desktop-1200-width) {
	.info {
		margin-bottom: 120px;
	}
}

@media (min-width: @desktop-1600-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}