.info {
	margin-bottom: 50px;
}
.info__left {
	margin-bottom: 20px;
}

.info__title {
	position: relative;
	margin-bottom: 20px;
	text-align: left;
	.rocket {
		display: inline-block;
		margin-left: 10px;
		position: absolute;
		bottom: 1px;
		width: 30px;
		height: 30px;
		background-image: url('../img/rocket.webp');
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.info__button {
	width: 100%;
	padding: 16px 30px;
	font-size: 16px;
}

.info__content {
	position: relative;
	padding: 0 10px;
	font-size: 16px;
	line-height: 22px;
	.star {
		position: absolute;
		top: -27px;
		right: -24px;
		width: 40px;
		height: 41px;
		z-index: 1;
		transform: rotate(-16deg);
	}
	.text {
		p {
			margin-bottom: 10px;
		}
	}
}

.info__read {
	font-size: 16px;
	line-height: 22px;
}

.info__more {
	p {
		margin-bottom: 10px;
	}
}

.info__hide {
	font-size: 16px;
	line-height: 22px;
}

@media (min-width: 400px) {
	.info__left {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.info__content {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		.star {
			top: -8px;
			right: -40px;
		}
	}
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.info__title {
		.rocket {
			margin-left: 20px;
			width: 40px;
			height: 40px;
		}
	}
}

@media (min-width: @desktop-width) {
	.info {
		margin-bottom: 70px;
	}

	.info__left {
		margin-bottom: 20px;
	}

	.info__title {		
		margin-bottom: 30px;
	}

	.info__button {		
		width: auto;
		padding: 24px 60px;
	}

	.info__content {
		padding: 0;
		font-size: 18px;
		line-height: 24px;
		.star {
			top: -8px;
			right: -50px;
			width: 60px;
			height: 60px;
		}
		.text {
			p {
				margin-bottom: 15px;
			}
		}
	}

	.info__read {
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 24px;
	}

	.info__hide {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (min-width: @desktop-1200-width) {
	.info {
		margin-bottom: 120px;
	}

	.info__left {
		margin: 0;
		margin-bottom: 30px;
	}

	.info__button {
		width: 100%;
		font-size: 24px;
	}

	.info__content {
		margin: 0;
		.star {
			right: -80px;
		}
	}

	.info__read {
		margin-bottom: 15px;
	}
}

@media (min-width: @desktop-1600-width) {
	.info__wrapper {
		display: flex;
		justify-content: center;
	}

	.info__left {
		width: 45%;
		margin-bottom: 0;
	}

	.info__title {
		margin-bottom: 60px;		
		.rocket {
			position: static;
			display: block;			
			margin-left: 0;
			margin-top: 10px;
			width: 72px;
			height: 72px;
		}
	}

	.info__content {
		width: 50%;
		font-size: 22px;
		line-height: 29px;
		.text {
			p {
				margin-bottom: 20px;
			}
		}
	}

	.info__read {
		margin-bottom: 0;
		font-size: 22px;
		line-height: 29px;
	}

	.info__more {
		p {
			margin-bottom: 20px;
		}
	}

	.info__hide {
		font-size: 22px;
		line-height: 29px;
	}
}

@media (min-width: @desktop-full-width) {
	.info__left {		
		width: 690px;
		margin-right: 60px;
	}

	.info__title {
		.rocket {
			margin-top: 30px;
		}
	}

	.info__content {
		width: 730px;		
		font-size: 24px;
	}

	.info__read {
		padding-top: 10px;
		font-size: 24px;
	}

	.info__hide {
		padding-top: 10px;
		font-size: 24px;
	}
	/*.info {
		margin-bottom: 50px;
	}

	.info__wrapper {
		display: flex;
		justify-content: center;
	}

	.info__left {
		width: 690px;
		margin-right: 60px;
	}

	.info__title {
		position: relative;
		margin-bottom: 60px;
		text-align: left;
		.rocket {
			display: block;
			margin-top: 30px;
			// position: absolute;
			// bottom: 1px;
			// width: 30px;
			// height: 30px;
			width: 72px;
			height: 72px;
			background-image: url('../img/rocket.webp');
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	.info__button {
		width: 100%;
		padding: 24px 60px;
		font-size: 24px;
	}

	.info__content {
		position: relative;
		width: 730px;
		font-size: 24px;
		line-height: 29px;
		.star {
			position: absolute;
			top: -8px;
			right: -80px;
			// width: 40px;
			// height: 41px;
			width: 60px;
			height: 60px;
			z-index: 1;
			transform: rotate(-16deg);
		}
		.text {
			p {
				margin-bottom: 20px;
			}
		}
	}

	.info__read {
		padding-top: 10px;
	}

	.info__more {
		p {
			margin-bottom: 20px;
		}
	}*/
}

&:hover,
&:focus {
	
}