.menu {
	background-color: @bg-block;
	border-radius: 0 0 20px 20px;
}

.menu__list {
	// display: flex;
	// justify-content: center;
	padding-top: 10px;
	margin-bottom: 10px;
}

.menu__item {	
	padding: 0 10px;
	line-height: 0;
	text-align: center;
	a {
		display: inline-block;
		padding: 15px 20px;
		font-size: 20px;
		// font-size: 24px;
		line-height: 100%;
		color: @dark;
		// color: @white;
		cursor: pointer;
		// cursor: url('../img/cursor.svg'), pointer;		
		&:hover,
		&:focus {
			color: @grey;
		}
		&:active {
			color: @orange-juice;
		}
	}	
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.menu {
		width: 60%;
		margin-left: auto;
	}
}

@media (min-width: @desktop-width) {
	.menu {
		width: 40%;		
	}
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-1600-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}