.presentation {
	margin-bottom: 50px;
}

.presentation__title {
	position: relative;
	margin-bottom: 20px;
	span {
		display: inline-block;
	}
	br {
		display: none;
	}
	.video-camera {
		display: inline-block;
		position: absolute;
		bottom: 1px;
		width: 30px;
		height: 30px;
		margin-left: 10px;
		background-image: url('../img/video-camera.webp');
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.presentation__video {
	position: relative;
	line-height: 0;
	border-radius: 20px;
	overflow: hidden;
	.play {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 0;
		transform: translate(-50%, -50%);
		background-color: transparent;
		border: none;
		opacity: 0.7;
		transition: @animation;
		svg {
			position: relative;
			top: 9px;
			left: -4px;			
			width: 35px;
			height: 41px;
			transform: rotate(120deg);
		}
		&--hide {
			display: none;
		}
	}
	video {
		width: 100%;
	}
	&:hover,
	&:focus {
		.play {
			opacity: 1;
		}
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.presentation__title {
		.video-camera {
			width: 40px;
			height: 40px;
		}
	}
}

@media (min-width: @desktop-width) {
	.presentation {
		margin-bottom: 70px;
	}

	.presentation__wrapper {
		width: 750px;
	}

	.presentation__title {
		margin-bottom: 30px;
		br {
			display: inline;
		}
	}

	.presentation__video {
		border-radius: 20px;
		.play {
			svg {
				width: 50px;
				height: 59px;
			}
		}
	}
}

@media (min-width: @desktop-1200-width) {
	.presentation {
		margin-bottom: 120px;
	}

	.presentation__wrapper {
		width: 1000px;
	}
}

@media (min-width: @desktop-1600-width) {
	.presentation__wrapper {
		width: 1320px;
	}

	.presentation__title {
		margin-bottom: 40px;
		.video-camera {
			width: 60px;
			height: 60px;
		}
	}

	.presentation__video {		
		height: 540px;
		border-radius: 40px;
		.play {
			svg {
				width: 50px;
				height: 59px;
			}
		}
	}
}

@media (min-width: @desktop-full-width) {
	.presentation__title {
		.video-camera {
			width: 72px;
			height: 72px;
			margin-left: 25px;
		}
	}
}

&:hover,
&:focus {
	
}