.price {
	margin-bottom: 30px;
}

.price__title {
	margin-bottom: 20px;
}

.price__desc {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: @grey;	
}

.price__item {
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 20px;
	background-color: @bg-block;
	transition: @animation;
	.tarif {
		position: absolute;
		padding: 10px 20px;
		font-size: 20px;
		line-height: 0.85;
		font-weight: 400;		
		border-radius: 10px;
		border: 1px solid @dark;
		background-color: rgba(255,255,255,.1);
		svg {
			position: absolute;
			top: -4px;
			right: -70px;
			width: 45px;
			height: 46px;
			fill: @dark;
		}
	}
	.title {
		margin-bottom: 15px;
		padding-top: 60px;
		font-family: @ff-m;
		font-size: 22px;
		line-height: 28px;
		letter-spacing: 0;
		span {
			color: transparent;    
			-webkit-background-clip: text;
			background-clip: text;
			background-image: linear-gradient(90deg, #FF6600 0%, #F26659 27.4%, #F06177 37.4%, #E65D97 48.4%, #CA46D2 71.4%, #8D13F9 100%);
		}
	}
	.desc {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 22px;
		color: @grey;
	}
	.list {
		margin-bottom: 30px;
		li {
			position: relative;
			margin-bottom: 10px;
			padding-left: 28px;
			font-size: 16px;
			line-height: 22px;
			&.important {
				font-weight: bold;
			}
			&:before {
				position: absolute;
				top: 5px;
				left: -2px;
				content: '';
				width: 18px;
				height: 13px;
				background-image: url('../img/marker.svg');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
	.buy {
		width: 100%;
		padding: 16px 30px;
		font-size: 16px;
	}
	&:hover,
	&:focus {
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);		
	}	
}

.price__item--active {
	background-color: @dark;
	.tarif {
		color: @white;
		border: 1px solid @white;
		svg {
			fill: @white;
		}
	}
	.title {
		color: @white;
	}
	.list {
		li {
			color: @white;
			&:before {
				background-image: url('../img/marker-white.svg');
			}
		}	
	}
}

@media (min-width: 400px) {
	.price__item {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.price {
		margin-bottom: 50px;
	}

	.price__item {
		width: 70%;		
	}
}

@media (min-width: @desktop-width) {
	.price {
		margin-bottom: 70px;
	}	

	.price__desc {
		margin-bottom: 40px;
		padding: 0 150px;		
		font-size: 20px;
		line-height: 26px;
	}

	.price__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.price__item {
		display: flex;
		flex-direction: column;
		width: 420px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;		
		padding: 40px;
		border-radius: 20px;
		.tarif {			
			padding: 12px 20px;
			font-size: 24px;
			border-radius: 13px;
			svg {
				top: -10px;
				right: -75px;
			}
		}
		.title {			
			margin-bottom: 20px;
			padding-top: 75px;
			font-size: 28px;
			line-height: 34px;
		}
		.desc {
			margin-bottom: 30px;
			font-size: 18px;
			line-height: 24px;
		}
		.list {
			li {			
				margin-bottom: 15px;
				padding-left: 28px;
				font-size: 18px;
				line-height: 24px;				
			}
		}
		.buy {			
			width: auto;		
			margin-top: auto;			
			padding: 24px 60px;			
			font-size: 24px;
		}
	}	
}

@media (min-width: @desktop-1200-width) {
	.price {
		margin-bottom: 110px;
	}
}

@media (min-width: @desktop-1600-width) {
	.price__desc {		
		margin-bottom: 60px;		
		padding: 0 350px;
		font-size: 24px;
		line-height: 30px;
	}	

	.price__item {
		width: 460px;
		margin-bottom: 0;
		border-radius: 30px;
		.tarif {			
			padding: 15px 20px;			
			font-size: 28px;
			border-radius: 20px;			
			svg {
				top: 0;
				right: -77px;
				width: 56px;
				height: 57px;
			}
		}
		.title {			
			padding-top: 90px;
			font-size: 36px;
			line-height: 42px;
		}
		.desc {		
			width: 80%;
			font-size: 22px;
			line-height: 28px;			
		}
		.list {
			li {
				margin-bottom: 20px;
				padding-left: 40px;				
				font-size: 24px;
				line-height: 30px;
				&:before {					
					width: 28px;
					height: 21px;
				}
			}
		}		
	}	
}

@media (min-width: @desktop-full-width) {
	.price__desc {
		font-size: 32px;
		line-height: 38px;
	}	

	.price__list {
		justify-content: space-between;
	}

	.price__item {
		margin: 0;
		width: 580px;
		.tarif {
			font-size: 32px;
		}		
		.desc {
			font-size: 24px;
		}
		.list {
			margin-bottom: 15px;
		}		
	}
}

&:hover,
&:focus {
	
}