.promo {
	position: relative;	
	background-color: @bg-block;
	border-radius: 0 0 20px 20px;
	// border-radius: 0 0 40px 40px;
	overflow-x: hidden;

	margin-bottom: 100px;
}

.promo__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
	// padding-top: 60px;
	padding-bottom: 30px;
}

.promo__text {
	// order: 1;
	width: 800px;
	padding-top: 0px;	
	// padding-top: 55px;
	padding-bottom: 30px;
	// padding-bottom: 50px;
}

.promo__title {
	margin-bottom: 20px;
	// margin-bottom: 40px;
	font-family: @ff-m;
	font-size: 30px;
	line-height: 30px;
	// font-size: 80px;
	// line-height: 80px;
	letter-spacing: normal;
	text-align: center;
	// text-align: left;
	span {
		display: block;
		color: @orange-juice;	
	}	
}

.promo__desc {
	position: relative;
	// width: 525px;
	margin-bottom: 20px;
	// margin-bottom: 40px;
	font-size: 18px;
	line-height: 24px;
	// font-size: 32px;
	// line-height: 38px;
	.money-mouth-face {
		display: inline-block;
		position: relative;		
		// position: absolute;
		top: 5px;
		// top: 2px;
		// right: -90px;		
		width: 20px;
		height: 20px;
		// width: 72px;
		// height: 72px;
		margin-left: 5px;
		// margin-left: 0;
		background-image: url('../img/money-mouth-face.webp');
		background-repeat: no-repeat;
		background-size: contain;
	}
	/*&:after {
		position: absolute;
		top: 2px;
		right: 0;
		// right: -90px;
		content: '';
		width: 20px;
		height: 20px;
		// width: 72px;
		// height: 72px;
		background-image: url('../img/money-mouth-face.webp');
		background-repeat: no-repeat;
		background-size: contain;
	}*/
}

.promo__button {
	width: 100%;
	padding: 15px 20px;
	// padding: 24px 60px;
	font-size: 18px;
	// font-size: 24px;
}

.promo__img {
	// order: 2;
	position: relative;
	display: inline-block;
	// width: 791px;
	// margin-right: 60px;
	margin-bottom: 30px;
	// margin-bottom: 60px;
	.promo__img-svg {
		width: 100%;
		height: auto;
	}
	.promo__star-first,
	.promo__star-second {
		position: absolute;
		bottom: 25px;
		// bottom: 78px;
		left: -30px;
		width: 40px;
		height: 40px;
		// width: 60px;
		// height: 60px;
		transform: rotate(-8deg);
	}
	.promo__star-second {	
		bottom: auto;
		left: auto;
		top: 20px;
		// top: 107px;
		right: -29px;
		transform: rotate(-15deg);		
	}
}

.promo__list {
	// order: 3;
	// display: flex;
	// justify-content: space-between;
	// width: 100%;
}


.promo__item {
	display: flex;
	justify-content: center;
	align-items: center;
	// width: 280px;
	min-height: 50px;
	// height: 88px;
	margin-bottom: 10px;
	padding: 5px 10px;
	font-size: 16px;
	// font-size: 20px;
	text-align: center;
	color: @grey;

	border-radius: 20px;
	// border-radius: 40px 40px 0 0;
		
	background-color: @white;

	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	// box-shadow: none;
	&:last-child {
		margin-bottom: 0;
	}
}



@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-1600-width) {

}

@media (min-width: @desktop-full-width) {
	.promo {
		position: relative;	
		background-color: @bg-block;
		border-radius: 0 0 40px 40px;
		overflow-y: hidden;

		margin-bottom: 100px;
	}

	.promo__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 60px;
	}

	.promo__text {
		order: 1;
		width: 800px;
		padding-top: 55px;
		padding-bottom: 50px;
	}

	.promo__title {
		margin-bottom: 40px;
		font-family: @ff-m;
		font-size: 80px;
		line-height: 80px;
		letter-spacing: normal;
		span {
			display: block;
			color: @orange-juice;	
		}	
	}

	.promo__desc {
		position: relative;
		width: 525px;
		margin-bottom: 40px;
		font-size: 32px;
		line-height: 38px;
		&:after {
			position: absolute;
			top: 2px;
			right: -90px;
			content: '';
			width: 72px;
			height: 72px;
			background-image: url('../img/money-mouth-face.webp');
			background-repeat: no-repeat;
		}
	}

	.promo__button {
		width: 100%;
		padding: 24px 60px;
	}

	.promo__img {
		order: 2;
		position: relative;
		display: inline-block;
		width: 791px;
		margin-right: 60px;
		margin-bottom: 60px;
		.promo__img-svg {
			width: 100%;
			height: auto;
		}
		.promo__star-first,
		.promo__star-second {
			position: absolute;
			bottom: 78px;
			left: -30px;
			transform: rotate(-8deg);
		}
		.promo__star-second {	
			bottom: auto;
			left: auto;
			top: 107px;
			right: -29px;
			transform: rotate(-15deg);		
		}
	}

	.promo__list {
		display: flex;
		justify-content: space-between;
		order: 3;
		width: 100%;
	}


	.promo__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 280px;
		height: 88px;
		font-size: 20px;
		text-align: center;
		color: @grey;
		border-radius: 40px 40px 0 0;
		background-color: @white;
	}
}

&:hover,
&:focus {
	
}