.promo {
	position: relative;
	overflow-y: hidden;
}

.promo__text {
	width: 800px;
	padding-top: 115px;
	padding-bottom: 50px;
}

.promo__title {
	margin-bottom: 40px;
	font-family: @ff-m;
	font-size: 80px;
	line-height: 80px;
	letter-spacing: normal;
	span {
		display: block;
		color: @orange-juice;	
	}	
}

.promo__desc {
	position: relative;
	width: 525px;
	margin-bottom: 40px;
	font-size: 32px;
	line-height: 38px;
	&:after {
		position: absolute;
		top: 2px;
		right: -90px;
		content: '';
		width: 72px;
		height: 72px;
		background-image: url('../img/money-mouth-face.webp');
		background-repeat: no-repeat;
	}
}

.promo__button {
	width: 100%;
	padding: 24px 60px;
}




@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-1600-width) {

}

@media (min-width: @desktop-full-width) {

}

&:hover,
&:focus {
	
}