.techno {
	margin-bottom: 50px;
}

.techno__content {
	margin-bottom: 30px;
}

.techno__title {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	text-align: left;
	span {
		position: relative;
	}
	.smiling-face {
		display: inline-block;
		position: relative;
		top: 3px;
		width: 20px;
		height: 20px;
		margin-left: 5px;
		background-image: url('../img/smiling-face.webp');
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.techno__text {
	p {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 22px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.techno__img {
	position: relative;	
	picture {
		img {
			border-radius: 20px;
		}		
	}
}

.techno__star-first,
.techno__star-second {
	position: absolute;
	top: -22px;		
	left: -28px;
	width: 40px;
	height: 40px;
	transform: rotate(-8deg);
}
.techno__star-second {	
	bottom: -28px;
	left: auto;
	top: auto;
	right: 24px;
	width: 40px;
	height: 40px;
	transform: rotate(-165deg);
}



@media (min-width: 400px) {
	.techno__wrapper {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: @mobile-width) {
	.techno__title {
		.smiling-face {
			top: 5px;
			width: 30px;
			height: 30px;
			margin-left: 7px;
		}
	}	

	.techno__star-first,
	.techno__star-second {		
		top: -30px;		
		left: -42px;
		width: 50px;
		height: 50px;
	}
	.techno__star-second {	
		bottom: -35px;
		left: auto;
		top: auto;
		right: 24px;
		width: 50px;
		height: 50px;
	}
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.techno__wrapper {
		width: 70%;		
	}

	.techno__title {
		.smiling-face {
			top: 5px;
			width: 30px;
			height: 30px;
			margin-left: 7px;
		}
	}

	.techno__star-first,
	.techno__star-second {		
		top: -38px;		
		left: -55px;
		width: 60px;
		height: 60px;
	}
	.techno__star-second {	
		bottom: -43px;
		left: auto;
		top: auto;
		right: 10px;
		width: 60px;
		height: 60px;
	}
}

@media (min-width: @desktop-width) {
	.techno {
		margin-bottom: 70px;
	}

	.techno__content {
		margin-bottom: 40px;
	}

	.techno__title {
		margin-bottom: 30px;
		.smiling-face {			
			position: absolute;
			top: -3px;
			right: -65px;
			width: 50px;
			height: 50px;
			margin-left: 0;
		}
	}

	.techno__text {
		p {			
			margin-bottom: 15px;
			font-size: 18px;
			line-height: 24px;
		}
	}

	.techno__img {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.techno__star-first,
	.techno__star-second {		
		top: -32px;		
		left: -60px;
	}
	.techno__star-second {	
		bottom: -50px;
		left: auto;
		top: auto;
		right: -55px;
		width: 60px;
		height: 60px;
	}
}

@media (min-width: @desktop-1200-width) {
	.techno {
		margin-bottom: 160px;
	}	

	.techno__wrapper {
		width: 55%;
		margin-left: auto;
		margin-right: auto;		
	}
}

@media (min-width: @desktop-1600-width) {
	.techno__wrapper {
		display: flex;
		justify-content: center;
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}

	.techno__content {
		order: 2;
		width: 45%;
		margin-bottom: 0;
	}

	.techno__title {		
		margin-bottom: 40px;				
		.smiling-face {
			top: -8px;			
			right: -84px;			
			width: 60px;
			height: 60px;
		}
	}

	.techno__text {
		p {
			font-size: 22px;
			line-height: 29px;
		}
	}

	.techno__img {
		order: 1;		
		width: 40%;
		margin-left: 0;
		margin-right: 0;
		margin-right: 40px;
		picture {
			img {				
				border-radius: 40px;
			}		
		}
	}

	.techno__star-first,
	.techno__star-second {
		top: 15px;		
		left: -76px;		
		width: 72px;
		height: 72px;
	}
	.techno__star-second {
		bottom: -64px;
		left: auto;
		top: auto;
		right: -55px;
		width: 60px;
		height: 60px;
	}
}

@media (min-width: @desktop-full-width) {
	.techno__content {
		width: 735px;
	}	

	.techno__text {
		p {
			margin-bottom: 20px;
			font-size: 24px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.techno__img {
		width: 677px;
		height: 442px;
		margin-right: 60px;
		margin-left: 20px;
	}

	.techno__star-second {
		right: 24px;
	}
}

&:hover,
&:focus {
	
}