.header-page {
	background-color: #480028;

}

.header__logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	svg {
		width: 120px;
		height: 70px;
		margin-bottom: 10px;
		fill: #ffffff;
	}
}

.header__logo-name {
	position: relative;
	margin-bottom: 5px;
	font-size: 18px;
	&::after {
		content: '';
		position: absolute;
		bottom: -5px;
		left: 15px;
		right: 15px;
		// width: 50px;
		height: 1px;

		background-color: #ffffff;

	}
}

.header__logo-slogan {
	font-style: italic;
	opacity: 0.5;
}


@media (min-width: @desktop-full-width) {

}


