.search {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	position: absolute;
	
	// left: 0;
	// top: -20px;


	left: 500%;
	bottom: 0;
	width: 100%;	
	// height: 100%;	
	padding-bottom: 11px;

	transition: all .5s ease-out .6s;
	// transition: left .25s ease-in-out .6s,
	//  			opacity .25s ease-in-out .6s;
	// transform: translate3d(100%,0,0);
	
	visibility: hidden;
	opacity: 0;
	// transform: matrix(1, 0, 0, 1, 717, 0);

	// transition: transform .25s ease-in-out .6s,
	// 			opacity .25s ease-in-out .6s;
}

.search__icon {
	display: block;
	width: 19px;
	height: 19px;
	margin-bottom: 1px;
}

.search__input {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0 86px 0 16px;	
	font-family: @ff-vag;
	font-size: 16px;	
	background: transparent;
	border: 0;
	outline: 0;	

	overflow: visible;
}

.header-page--light {
	.search {
		visibility: visible;
		opacity: 1;
		// transform: translate3d(0px, 0px, 0.1px);
		left: 0;
	}
}

.header-page--dark {
	.search {
		// visibility: visible;
		// opacity: 1;
		visibility: hidden;
		opacity: 0;
		// left: -100px;
		left: 500%;
		// transform: matrix(1, 0, 0, 1, 717, 0);
		// transition: transform .25s ease-in-out .6s,
		// 			opacity .25s ease-in-out .6s;

		// transition: left 5s ease-in-out .6s,
	 // 			opacity 5s ease-in-out .6s;
	 	transition: all .5s ease-out;
	}
}


@media (min-width: @desktop-full-width) {
	
}


