html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.96em;
}
@font-face {
  font-family: Lobster; 
  src: 
  url(../fonts/lobster.eot?#iefix) format('embedded-opentype'),
  url(../fonts/lobster.ttf) format('truetype'), 
  url(../fonts/lobster.svg) format('svg'),
  url(../fonts/lobster.woff) format('woff');  
} 
@font-face {
  font-family: PT Sans;   
  src: 
  url(../fonts/PTS55F_W.eot?#iefix) format('embedded-opentype'),
  url(../fonts/PTS55F_W.ttf) format('truetype'),
  url(../fonts/PTS55F_W.woff) format('woff'),   
  url(../fonts/PTS55F_W.svg) format('svg');
}
@font-face {
  font-family: Droid Sans Mono; 
  src: 
  url(../fonts/DroidSansMono.eot?#iefix) format('embedded-opentype'),
  url(../fonts/DroidSansMono.ttf) format('truetype'), 
  url(../fonts/DroidSansMono.svg) format('svg'),
  url(../fonts/DroidSansMono.woff) format('woff');  
}
code.text {
display: block;
background: rgb(248, 247, 247);
padding: 0.5em;
margin: 0.5em;
color: #333333;
overflow-x: auto;
overflow-wrap: normal; 
word-wrap: normal;
}
code {
  overflow-wrap: normal; 
  word-wrap: normal;
  font-weight: normal !important;
  font-size: 0.9em;
  line-height: 1.4 !important;
  font-family: 'Droid Sans Mono', monospace;
}
.main {
  max-width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top-bar .name h1 a {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}

.sub-top-bar:after {
   content: "";
   display: block;
   height: 0.3em;
  background: linear-gradient(90deg,
    #008cba 20%, #008cba 40%,
    #DB9E36 40%, #DB9E36 80%,
    #BD4932 80%
    );
    background-size: 10em 0.3em;
  background-color: white;   
}
.header {
  margin-top: 0.5em;
}
.info {
  font-size: 0.9em;
  clear: both;
}
#comment_count {
  font-size: 0.7em;
}

.container {
  padding-bottom: 5em;
}

/* Clearfix for modern browsers */
.container:before,
.container:after {
   content: "";
   display: table;
}
.container:after {
   clear: both;
}

/* Clearfix for IE6-7 */
.container {
   zoom: 1;
}

.content {
  font-size: 1.2em;
  line-height: 1.4;
  font-family: 'PT Sans', Helvetica, Arial, Tahoma, sans-serif;     
}
.content-global {
  overflow-wrap: break-word; 
  word-wrap: break-word;
  padding : 1em 1em 1em 1em;
  font-size: 1.2em;
  line-height: 1.4;
  font-family: 'PT Sans', Helvetica, Arial, Tahoma, sans-serif;     
}

.text {
  clear: both;
  padding : 0.5em 0.5em 0.5em 0.5em;
}
.th {
  margin: 0.5em;
}
.sidebar {
    padding: 1em 1em 1em 1em;
    background-color: #fafafa;
}

.footer {
  flex-shrink: 0;
  width:100%;
  text-align: center;
  padding-top: 0.8em;
  padding-bottom: 0.8em;  
  background-color: #f4f4f4;
  border-top: solid 1px #E7E7E7;
}
.pager li, .pagination ul li {
  display: inline;
  padding: 10px;
}
.replies-list-margin {
  margin-left: 1em;
}
.comment-body {
  white-space: pre-wrap;
}
.comment-body p {
  margin: 0;
  padding: 0;
}

.comment-body ul {
  list-style: disc !important;
}
.comment-body ul, li {
  list-style-position: inside !important;
}
.comments ul, .lines {
  list-style: none;
  font-size: inherit;
}
.comment-reply-link {
  display: none !important;
}

.comment-reply-form {
  padding-top: 0 !important;
}
span.notApproved a {
  color: #BD4932;
  border-bottom: 1px dotted grey;
}
span.notApproved:before {
   content: "\f0e7";
   font: normal normal normal 14px/1 FontAwesome;
   font-size: 0.9em;
   color: #DB9E36;
   margin: 0.3em;
}
ul.lines > li {
  font-size: 0.95em;
  display: block;
  position: relative;
  line-height: 1;
  padding: 0.3rem 0rem;
}
ul.materials > li+li {
  border-top: 1px solid #DDDDDD;
}
li.nav-items span.secondary {
  margin-top: -0.75em;
  border: none;
  padding-right: 0;
  padding-left: 0;
}
ul.lines > li.nav-items > a {
  max-width: 72%;
  display: block;
}
li.articles > i {
  position: absolute;
  padding-left: 0.2em;
  color: grey;
}
ul.lines > li > span {
  font-size: 0.9em;
  position: absolute;
  right: 0rem;
  top: 50%;
  margin-top: -0.75rem;
}

li.plate {
    border-top: 1px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    -moz-border-image: -moz-linear-gradient(90deg,
    #008cba 20%, #008cba 40%,
    #DB9E36 40%, #DB9E36 80%,
    #BD4932 80%) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(90deg,
    #008cba 20%, #008cba 40%,
    #DB9E36 40%, #DB9E36 80%,
    #BD4932 80%) 1 100%;
    border-image: linear-gradient(90deg,
    #008cba 20%, #008cba 40%,
    #DB9E36 40%, #DB9E36 80%,
    #BD4932 80%) 1 100%;
    border-image-slice: 1;
}

li.plate > a {
  font-size: 1.3rem !important;
  font-family: 'PT Sans', Helvetica, Arial, Tahoma, sans-serif !important;
  background-color: #f4f4f4 !important;
  border-bottom: solid 1px #E7E7E7;
  padding: 1.1rem 2rem 1.1rem 1rem !important;
  display: block;
  position: relative;
  line-height: 1;
}

li.plate > a:hover {
  background-color: #f1f1f1 !important;
}

li.plate > a:before {
    content: "\f067";
    font: normal normal normal 14px/1 FontAwesome;
    color: #BD4932;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -0.45rem;
}
li.plate.active > a:before {
    content: "\f068";
    color: #DB9E36;
}

.tags {
    font-size: 100% !important;
    display: block;
    overflow: hidden;
    margin-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.tag-icon {
  color: #DB9E36;
  padding: 0 0.2em;
}
.tagcloud {

}
.tagcloud .has-tip {
  font-weight: normal;
}
.tagcloud .smallest {
    font-size: 0.6em;
}
.tagcloud .small {
    font-size: 0.8em;
}
.tagcloud .medium {
    font-size:1.0em;
}
.tagcloud .large {
    font-size:1.2em;
}
.tagcloud .largest {
    font-size:1.4em;
}
img.image {
  width: auto;
  height: auto;
  margin: 0.5em;
  border: solid 4px white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 200ms ease-out;
}
img.image:hover {
  box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5);
}
a:hover {
background: rgba(0, 0, 0, 0.025);
}
a.partActive {
  color: #BD4932;
}
article ul, ol {
	font-size: inherit; 
	line-height: inherit;
    margin-left: 3em;
}
ul li ul, ul li ol {
margin-left: inherit;
margin-bottom: 0;
}
p {
  font-size: inherit;
}
select {
    height: auto;
}
#toTop {
cursor: pointer;
display: none;
position: fixed;
bottom: 5.5em;
right: 0;

opacity: 0.4;
}
div#intro {
  font-size: 1.1rem;
  font-style: italic;
}
::selection {background: #00a8de; color: #fff;}
::-moz-selection {background: #00a8de; color: #fff}

@media only screen and (min-width: 90.063em) {
  .large-4 {
    width: 25%;
  }
  .large-8 {
    width: 75%;
  }  
}

@media screen and (max-width: 410px) {
	li.nav-items span.secondary {
	  font-size: 3.5vw;
	}
}

.label.secondary {
	background-color: white;
	border: 1px solid #DDDDDD;
	margin: 0 0.1em 0.4em 0.1em;
	color: #333333;
}

/* Clearfix for modern browsers */
.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
   clear: both;
}

/* Clearfix for IE6-7 */
.clearfix {
   zoom: 1;
}

#newsletter {
  text-align: center;
  padding-bottom: 0;
}

.hljs-ln-code {
    padding-left: 5px !important;
}
td.hljs-ln-numbers {
  background: rgb(248, 247, 247);
  text-align: right;
  border-right: 1px solid #e8e8e7;
  color: #999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 10px !important;
}

table.hljs-ln {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: inherit;
    vertical-align: baseline;
    background: transparent;
}

td.hljs-ln-code {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: inherit;
    vertical-align: baseline;
    background: rgb(248, 247, 247);
    line-height: 1.4 !important;
}

.mainarea {
  flex: auto;
}

.center {
  display: block; margin-left: auto; margin-right: auto;
}




