.advantages {
	margin-bottom: 100px;
	padding-top: 50px;
	padding-bottom: 40px;
	background-color: #f9f9f9;
}

.advantages__title {
	margin-bottom: 45px;
	// font-size: 30px;
	// line-height: 40px;
}

.advantages__item {
	position: relative;
	margin-bottom: 20px;
	padding: 20px 20px 10px 90px;
	color: #000000;
	background-color: #ffffff;
	box-sizing: border-box;
	svg {
		position: absolute;
		top: 20px;
		left: 20px;		
		fill: #000000;
	}	
}

.advantages__item-title {
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 600;
}

.advantages__item-text {
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	span {
		display: block;
		margin-top: 15px;
		font-size: 12px;
		line-height: 17px;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {
	.advantages__title {
		text-align: center;
	}

	.advantages__list {
		display: flex;
		justify-content: center;
		// justify-content: space-between;
		flex-wrap: wrap;
	}

	.advantages__item {
		width: 45%;
		margin-bottom: 30px;
		&:nth-child(n) {
			margin-right: 30px;
		}
	}
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-full-width) {
	.advantages__title {
		text-align: left;
	}


	.advantages__list {
		justify-content: space-between;
	}

	.advantages__item {
		width: 353px;
		&:nth-child(n) {
			margin-right: 0;
		}		
	}	
}
