.arrow {
	
}

.arrow__prev,
.arrow__next {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 43px;
	height: 43px;
	margin-bottom: 0;
	background-color: transparent;
	border: 2px solid @blue;
	border-radius: 50%;
	cursor: pointer;
	transition: @animation;	
	opacity: 0.6;
	&:hover,
	&:focus {	
		opacity: 1;
	}
}

.arrow__next {
	transform: rotate(180deg);
}

@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-full-width) {

}
