/*--- Open Sans ---*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*--- Geometria ---*/
@font-face {
    font-family: 'Geometria';    
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Geometria Bold'), 
    	url('../fonts/Geometria/Geometria-Bold.woff2') format('woff2'), 
    	url('../fonts/Geometria/Geometria-Bold.woff') format('woff'), 
    	url('../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Geometria';    
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: local('Geometria Bold Italic'), 
    	url('../fonts/Geometria/Geometria-BoldItalic.woff2') format('woff2'), 
    	url('../fonts/Geometria/Geometria-BoldItalic.woff') format('woff'), 
    	url('../fonts/Geometria/Geometria-BoldItalic.ttf') format('truetype');
}