.form {	
	font-family: @ff;
	background-color: transparent;	
	// background-color: #ffffff;	
	box-sizing: border-box;
}

.form__item {
	position: relative;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}

.form__input {
	width: 100%;
	height: 40px;
	margin: 0;	
	padding: 5px 10px 5px 20px;
	font-family: @ff;
	font-size: 14px;
	line-height: 25px;
	color: #8c8c8c;
	border: 1px solid #dedede;
	background-color: transparent;
	box-sizing: border-box;
	transition: @animation;
	&:hover,
	&:focus {
		border: 1px solid @blue;
	}	
}

.form__submit {
	width: 100%;
	height: 45px;
}


@media (min-width: @mobile-width) {	

	
}

@media (min-width: @tablet-width) {
	.form__checkbox-item {
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 17px;
	}

	.form__checkbox-text {	
		padding-left: 40px;
	}
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-width) {
	
}