.menu {
	position: relative;	
	padding: 0;
	padding: 30px 15px 20px 15px;
	list-style-type: none;	
}

.menu__item {
	
	a {
		position: relative;
		display: block;
		margin-bottom: 10px;
		// padding: 12px 20px;
		font-size: 30px;
		line-height: 41px;
		font-weight: 700;
		text-decoration: none;
		color: #ffffff;
		transition: all .2s ease-out;
		&:hover,
		&:focus {
			color: rgba(255,255,255,.5);
		}
		&:focus {
			box-shadow: none;
		}
	}	
}

@media (min-width: @mobile-width) {
	.menu__item {
		a {
			text-align: right;
		}
	}
}

@media (min-width: @tablet-width) {
	.menu {
		width: 50%;
		right: 0;
		margin-left: auto;
		background-color: red;
	}
}

@media (min-width: @desktop-width) {
	.menu {
		width: auto;
		margin-left: -20px;
	}

	.menu__list {
		display: flex;
		background-color: transparent;
	}

	.menu__item {
		border-bottom: none;
		&:hover {
			& > .menu__dropdown {
				top: 60px; 
				opacity: 1;
				visibility: visible;
			}
		}
		a {			
			position: relative;
			display: block;
			padding: 5px 20px;
			font-size: 14px;
			line-height: 21px;
			font-weight: 600;
			text-align: center;
			background-color: transparent;
			color: #8c8c8c;			
			&:hover,
			&:focus {
				color: @blue;				
			}
		}
	}

	.menu__item--active {
		a {			
			color: #480028;
			&::before {
				content: '';
			}
		}	
	}

	.menu__item--dropdown {		
		padding-right: 40px !important;
		&::after {				
			top: 27px;
			left: auto;
			right: 17px;				
			border-right: 1px solid #7a7a7a;
			border-bottom: 1px solid #7a7a7a;
		}		
		&:hover {			
			// & + .menu__dropdown {
			// 	top: 60px; 
			// 	opacity: 1;
			// 	visibility: visible;
			// }
		}
	}

	.menu__dropdown {
		position: absolute;		
		top: 150%;
		/*left: 20px;*/
		/*right: 0;*/
		min-width: 150px;
		padding-top: 20px;
		margin-left: 20px;
		opacity: 0;
		visibility: hidden;
		/*box-shadow: 1px 1px 10px #000;*/
		transition: all 0.2s ease-out;
		li {
			a {
				text-align: left;
				padding: 10px 20px;
				background-color: #f7f7f7;
				&:hover,
				&:focus {				
					&::before {
						content: none;
					}
				}
			}
		}
	}

}

@media (min-width: @desktop-full-width) {
	.menu__dropdown {
		padding-top: 0;		
	}
}