.modal-contact {
  // position: absolute;
  // top: 0;


  display: none;
  width: 290px;  
  padding: 40px 20px 35px 20px;
  top: 10%;
  left: 50%;
  margin-left: -145px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;  
  z-index: 100;
  .form__input--textarea {
    height: auto;
  }

  .form__item {
    margin-bottom: 20px;    
  }

  .form__item--last {
    margin-bottom: 30px;
  }
}

.modal-contact__close {
	position: absolute;
	top: 18px;
	right: 17px;	
	width: 25px;
	height: 25px;
	font-size: 0;		
	box-sizing: border-box;
  border: none;	  
	cursor: pointer;
	opacity: 0.7;
	transition: all 0.2s ease;
}
.modal-contact__close::before,
.modal-contact__close::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 2px;
  width: 21px;
  height: 3px;
  background-color: @color;
}
.modal-contact__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-contact__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-contact__close:hover {
  opacity: 1;
}

.modal__desc {
  margin-bottom: 20px;
} 

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.overlay-show {
  display: block;
}
.modal-show {
  display: block;
  // position: fixed;
  position: absolute;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.modal-hide {
  display: block;
  position: fixed;
  -webkit-animation-name: bounceOut;
          animation-name: bounceOut;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2000%);
            transform: translateY(2000%);
  }
}
@keyframes bounceOut {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2000%);
            transform: translateY(2000%);
  }
}

@media (min-width: @mobile-width) {
  .modal-contact {
    width: 400px;
    margin-left: -200px;
    padding: 30px;
  }

  .modal-contact__close {
    display: block;
  }  
}


@media (min-width: @tablet-width) {
  .modal-contact {
    width: 500px;
    margin-left: -250px;
  }
}

@media (min-width: @desktop-full-width) {
  .modal-contact {
    // top: 94px;

    width: 610px;
    margin-left: -305px;
    padding: 30px 40px 35px 40px;
    .form {
      padding-right: 65px;
    }

    .form__submit {
      width: 63%;
    }
  }

  .modal__title {
    padding-right: 70px;
  }

  .modal__desc {
    margin-bottom: 15px;
  }

  .modal-contact__close {
    top: 45px;
    right: 25px;
  }
}