.page {
	
}

.page__title {
	padding: 20px 15px;
	font-size: 24px;
	line-height: 35px;
	font-weight: 700;
	text-align: center;
	color: @blue;
}

.page__content {
	padding: 20px 15px;
}

.page__error {
	padding: 20px 15px;
}


@media (min-width: @mobile-width) {
		
}

@media (min-width: @tablet-width) {
	.page__title {
		font-size: 32px;
		line-height: 44px;
		text-align: left;
	}
}

@media (min-width: @1200-width) {
	.page__title {
		padding: 50px 20px;		
		font-size: 50px;
		line-height: 65px;
	}	
}