.phone {
	
}

.phone__number {
	font-size: 30px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	&:hover,
	&:focus {
		color: rgba(255,255,255,.7);
	}
}


@media (min-width: @mobile-width) {
		
}

@media (min-width: @tablet-width) {
	.phone__number {
		font-size: 14px;
		line-height: 21px;
		font-weight: 600;
		color: @color;
		&:hover,
		&:focus {
			color: darken(@blue, 7%);
		}
	}
}

@media (min-width: @desktop-width) {
	
}