.slick-dots {
	bottom: -60px;
	li {
		margin: 0 15px;
		width: 4px;
		height: 4px;
		button {
			width: 4px;
			height: 4px;
			padding: 0;
			&::before {
				font-size: 4px;
				line-height: 0;
				width:auto;
				height: 4px;
				content: '•';
				text-align: center;
				opacity: .25;
			}
		}
		&.slick-active {
			button {
				&::before {
					top: 0;
					left: -2px;
					font-size: 8px;
					color: @blue !important;
				}
			}
		}
	}	
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: green;
}

.slick-track {
	padding-top: 20px;
	padding-bottom: 60px;
	transition: none; // cancel jerky rewind
}

.slick-slide {
	margin-right: 65px;
	& > div {
		// background-color: red;
		text-align: center;
	}
}

.partners__list {
	.slick-track {
		display: flex;
		align-items: flex-end;
		padding-bottom: 0;
	}

	.slick-slide {
		margin-right: 65px;
	}
}

.reviews__list {
	.slick-track {
		display: flex; /*!Обязательно -- чтобы слайды были одинаковой высоты */
		padding-bottom: 140px;
	}

	.slick-slide {
		display: flex; /*!Обязательно -- чтобы слайды были одинаковой высоты */
  		height: auto; /*!Обязательно -- чтобы слайды были одинаковой высоты */
		margin-right: 25px;
		.reviews__item {
			display: flex !important;
		}
	}


}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	.partners__list {		
		.slick-slide {
			margin-right: 100px;
		}
	}
}

@media (min-width: @desktop-full-width) {
	.slick-slide {
		margin-right: 30px;
	}

	.reviews__list {
		.slick-track {
			padding-bottom: 45px;
		}
	}
}
