/*.slick-dots {
	bottom: -60px;
	li {
		margin: 0 15px;
		width: 4px;
		height: 4px;
		button {
			width: 4px;
			height: 4px;
			padding: 0;
			&::before {
				font-size: 4px;
				line-height: 0;
				width:auto;
				height: 4px;
				content: '•';
				text-align: center;
				opacity: .25;
			}
		}
		&.slick-active {
			button {
				&::before {
					top: 0;
					left: -2px;
					font-size: 8px;
					color: @blue !important;
				}
			}
		}
	}	
}*/

// .slick-dots li.slick-active button:before {
// 	opacity: 1;
// 	color: green;
// }

.slick-track {
	transition: none; // cancel jerky rewind
}

.slick-slide {
	margin-right: 65px;
	& > div {
		// background-color: red;
		// text-align: center;
	}
}

.slider__list {
	.slick-dots {
		display: flex;
		flex-direction: column;
		bottom: 0;
		right: 10px;
		top: 55px;
		width: auto;
		li {
			width: 15px;
			height: 15px;
			margin: 0;
			margin-bottom: 25px;
			&.slick-active button::before {
				top: 8px;
				left: 0;
				background-color: #dedede;
			}
			button {
				width: 15px;
				height: 15px;
				&::before {
					content: '';
					top: 8px;
					// font-size: 12px;
					width: 10px;
					height: 10px;
					opacity: 1;
					background-color: #8c8c8c;
					border-radius: 50%;
					transition: all .25s ease-out;
				}
				&:hover::before,
				&:focus::before {
					background-color: #dedede;
				}
			}
		}
	}	
}

.about__list {
	.slick-list {
		// width: 320px;
		box-sizing: content-box;
		padding: 20px 50px 30px 50px !important;
		overflow: inherit;
	}


	.slick-track {
		display: flex; /*!Обязательно -- чтобы слайды были одинаковой высоты */		
	}

	.slick-slide {
		display: flex; /*!Обязательно -- чтобы слайды были одинаковой высоты */		
  		height: auto; /*!Обязательно -- чтобы слайды были одинаковой высоты */
  		flex-direction: column;
  		margin-right: 100px;
		// margin-right: 25px;
		// .about__item {
		// 	display: flex !important;
		// 	flex-direction: column !important;
		// }
		opacity: 0.5;
	}

	.slick-current {			
		
		opacity: 1;
	}
}



.slick-dotted.slick-slider {
	margin-bottom: 0;
}

@media (min-width: @mobile-width) {
	.slider__list {
		.slick-dots {
			right: 30px;
			top: 100px;
		}
	}
}

@media (min-width: @tablet-width) {
	.slider__list {
		.slick-dots {
			right: 50px;
			top: 150px;
			li {
				margin-bottom: 45px;
				button {
					&::before {
						width: 15px;
						height: 15px;
					}
				}
			}
		}
	}

	.about__list {
		.slick-slide {
	  		margin-right: 20px;
		}		
	}
}

@media (min-width: @desktop-width) {
	.partners__list {		
		.slick-slide {
			margin-right: 100px;
		}
	}
}

@media (min-width: @1200-width) {
	.slider__list {
		.slick-dots {
			right: -45px;
			top: 170px;
		}
	}
}

@media (min-width: @desktop-full-width) {
	.slick-slide {
		// margin-right: 30px;
	}	

	.slider__list {
		.slick-dots {
			right: 0;
			top: 155px;
		}
	}

	.about__list {
		.slick-list {	
			padding: 20px 50px 30px 15px !important;			
		}

		.slick-track {
			// transform: translate3d(-635px, 0px, 0px) !important;
		}
	}
}
