.slider {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 30px;
	// background-color: #ffffff;
	box-shadow: 0px 15px 40px rgba(25, 70, 186, 0.1);
}

.slider__wrapper {
	position: relative;
	padding: 25px 0;
}

.slider__title {
	margin-bottom: 60px;
	padding: 0 15px;
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
	text-align: left;
	color: @color;
	z-index: 1;
}

.slider__number {
	position: absolute;
	top: 165px;
	left: 15px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: rgba(140,140,140,.5);
	& > .current {
		color: rgba(140,140,140,1);
	}
}

// .slider__item {
// 	display: flex;
// }



.slider__item {	
	picture {
		display: block;
		text-align: right;
		img {
			width: 320px;
			height: 250px;
		}
	}
}

.slider__preloader {
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 0;
	height: 4px;
	background-color: #dedede;
	box-sizing: border-box;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 102px;
		height: 4px;
		background-color: @blue;
	}
}



@media (min-width: @mobile-width) {
	.slider__item {	
		picture {	
			img {
				width: 460px;
				height: 360px;
			}
		}
	}
}

@media (min-width: @tablet-width) {
	.slider__title {
		font-size: 22px;
		line-height: 30px;
	}

	.slider__number {		
		font-size: 18px;
		line-height: 27px;
		font-weight: 600;
	}

	.slider__item {	
		picture {	
			img {
				width: 640px;
				height: 500px;
			}
		}
	}

}

@media (min-width: @desktop-width) {

}

@media (min-width: @1200-width) {
	.slider {
		margin-bottom: 100px;
		padding-bottom: 55px;
	}

	.slider__wrapper {
		padding: 0 80px 25px 80px;
	}

	.slider__title {
		margin-bottom: 0;
		padding: 0;
		position: absolute;
		top: 160px;
		left: 80px;
		font-size: 36px;
		line-height: 49px;
	}

	.slider__number {
		position: absolute;		
		left: auto;				
		top: 55px;
		right: 665px;
	}

	.slider__list {
		width: 640px;
		margin-right: 0;
		margin-left: auto;
	}

	.slider__item {
		picture {
			img {
				width: 640px;
				height: 500px;
			}
		}
	}

	.slider__preloader {	
		left: auto;		
		right: 80px;
		width: 610px;		
		&::after {			
			width: 215px;
		}
	}

}

@media (min-width: @desktop-full-width) {
	.slider {
		margin-bottom: 170px;	
	}

	.slider__list {
		width: 780px;
	}

	.slider__item {
		picture {
			img {
				width: 780px;
				height: 530px;
			}
		}
	}
}

