.blog {
	position: relative;
	margin-bottom: 116px;
	padding: 0 10px 5px;
	overflow: hidden;
}

.blog__title {
	position: relative;
	display: block;
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: @white;
	z-index: 1;
	h2 {
		margin: 0;
		font-size: 32px;
		line-height: 40px;
		font-weight: 600;
	}
}

.blog__list-wrapper {
	position: relative;
}

.blog__list {
	position: relative;
	height: 418px;
	padding: 7px 17px 0 8px;
	border-radius: 50px;
	border: 2px solid @blue;
	background-color: rgba(255,255,255,.12);
	z-index: 1;

	overflow-y: scroll;
  -ms-overflow-style: none; /* скрываем scrollbar для IE */
	scrollbar-width: none; /* скрываем scrollbar для Firefox */
}

.blog__item {
	margin-bottom: 11px;
	padding: 14px 35px;
	border-radius: 40px;
	background-color: @blue;
}

.blog__item-title {
	display: block;
	margin-bottom: 7px;
	text-decoration: none;	
	color: @white;
	h3 {
		margin: 0;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
	}
}

.blog__item-date {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: rgba(255,255,255,.6);
}


/*--- Стилизация scroll'а ---*/
.blog__scrollbar-container {
	position: absolute;
	top: 60px;
	right: 7px;
	bottom: 60px;
	width: 4px;
	border-radius: 10px;
	background-color: rgba(255,255,255,.12);
}

.blog__scrollbar {
	position: absolute;
	right: 0;
	height: 30px;
	width: 4px;
	border-radius: 10px;
	background-color: #478bf9;
}

.blog__list::-webkit-scrollbar {
  display: none; /* для Chrome */
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.blog {
		width: 60%;
	}
}

@media (min-width: @desktop-width) {
	.blog__title {	
		h2 {
			font-size: 36px;
		}		
	}

	.blog__list {
		padding: 11px 16px 0 11px;
		border-width: 3px;
	}

	.blog__item {
		margin-bottom: 16px;
		padding: 17px 35px 16px 35px;
	}

	.blog__item-title {		
		h3 {			
			font-size: 20px;
			line-height: 26px;			
		}
	}

	.blog__scrollbar-container {
		right: 9px;
	}
}

@media (min-width: @desktop-1200-width) {
	.blog {		
		width: 360px;
		margin: 0;
		margin-left: auto;
		padding-top: 120px;
	}	

	.blog__item-title {
		h3 {
			font-size: 16px;
			line-height: 20px;
		}
	}

}

@media (min-width: @desktop-1400-width) {
	.blog {		
		width: 430px;		
	}

	.blog__list {
		height: 500px;
	}

	.blog__item-title {
		h3 {
			font-size: 20px;
			line-height: 24px;
		}
	}
}

@media (min-width: @desktop-1600-width) {
	.blog {		
		width: 470px;
	}
}

@media (min-width: @desktop-full-width) {
	.blog {
		left: 7px;
		width: 530px;
		padding: 140px 0 0 0;
	}

	.blog__title {
		margin-bottom: 23px;
		h2 {
			font-size: 40px;
		}		
	}

	.blog__list {
		height: 596px;
		padding: 22px 38px 0px 20px;
		border-radius: 100px;
	}

	.blog__item {
		margin-bottom: 16px;
		padding: 17px 64px 16px 64px;
		border-radius: 196px;		
	}

	.blog__item-title {
		margin-bottom: 13px;		
		h3 {			
			font-size: 24px;
			line-height: 28px;			
		}
	}

	/*--- Стилизация scroll'а ---*/
	.blog__scrollbar-container {
		top: 97px;
		right: 17px;
		bottom: 97px;
		width: 7px;
	}

	.blog__scrollbar {
		width: 7px;
	}

}

&:hover,
&:focus {
	
}