.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 28px;
	font-family: @ff-r;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	border: none;	
	background-color: #fd4d35;
	border-radius: 60px;
	cursor: pointer;
	transition: @animation;	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
		/* отмена выделения текста */
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
			    user-select: none;
}

.button {    
	-webkit-animation: glowing 1.3s infinite;
	-moz-animation: glowing 1.3s infinite;
	-o-animation: glowing 1.3s infinite;
	animation: glowing 1.3s infinite;
}

@-webkit-keyframes glowing {
	0% {background-color: #fd4d35; -webkit-box-shadow: 0 0 0 0px rgba(253, 77, 53, 0.5);}
	50% {background-color: #ff0606;}
	100% {background-color: #fd4d35; -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);}
}

@-moz-keyframes glowing {
	0% {background-color: #fd4d35; -moz-box-shadow: 0 0 0 0px rgba(253, 77, 53, 0.5);}
	50% {background-color: #ff0606;}
	100% {background-color: #fd4d35; -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);}
}

@-o-keyframes glowing {
	0% {background-color: #fd4d35; box-shadow: 0 0 0 0px rgba(253, 77, 53, 0.5);}
	50% {background-color: #ff0606;}
	100% {background-color: #fd4d35; box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);}
}

@keyframes glowing {
	0% {background-color: #fd4d35; box-shadow: 0 0 0 0px rgba(253, 77, 53, 0.5);}
	50% {background-color: #ff0606;}
	100% {background-color: #fd4d35; box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);}
}