html {
	
}

body {	
	min-width: 375px;		
	margin: 0 auto;
	padding: 0;
	font-family: @ff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;  
	color: @text;
	background-color: @bg-color;
	overflow-x: hidden;	
}
:focus {
  outline: none;
}


body::-webkit-scrollbar-track {  
  border-radius: 10px;
  background-color: rgba(255,255,255,.12);
}

body::-webkit-scrollbar {
  width: 4px;  
  background-color: rgba(255,255,255,.12);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a3a3a3;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	      clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

p, ul {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div, p, a {
	box-sizing: border-box;
	transition: all 0.3s ease-out;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
		/* отмена выделения текста */
		// -webkit-user-select: none;
		//  -khtml-user-select: none;
		//    -moz-user-select: none;
		// 	-ms-user-select: none;
		// 	    user-select: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
}

picture {
	display: block;
	line-height: 0;
}

.page-main {
	overflow-x: hidden;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-1200-width) {
	
}

@media (min-width: @desktop-full-width) {
	html {
		width:100vw;
	}
}