/*--- DEVELOPER ---*/
.developer {	
	margin: 0 auto;
}

.developer svg {
	display: block;			
	width: 100px;
	height: 90px;
	margin: 0 auto;
	margin-bottom: 20px;			
}
.developer__text {
	display: block;
	margin: 0 auto;
	padding: 10px;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: @blue;
	border: 1px dashed @blue;
	border-radius: 5px;
	background-color: rgba(255,255,255,.1);
}

.developer__text-sorry {
	display: block;
	font-weight: 600;
}

.developer__gear-one, .developer__gear-two {
	-webkit-animation-name: rotationGearR;
			animation-name: rotationGearR;
	-webkit-animation-duration: 3s;
			animation-duration: 3s;
	-webkit-transform-origin: 50% 55.555555555555% 0;
			-ms-transform-origin: 50% 55.555555555555% 0;
	    transform-origin: 50% 55.555555555555% 0;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;			
}
.developer__gear-two {
    -webkit-animation-name: rotationGearL;
			animation-name: rotationGearL;
	-webkit-animation-duration: 7s;
			animation-duration: 7s;
	-webkit-transform-origin: 20% 77.7777777777777777% 0;
			-ms-transform-origin: 20% 77.7777777777777777% 0;
	    transform-origin: 20% 77.7777777777777777% 0;
}
@-webkit-keyframes rotationGearR {
	0% {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
                transform:rotate(360deg);
    }		
}
@keyframes rotationGearR {
	0% {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
                transform:rotate(360deg);
    }
}

@-webkit-keyframes rotationGearL {
	0% {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(-360deg);
                transform:rotate(-360deg);
    }		
}
@keyframes rotationGearL {
	0% {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(-360deg);
                transform:rotate(-360deg);
    }
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.developer__text {
		width: 500px;
	}
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}