.page-header {	
	margin: 0;	
	box-sizing: border-box;
	background-color: #ffffff;
}

.page-header__timer {
	padding: 8px 44px;
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}