.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.close {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
    /* отмена выделения текста */
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.overlay-show {
  display: block;
}
.modal-show {
  display: block !important;
  position: fixed;
  animation-name: bounce;  
  animation-duration: 0.6s;
}
@keyframes bounce {
  0% {
      transform: translateY(-2000px);
  }
  70% {
      transform: translateY(30px);
  }
  90% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}
.modal-hide {
  animation-name: bounceOut;  
  animation-duration: 0.6s;  
  animation-fill-mode: forwards;
}

@keyframes bounceOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2000%);
  }
}

@media (min-width: @mobile-width) {  
  
}

@media (min-width: @tablet-width) {
  
}