@bg-color: #ffffff;
@deep-grey: #1e1e1e;
@grey: #666666;
@green: #34ae6b;
@white: #ffffff;

@ff: 'Roboto', sans-serif;
@animation: all 0.25s ease-out;

@mobile-width: 480px;
@tablet-width: 768px;
@desktop-width: 960px;
@desktop-1440-width: 1440px;
