@color: #000000;
@red: #cd4b44;
@bg-color: #ffffff;
@ff: 'Montserrat', sans-serif;
@ff-intro: 'Intro', sans-serif;
@animation: all 0.25s ease-out;

@blue: #098fcf;
@dark-blue: #043C77;
@mobile-width: 480px;
@tablet-width: 768px;
@desktop-width: 960px;
@desktop-full-width: 1200px;