.plug {
	margin-bottom: 50px;
	padding: 0 30px;	
	box-sizing: border-box;
}

.plug__text {
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 26px;
	color: #ad8a18;
	text-align: center;
	span {
		display: block;
		font-weight: 600;
	}
}

.plug__text--black {
	margin-bottom: 5px;
	padding-top: 5px;
	color: #333333;
	border-top: 1px dashed #aaaaaa;
}

.plug__text--phone {
	font-size: 23px;
	font-weight: 600;
}

@media (min-width: @tablet-width) {

}

