body {	
	/*min-width: 1200px;*/
	margin: 0;
	padding: 0;
	
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;	
	color: #000000;
		
	background-color: #ffffff;
}

a {
	text-decoration: none; 
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px; 
	margin: -1px;
	bottom: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

:focus {
	outline: none;
	box-shadow: 
		0 0 0 2px white, 
		0 0 0 4px #fc0;
}

.button {
	padding: 10px 55px;

	font: inherit;
	font-size: 14px;
	text-transform: uppercase;

	text-align: center;
	vertical-align: middle;
	color: #ffffff;

	background-color: #ee3643;
	border: none;
	border-radius: 2px;

	transition: all .2s ease;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

/*--- центровщик ---*/
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;	
}

section h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}

.pt-sans {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}





/*--- HEADER ---*/
.main-header {
	background-color: #ebf9fd;
	
	/*так в макете*/
	/*background-color: #f3f7f8;*/
}

.top-menu {
	margin-bottom: 49px;

	background-color: #293449;
}

.top-menu .container {
	display: flex;
	justify-content: flex-start;
}

.top-menu a {
	text-align: center;
	color: #ffffff;

	transition: all .2s ease;
}

.top-menu a:focus {
	box-shadow: 
		0 0 0 2px #293449, 
		0 0 0 4px #fc0;
}

.top-menu a:hover::before,
.top-menu a:focus::before {
	opacity: 1;
}

.top-menu a:active {
	background-color: #161d29;
	opacity: .5;
}

.main-header-logo {
	width: 200px;
	margin-right: 10px;
	padding: 9px 10px;

	text-align: center;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;

	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;	
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #9a212a,
				0 0 0 2px white, 
				0 0 0 4px #fc0;	
}

.main-header-logo[href]:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 0 #8e1e26;
}

.search {
	position: relative;

	width: 260px;
}

.search input {
	width: 100%;
	padding: 12px 10px 12px 37px;

	line-height: 18px;
	
	background-color: #293449;
	border: none;

	box-sizing: border-box;
}

.search input:hover {
	background-color: #212a3a;
}

.search input:focus {
	color: #000000;

	background-color: #ffffff;
	box-shadow: none;
}

.search input:focus + .search-button svg path {
	fill: #ee3643;
}

.search input:focus + .search-button {
	opacity: 1;	
}

.search input::-webkit-input-placeholder {
	color: #ffffff;
}

.search input:-moz-placeholder {
	color: #ffffff;
}

.search-button {
	position: absolute;
	top: 12px;
	left: 7px;

	width: 17px;
	height: 17px;
	padding: 0;

	background-color: transparent;
	border: none;

	opacity: .3;
	transition: all .2s ease;
	cursor: pointer;
}

.search input:hover + .search-button {
	opacity: 1;
}

.bookmarks {
	position: relative;

	width: 105px;
	padding: 12px 5px 12px 40px;
}

.bookmarks::before {
	content: '';

	position: absolute;
	top: 12px;
	left: 17px;

	width: 14px;
	height: 16px;

	background-image: url('../img/icon-bookmark.svg');
	background-repeat: no-repeat;

	opacity: .3;
}

.cart {
	position: relative;

	width: 105px;
	padding: 12px 5px 12px 40px;
}

.cart::before {
	content: '';

	position: absolute;
	top: 12px;
	left: 17px;

	width: 15px;
	height: 15px;

	background-image: url('../img/cart-icon.svg');
	background-repeat: no-repeat;

	opacity: .3;
}

.checkout {
	width: 130px;
	padding: 12px 10px;

	background-color: #63a63e;
}

.checkout:hover,
.checkout:focus {
	background-color: #5fbb2d;
}

.top-menu .checkout:active {
	background-color: #518534;
	color: rgba(255,255,255,.5);
	opacity: 1;	
}

.center-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.description-shop {
	width: 198px;
	margin: 0;
	padding: 0;
	padding: 0 50px 40px 52px;

	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;	
}

.center-menu-contacts {
	width: 300px;
}

.contacts-phone {
	position: relative;

	margin: 10px 0 16px 74px;
	padding: 0;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.contacts-phone::before {
	content: '';

	position: absolute;
	top: 1px;
	left: -59px;

	width: 19px;
	height: 19px;

	background-image: url('../img/icon-phone.svg');
	background-repeat: no-repeat;
}

.contacts-address {
	margin: 0;
	margin-left: 10px;
	padding: 0;

	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;

	width: 300px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.user-navigation li:first-child {
	margin-left: auto;
	margin-right: 10px;
}

.user-navigation a {
	display: block;
	padding: 10px 25px;

	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #ee3643;
}

.user-navigation a:active {
	color: #000000;

	opacity: .3;
}

.user-navigation .login-link {
	position: relative;

	padding-left: 50px;
}

.user-navigation .login-link svg {
	position: absolute;
	top: 10px;
	left: 16px;
}

.user-navigation .login-link:hover svg polygon,
.user-navigation .login-link:hover svg path,
.user-navigation .login-link:focus svg polygon,
.user-navigation .login-link:focus svg path {
	fill: #32425c;
}

.user-navigation .profile-link {
	vertical-align: top;
}


.user-navigation .profile-link a {
	padding: 5px 14px 5px 18px;
	
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.user-navigation .profile-link span {
	position: absolute;
	top: 50%;
	right: -4px;

	width: 4px;
	height: 4px;
	margin-top: -2px;

	background-color: #32425c;
	border-radius: 50%;
}

.user-navigation .profile-link a:hover,
.user-navigation .profile-link a:focus {
	color: #ee3643;
}

.user-navigation .profile-link a:active {
	color: #32425c;
}

.yes-authorized {
	display: none;

	font-size: 0;
}

.authorized .no-authorized {
	display: none;
}

.authorized .yes-authorized {
	display: block;
}

.yes-authorized a {
	padding: 10px 15px;
}

.yes-authorized li {
	position: relative;
	display: inline-block;

	vertical-align: top;
}

.yes-authorized li:first-child {
	width: 255px;
	margin: 0;
}

.yes-authorized .login-link {
	padding-left: 47px;

	background-color: #ffffff;
}

.yes-authorized .login-link:hover,
.yes-authorized .login-link:focus {
	color: #000000;
}

.yes-authorized .login-link svg {
	left: 14px;
}

.yes-authorized .deauthorization-link {	
	width: 40px;
	height: 45px;
	margin-left: auto;
	padding: 0;	
}

.yes-authorized .deauthorization-link a {
	position: relative;

	padding: 0;

	height: 41px;
}

.yes-authorized .deauthorization-link a svg {
	position: absolute;
	top: 11px;
	left: 13px;
}

.yes-authorized .deauthorization-link a:hover svg polygon,
.yes-authorized .deauthorization-link a:hover svg path,
.yes-authorized .deauthorization-link a:focus svg polygon,
.yes-authorized .deauthorization-link a:focus svg path {
	fill: #32425c;
}

.yes-authorized a {
	background-color: transparent;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
	margin: 0;
	margin-bottom: 60px;
	padding: 0 25px;

	list-style: none;

	background-color: #32425c;

	box-shadow: 0 -5px 0 0 #293449 inset;
}

.site-navigation a {
	display: block;
	padding: 21px 30px;

	line-height: 17px;
	color: #ffffff;

	transition: all .2s ease;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
	background-color: #293449;

	box-shadow: 
		0 0 0 2px #293449, 
		0 0 0 4px #fc0;
}


.site-navigation a[href]:active {
	opacity: .5;
	background-color: #1d2739;
}

main h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	/*padding: 30px;*/

	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;

	background-color: #f2f6f8;

	/* demo */
	min-height: 90px;
}





/*--- Promo ---*/
.promo {
	padding-top: 60px;
	position: relative;

	margin-bottom: 78px;

	/* demo */
	min-height: 409px;
}

.promo-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.promo-list li {
	width: 258px;
	margin-bottom: 20px;
	padding: 21px;	
}

.promo-list h3 {
	margin: 0;
	margin-left: 3px;
	margin-bottom: 13px;
	padding: 0;

	font-size: 24px;	
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
}

.promo-list a {
	display: block;
	width: 115px;
	padding: 10px;

	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: rgba(0,0,0,.1);
	border-radius: 3px;

	transition: all .2s ease;
}

.promo-list a:hover,
.promo-list a:focus {
	background-color: rgba(0,0,0,.2);
}

.promo-list a:active {
	background-color: rgba(0,0,0,.3);
}

.promo-list .materials {
	background-color: #ffbf47;
	background-image: url('../img/icon-1.svg');
	background-repeat: no-repeat;
	background-position: right 43px center;
}

.promo-list .instruments {
	background-color: #3bbce3;
	background-image: url('../img/icon-2.svg');
	background-repeat: no-repeat;
	background-position: right 28px center;
}

.promo-list .technics {
	background-color: #dc91d8;
	background-image: url('../img/icon-3.svg');
	background-repeat: no-repeat;
	background-position: right 31px center;
}

.promo-list .sales {
	margin-left: 640px;

	background-color: #8ed78f;
	background-image: url('../img/icon-4.svg');
	background-repeat: no-repeat;
	background-position: right 45px center;
}

.promo-list .delivery {
	margin-left: auto;
	margin-bottom: 0;

	background-color: #ffc047;
	background-image: url('../img/icon-5.svg');
	background-repeat: no-repeat;
	background-position: right 31px center;
}

.new {
	position: relative;
}

.new::before {
	content: '';

	position: absolute;
	top: 0;
	right: 0;

	width: 60px;
	height: 59px;

	background-image: url('../img/new.png');
	background-repeat: no-repeat;
}




/*--- Slider ---*/
.slider {
	position: absolute;
	bottom: 0;

	width: 620px;
	height: 266px;

	background-color: #755045;
}

.controls {
	/*position: absolute;
	top: 50%;
	bottom: 0;
	z-index: 1;*/
}

.controls .back,
.controls .next {
	position: absolute;	
	top: 50%;
	left: 25px;
	z-index: 1;

	width: 22px;
	height: 40px;
	margin-top: -20px;
	padding: 0;
	
	background-image: url('../img/icon-left.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;

	opacity: .5;
}

.controls .next {
	left: auto;
	right: 25px;

	background-image: url('../img/icon-right.svg');
}

.controls .back:hover,
.controls .next:hover,
.controls .back:focus,
.controls .next:focus {
	opacity: 1;
}

.controls .back:focus,
.controls .next:focus {
	box-shadow: 
		0 0 0 2px #8E7C6E,
		0 0 0 4px #fc0;
}

.slide-list {
	margin: 0;
	padding: 0;

	color: #ffffff;

	list-style: none;
}

.slide-item {
	position: relative;

	display: none;
}

.slide-item:nth-child(1) {
	display: block;
}

.slide-title {
	position: absolute;
	top: 23px;
	left: 24px;

	margin: 0;
	padding: 0;

	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;	
}

.slide-tagline {
	position: absolute;
	top: 61px;
	left: 24px;	

	margin: 0;
	padding: 0;

	font-size: 18px;
	line-height: 24px;
}

.slide-item img {
	width: 620px;
	height: 266px;
}

.slider-button {
	position: absolute;
	left: 25px;
	bottom: 22px;

	padding: 10px 50px;
}



/*--- Популярные товары ---*/
.popular {
	margin-bottom: 46px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.popular h2 {
	width: 591px;
	margin: 0;
	margin-left: 29px;
	margin-bottom: 46px;
	padding: 0;
	padding-top: 5px;	
}

.popular a {	
	width: 253px;
	margin-right: 24px;
	margin-bottom: 46px;	
	padding: 10px 50px;

	box-sizing: border-box;	
}

.popular-list {
	width: 100%;
	margin: 0;
	padding: 0;

	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;

	list-style: none;

	/* demo */
	min-height: 318px;
}

.popular-list h3 {
	font-size: 18px;
	line-height: 20px;
}

.popular-list .old-price {
	text-decoration: line-through;
	color: #a9a9a9;
}

.popular-list .price {
	color: #ffffff;

	background-color: #ee3643;
}

.links	{
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;	
}

.links .link-buy {
	display: inline-block;

	width: 115px;
	padding: 10px;

	text-align: center;
	color: #ffffff;

	 background-color: #63a63e;
	border-radius: 3px;
	box-shadow: 0 -3px 0 0 #367315 inset;

	transition: all .2s ease;	
}

.links .link-buy:hover,
.links .link-buy:focus {
	background-color: #5fbb2d;
	box-shadow: 0 -3px 0 0 #367315 inset,
				0 0 0 2px white, 
				0 0 0 4px #fc0;
}

.links .link-buy:active {
	background-color: #518534;
	box-shadow: none;
}

.links .link-bookmark {
	display: inline-block;

	width: 115px;
	padding: 10px;

	text-align: center;
	color: #32425c;
	
	border-radius: 3px;	
	box-shadow: 0 0 0 3px #63a63e inset;

	transition: all .2s ease;
}

.links .link-bookmark:hover,
.links .link-bookmark:focus {
	color: #32425c;

	box-shadow: 0 0 0 3px #32425c inset,
				0 0 0 2px white, 
				0 0 0 4px #fc0;
}

.links .link-bookmark:active {
	color: #32425c;
		
	box-shadow: 0 0 0 3px #32425c inset;
	opacity: .3;				
}



/*--- Популярные производители ---*/
.producers {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin-bottom: 147px;
}

.producers h2 {
	width: 620px;
	margin: 0;
	margin-bottom: 46px;
	padding: 0;

	/* demo */
	min-height: 38px;
}

.producers a {	
	width: 300px;
	margin-bottom: 46px;

	/* demo */
	height: 38px;
	box-sizing: border-box;
}

.producer-list {
	width: 100%;
	margin: 0;
	padding: 0;

	list-style: none;

	/* demo */
	min-height: 310px;
}




/*--- Сервисы ---*/
.services {
	margin-bottom: 77px;

	color: #000000;

	/* demo */
	min-height: 460px;
}

.services h2 {
	color: #000000;	
}

.services .desc {
	
}

.tab-title {
	margin: 0;
	padding: 0;

	font-size: 21px;
	line-height: 30px;
	font-weight: 700;

	list-style: none;
}

.service-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.service-list h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}

.service-list p {
	
}



.two-columns-index {
	display: flex;
	justify-content: space-between;

	margin-bottom: 86px;
}


/*--- Презентация компании ---*/
.presentation {
	width: 540px;

	color: #000000;

	/* demo */
	min-height: 375px;
}

.presentation h2 {
	color: #000000;
}

.presentation .presentation-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}

.presentation p {
	
}

.transport-company {
	font-size: 18px;
	line-height: 20px;

	list-style: none;
}



/*--- Контакты ---*/
.contacts {
	width: 300px;

	color: #000000;

	/* demo */
	min-height: 375px;
}

.contacts h2 {
	color: #000000;
}



.catalog-columns {
	display: flex;
	justify-content: space-between;

	margin-bottom: 60px;
}

/*--- Хлебные крошки ---*/
.breadcrumbs {
	margin: 0;
	padding: 0;

	line-height: 18px;
	text-transform: uppercase;	

	list-style: none;
	
	/* demo */
	min-height: 60px;
}

.breadcrumbs a {
	color: #000000;
}




/*--- Фильтр ---*/
.filters {
	width: 220px;

	color: #000000;

	/* demo */
	min-height: 1220px;
}

.filter-title {
	line-height: 18px;
	text-transform: uppercase;

	background-color: #f7f3ec;
}

.filter-form fieldset {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;

	border: none;
}

.filter-form legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	
}

.filter-producer-list {
	list-style: none;
}

.filter-feed-list {
	list-style: none;
}

.filter-button {
	padding: 10px 40px;
	text-transform: uppercase;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {	
	border: 1px solid #bdc6ca;	
}

.filter-button:active {
	background-color: #cccccc;	
	border: 1px solid #cccccc;
}



.catalog-right {
	width: 700px;
}


/*--- Сортировка ---*/
.sort {
	margin-bottom: 20px;

	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	background-color: #f7f3ec;

	/* demo */
	min-height: 38px;
}

.sort-title {
	
}

.sort-list {
	display: flex;

	list-style: none;
}

.sort-list li {
	margin-right: 70px;	
}

.sort-list a {
	color: #b2b2b2;

	border-bottom: 1px dotted #ee3643;
}

.sort-list a:hover,
.sort-list a:focus {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sort-list .icon-updown a {
	border-bottom: none;
}

.sort-item-current a {
	color: #ee3643;
	border-bottom: none;
}

.sort-item-current a:hover,
.sort-item-current a:focus {
	color: #ee3643;
	border-bottom: none;	
}




/*--- Result ---*/
.result {
	/* demo */
	min-height: 1162px;
}

.result-list {
	list-style: none;
}


.result-list h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
}

.result-list .old-price {
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-decoration: line-through;
	color: #999999;
}

.result-list .price {
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
}




/*--- Пагинация ---*/
.pagination-list {
	margin: 0;
	padding: 0;

	display: flex;

	font-size: 16px;
	line-height: 18px;

	list-style: none;
}

.pagination-list li {
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}

.pagination-item a {
	color: #000000;
	
	display: block;
	padding: 10px 15px;
	margin-right: 10px;
	/*width: 38px;*/
	/*height: 38px;*/

	text-align: center;

	border: 1px solid #e5e5e5;
	border-radius: 3px;

	transition: all .2s ease;
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus {
	border: 1px solid #bdc6ca;
}

.pagination-item a[href]:active {
	border: 1px solid #ee3643;
}


.pagination-item-current a {
	color: #ffffff;

	background: #ee3643;
	border: 1px solid #;
}




/*--- Справка о товаре ---*/
.product-certificate {
	color: #000000;

	background-color: #f2f6f8;

	/* demo */
	min-height: 260px;
}

.certificate-title {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

}



/*--- FOOTER ---*/
.main-footer {
	color: #ffffff;

	background-color: #32425c;

	/* demo */
	min-height: 300px;
}

.main-footer .container{
	/* demo */
	min-height: 193px;
}

.main-footer a {
	color: #ffffff;
}

.footer-top {
	display: flex;
	justify-content: space-between;

	margin-bottom: 35px;

	/* demo */
	min-height: 63px;
}

.footer-top .main-header-logo {
	font-size: 30px;
	line-height: 30px;
}

.footer-menu-main {
	width: 700px;
	margin: 0;
	padding: 0;

	font-size: 18px;
	line-height: 24px;

	list-style: none;

	/* demo */
	min-height: 63px;
}

.footer-menu-main a:hover,
.footer-menu-main a:focus {
	text-decoration: underline;
}

.footer-menu-main a:active {
	text-decoration: none;
	opacity: .5;
}

.footer-center {
	display: flex;
	justify-content: space-between;
}

.footer-contacts {
	width: 380px;

	margin: 0;
	padding: 0;

	font-size: 18px;
	line-height: 24px;

	/* demo */
	min-height: 95px;
}

.footer-menu {
	width: 540px;
	margin: 0;
	padding: 0;

	font-size: 18px;
	line-height: 24px;

	list-style: none;

	/* demo */
	min-height: 95px;
}

.footer-menu a {
	color: #ffd180;
}

.footer-menu a:hover,
.footer-menu a:focus {
	text-decoration: underline;
}

.footer-menu a:active {
	text-decoration: none;
	opacity: .5;
}

.footer-bottom {	
	padding-top: 35px;

	font-size: 16px;
	line-height: 18px;

	background-color: #293449;	
}

.footer-bottom .container {
	display: flex;
	justify-content: space-between;

	/* demo */
	min-height: 72px;
}

.copyright {
	width: 300px;
	margin: 0;
	padding: 0;

	/* demo */
	min-height: 72px;	
}

.social-buttons {
	width: 300px;

	margin: 0;
	padding: 0;

	list-style: none;

	/* demo */
	min-height: 72px;
}

.feedback {
	width: 140px;

	/* demo */
	min-height: 72px;
}

.feedback a {
	color: #ffd180;
}

.feedback a:hover,
.feedback a:focus {
	text-decoration: underline;
}

.feedback a:active {
	text-decoration: none;
	color: #ee3643;
}

.development {
	width: 140px;

	/* demo */
	min-height: 72px;
}

.development a {
	color: #ffd180;
}

.development a:hover,
.development a:focus {
	text-decoration: underline;
}

.development a:active {
	text-decoration: none;
	color: #ee3643;
}






/*--- Модальные окна ---*/
.modal {

}

.modal-message {

}

.message-item label {
	font-size: 18px;
}

.message-item input {
	line-height: 18px;

	border: 2px solid #d7dcde;
	border-radius: 3px;

	transition: all .2s ease;
}

.message-item input:hover {
	border: 2px solid #b5b5b5;
}

.message-item input:focus {
	border: 2px solid #ee3643;
}

.message-item input::-webkit-input-placeholder {
	color: #a9a9a9;
}

.message-item input:-moz-placeholder {
	color: #a9a9a9;
}

.message-item textarea {
	color: #a9a9a9;	

	border: 2px solid #d7dcde;
	border-radius: 3px;

	transition: all .2s ease;
}

.message-item textarea:hover {
	border: 2px solid #b5b5b5;
}

.message-item textarea:focus {
	border: 2px solid #ee3643;
}




/*--- Товар добавлен в корзину ---*/
.modal-cart {

}

.modal-cart-title {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
}

.modal-cart-continue {
	color: #000000;

	background-color: #ffffff;
}


.modal-cart-continue:hover,
.modal-cart-continue:focus {
	color: #ee3643;
	
	background-color: #ffffff;
	box-shadow: 0 0 0 1px #ee3643 inset,
				0 0 0 2px white, 
				0 0 0 4px #fc0;
}


































































