body {	
	/*min-width: 1200px;*/
	margin: 0;
	padding: 0;
	
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;	
	color: #000000;
		
	background-color: #ffffff;
}

a {
	text-decoration: none; 
}

img {
	max-width: 100%;
	height: auto;
}

/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px; 
	margin: -1px;
	bottom: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}*/

.button {
	padding: 10px 55px;

	font: inherit;
	font-size: 14px;
	text-transform: uppercase;

	text-align: center;
	vertical-align: middle;
	color: #ffffff;

	background-color: #ee3643;
	border: none;
	border-radius: 2px;

	transition: all .2s ease;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

/*--- центровщик ---*/
.container {
	/*width: 1200px;
	margin: 0 auto;
	padding: 0;

	background-color: #ffffff;
	box-shadow: 0px 5px 5px 0 rgba(0,0,0,.12);*/
}

section h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}

.pt-sans {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.yes-authorized {
	display: none;
}

.authorized .no-authorized {
	display: none;
}

.authorized .yes-authorized {
	display: block;
}



/*--- HEADER ---*/
.main-header {
	background-color: #f3f7f8;
}

.top-menu {
	background-color: #293449;
}

.top-menu a {
	color: #ffffff;
}

.main-header-logo {
	display: block;
	width: 200px;
	padding: 9px 10px;

	text-align: center;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;

	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;

	transition: all .2s ease;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #9a212a,
				0 0 0 2px white, 
				0 0 0 4px #fc0;	
}

.main-header-logo[href]:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 0 #8e1e26;
}

.main-header .search input {
	line-height: 18px;
	color: #ffffff;
}

.description-shop {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.contacts-phone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.contacts-address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-navigation {
	list-style: none;
}

.user-navigation a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;	
}

.user-navigation a:active {
	opacity: .3;
}

.user-navigation .profile-link:hover,
.user-navigation .profile-link:focus {
	color: #ee3643;
}

.user-navigation .profile-link:active {
	color: #32425c;
}

.user-navigation .profile-link {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.site-navigation {
	list-style: none;

	background-color: #32425c;
}

.site-navigation a {
	line-height: 17px;
	color: #ffffff;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
	background-color: #293449;
}


.site-navigation a[href]:active {
	opacity: .5;
	background-color: #1d2739;
}

main h1 {
	padding: 30px;

	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;

	background-color: #f2f6f8;
}





/*--- Promo ---*/
.promo {

}

.promo-list {
	list-style: none;
}

.promo-list h3 {
	font-size: 24px;	
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
}

.promo-list a {
	display: block;
	width: 115px;
	padding: 10px;

	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: rgba(0,0,0,.1);
	border-radius: 3px;

	transition: all .2s ease;
}

.promo-list a:hover,
.promo-list a:focus {
	background-color: rgba(0,0,0,.2);
}

.promo-list a:active {
	background-color: rgba(0,0,0,.3);
}

.promo-list .materials {
	background-color: #ffbf47;
}

.promo-list .instruments {
	background-color: #3bbce3;
}

.promo-list .technics {
	background-color: #dc91d8;
}

.promo-list .sales {
	background-color: #8ed78f;
}

.promo-list .delivery {
	background-color: #ffc047;
}




/*--- Slider ---*/
.slider {
	background-color: #755045;
}

.slide-list {
	color: #ffffff;

	list-style: none;
}

.slide-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	
}

.slide-tagline {
	font-size: 18px;
	line-height: 24px;

}



/*--- Популярные товары ---*/
.popular {

}

.popular-list {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;

	list-style: none;
}

.popular-list h3 {
	font-size: 18px;
	line-height: 20px;
}

.popular-list .old-price {
	text-decoration: line-through;
	color: #a9a9a9;
}

.popular-list .price {
	color: #ffffff;

	background-color: #ee3643;
}

.links	{
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;	
}

.links .link-buy {
	display: inline-block;

	width: 115px;
	padding: 10px;

	text-align: center;
	color: #ffffff;

	 background-color: #63a63e;
	border-radius: 3px;
	box-shadow: 0 -3px 0 0 #367315 inset;

	transition: all .2s ease;	
}

.links .link-buy:hover,
.links .link-buy:focus {
	background-color: #5fbb2d;
	box-shadow: 0 -3px 0 0 #367315 inset,
				0 0 0 2px white, 
				0 0 0 4px #fc0;
}

.links .link-buy:active {
	background-color: #518534;
	box-shadow: none;
}

.links .link-bookmark {
	display: inline-block;

	width: 115px;
	padding: 10px;

	text-align: center;
	color: #32425c;
	
	border-radius: 3px;	
	box-shadow: 0 0 0 3px #63a63e inset;

	transition: all .2s ease;
}

.links .link-bookmark:hover,
.links .link-bookmark:focus {
	color: #32425c;

	box-shadow: 0 0 0 3px #32425c inset,
				0 0 0 2px white, 
				0 0 0 4px #fc0;
}

.links .link-bookmark:active {
	color: #32425c;
		
	box-shadow: 0 0 0 3px #32425c inset;
	opacity: .3;				
}



/*--- Популярные производители ---*/
.producers {

}

.producer-list {
	list-style: none;
}




/*--- Сервисы ---*/
.services {
	color: #000000;	
}

.services h2 {
	color: #000000;	
}

.services .desc {
	
}

.tab-title {
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;

	list-style: none;
}

.service-list {
	list-style: none;
}

.service-list h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}

.service-list p {
	
}



/*--- Презентация компании ---*/
.presentation {
	color: #000000;
}

.presentation h2 {
	color: #000000;
}

.presentation .presentation-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}

.presentation p {
	
}

.transport-company {
	font-size: 18px;
	line-height: 20px;

	list-style: none;
}



/*--- Контакты ---*/
.contacts {
	color: #000000;
}

.contacts h2 {
	color: #000000;
}



/*--- Хлебные крошки ---*/
.breadcrumbs {
	line-height: 18px;
	text-transform: uppercase;	

	list-style: none;	
}

.breadcrumbs a {
	color: #000000;
}




/*--- Фильтр ---*/





/*--- Сортировка ---*/
.sort {
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	background-color: #f7f3ec;
}

.sort-title {
	
}

.sort-list {
	display: flex;

	list-style: none;
}

.sort-list li {
	margin-right: 70px;

	
}

.sort-list a {
	color: #b2b2b2;

	border-bottom: 1px dotted #ee3643;
}

.sort-list a:hover,
.sort-list a:focus {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sort-list .icon-updown a {
	border-bottom: none;
}

.sort-item-current a {
	color: #ee3643;
	border-bottom: none;
}





/*--- FOOTER ---*/
.main-footer {
	color: #ffffff;

	background-color: #32425c;
}

.main-footer a {
	color: #ffffff;
}

.footer-top .main-header-logo {
	font-size: 30px;
	line-height: 30px;
}

.footer-menu-main {
	font-size: 18px;
	line-height: 24px;

	list-style: none;
}

.footer-menu-main a:hover,
.footer-menu-main a:focus {
	text-decoration: underline;
}

.footer-menu-main a:active {
	text-decoration: none;
	opacity: .5;
}

.footer-contacts {
	font-size: 18px;
	line-height: 24px;
}

.footer-menu {
	font-size: 18px;
	line-height: 24px;

	list-style: none;
}

.footer-menu a {
	color: #ffd180;
}

.footer-menu a:hover,
.footer-menu a:focus {
	text-decoration: underline;
}

.footer-menu a:active {
	text-decoration: none;
	opacity: .5;
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;

	background-color: #293449;
}

.copyright {
	
}

.social-buttons {
	list-style: none;
}

.feedback {
	
}

.feedback a {
	color: #ffd180;
}

.feedback a:hover,
.feedback a:focus {
	text-decoration: underline;
}

.feedback a:active {
	text-decoration: none;
	color: #ee3643;
}

.development {

}

.development a {
	color: #ffd180;
}

.development a:hover,
.development a:focus {
	text-decoration: underline;
}

.development a:active {
	text-decoration: none;
	color: #ee3643;
}






/*--- Модальные окна ---*/
.modal {

}

.modal-message {

}

.message-item label {
	font-size: 18px;
}

.message-item input {
	line-height: 18px;

	border: 2px solid #d7dcde;
	border-radius: 3px;

	transition: all .2s ease;
}

.message-item input:hover {
	border: 2px solid #b5b5b5;
}

.message-item input:focus {
	border: 2px solid #ee3643;
}

.message-item input::-webkit-input-placeholder {
	color: #a9a9a9;
}

.message-item input:-moz-placeholder {
	color: #a9a9a9;
}

.message-item textarea {
	color: #a9a9a9;	

	border: 2px solid #d7dcde;
	border-radius: 3px;

	transition: all .2s ease;
}

.message-item textarea:hover {
	border: 2px solid #b5b5b5;
}

.message-item textarea:focus {
	border: 2px solid #ee3643;
}










