/*--- index.html ---*/
/* body {
	background: @bg-darkgrey url(../img/bb-mobile.jpg) no-repeat 50% 0;
	background-size: 320px auto;
	min-height: 750px;
}

@media (min-width: @tablet-width) {
	body {
		background: @bg-darkgrey url(../img/bb-tablet.jpg) no-repeat 50% 0;
		background-size: 768px auto;		
	}
}

@media (min-width: @desktop-width) {
	body {
		background: @bg-darkgrey url(../img/bb-desktop.jpg) no-repeat 50% 0;
		background-size: 1200px auto;		
	}
} */
/*--- form.html ---*/
/* body {
	background: @bg-darkgrey url(../img/form-mobile.jpg) no-repeat 50% 0;
	background-size: 320px auto;
	min-height: 750px;
}

@media (min-width: @tablet-width) {
	body {
		background: @bg-darkgrey url(../img/form-tablet.jpg) no-repeat 50% 0;
		background-size: 768px auto;		
	}
}

@media (min-width: @desktop-width) {
	body {
		background: @bg-darkgrey url(../img/form-desktop.jpg) no-repeat 50% 0;
		background-size: 1200px auto;		
	}
} */
/*--- photo.html ---*/
/* body {
	background: @bg-darkgrey url(../img/photo-mobile.jpg) no-repeat 50% 0;
	background-size: 320px auto;
	min-height: 750px;
}

@media (min-width: @tablet-width) {
	body {
		background: @bg-darkgrey url(../img/photo-tablet.jpg) no-repeat 50% 0;
		background-size: 768px auto;		
	}
}

@media (min-width: @desktop-width) {
	body {
		background: @bg-darkgrey url(../img/photo-desktop.jpg) no-repeat 50% 0;
		background-size: 1200px auto;		
	}
} */
.nav-mock {
  /* demo */
  min-height: 310px;
}
@media (min-width: 768px) {
  .nav-mock {
    /* demo */
    min-height: 70px;
  }
}
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url(../fonts/PTSansNarrow-Regular.woff2) format("woff2"), url(../fonts/PTSansNarrow-Regular.woff) format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url(../fonts/PTSansNarrow-Bold.woff2) format("woff2"), url(../fonts/PTSansNarrow-Bold.woff) format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: #f7f4f1;
  font-weight: 400;
  background-color: #353535;
}
:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.button {
  padding: 12px 30px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button:hover,
.button:focus {
  border: 1px solid #d5c9bd;
}
.button:active {
  background-color: #d5c9bd;
  color: rgba(0, 0, 0, 0.3);
}
.button-footer {
  display: block;
  padding: 9px 10px;
  font: inherit;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  background-color: #292929;
  border: 1px solid #3f3f3f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button-footer:hover {
  border: 1px solid #545454;
}
.button-footer:focus {
  box-shadow: none;
  border: 1px solid #545454;
}
.button-footer:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #252525;
}
.button-brown {
  display: block;
  padding: 13px 10px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  background-color: #826550;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button-brown:hover,
.button-brown:focus {
  background-color: #6a4d38;
}
.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
}
.button-brown:disabled {
  color: rgba(255, 255, 255, 0.5);
  background-color: #aeaeae;
}
@media (min-width: 768px) {
  .page-main--inner {
    background-color: #ffffff;
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.slider__item {
  display: none;
}
.slider__toggles {
  position: absolute;
  left: 50%;
  bottom: 13px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 72px;
  margin: 0;
  margin-left: -36px;
  padding: 0;
}
.slider__toggle {
  width: 7px;
  height: 7px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.slider__toggle:hover,
.slider__toggle:focus {
  border-color: rgba(255, 255, 255, 0.5);
}
.slider__toggle:focus {
  box-shadow: 0 0 0 2px #353535, 0 0 0 4px #fc0;
}
.slider__toggle--active {
  background-color: #ffffff;
}
.slider__toggles--black .slider__toggle {
  border: 1px solid #353535;
}
.slider__toggles--black .slider__toggle:hover,
.slider__toggles--black .slider__toggle:focus {
  border-color: rgba(0, 0, 0, 0.5);
}
.slider__toggles--black .slider__toggle:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #fc0;
}
.slider__toggles--black .slider__toggle--active {
  background-color: #353535;
}
.slider--nojs .slider__item:nth-child(1) {
  display: block;
}
.slider-show {
  display: block;
}
@media (min-width: 768px) {
  .lines {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }
  .lines::before,
  .lines::after {
    content: '';
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 0;
    width: 100px;
    height: 1px;
    background-color: #e5ddd5;
  }
  .lines::before {
    margin-right: 25px;
  }
  .lines::after {
    margin-left: 25px;
  }
}
@media (min-width: 1200px) {
  .lines::before {
    margin-right: 45px;
  }
  .lines::after {
    margin-left: 45px;
  }
}
.page-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo svg {
  width: 226px;
  height: 95px;
}
.page-header__logo-barbershop {
  display: none;
}
.page-header__logo-mustache {
  display: none;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    background-color: #000000;
  }
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
            order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center -9px;
  }
  .page-header__logo svg {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
  .page-header__logo-barbershop {
    display: inline-block;
  }
  .page-header__logo--inner {
    position: relative;
    height: 215px;
  }
  .page-header__decoration {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 41px;
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  .page-header__decoration::before,
  .page-header__decoration::after {
    content: '';
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    background-color: #ffffff;
  }
  .page-header__decoration-wrapper {
    display: -webkit-box;
    display: flex;
    width: 768px;
    margin: 0 auto;
  }
  .page-header__decoration-left {
    border-style: solid;
    border-width: 41px 0 0 384px;
    border-color: transparent transparent transparent #ffffff;
  }
  .page-header__decoration-right {
    border-style: solid;
    border-width: 0 0 41px 384px;
    border-color: transparent transparent #ffffff transparent;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__logo {
    background-image: url('../img/bg-header@2x.jpg');
    background-size: 1200px auto;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 650px;
    background-position: center 0;
    background-size: cover;
  }
  .page-header__logo svg {
    padding-top: 17px;
  }
  .page-header__logo-mustache {
    display: inline-block;
  }
  .page-header__logo--inner {
    height: 310px;
  }
  .page-header__decoration {
    height: 64px;
  }
  .page-header__decoration-wrapper {
    width: 1200px;
  }
  .page-header__decoration-left {
    border-width: 64px 0 0 600px;
  }
  .page-header__decoration-right {
    border-width: 0 0 64px 600px;
  }
}
.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: #826550;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav__toggle:focus {
  box-shadow: 0 0 0 2px #353535, 0 0 0 4px #fc0;
}
.main-nav--closed .main-nav__toggle::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: '';
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 50vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}
.main-nav--nojs .site-list__item {
  display: block;
}
.main-nav--nojs .site-list__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}
.main-nav--nojs .user-list__item {
  display: block;
  background-color: #6a4d38;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000;
  }
  .main-nav__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
.site-list {
  font-weight: bold;
}
.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5d;
  border-bottom: 1px solid #71543f;
}
.site-list a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.site-list a[href]:focus {
  box-shadow: 0 0 0 2px black, 0 0 0 4px #fc0;
}
.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
            justify-content: flex-start;
    width: 570px;
  }
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__item--active {
    position: relative;
  }
  .site-list__item--active::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
    background: #826550;
  }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
  .site-list__item {
    margin-right: 0;
  }
  .site-list__item--active::after {
    right: 30px;
    left: 30px;
  }
  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px;
  }
  .site-list__item a[href]:hover,
  .site-list__item a[href]:focus {
    color: #000000;
    background-color: #ffffff;
  }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
}
.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  fill: #ffffff;
}
.user-list__item a:focus {
  box-shadow: 0 0 0 2px black, 0 0 0 4px #fc0;
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 1;
    fill: #826550;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.3;
    fill: #ffffff;
  }
  .user-list__login-icon {
    top: 29px;
    left: 12px;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: auto;
    max-width: 160px;
  }
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  .user-list__login:hover,
  .user-list__login:focus {
    color: #000000;
    background-color: #ffffff;
  }
  .user-list__login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .user-list__login:hover .user-list__login-icon,
  .user-list__login:focus .user-list__login-icon {
    opacity: 0.3;
    fill: #000000;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.1;
  }
}
.stats {
  width: 320px;
  margin: 0 auto;
}
.stats__header {
  padding: 30px 40px 25px 40px;
  color: #000000;
  background-color: #ffffff;
}
.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}
.stats__legend--top {
  display: none;
}
.stats__legend--bottom {
  padding-top: 17px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #353535;
}
.stats__legend sup {
  top: -0.25em;
  font-size: 90%;
}
.stats__list {
  width: 100%;
  border-collapse: collapse;
}
.stats__list tr {
  color: #ffffff;
  background-color: #404040;
}
.stats__list tr:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__list tr:nth-child(3) {
  background-color: #383838;
}
.stats__list tr:nth-child(4) {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
}
.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}
.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
@media (min-width: 768px) {
  .stats {
    position: relative;
    width: 640px;
    margin-top: -185px;
  }
  .stats__header {
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    min-height: 129px;
  }
  .stats__header:before {
    content: '';
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .stats__slogan {
    width: 240px;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }
  .stats__intro {
    width: 210px;
    margin-top: 5px;
    padding-right: 47px;
    text-align: left;
  }
  .stats__legend--top {
    display: block;
    width: 240px;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__list tbody {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }
  .stats__list tr {
    width: 250px;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: -webkit-box;
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
  .stats__header {
    display: block;
    width: 240px;
  }
  .stats__header:before {
    top: 22px;
  }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
  }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px;
  }
  .stats__legend--top {
    width: auto;
  }
  .stats__list {
    display: -webkit-box;
    display: flex;
    width: 640px;
  }
}
.advantages {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: #242424;
}
.advantages__wrapper {
  position: relative;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  padding: 156px 40px 50px 45px;
  background-repeat: no-repeat;
  background-position: center 30px;
}
.advantages__item--fast {
  background-image: url('../img/advantage-1.svg');
}
.advantages__item--cool {
  background-image: url('../img/advantage-2.svg');
}
.advantages__item--price {
  background-image: url('../img/advantage-3.svg');
}
.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}
.advantages__description {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages {
    width: 768px;
    padding-bottom: 5px;
    background-color: #353535;
  }
  .advantages__wrapper {
    width: 640px;
    margin: 0 auto;
  }
  .advantages__item {
    position: relative;
    display: block;
    padding: 40px 20px 40px 160px;
    background-position: 30px 45px;
  }
  .advantages__item:last-child {
    border-bottom: none;
  }
  .advantages__item:last-child::after {
    content: none;
  }
  .advantages__item::after {
    content: '';
    position: absolute;
    left: 35px;
    right: 35px;
    bottom: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .advantages__title {
    text-align: left;
  }
  .advantages__description {
    text-align: left;
  }
  .advantages__toggles {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: 1200px;
    padding-bottom: 0;
  }
  .advantages__wrapper {
    width: 960px;
    margin: 0 auto;
  }
  .advantages__list {
    display: -webkit-box;
    display: flex;
  }
  .advantages__item {
    width: 320px;
    padding: 203px 40px 40px 40px;
    background-position: center 80px;
  }
  .advantages__item::after {
    width: 1px;
    height: auto;
    top: 80px;
    left: auto;
    right: 0;
    bottom: 50px;
  }
  .advantages__title {
    text-align: center;
  }
  .advantages__description {
    text-align: center;
  }
}
.news {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 28px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5ddd5;
}
.news::before {
  position: absolute;
  top: 0;
  content: '';
  border: 160px solid transparent;
  border-bottom: 0px solid transparent;
  border-top: 35px solid #242424;
}
.news__wrapper {
  position: relative;
}
.news__title {
  margin: 0;
  padding: 0;
  padding: 70px 30px 27px 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: black;
}
.news__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;
}
.news__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}
.news__item:first-child {
  border-bottom: 1px solid #e5ddd5;
}
.news__item:nth-child(2) {
  margin-bottom: 5px;
}
.news__item:nth-child(3) {
  display: none;
}
.news__item:hover .news__link {
  color: #826550;
  text-decoration: underline;
}
.news__item:hover .news__date {
  background-color: #826550;
}
.news__item:hover .news__date::after {
  border-top: 10px solid #826550;
}
.news__item:active .news__link {
  color: #6a4d38;
}
.news__item:active .news__date {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
}
.news__item:active .news__date::after {
  border-top: 10px solid #6a4d38;
}
.news__date {
  position: relative;
  width: 50px;
  height: 38px;
  margin-top: 10px;
  padding-top: 12px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: #000000;
}
.news__date::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  border: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-top: 10px solid #000000;
}
.news__day {
  display: block;
  font-size: 30px;
}
.news__text {
  width: 210px;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-size: 18px;
  color: #000000;
}
.news__link {
  color: #000000;
  text-decoration: none;
}
.news__to-all {
  display: block;
  margin: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .news {
    width: 768px;
    padding-bottom: 35px;
  }
  .news::before {
    border: 384px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 35px solid #353535;
  }
  .news__wrapper {
    width: 640px;
    margin: 0 auto;
  }
  .news__title {
    margin-bottom: 48px;
    padding: 95px 0 10px 0;
    font-size: 40px;
    text-align: left;
  }
  .news__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .news__item {
    width: 50%;
    margin-bottom: 0;
  }
  .news__item:first-child {
    border-bottom: none;
  }
  .news__item:nth-child(2) {
    margin-bottom: 0;
  }
  .news__text {
    width: 250px;
    margin-bottom: 0;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .news__text span {
    display: none;
  }
  .news__to-all {
    position: absolute;
    top: 85px;
    right: 0;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .news {
    width: 1200px;
    padding-bottom: 40px;
  }
  .news::before {
    border: 600px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 63px solid #353535;
  }
  .news__wrapper {
    width: 960px;
    margin: 0 auto;
  }
  .news__title {
    padding: 128px 0 10px 70px;
  }
  .news__item {
    width: 320px;
  }
  .news__item:nth-child(3) {
    display: -webkit-box;
    display: flex;
  }
  .news__to-all {
    top: 120px;
  }
}
.review {
  width: 320px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
}
.review__wrapper {
  position: relative;
  padding-bottom: 48px;
}
.review__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding: 26px 20px 0 20px;
}
.review__write {
  display: none;
}
.review__list {
  padding: 0 20px;
}
.review__item {
  position: relative;
  min-height: 128px;
  margin: 0;
  padding: 0;
  padding-left: 70px;
}
.review__author-picture {
  position: absolute;
  left: 0;
  top: 9px;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}
.review__author-image {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #e5ddd5;
}
.review__author-name {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.review__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.review__prev,
.review__next {
  display: none;
}
@media (min-width: 768px) {
  .review {
    width: 768px;
  }
  .review__wrapper {
    position: relative;
    width: 640px;
    margin: 0 auto;
    padding-bottom: 70px;
  }
  .review__title {
    margin-bottom: 46px;
    padding: 46px 0 0 0;
    font-size: 40px;
    text-align: left;
  }
  .review__write {
    position: absolute;
    display: block;
    top: 37px;
    right: 0;
  }
  .review__list {
    position: relative;
    padding: 0 50px;
    border: 1px solid #e5ddd5;
  }
  .review__item {
    padding-top: 32px;
    padding-left: 140px;
  }
  .review__author-picture {
    left: 30px;
    top: 40px;
    width: 80px;
    height: 80px;
  }
  .review__author-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
  }
  .review__author-name {
    margin-bottom: 12px;
  }
  .review__text {
    margin-bottom: 20px;
  }
  .review__toggles {
    margin-left: -61px;
    padding: 0 25px;
    bottom: 67px;
    background-color: #ffffff;
  }
  .review__prev,
  .review__next {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
  }
  .review__prev::before,
  .review__next::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 12px 6px 0;
    border-color: transparent black transparent transparent;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .review__prev:hover::before,
  .review__next:hover::before,
  .review__prev:focus::before,
  .review__next:focus::before {
    opacity: 1;
  }
  .review__prev:hover,
  .review__next:hover,
  .review__prev:focus,
  .review__next:focus {
    background-color: rgba(130, 101, 80, 0.12);
  }
  .review__prev {
    left: 0;
    border-right: 1px solid #e5ddd5;
  }
  .review__next {
    right: 0;
    border-left: 1px solid #e5ddd5;
  }
  .review__next::before {
    border-width: 6px 0 6px 12px;
    border-color: transparent transparent transparent black;
  }
}
@media (min-width: 1200px) {
  .review {
    width: 1200px;
  }
  .review__wrapper {
    width: 960px;
    padding-bottom: 97px;
  }
  .review__title {
    margin-bottom: 45px;
    padding-left: 70px;
  }
  .review__list {
    padding: 0;
    padding-right: 50px;
    margin: 0 70px;
  }
  .review__item {
    padding-left: 320px;
  }
  .review__author-picture {
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
  }
  .review__author-image {
    width: 250px;
    height: 100%;
    border-radius: 0;
  }
  .review__author-image--mini {
    display: none;
  }
  .review__author-image--big {
    display: block;
  }
  .review__toggles {
    bottom: 47px;
    background-color: #ffffff;
  }
  .review__prev,
  .review__next {
    border: 1px solid #e5ddd5;
  }
  .review__prev {
    left: -70px;
  }
  .review__next {
    right: -70px;
  }
}
.page-footer {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 25px;
  background-color: #292929;
}
.page-footer::before {
  position: absolute;
  top: 0;
  content: '';
  border: 160px solid transparent;
  border-bottom: 0px solid transparent;
  border-top: 35px solid #ffffff;
}
.page-footer--grey::before {
  border-top: 35px solid #424242;
}
.page-footer__contacts {
  margin-bottom: 25px;
}
.page-footer__social {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .page-footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .page-footer::before {
    content: none;
  }
  .page-footer__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
    width: 640px;
    margin: 0 auto;
  }
  .page-footer__contacts {
    width: 400px;
    margin-bottom: 48px;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .page-footer__social {
    width: 100%;
    margin-bottom: 0;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .page-footer__copyright {
    width: 160px;
    margin-bottom: 48px;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 960px;
  }
  .page-footer__contacts {
    width: 320px;
    margin-bottom: 0;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .page-footer__social {
    width: 320px;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .page-footer__copyright {
    margin-left: 160px;
    margin-bottom: 0;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
}
.form {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #ffffff;
}
.form__wrapper {
  padding-bottom: 38px;
}
.form__header {
  position: relative;
}
.form__title {
  margin: 0;
  padding: 30px 20px 29px 20px;
  color: #000000;
}
.form__on-main {
  display: none;
}
.form__wrapper-input {
  margin-bottom: 30px;
}
.form__item {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}
.form__item:nth-child(3) {
  margin-bottom: 35px;
}
.form__item:nth-child(5) {
  margin-bottom: 32px;
}
.form__item input,
.form__item textarea {
  width: 100%;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form__item input:hover,
.form__item textarea:hover,
.form__item input:focus,
.form__item textarea:focus {
  border: 1px solid #d5c9bd;
}
.form__item input:active,
.form__item textarea:active {
  border: 1px solid #999999;
}
.form__item textarea {
  padding: 8px 16px 12px 16px;
}
.form__fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  border: none;
}
.form__fieldset legend {
  margin-bottom: 35px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: black;
}
.form__fieldset--services {
  margin-bottom: 26px;
}
.form__button {
  width: 100%;
}
@media (min-width: 768px) {
  .form {
    width: 768px;
    padding: 0;
    padding-bottom: 76px;
  }
  .form__wrapper {
    width: 640px;
    margin: 0 auto;
  }
  .form__header {
    width: 640px;
    margin: 0 auto;
  }
  .form__title {
    margin-bottom: 67px;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 12px;
    font-size: 40px;
    line-height: 30px;
    text-align: left;
  }
  .form__on-main {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 100px;
  }
  .form__wrapper-input {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 13px;
  }
  .form__item {
    width: 100%;
    margin-bottom: 35px;
  }
  .form__item:nth-child(1) {
    width: 32%;
  }
  .form__item:nth-child(2) {
    width: 32%;
  }
  .form__item:nth-child(3) {
    width: 32%;
  }
  .form__item:nth-child(5) {
    margin-bottom: 35px;
  }
  .form__item input,
  .form__item textarea {
    padding: 19px 25px;
    font-size: 24px;
    line-height: 30px;
  }
  .form__item textarea {
    min-height: 211px;
  }
  .form__fieldset {
    margin-bottom: 52px;
  }
  .form__fieldset legend {
    margin-bottom: 42px;
    font-size: 30px;
    line-height: 30px;
  }
  .form__fieldset--services {
    margin-bottom: 12px;
  }
  .form__fieldset--services legend {
    margin-bottom: 69px;
  }
  .form__button {
    margin-bottom: 0;
    padding: 20px 10px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .form {
    width: 1200px;
  }
  .form__header {
    width: 960px;
  }
  .form__wrapper {
    width: 960px;
  }
  .form__wrapper-input {
    margin-bottom: 28px;
  }
  .form__item {
    margin-bottom: 35px;
  }
  .form__item:nth-child(1),
  .form__item:nth-child(2),
  .form__item:nth-child(3) {
    width: 31%;
  }
  .form__item:nth-child(4),
  .form__item:nth-child(5) {
    width: 48%;
    margin-bottom: 35px;
  }
  .form__item:nth-child(6) {
    /* demo */
    min-height: 211px;
  }
  .form__fieldset {
    margin-bottom: 50px;
  }
  .form__fieldset legend {
    margin-bottom: 50px;
  }
  .form__fieldset--services {
    margin-bottom: 34px;
  }
  .form__fieldset--services legend {
    margin-bottom: 68px;
  }
}
.radio-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #000000;
  list-style: none;
}
.radio-list__item {
  position: relative;
  width: 33.33333333%;
  padding-top: 61px;
  text-align: center;
}
.radio-list__item span {
  line-height: 24px;
}
.radio-list__item input[type=radio]:checked + .radio-list__indicator::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  background-color: #BEAFA4;
  border-radius: 50%;
}
.radio-list__item input[type=radio]:disabled + .radio-list__indicator {
  border: 1px solid #e5ddd5;
}
.radio-list__item input[type=radio]:focus + .radio-list__indicator {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;
}
.radio-list__indicator {
  position: absolute;
  top: 3px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border: 1px solid #d2bca5;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radio-list__indicator:hover {
  border-color: #a5917e;
}
.radio-list__icon {
  display: block;
  width: 100%;
  height: 120px;
  background-image: url(../img/beard-admiral.svg);
  background-repeat: no-repeat;
  background-position: center 12px;
}
.radio-list__icon--lesorub {
  background-image: url(../img/beard-lesorub.svg);
}
.radio-list__icon--polyarnik {
  background-image: url(../img/beard-polyarnik.svg);
}
.radio-list__icon--boyarin {
  background-image: url(../img/beard-boyarin.svg);
}
.radio-list__icon--mudrez {
  background-image: url(../img/beard-mudrez.svg);
}
@media (min-width: 768px) {
  .radio-list {
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .radio-list__item {
    width: 15%;
    padding-top: 81px;
  }
  .radio-list__item span {
    font-size: 24px;
  }
  .radio-list__icon {
    margin-top: 18px;
  }
}
@media (min-width: 1200px) {
  .radio-list__item {
    width: 17%;
  }
}
.checkbox-list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #000000;
  list-style: none;
}
.checkbox-list__item {
  position: relative;
  margin-bottom: 24px;
  padding-top: 5px;
  padding-left: 60px;
}
.checkbox-list__item span {
  line-height: 24px;
}
.checkbox-list__item input[type=checkbox]:checked + .checkbox-list__indicator::before {
  position: absolute;
  content: '';
  top: 9px;
  left: 50%;
  width: 22px;
  height: 16px;
  margin-left: -11px;
  background-image: url(../img/checkbox-ok.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.checkbox-list__item input[type=checkbox]:disabled + .checkbox-list__indicator {
  border: 1px solid #e5ddd5;
}
.checkbox-list__item input[type=checkbox]:focus + .checkbox-list__indicator {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;
}
.checkbox-list__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border: 1px solid #d2bca5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.checkbox-list__indicator:hover {
  border-color: #a5917e;
}
@media (min-width: 768px) {
  .checkbox-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
  }
  .checkbox-list__item {
    width: 50%;
    margin-bottom: 48px;
    font-size: 24px;
    line-height: 30px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .checkbox-list__item {
    width: 33.33333333%;
  }
}
.works {
  width: 320px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
}
.works__wrapper {
  padding: 0 20px;
}
.works__total-title {
  margin: 0;
  padding: 0;
  padding: 29px 10px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.works__on-main {
  display: none;
}
.works__best {
  position: relative;
  margin-bottom: 20px;
  outline: 1px solid #e5ddd5;
}
.works__best-flag {
  position: absolute;
  top: 402px;
  left: -1px;
  margin: 0;
  padding: 11px 20px 11px 25px;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #826550;
}
.works__best-flag::before,
.works__best-flag::after {
  position: absolute;
  top: 0;
  right: -10px;
  content: '';
  border-style: solid;
  border-width: 25px 10px 0 0;
  border-color: #826550 transparent transparent transparent;
}
.works__best-flag::after {
  top: auto;
  bottom: 0;
  border-style: solid;
  border-width: 25px 0 0 10px;
  border-color: transparent transparent transparent #826550;
}
.works__best-photo {
  display: block;
  width: 280px;
  height: 480px;
  margin-bottom: 20px;
}
.works__photo {
  display: block;
  width: 280px;
  height: 176px;
  margin-bottom: 25px;
}
.works__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 10px 0 22px;
  font-size: 24px;
  font-weight: 700;
}
.works__desc {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 23px;
  font-size: 18px;
}
.works__list {
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
  list-style: none;
}
.works__item {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border: 1px solid #e5ddd5;
  box-sizing: border-box;
}
.works__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .works {
    width: 768px;
  }
  .works__columns {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .works__first {
    width: 270px;
  }
  .works__second {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 370px;
    padding: 43px 28px 20px 28px;
    box-sizing: border-box;
  }
  .works__columns--list .works__second {
    padding: 39px 50px 25px 28px;
  }
  .works__wrapper {
    width: 640px;
    margin: 0 auto;
    padding: 0;
  }
  .works__header {
    position: relative;
    margin-bottom: 48px;
  }
  .works__total-title {
    padding: 62px 120px 0 0;
    font-size: 40px;
    text-align: left;
  }
  .works__on-main {
    position: absolute;
    right: 0;
    bottom: -10px;
    display: block;
    padding: 12px 35px;
  }
  .works__best {
    margin-bottom: 41px;
  }
  .works__best-flag {
    top: 35px;
    left: -3px;
  }
  .works__best-photo {
    width: 270px;
    margin-bottom: 0;
  }
  .works__photo {
    width: 270px;
    height: 294px;
    margin-bottom: 0;
  }
  .works__title {
    margin-bottom: 26px;
  }
  .works__desc {
    margin-bottom: auto;
  }
  .works__list {
    margin-bottom: 62px;
    padding-bottom: 0;
  }
  .works__item {
    margin-bottom: 40px;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .works {
    width: 1200px;
  }
  .works__first {
    width: 480px;
  }
  .works__second {
    width: 480px;
    padding: 130px 28px 15px 20px;
  }
  .works__columns--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .works__columns--list .works__first {
    width: 100%;
  }
  .works__columns--list .works__second {
    width: 100%;
    min-height: 247px;
    padding: 30px 5px 15px 12px;
  }
  .works__wrapper {
    width: 960px;
  }
  .works__header {
    margin-bottom: 90px;
  }
  .works__total-title {
    padding-top: 60px;
  }
  .works__best-flag {
    top: 25px;
    left: auto;
    right: -2px;
  }
  .works__best-flag::before,
  .works__best-flag::after {
    left: -10px;
    right: auto;
    border-width: 0 10px 25px 0;
    border-color: transparent #826550 transparent transparent;
  }
  .works__best-flag::after {
    border-width: 0 0 25px 10px;
    border-color: transparent transparent #826550 transparent;
  }
  .works__best-photo {
    width: 480px;
  }
  .works__photo {
    width: 294px;
  }
  .works__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-bottom: 88px;
  }
  .works__item {
    width: 294px;
    margin-bottom: 0;
  }
}
.services-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 23px;
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}
.services-list__item {
  width: 50%;
  margin-bottom: 13px;
  box-sizing: border-box;
}
.services-list__item::before {
  position: relative;
  top: 5px;
  content: '';
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.services-list__item--haircut::before {
  background-image: url(../img/scissors.svg);
}
.services-list__item--shaving::before {
  width: 23px;
  background-image: url(../img/beard.svg);
}
.services-list__item--moustache::before {
  top: 9px;
  width: 45px;
  margin-right: 12px;
  background-image: url(../img/moustache.svg);
}
@media (min-width: 1200px) {
  .services-list--three .services-list__item {
    width: 33.33333333%;
  }
}
.pricelist {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: #424242;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.pricelist__wrapper {
  position: relative;
  padding: 0 20px;
}
.pricelist__wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border: 160px solid transparent;
  border-bottom: 0px solid transparent;
  border-top: 35px solid #ffffff;
}
.pricelist__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 70px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.pricelist__list {
  width: 100%;
  margin-bottom: 11px;
  border-collapse: collapse;
}
.pricelist__number {
  display: none;
}
.pricelist__field-1 {
  width: 200px;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  font-weight: 700;
}
.pricelist__field-1 span {
  display: block;
  font-weight: 400;
}
.pricelist__field-2 {
  display: none;
}
.pricelist__value {
  width: 80px;
  margin: 0;
  padding: 0;
  text-align: right;
  vertical-align: top;
}
.pricelist__sale {
  position: relative;
  display: block;
  margin: 0;
  padding: 16px 10px 18px 113px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.pricelist__sale span {
  display: block;
}
.pricelist__sale svg {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -28px;
}
@media (min-width: 768px) {
  .pricelist {
    width: auto;
  }
  .pricelist__wrapper {
    width: 640px;
    margin: 0 auto;
    padding: 0;
  }
  .pricelist__wrapper::before {
    left: -64px;
    border: 384px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 42px solid #ffffff;
  }
  .pricelist__title {
    margin-bottom: 53px;
    font-size: 40px;
    text-align: left;
  }
  .pricelist__list {
    margin-bottom: 10px;
  }
  .pricelist__list td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
  }
  .pricelist__number {
    display: table-cell;
    width: 70px;
    text-align: center;
  }
  .pricelist__field-1 {
    width: 250px;
    padding: 13px 10px 14px 20px;
  }
  .pricelist__field-1 span {
    display: none;
  }
  .pricelist__field-2 {
    display: table-cell;
    width: 165px;
    padding-left: 18px;
  }
  .pricelist__value {
    width: 155px;
    padding-left: 15px;
    text-align: left;
    vertical-align: middle;
  }
  .pricelist__sale {
    margin-bottom: 36px;
    padding: 41px 20px 42px 185px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .pricelist__sale span {
    display: inline;
  }
  .pricelist__sale svg {
    left: 25px;
    width: 71px;
    height: 70px;
    margin-top: -35px;
  }
}
@media (min-width: 1200px) {
  .pricelist {
    padding-bottom: 64px;
  }
  .pricelist__wrapper {
    width: 960px;
  }
  .pricelist__wrapper::before {
    content: none;
  }
  .pricelist__list-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .pricelist__list {
    width: 630px;
    margin-bottom: 0;
  }
  .pricelist__field-2 {
    padding-left: 25px;
  }
  .pricelist__value {
    padding-left: 20px;
  }
  .pricelist__sale {
    width: 270px;
    margin-bottom: 0;
    padding: 198px 20px 0 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    box-sizing: border-box;
  }
  .pricelist__sale span {
    display: block;
  }
  .pricelist__sale svg {
    width: 142px;
    height: 139px;
    top: 35px;
    left: 50%;
    margin-top: 0;
    margin-left: -71px;
  }
}
.contacts {
  margin: 0 20px;
  padding-top: 33px;
  font-size: 18px;
  text-align: center;
}
.contacts__title {
  display: block;
  margin-bottom: 10px;
}
.contacts__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
.contacts__phone {
  margin-bottom: 25px;
}
.contacts__phone-mobile {
  display: none;
}
@media (min-width: 768px) {
  .contacts {
    margin: 0;
    padding-top: 0;
    text-align: left;
  }
  .contacts__title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .contacts__text {
    margin-bottom: 0;
  }
  .contacts__phone {
    padding: 0;
    font-weight: 400;
    text-align: left;
    background-color: transparent;
    border: none;
  }
  .contacts__phone:hover,
  .contacts__phone:focus {
    border: none;
  }
  .contacts__phone:active {
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
  }
  .contacts__phone-mobile {
    display: inline;
    text-transform: none;
  }
}
.copyright {
  padding: 0 20px;
}
.copyright__text {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
  }
}
.social__title {
  display: none;
  font-size: 18px;
}
.social__list {
  display: -webkit-box;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__item {
  width: 33.33333333%;
}
.social__item:first-child .social__link {
  border-left: none;
}
.social__link {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100px;
  padding: 0;
  border-right: none;
}
.social__link:hover,
.social__link:focus {
  border-right: none;
}
.social__link:active svg {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social__item:first-child .social__link {
    border-left: 1px solid #3f3f3f;
  }
  .social__item:last-child .social__link {
    border-right: 1px solid #3f3f3f;
  }
}
@media (min-width: 1200px) {
  .social__title {
    display: block;
    margin-bottom: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
  }
  .social__list {
    -webkit-box-pack: center;
            justify-content: center;
  }
  .social__item {
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .social__link {
    width: 50px;
    height: 50px;
    border-right: 1px solid #3f3f3f;
  }
  .social__link:hover,
  .social__link:focus {
    border: 1px solid #545454;
  }
  .social__link--vkontakte svg {
    width: 15px;
    height: 17px;
  }
  .social__link--facebook svg {
    width: 10px;
    height: 21px;
  }
  .social__link--instagram svg {
    width: 19px;
    height: 19px;
  }
}
.modal {
  position: fixed;
}
.modal-login {
  display: none;
  width: 320px;
  padding: 30px 20px 35px 20px;
  top: 136px;
  left: 50%;
  margin-left: -160px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  z-index: 100;
}
.modal-login__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.modal-login__form {
  position: relative;
}
.modal-login__comment {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  text-align: center;
}
.modal-login__item {
  margin: 0;
  padding: 0;
  background-image: url(../img/login-icon.png);
  background-repeat: no-repeat;
  background-position: right 15px top 13px;
}
.modal-login__item input[type="text"],
.modal-login__item input[type="password"] {
  width: 100%;
  margin-bottom: 7px;
  padding: 5px 40px 5px 15px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: transparent;
  border: 1px solid #e5ddd5;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.modal-login__item input[type="password"] {
  margin-bottom: 15px;
}
.modal-login__item input[type="text"]:hover,
.modal-login__item input[type="text"]:focus,
.modal-login__item input[type="password"]:hover,
.modal-login__item input[type="password"]:focus {
  border: 1px solid #d5c9bd;
}
.modal-login__item--password {
  background-image: url(../img/locked-icon.png);
}
.modal-login__help {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}
.modal-login__checkbox {
  position: relative;
  padding-left: 38px;
}
.modal-login__checkbox input[type=checkbox]:checked + .modal-login__checkbox-indicator::before {
  position: absolute;
  content: '';
  top: 7px;
  left: 50%;
  width: 22px;
  height: 16px;
  margin-left: -11px;
  background-image: url(../img/checkbox-ok.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.modal-login__checkbox input[type=checkbox]:disabled + .modal-login__checkbox-indicator {
  border: 1px solid #e5ddd5;
}
.modal-login__checkbox input[type=checkbox]:focus + .modal-login__checkbox-indicator {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;
}
.modal-login__checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #d2bca5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.modal-login__checkbox-indicator:hover {
  border-color: #a5917e;
}
.modal-login__restore {
  color: #000000;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.modal-login__restore:hover,
.modal-login__restore:focus {
  text-decoration: none;
}
.modal-login__close {
  position: absolute;
  top: 5px;
  right: -34px;
  display: none;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.modal-login__close::before,
.modal-login__close::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
}
.modal-login__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-login__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-login__close:hover {
  opacity: 1;
}
.modal-login__button-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.modal-login__submit {
  width: 130px;
  padding: 10px;
}
.modal-login__button {
  display: block;
  width: 130px;
  padding: 10px;
}
.modal-login__button-tablet {
  display: none;
}
.overlay-show {
  display: block;
}
.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.modal-hide {
  display: block;
  -webkit-animation-name: bounceOut;
          animation-name: bounceOut;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2000%);
            transform: translateY(2000%);
  }
}
@keyframes bounceOut {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2000%);
            transform: translateY(2000%);
  }
}
.modal-error,
.modal-repeat-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@media (min-width: 768px) {
  .modal-login {
    width: 460px;
    margin-left: -230px;
    padding: 50px 70px 50px 70px;
  }
  .modal-login__title {
    font-size: 40px;
    line-height: 30px;
  }
  .modal-login__item {
    background-position: right 20px top 20px;
  }
  .modal-login__item input[type="text"],
  .modal-login__item input[type="password"] {
    padding: 12px 40px 12px 20px;
    font-size: 22px;
  }
  .modal-login__item input[type="password"] {
    margin-bottom: 25px;
  }
  .modal-login__help {
    margin-bottom: 30px;
  }
  .modal-login__close {
    display: block;
  }
  .modal-login__submit {
    width: 100%;
  }
  .modal-login__button {
    display: none;
  }
  .modal-login__button-mobile {
    display: none;
  }
  .modal-login__button-tablet {
    display: block;
  }
}
/* --- TEST ---
.test {
	display: flex;
	// justify-content: center;
	align-items: center;
	flex-wrap: wrap;	
	align-content: stretch;

	width: 650px;
	height: 500px;

	text-align: center;

	border: 2px solid red;
}

.dv {	
	flex-grow: 1;
	// flex-basis: 200px;
	width: 160px;
	// height: 50px;
	margin: 0 10px;
	padding: 10px;

	outline: 1px dotted green;
}

.test-1 {
	
}

.test-2 {
	
}

.test-3 {
	
}

.test-4 {
	
}

.test-wrapper {
	display: flex;
	justify-content: space-between;

	width: 1000px;
	margin: 20px;
	padding: 20px;

	border: 2px solid black;
}

.test-wrapper__first {
	display: flex;

	width: 47%;
	padding: 10px;

	border: 2px solid black;
	background-color: #DCDDE0;
}

.test-wrapper__second {
	padding: 10px;

	border: 2px solid black;
	background-color: #F5D327;
}

.header {
	margin-bottom: 10px;
	padding: 10px 0;

	background-color: black;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 10px;

	border: 2px dashed #ababab;
}

.header__content {
	padding: 5px;

	text-align: center;
	color: #ffffff;

	background-color: #3e3e3e;
}

.index__content {
	padding: 10px 0;

	background-color: #f0f0f0;
}

.index__logo {
	width: 33%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.feautures {
	display: flex;
	justify-content: space-between;

	margin-bottom: 20px;
}

.feautures > div {
	width: 28%;
}

.data {
	display: flex;
	justify-content: space-between;
}

.data > div {
	width: 45%;
}

.footer {
	margin-top: 10px;
	padding: 10px 0;

	background-color: black;
}

.footer__content {
	padding: 5px;

	text-align: center;
	color: #ffffff;

	background-color: #3e3e3e;
}

.decor {
	padding: 15px;

	text-align: center;
	color: black;

	background-color: #DCE6ED;

	border: 2px dashed #45A1E0;
}


// от 320px мобильная версия
body {
	min-width: 320px;
}

.container {
	width: auto;
	padding: 0 20px;
}


// от 768px планщетная версия
@media (min-width: 768px) {
	.container {
		width: auto;
		padding: 0 64px;
	}
}

// от 1088px декстопная версия
@media (min-width: 1088px) {
	.container {
		width: 960px;
		padding: 0 64px;
	}
}	


--- Мобильная версия ---
// @media (max-width: 200px) {
// 	.container {
// 		width: auto;
// 	}

// 	.feautures {
// 		display: block;
// 	}

// 	.feautures > div {
// 		width: auto;
// 		margin-bottom: 10px;
// 	}

// 	.data {
// 		display: block;
// 	}

// 	.data > div {
// 		width: auto;
// 		margin-bottom: 10px;
// 	}	
// }


--- end TEST --- */
