.banner {	
	position: relative;
	margin-bottom: 5px;
	padding: 0 20px;
}

.banner__img {
	position: relative;
	width: 100%;
	height: 320px;
	line-height: 0;
	overflow: hidden;
	box-sizing: border-box;
	z-index: -1;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0,0,0,.5);
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;		
		width: 300%;
		max-width: 300%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
}

.banner__wrapper {
	position: absolute;	
	left: 20px;
	right: 20px;
	display: flex;
	height: 320px;
	align-items: center;	
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.banner__title-wrapper {
	width: 100%;
	padding: 0 30px;
}

.banner__title {	
	font-size: 30px;
	line-height: normal;
	color: #ffffff;

	span {
		display: block;
		opacity: .6;
	}
}

.banner__slogan {	
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
}

.banner {	
	position: relative;	
	min-height: 100px;
}

.banner__form {
	padding: 30px;
	padding-bottom: 15px;
	z-index: 1;
}

.banner__button {
	width: 100%;
}

@media (min-width: @mobile-width) {
	.banner__img {
		height: 320px;
		img {			
			width: 200%;
		}
	}

	.banner__form {
		padding: 30px 20px 15px 20px;
		.form__item-wrapper {
			display: flex;
			justify-content: space-between;
		}
		.form__item {
			width: 48%;
		}
	}

}

@media (min-width: 600px) {
	.banner__img {
		height: 400px;
		img {			
			width: 190%;
		}
	}

	.banner__wrapper {
		height: 400px;
	}

	.banner__title {	
		font-size: 40px;
	}

	.banner__slogan {		
		font-size: 22px;
		line-height: 34px;		
	}

	.banner__button {
		width: auto;
		margin: 0 auto;
		margin-bottom: 15px;
	}
}

@media (min-width: @tablet-width) {
	.banner__img {
		height: 400px;
		img {			
			width: 150%;
		}
	}	

	.banner__wrapper {
		// padding-top: 150px;
	}

	.banner__title {	
		font-size: 45px;
	}

	.banner__slogan {
		font-size: 24px;
		line-height: 36px;		
	}

	.banner__form {
		display: flex;
		flex-wrap: wrap;
	}

	.banner__button {
		width: 30%;
		flex-grow: 1;
		margin-left: 20px;		
	}
}

@media (min-width: @desktop-width) {
	.banner {
		padding: 0;
	}

	.banner__wrapper {		
		align-items: flex-start;
		padding-top: 250px;
		text-align-last: left;
	}

	.banner__title-wrapper {
		padding: 0 50px;
	}

	.banner__slogan {		
		text-align: left;
	}

	.banner__img {
		height: 550px;
		img {			
			width: 150%;
		}
	}

	.banner__form {
		position: absolute;
		top: 220px;
		left: 50%;
		right: auto;
		bottom: auto;
		display: block;
		margin-left: 190px;
		padding: 30px;
		width: 280px;

		.form__item-wrapper {
			display: block;
		}

		.form__item {
			width: 100%;
		}
	}

	.banner__button {
		width: 100%;
		margin-left: 0;
		margin-bottom: 0;
	}
}

@media (min-width: 1040px) {
	.banner__form {	
		width: 300px;
	}
}

@media (min-width: 1100px) {
	.banner__title-wrapper {	
		padding: 0 70px;
	}

	.banner__form {
		right: 30px;
	}
	
}

@media (min-width: @desktop-full-width) {
	.banner__img {	
		img {			
			width: 130%;
		}
	}
}
