.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 10px;
	font-family: @ff;
	font-size: 13px;
	line-height: 16px;
	color: #ffffff;
	background-color: @blue;
	border: none;
	transition: @animation;
	&:hover,
	&:focus {
		background-color: darken(@blue, 4%);
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}