.container {
	width: 320px;
	margin: 0 auto;
	padding: 0 10px;
	// background-color: green;
}


@media (min-width: @mobile-width) {
	.container {
		width: 480px;
	}
}

@media (min-width: @tablet-width) {
	.container {
		width: 768px;
	}	
}

@media (min-width: @desktop-width) {
		
}

@media (min-width: @desktop-full-width) {
	.container {
		width: 1120px;
	}
}