.page-header {
	margin: 0;
	box-sizing: border-box;
}

.page-header__top {
	padding: 10px 0;
}

@media (min-width: @tablet-width) {
	.page-header__top {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.page-header__box {
		width: 100%;
	}
}

@media (min-width: @desktop-width) {
	.page-header {
		position: fixed;
		width: 100%;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.3);
		z-index: 10;
	}
}

/*--- LOGO ---*/
.page-header__logo {
	margin-bottom: 10px;
	text-align: center;	
	&:focus {
		// box-shadow: none;
	}
}

@media (min-width: @mobile-width) {
	
}


@media (min-width: @tablet-width) {
	.page-header__logo {
		margin-bottom: 0;		
	}
}

@media (min-width: @desktop-width) {
	.page-header__logo {		
		position: relative;
		top: -7px;
		margin-right: auto;		
	}
}


/*--- PHONE ---*/
.page-header__phone {	
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: @tablet-width) {
	.page-header__phone {	
		margin-bottom: 0;
	}
}

@media (min-width: @desktop-width) {
	.page-header__phone {
		margin-right: 35px;
		// padding: 2px 5px;
	}
}

.page-header__box {
	display: flex;
}

.page-header__connect {
	width: 46px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
	background-color: rgba(0,0,0,.07);
	svg {		
		fill: @blue;
		transition: @animation;		
	}
	span {
		display: none;
	}
	&:hover,
	&:focus {
		svg {
			fill: #ffffff;
		}
	}
}

.page-header__user {
	width: 46px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.07);
	// width: 175px;
	// height: 46px;	
	svg {
		fill: @blue;
		transition: @animation;
	}
	span {
		display: none;
	}
	&:hover,
	&:focus {
		svg {
			fill: #ffffff;
		}
	}	
}

@media (min-width: @mobile-width) {
	.page-header__connect {
		width: 175px;		
		svg {
			margin-right: 10px;			
		}
		span {
			display: inline-block;
			color: @blue;
		}
		&:hover,
		&:focus {
			span {
				color: #ffffff;
			}
		}
	}
}

@media (min-width: @tablet-width) {
	.page-header__box {
		padding-top: 10px;
	}
}


/*--- MAIN MENU ---*/
.page-header__menu {
	position: relative;
}

.page-header__nav-wrapper {	
	// padding-top: 10px;
	position: relative;
}

.page-header__nav {	
	width: 100%;
	position: absolute;
	top: 50px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-out;
	z-index: 10;
}

.page-header__nav--show {
	top: 0px; 
	opacity: 1;
	visibility: visible;
}


.page-header__toggle-nav {
	position: absolute;
	bottom: 20px;
	// top: -120px;
	right: 20px;
}

@media (min-width: @mobile-width) {
		
}

@media (min-width: @tablet-width) {
	.page-header__nav {
		width: 50%;
		right: 0;
	}	
}

@media (min-width: @desktop-width) {
	
	
	
	
	.page-header__toggle-nav {
		display: none;
	}

	.page-header__nav {
		width: auto;
		position: static;
		opacity: 1;
		visibility: visible;
	}
}