.partners {
	padding-bottom: 125px;
}

.partners__title {
	margin-bottom: 10px;
}

.partners__list {
	padding-bottom: 50px;
	border-bottom: 1px solid #e7e7e7;
}

.partners__item {	
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background: #ffffff;
	opacity: 0.7;
	box-sizing: border-box;
	transition: @animation;
	&:hover,
	&:focus {
		opacity: 1;
	}
}

@media (min-width: @mobile-width) {
	.partners__list {
		display: flex;
		// justify-content: center;
		flex-wrap: wrap;
	}

	.partners__item {
		width: 35%;
		margin: 0;
		// margin-bottom: 30px;
	}
}

@media (min-width: @tablet-width) {
	.partners__title {
		text-align: center;
	}

	.partners__item {
		width: 40%;
	}	
}

@media (min-width: @desktop-width) {
	.partners__title {
		text-align: left;
	}

	.partners__list {
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	.partners__item {
		// width: 18%;
		// margin: 0;
		// margin-bottom: 0;
	}
}

@media (min-width: @desktop-full-width) {
	.partners__item {
		width: 23%;
		margin: 0;
		// padding: 30px 20px;
	}	
}