.phone {
	
}

.phone__number {
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	text-decoration: none;
	color: #000000;
	svg {
		position: relative;
		top: 2px;
		margin-right: 10px;
		// margin-right: 15px;
		transition: @animation;
	}
	&:hover,
	&:focus {
		color: @dark-blue;
		svg {			
			fill: @dark-blue;
		}
	}
}


@media (min-width: @mobile-width) {
		
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}