.sidebar {	
	padding-top: 0;	
	box-sizing: border-box;
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.sidebar {
		display: flex;
		padding: 10px;
	}
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {
	.sidebar {
		display: block;		
	}
}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}