/*--- Inter ---*/
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  font-family: Inter, sans-serif;  
}

h2, h3 {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #2a2c30;
  letter-spacing: normal;
  text-transform: none;  
}

h3 {  
  font-size: 18px;
  color: #33354a;
}

:focus {
  outline: none;
  /*-webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;
          box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;*/
}

.preloader {
  background-color: #133038;
}

.loader span {
  background-color: #fdc61b;
}

.mouse-circle-mover {
  /*display: none;*/
  background-color: #fdc61b;
}

.mouse-circle-mover-follow {
  /*display: none;*/
  border: 1px solid #fdc61b;
}

.back-btn {
  background-color: #fdc61b;
  border-color: #fdc61b;
}

.back-btn:hover {
  background-color: #fdc61b;  
}

.ch-btn-style-2:hover {
    background: #133038;
    color: #fff;
}

/*.ch-btn-style-1 {
  padding: 12px 25px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
  border: 5px solid #fdc61b;
  border-radius: 10px;
}

.ch-btn-style-1:after {
  content: '';
}

.ch-btn-style-2 {
  padding: 12px 25px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
  border: 5px solid #33354a;
  border-radius: 10px;
  background-color: #33354a;
}

.ch-btn-style-2:after {
  content: '';
}*/

.ch-btn-style-3 {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #33354a;
  border: 1px solid #fdc61b;  
}

.ch-btn-animated span {
  background-color: #fdc61b;
}


/*--- HEADER ---*/
header {
  background-color: #ffffff;
}

.cp-header-phone {
  padding: 10px 25px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fdc61b;
  border-radius: 10px;
  border: none;
}

.cp-header-phone:focus,
.cp-header-phone:hover {
  color: #ffffff;
  background-color: #33354a;
}

.cp-header-phone:after {
  content: none;
}

.cp-header-area .main-menu ul > li > a {
  color: #404040;
}

.cp-header-area .main-menu ul > li > a:hover {
  color: #fdc61b;
}

.cp-header-area .main-menu ul > li > a:focus {
  outline: none;
  color: #fdc61b;
}

@media (max-width: 1199px) {
  .mean-container .mean-nav {
    top: 30px;
    margin-top: 0;
    background-color: #33354a;
  }
}


/*--- SLIDE ---*/
.ch-main-slide {
  padding-bottom: 170px;
  background-color: #133038;
  background-image: url('../../assets/images/slide.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom -70px;
}

.ch-main-slide:after {
  position: absolute;
  bottom: -10px;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 165px 400px;
  border-color: transparent transparent #f7f7f7 transparent;
  transform: rotate(0deg);
}

.ch-main-slide .ch-main-hero-text h2 {
  margin-bottom: 20px;
  padding-top: 80px;
  font-size: 58px;
  text-align: left;
}

.ch-main-slide .ch-main-hero-text p.wow {
  max-width: 750px;
  font-size: 22px;
  font-weight: 500;
}

.ch-main-buttons {  
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.ch-main-buttons .ch-btn-style-1 {
  padding: 10px 25px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
  border: 5px solid #fdc61b;
  border-radius: 10px;
}

.ch-main-buttons .ch-btn-style-1:after {
  content: '';
}

.ch-main-buttons .ch-btn-style-2 {
  padding: 10px 25px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
  color: #ffffff;
  border: 5px solid #33354a;
  border-radius: 10px;
  background-color: #33354a;
}

.ch-main-buttons .ch-btn-style-2:focus,
.ch-main-buttons .ch-btn-style-2:hover {
  color: #33354a;
  background-color: #fdc61b;
  border-color: #fdc61b;
}

.ch-main-buttons .ch-btn-style-2:after {
  content: '';
}

@media (max-width: 1500px) {
  .ch-main-slide .ch-main-hero-text h2 {
    line-height: 66px;
    text-shadow: 0 0 5px rgba(0,0,0,.2);
  }

  .ch-main-slide .ch-main-hero-text p.wow {
    text-shadow: 0 0 5px rgba(0,0,0,.2);
    font-size: 20px;
    line-height: 26px;
  }

  .ch-main-slide {
    background-position: center bottom 0;
  }
}

@media (max-width: 1399px) {
  .ch-main-slide {
    background-size: cover;
  }
}

@media (max-width: 1199px) {
  .cp-header-phone {
    padding: 5px 10px;
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .cp-header-style-2 .mean-container a.meanmenu-reveal {
    margin-top: -50px;
    width: 45px;
    height: 45px;
    background-color: #fdc61b;
    border: none;
    border-radius: 12px;
  }  

  .mean-container a.meanmenu-reveal span {
    margin-top: 7px;
  }

  .mean-container a.meanmenu-reveal > span {
    margin-top: 0;
  }

  .mean-container a.meanmenu-reveal > span span::before {
    right: 12px;
  }

  .ch-main-slide .ch-main-hero-text {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .ch-main-slide {
    padding-bottom: 100px;
  }

  .ch-main-slide:after {
    content: none;
  }

  .ch-main-slide > .container {
    max-width: 90%;
  }  

  .ch-main-slide .ch-main-hero-text h2 {
    font-size: 45px;
    line-height: 57px;
  }

  .ch-main-buttons .ch-btn-style-1 {
    padding: 8px 20px;    
    font-size: 18px;    
    border: 3px solid #fdc61b;
    border-radius: 5px;
  }

  .ch-main-buttons .ch-btn-style-2 {
    padding: 8px 20px;    
    font-size: 18px;
    font-weight: 500;    
    border: 3px solid #33354a;
    border-radius: 5px;
  }
}

@media (max-width: 575px) {
  .mean-container .mean-nav {
    top: 25px;    
  }
}

@media (max-width: 530px) {
  .cp-header-phone {
    padding: 4px 8px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .cp-header-phone {
    display: none;
  }

  .cp-header-style-2 .mean-container a.meanmenu-reveal {
    margin-top: -38px;
  }

  .ch-main-slide .ch-main-hero-text h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .ch-main-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .ch-main-buttons a {
    width: 90%;
  }
}

@media (max-width: 450px) {

}


/*--- About Us ---*/
.about-area-s2 {
  padding-top: 180px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

.about-area-s2 .about-left-item {
  position: relative;
}

.about-area-s2 .about-left-item .about-left-img {
  position: relative;
  width: 340px;
  z-index: 1;
}

.about-area-s2 .about-left-item .about-left-img img {  
  border-radius: 0;
}

.about-area-s2 .about-left-item .about-right-img {
  position: absolute;
  top: -125px;
  right: 10px;  
  width: 300px;
  z-index: 2;
}

.about-area-s2 .about-right-item {
  padding-left: 20px;
}

.about-area-s2 .about-right-item .about-right-text {
  
}

.about-area-s2 .about-right-item .about-right-text span {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #2a2c30;
  letter-spacing: normal;
  text-transform: none;
}

.about-area-s2 .about-right-item .about-right-text h2 {
  font-family: Inter, sans-serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 900;
  text-align: left;
  color: #33354a;
}

.about-area-s2 .about-right-item .about-right-text p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #47494c;
}

@media (max-width: 1399px) {

}

@media (max-width: 1199px) {
  .about-area-s2 .about-left-item .about-left-img {
    width: 90%;    
  }  

  .about-area-s2 .about-left-item .about-right-img {    
    top: -125px;
    left: auto;
    right: 0;
    width: 70%;
  }
}

@media (max-width: 991px) {
  .about-area-s2 {
    padding-top: 100px;
  }

  .about-area-s2 .about-left-item {
    padding-bottom: 70px;
  }

  .about-area-s2 .about-left-item .about-left-img {
    width: 50%;
  }  

  .about-area-s2 .about-left-item .about-right-img {    
    position: static;
    width: 40%;
  }

  .about-area-s2 .about-right-item {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .about-area-s2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-area-s2 .about-left-item .about-left-img {
    width: 80%;
    margin: 0 auto;
    padding-right: 0;
  }

  .about-area-s2 .about-left-item .about-right-img {
    display: none;
  }

  .about-area-s2 .about-right-item .about-right-text h2 {
    font-size: 30px;
    line-height: 38px;
  }
}


/*--- Наши услуги ---*/
.service-area-s2 {  
  padding-top: 50px;
}

.service-area-s2 h2 {
  margin-bottom: 50px;
}

.service-area-s2 .service-item {
  padding: 20px 30px 40px;
  background-color: #f0f0f0;
}

.service-area-s2 .service-text {

}

.service-area-s2 .service-text .img {
  margin-bottom: 25px;
  text-align: center;
}

.service-area-s2 .service-wrap .service-item .service-text h3 {
  max-width: none;
  line-height: 22px;
  text-align: center;
}

.service-area-s2 .service-wrap .service-item .service-text h3 > a {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #33354a;
  letter-spacing: normal;
  text-transform: none;
}

.service-area-s2 .service-wrap .service-item .service-text p {
  font-size: 16px;  
  line-height: 24px;
  font-weight: 400;
  color: #47494c;
}

.service-area-s2 .service-wrap .service-item .service-text .read-more {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #33354a;
  letter-spacing: normal;
  text-transform: none;
}

.service-area-s2 .service-wrap .service-item .service-text .read-more:focus,
.service-area-s2 .service-wrap .service-item .service-text .read-more:hover {
  letter-spacing: 1px;
}



.service-area-s2 .service-area-btn {
  text-align: center;
}

@media (max-width: 575px) {
  .service-area-s2 .service-wrap {
    width: 90%;
    margin: 0 auto;
  }
}
