/*--- Inter ---*/
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  font-family: Inter, sans-serif;  
}

h2, h3 {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #2a2c30;
  letter-spacing: normal;
  text-transform: none;  
}

h3 {  
  font-size: 18px;
  color: #33354a;
}

:focus {
  outline: none;
  /*-webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;
          box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;*/
}

.preloader {
  background-color: #133038;
}

.loader span {
  background-color: #fdc61b;
}

.mouse-circle-mover {
  /*display: none;*/
  background-color: #fdc61b;
}

.mouse-circle-mover-follow {
  /*display: none;*/
  border: 1px solid #fdc61b;
}

.back-btn {
  background-color: #fdc61b;
  border-color: #fdc61b;
}

.back-btn:hover {
  background-color: #fdc61b;  
}

.ch-btn-style-2:hover {
    background: #133038;
    color: #fff;
}

.ch-top-title-s2 h2 {
  font-size: 35px;
  font-weight: 700;
  color: #2a2c30;
}

.ti-vkontakte:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;  
  background-image: url('data:image/svg+xml; utf-8, <svg width="30" height="30" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.4493 5.94799C23.6161 5.40154 23.4493 5 22.6553 5H20.0297C19.3621 5 19.0543 5.34687 18.8874 5.72936C18.8874 5.72936 17.5521 8.92607 15.6606 11.0025C15.0487 11.6036 14.7705 11.7949 14.4367 11.7949C14.2698 11.7949 14.0194 11.6036 14.0194 11.0572V5.94799C14.0194 5.29225 13.8345 5 13.2781 5H9.15213C8.73494 5 8.48403 5.30434 8.48403 5.59278C8.48403 6.21441 9.42974 6.35777 9.52722 8.10641V11.9042C9.52722 12.7368 9.37413 12.8878 9.04032 12.8878C8.15023 12.8878 5.98507 9.67682 4.70093 6.00261C4.44927 5.28847 4.19686 5 3.52583 5H0.900218C0.150044 5 0 5.34687 0 5.72936C0 6.41244 0.890141 9.80039 4.14464 14.2812C6.31429 17.3412 9.37118 19 12.1528 19C13.8218 19 14.0283 18.6316 14.0283 17.997V15.6842C14.0283 14.9474 14.1864 14.8003 14.7149 14.8003C15.1043 14.8003 15.7719 14.9916 17.3296 16.467C19.1099 18.2156 19.4034 19 20.4047 19H23.0304C23.7805 19 24.1556 18.6316 23.9392 17.9045C23.7024 17.1799 22.8525 16.1286 21.7247 14.8823C21.1127 14.1719 20.1947 13.4069 19.9165 13.0243C19.5271 12.5326 19.6384 12.314 19.9165 11.8769C19.9165 11.8769 23.1155 7.45067 23.4493 5.94799Z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

.ti-telegram:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;  
  background-image: url('data:image/svg+xml; utf-8, <svg fill="white" width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m20.665 3.717-17.73 6.837c-1.21.486-1.203 1.161-.222 1.462l4.552 1.42 10.532-6.645c.498-.303.953-.14.579.192l-8.533 7.701h-.002l.002.001-.314 4.692c.46 0 .663-.211.921-.46l2.211-2.15 4.599 3.397c.848.467 1.457.227 1.668-.785l3.019-14.228c.309-1.239-.473-1.8-1.282-1.434z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 575px) {
  .ch-top-title-s2 h2 {
    font-size: 25px;
  }
}

/*.ch-btn-style-1 {
  padding: 12px 25px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
  border: 5px solid #fdc61b;
  border-radius: 10px;
}

.ch-btn-style-1:after {
  content: '';
}

.ch-btn-style-2 {
  padding: 12px 25px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
  border: 5px solid #33354a;
  border-radius: 10px;
  background-color: #33354a;
}

.ch-btn-style-2:after {
  content: '';
}*/

.ch-btn-style-3 {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #33354a;
  border: 1px solid #fdc61b;  
}

.ch-btn-animated span {
  background-color: #fdc61b;
}


/*--- HEADER ---*/
header {
  background-color: #ffffff;
}

.cp-header-phone {
  padding: 10px 25px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fdc61b;
  border-radius: 10px;
  border: none;
}

.cp-header-phone:focus,
.cp-header-phone:hover {
  color: #ffffff;
  background-color: #33354a;
}

.cp-header-phone:after {
  content: none;
}

.cp-header-area .main-menu ul > li > a {
  color: #404040;
}

.cp-header-area .main-menu ul > li > a:hover {
  color: #fdc61b;
}

.cp-header-area .main-menu ul > li > a:focus {
  outline: none;
  color: #fdc61b;
}

@media (max-width: 1199px) {
  .mean-container .mean-nav {
    top: 30px;
    margin-top: 0;
    background-color: #33354a;
  }
}


/*--- SLIDE ---*/
.ch-main-slide {
  padding-bottom: 170px;
  background-color: #133038;
  background-image: url('../../assets/images/slide.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom -70px;
}

.ch-main-slide:after {
  position: absolute;
  bottom: -10px;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 165px 400px;
  border-color: transparent transparent #f7f7f7 transparent;
  transform: rotate(0deg);
}

.ch-main-slide .ch-main-hero-text h2 {
  margin-bottom: 20px;
  padding-top: 80px;
  font-size: 58px;
  text-align: left;
}

.ch-main-slide .ch-main-hero-text p.wow {
  max-width: 750px;
  font-size: 22px;
  font-weight: 500;
}

.ch-main-buttons {  
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.ch-main-buttons .ch-btn-style-1 {
  padding: 10px 25px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
  border: 5px solid #fdc61b;
  border-radius: 10px;
}

.ch-main-buttons .ch-btn-style-1:after {
  content: '';
}

.ch-main-buttons .ch-btn-style-2 {
  padding: 10px 25px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
  color: #ffffff;
  border: 5px solid #33354a;
  border-radius: 10px;
  background-color: #33354a;
}

.ch-main-buttons .ch-btn-style-2:focus,
.ch-main-buttons .ch-btn-style-2:hover {
  color: #33354a;
  background-color: #fdc61b;
  border-color: #fdc61b;
}

.ch-main-buttons .ch-btn-style-2:after {
  content: '';
}

@media (max-width: 1500px) {
  .ch-main-slide .ch-main-hero-text h2 {
    line-height: 66px;
    text-shadow: 0 0 5px rgba(0,0,0,.2);
  }

  .ch-main-slide .ch-main-hero-text p.wow {
    text-shadow: 0 0 5px rgba(0,0,0,.2);
    font-size: 20px;
    line-height: 26px;
  }

  .ch-main-slide {
    background-position: center bottom 0;
  }
}

@media (max-width: 1399px) {
  .ch-main-slide {
    background-size: cover;
  }
}

@media (max-width: 1199px) {
  .cp-header-phone {
    padding: 5px 10px;
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .cp-header-style-2 .mean-container a.meanmenu-reveal {
    margin-top: -50px;
    width: 45px;
    height: 45px;
    background-color: #fdc61b;
    border: none;
    border-radius: 12px;
  }  

  .mean-container a.meanmenu-reveal span {
    margin-top: 7px;
  }

  .mean-container a.meanmenu-reveal > span {
    margin-top: 0;
  }

  .mean-container a.meanmenu-reveal > span span::before {
    right: 12px;
  }

  .ch-main-slide .ch-main-hero-text {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .ch-main-slide {
    padding-bottom: 100px;
  }

  .ch-main-slide:after {
    content: none;
  }

  .ch-main-slide > .container {
    max-width: 90%;
  }  

  .ch-main-slide .ch-main-hero-text h2 {
    font-size: 45px;
    line-height: 57px;
  }

  .ch-main-buttons .ch-btn-style-1 {
    padding: 8px 20px;    
    font-size: 18px;    
    border: 3px solid #fdc61b;
    border-radius: 5px;
  }

  .ch-main-buttons .ch-btn-style-2 {
    padding: 8px 20px;    
    font-size: 18px;
    font-weight: 500;    
    border: 3px solid #33354a;
    border-radius: 5px;
  }
}

@media (max-width: 575px) {
  .mean-container .mean-nav {
    top: 25px;    
  }
}

@media (max-width: 530px) {
  .cp-header-phone {
    padding: 4px 8px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .cp-header-phone {
    display: none;
  }

  .cp-header-style-2 .mean-container a.meanmenu-reveal {
    margin-top: -38px;
  }

  .ch-main-slide .ch-main-hero-text h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .ch-main-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .ch-main-buttons a {
    width: 90%;
  }
}

@media (max-width: 450px) {

}


/*--- About Us ---*/
.about-area-s2 {
  padding-top: 180px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

.about-area-s2 .about-left-item {
  position: relative;
}

.about-area-s2 .about-left-item .about-left-img {
  position: relative;
  width: 340px;
  z-index: 1;
}

.about-area-s2 .about-left-item .about-left-img img {  
  border-radius: 0;
}

.about-area-s2 .about-left-item .about-right-img {
  position: absolute;
  top: -125px;
  right: 10px;  
  width: 300px;
  z-index: 2;
}

.about-area-s2 .about-right-item {
  padding-left: 20px;
}

.about-area-s2 .about-right-item .about-right-text {
  
}

.about-area-s2 .about-right-item .about-right-text span {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #2a2c30;
  letter-spacing: normal;
  text-transform: none;
}

.about-area-s2 .about-right-item .about-right-text h2 {
  font-family: Inter, sans-serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 900;
  text-align: left;
  color: #33354a;
}

.about-area-s2 .about-right-item .about-right-text p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #47494c;
}

@media (max-width: 1399px) {

}

@media (max-width: 1199px) {
  .about-area-s2 .about-left-item .about-left-img {
    width: 90%;    
  }  

  .about-area-s2 .about-left-item .about-right-img {    
    top: -125px;
    left: auto;
    right: 0;
    width: 70%;
  }
}

@media (max-width: 991px) {
  .about-area-s2 {
    padding-top: 100px;
  }

  .about-area-s2 .about-left-item {
    padding-bottom: 70px;
  }

  .about-area-s2 .about-left-item .about-left-img {
    width: 50%;
  }  

  .about-area-s2 .about-left-item .about-right-img {    
    position: static;
    width: 40%;
  }

  .about-area-s2 .about-right-item {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .about-area-s2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-area-s2 .about-left-item .about-left-img {
    width: 80%;
    margin: 0 auto;
    padding-right: 0;
  }

  .about-area-s2 .about-left-item .about-right-img {
    display: none;
  }

  .about-area-s2 .about-right-item .about-right-text h2 {
    font-size: 30px;
    line-height: 38px;
  }
}


/*--- Наши услуги ---*/
.service-area-s2 {  
  padding-top: 50px;
}

.service-area-s2 h2 {
  margin-bottom: 50px;
}

.service-area-s2 .service-item {
  padding: 20px 30px 40px;
  background-color: #f0f0f0;
}

.service-area-s2 .service-text {

}

.service-area-s2 .service-text .img {
  margin-bottom: 25px;
  text-align: center;
}

.service-area-s2 .service-wrap .service-item .service-text h3 {
  max-width: none;
  line-height: 22px;
  text-align: center;
}

.service-area-s2 .service-wrap .service-item .service-text h3 > a {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #33354a;
  letter-spacing: normal;
  text-transform: none;
}

.service-area-s2 .service-wrap .service-item .service-text p {
  font-size: 16px;  
  line-height: 24px;
  font-weight: 400;
  color: #47494c;
}

.service-area-s2 .service-wrap .service-item .service-text .read-more {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #33354a;
  letter-spacing: normal;
  text-transform: none;
}

.service-area-s2 .service-wrap .service-item .service-text .read-more:focus,
.service-area-s2 .service-wrap .service-item .service-text .read-more:hover {
  letter-spacing: 1px;
}



.service-area-s2 .service-area-btn {
  text-align: center;
}

@media (max-width: 575px) {
  .service-area-s2 .service-wrap {
    width: 90%;
    margin: 0 auto;
  }
}


/*--- Новости компании ---*/
.ch-blog-area-s2 {
  padding-top: 50px;
  background-color: #f7f7f7;
}

.ch-blog-area-s2 h2 {
  margin-bottom: 50px;
}

.ch-blog-area-s2 .blog-area-btn {
  text-align: center;
}


/*--- FOOTER ---*/
.footer-section {
  background-color: #33354a;
}

.footer-section .upper-footer {
  padding: 40px 0;
}

.footer-section .upper-footer .container > .row {
  align-items: center;
}

.footer-section .social-widget ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #ffffff;
  border: none;
  opacity: 0.5;
}

.footer-section .social-widget ul li a:focus,
.footer-section .social-widget ul li a:hover {
  background-color: transparent;
  opacity: 1;
}
.menu-widget {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menu-widget li > a {
  padding: 5px 15px;
  font-size: 18px;
  color: #ffffff;
  opacity: .8;
}

.menu-widget li > a:focus,
.menu-widget li > a:hover {
  opacity: 1;
}

@media (max-width: 1399px) {
  .menu-widget li > a {
    padding: 5px 10px;    
  }
}

@media (max-width: 1199px) {
  .footer-section .about-widget,
  .footer-section .menu-widget {
    margin-bottom: 30px;
  }
  .footer-section .social-widget {
    /*padding-top: 20px;*/
  }
}

@media (max-width: 991px) {
  .footer-section .upper-footer .col {
      min-height: auto;
      margin-bottom: 0;
  }
}
