.page-footer {	
	margin: 0;
	padding: 0;
	background-color: #222838;
	overflow: hidden;
}

/*--- FOOTER TOP ---*/
.page-footer__top {
    position: relative;
    background-color: rgba(255,255,255,.05);
    // &::after {
    // 	content: '';
    // 	position: absolute;
    // 	top: 0;
    // 	left: 0;
    // 	width: 100px;
    // 	height: 100px;
    // 	background-color: red;
    // 	z-index: 0;
    // }
}

.page-footer__top-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100px;
	padding: 15px 20px;
}

.page-footer__logo-bg {
	position: absolute;
	top: 0;
	left: -50px;
	width: 600px;
	height: 600px;
	fill: #ffffff;
	opacity: 0.02;
	transform: rotate(-30deg);
	z-index: 0;
}

.page-footer__logo {
	padding-top: 0;
	opacity: 0.8;
	z-index: 1;
	&:focus	{
		box-shadow: 0 0 0 2px #222838, 0 0 0 4px #fc0;
	}
	svg {
		padding-top: 0;
		width: 60px;
		fill: #ffffff;
	}
	.logo__text {
		font-size: 15px;
		color: #ffffff;
		text-align: center;
	}
	.logo__name {
		border-bottom: 1px solid rgba(255,255,255,.5);
	}
	.logo__slogan {
		font-size: 14px;
		color: #ffffff;
	}
}

.page-footer__phone {	
	width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
	z-index: 1;
	.phone__number {
		display: block;		
		margin-right: 0;
		font-size: 20px;
		font-weight: 300;
		color: #ffffff;
		border-bottom: none;
		&:focus	{
			box-shadow: none;
		}
	}
}

.page-footer__schedule {	
	width: 90%;
	z-index: 1;
}




@media (min-width: @mobile-width) {
	.page-footer__logo {
		margin-bottom: 10px;
		.logo__text {
			font-size: 15px;
			color: #ffffff;
			text-align: left;
		}
		.logo__name {
			border-bottom: 1px solid rgba(255,255,255,.5);
		}
		.logo__slogan {
			font-size: 14px;
			color: #ffffff;
		}
	}

	.page-footer__phone {
		.phone__number {			
			margin: 0;
			padding-top: 3px;
			padding-bottom: 3px;
		}
	}

	.page-footer__schedule {
		width: 60%;
		margin: 0 auto;	
		margin-bottom: 10px;
	}
}

@media (min-width: @tablet-width) {
	.page-footer__top-wrapper {
		padding: 15px 100px;
	}

	.page-footer__logo {
		width: 100%;
	}	

	.page-footer__phone {		
		width: 45%;
		margin: 0 auto;
	}

	.page-footer__schedule {
		width: 45%;		
		margin: 0 auto;
	}
	
}

@media (min-width: @desktop-width) {
	.page-footer__top-wrapper {		
		padding: 15px 20px;
		justify-content: space-between;
	}

	.page-footer__logo-bg {		
		width: 400px;
		height: 400px;
	}

	.page-footer__logo {
		width: auto;		
		margin: 0;
	}

	.page-footer__phone {
		width: auto;
		margin: 0;
		// padding: 0 50px;
	}

	.page-footer__schedule {
		width: auto;
		margin: 0;		
		background-color: transparent;
		border: none;
	}
	
}


/*--- FOOTER CENTER ---*/
.page-footer__center {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 20px;	
}

.page-footer__data {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;
	z-index: 1;
}

.page-footer__address {
	color: #ffffff;
}

.page-footer__email {
	a {
		text-decoration: none;
		color: #e0a100;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
		&:focus	{
			box-shadow: 0 0 0 2px #222838, 0 0 0 4px #fc0;
		}
	}
}

.page-footer__order {
	a {
		display: inline-block;
		padding: 2px 10px;
		background-color: rgba(224,161,0,.15);
		border: 1px solid rgba(224,161,0,.3);
		border-radius: 4px;	
		color: rgba(224,161,0,.7);;
		text-decoration: none;
		&:hover,
		&:focus	{
			color: rgba(224,161,0,1);
			border: 1px solid rgba(224,161,0,.5);
			background-color: rgba(224,161,0,.2);
		}		
		&:focus	{
			box-shadow: none;
		}
	}
}

.page-footer__menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	z-index: 1;
}

.page-footer__menu-item {
	margin-bottom: 14px;
	a {
		display: block;
		margin: 0 7px;		
		padding: 5px 15px;
		background-color: rgba(255,255,255,.1);
		border-radius: 4px;	
		color: rgba(255,255,255,.7);
		text-decoration: none;
		&:hover,
		&:focus	{
			color: rgba(255,255,255,1);
			background-color: rgba(255,255,255,.2);
		}		
		&:focus	{
			box-shadow: none;
		}
	}
}

.page-footer__map {
	width: 100%;
	z-index: 1;
	a {
		display: block;
		width: 100%;
		height: 200px;
		background-image: url(../img/map.jpg);
		background-repeat: no-repeat;
		background-position: 0 center;
		background-size: cover;
		cursor: pointer;
		&:focus	{
			box-shadow: 0 0 0 2px #222838, 0 0 0 4px #fc0;
		}
	}
}


@media (min-width: @tablet-width) {
	.page-footer__center {
		justify-content: center;
		padding: 15px 100px;
	}

	.page-footer__data {
		width: 45%;
		text-align: left;
	}

	.page-footer__address {		
		font-size: 17px;		
	}

	.page-footer__menu {		
		order: 3;
	}

	.page-footer__menu-item {
		margin-bottom: 5px;
		order: 3;
	}

	.page-footer__map {
		width: 45%;
		margin: 5px auto 20px auto; 
		height: 160px;
		order: 2;
		a {
			height: 160px;
			background-size: 130%;
		}
	}
}

@media (min-width: @desktop-width) {
	.page-footer__center {
		justify-content: center;
		padding: 15px 20px;
	}

	.page-footer__data {
		width: 30%;
		text-align: left;
	}

	.page-footer__address {		
		
	}

	.page-footer__menu {	
		width: 20%;
		margin-top: 5px;
		order: 2;
		flex-direction: column;
		justify-content: flex-start;
	}

	.page-footer__map {
		width: 45%;
		margin: 5px auto 20px auto; 
		height: 200px;
		order: 3;
		a {
			height: 200px;
			background-size: 130%;
		}
	}
}


/*--- FOOTER BOTTOM ---*/
.page-footer__bottom {
	padding: 5px 10px;	
	font-weight: 300;
	text-align: center;
	color: rgba(255,255,255,.5);
	border-top: 1px dashed #cccccc;
	background-color: rgba(255,255,255,.1);
}

.page-footer__copyright {	
	font-size: 13px;
	line-height: 21px;
	text-align: center;
	z-index: 1;
}



