.form {
	padding: 30px;
	font-family: @ff;
	background-color: #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
}

.form--nojs .form__label {
	top: -15px;
	left: 10px;
	font-size: 16px;
}

.form__item {
	position: relative;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.form__input {
	width: 100%;
	height: 50px;
	margin: 0;	
	padding: 5px 45px 5px 15px;	
	font-family: @ff;
	font-size: 18px;
	line-height: 26px;
	border: 1px solid #acacac;
	border-radius: 4px;	
	box-sizing: border-box;	
	&:hover,
	&:focus {
		box-shadow: none;
		border: 1px solid #e28605;
	}

	&:hover + .form__label,
	&:focus + .form__label {
		top: -15px;		
		font-size: 16px;
		// color: #329a00 !important; // нужно только, чтобы не писать много кола на JS
		color: #e28605 !important; // нужно только, чтобы не писать много кола на JS

	}
}

.form__label {
	position: absolute;
	top: -15px;
	left: 10px;
	font-size: 16px;

	display: block;
	padding: 0 5px;
	font-family: @ff;
	color: #c7c7c7;

	background-color: #ffffff;
	text-shadow: none;
	transition: all .25s ease-out;
	span {
		opacity: .5;
	}
}

.form__label--start {
	top: 10px;
	left: 10px;
	font-size: 18px;
}

.form__submit {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 10px 20px;
	font-family: @ff;
	font-size: 18px;	
	line-height: 24px;
	font-weight: 600;
	letter-spacing: .3px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	background-color: #E0A100;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	cursor: pointer;
}

@media (min-width: @mobile-width) {	

	
}

@media (min-width: @tablet-width) {
	.form__item {
		margin-bottom: 0;
	}
}

@media (min-width: @desktop-width) {
	.form__item {
		margin-bottom: 20px;
	}	
}

@media (min-width: @desktop-width) {
	
}