.page-header {
	margin: 0;
	padding: 0 20px;
	box-sizing: border-box;		
	background-color: rgba(255,255,255,.95);
}

/*--- LOGO ---*/
.page-header__logo {
	text-align: center;	
	&:focus {
		box-shadow: none;
	}
}

.page-header__box {
	position: relative;	
}

@media (min-width: @mobile-width) {
	.page-header__logo {
		text-align: left;
	}
}

@media (min-width: 600px) {
	.page-header__logo {
		max-width: 430px;
	}
}


@media (min-width: @desktop-width) {
	.page-header {
		position: fixed;
		width: 100%;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.3);
		z-index: 10;
	}

	.page-header__wrapper {
		position: relative;
		display: flex;		
		padding: 0;
	}

	.page-header__box {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-left: auto;	
	}
}


/*--- PHONE ---*/
.page-header__phone {	
	position: relative;
	padding: 5px 20px;
	&::before {
		content: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -33px;
			
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 32px 33px;
		border-color: transparent transparent #ececec transparent;

		
	}
}

@media (min-width: @mobile-width) {
	.page-header__phone {
		padding: 5px;
	}
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	.page-header__phone {
		padding: 2px 5px;
		&::before {
			content: '';
		}
	}
}


/*--- MAIN MENU ---*/
.page-header__nav-wrapper {	
	padding-top: 10px;
	position: relative;
}

.page-header__nav {	
	width: 100%;
	position: absolute;
	top: 150%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-out;
	z-index: 10;
}

.page-header__nav--show {
	top: -80px; 
	opacity: 1;
	visibility: visible;
}


.page-header__toggle-nav {
	position: absolute;
	top: -120px;
	right: 20px;
}

@media (min-width: @mobile-width) {
	.page-header__toggle-nav {
		top: -35px;
	}

	.page-header__nav--show {
		top: -40px;
	}
}

@media (min-width: 600px) {
	.page-header__toggle-nav {
		top: -60px;
	}
}

@media (min-width: @tablet-width) {
	.page-header__nav {
		width: 50%;
		right: 0;
	}	
}

@media (min-width: @desktop-width) {
	.page-header__nav {
		width: auto;
		position: static;
		opacity: 1;
		visibility: visible;
	}
}