.logo {
	display: flex;
	width: 480px;
	padding: 15px 0;
	text-decoration: none;
	box-sizing: border-box;	
	svg {
		width: 70px;
		margin-right: 20px;
		fill: #480028;
	}
}

.logo__text {
	display: flex;
	flex-direction: column;
	font-size: 17px;
	line-height: normal;
	color: #480028;	
}

.logo__name {
	display: block;	
	margin-top: auto;
	padding-bottom: 2px;
	font-weight: 600;
	border-bottom: 1px solid #480028;
}

.logo__slogan {
	display: block;
	font-size: 15px;
	line-height: normal;
	font-style: italic;
}


@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {

}

