.logo {
	display: block;
	margin-bottom: 10px;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;	
	svg {
		display: block;
		width: 70px;
		margin: 0 auto;
		padding-top: 15px;
		margin-bottom: 10px;
		fill: #480028;
	}
}

.logo__text {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	font-size: 17px;
	line-height: normal;
	color: #480028;	
}

.logo__name {
	display: block;	
	margin-top: auto;
	padding-bottom: 2px;
	font-weight: 600;
	border-bottom: 1px solid #480028;
}

.logo__slogan {
	display: block;
	font-size: 15px;
	line-height: normal;
	font-style: italic;
}


@media (min-width: @mobile-width) {
	.logo {	
		display: flex;
		// width: 480px;
		margin-bottom: 20px;
		padding-top: 15px;

		svg {		
			margin: 0;
			margin-right: 20px;
			padding: 0;
			
		}
	}
}

@media (min-width: @tablet-width) {

}

