.phone {
	text-align: center;
	background-color: #ececec;
}

.phone__number {
	display: block;
	// margin-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 18px;
	font-weight: 900;
	text-decoration: none;
	color: #000000;	
	border-bottom: 1px dashed #aaaaaa;
	&:last-child {
		border-bottom: none;
	}
	svg {
		position: relative;
		top: 5px;
		margin-right: 5px;
		fill: @color-add;
	}
	span {
		opacity: 0.5;	
	}
}


@media (min-width: @mobile-width) {
	.phone__number {	
		display: inline-block;
		margin-left: 20px;
		padding-top: 0;
		padding-bottom: 0;		
		border-bottom: none;
		&::first-child {
			margin-left: 0;
		}
	}	
}

@media (min-width: @tablet-width) {

}

