.phone {
	background-color: #ececec;
}

.phone__number {
	margin-left: 20px;
	font-size: 18px;
	font-weight: 900;
	text-decoration: none;
	color: #000000;	
	svg {
		position: relative;
		top: 5px;
		margin-right: 5px;
		fill: @color-add;
	}
	span {
		opacity: 0.5;	
	}
}


@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {

}

