@color: #2a2a2a;
@blue: #1946ba;


@bg-color: #ffffff;
@ff: 'Open Sans', sans-serif;

@mobile-width: 480px;
@tablet-width: 768px;
@desktop-width: 960px;
@desktop-full-width: 1200px;

@animation: all 0.25s ease-out;