.cart {
	position: relative;
	margin-left: 20px;
	padding-left: 2px;
	padding-right: 5px;
	border: none;
	background-color: transparent;	
	border-radius: 4px;
	svg {
		width: 30px;
		height: 27px;
		fill: rgba(0,0,0,.5);
		transition: @animation;
	}
	.number {
		position: absolute;
		top: 0;
		right: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 12px;
		aspect-ratio: 1/1;
		padding: 1px;
		font-size: 9px;
		line-height: 0;
		color: #ffffff;
		border-radius: 50%;
		background-color: @red;
		border: 1px solid #ffffff;
		transition: @animation;
	}

	&:hover,
	&:focus {
		svg {
			fill: rgba(0,0,0,1);
		}
		.number {
			background-color: darken(@red, 10%);
		}
	}
}