.container {
	width: 100%;
	max-width: 1440px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 30px;
	box-sizing: border-box;
}

@media (max-width: @desktop-full-width) {
	.container {
		max-width: 1120px;
	}
}

@media (max-width: @desktop-width) {
	.container {
		max-width: 940px;
	}
}

@media (max-width: @tablet-width) {
	.container {
		max-width: 748px;
	}
}

@media (max-width: @mobile-width) {
	.container {
		max-width: 460px;
	}		
}




// @media (min-width: @mobile-width) {
// 	.container {
// 		width: 460px;
// 	}
// }

// @media (min-width: @tablet-width) {
// 	.container {
// 		width: 748px;
// 	}
// }

// @media (min-width: @desktop-width) {
// 	.container {
// 		width: 940px;
// 	}		
// }

// @media (min-width: @desktop-full-width) {
// 	.container {
// 		width: 1120px;
// 		padding: 0;
// 	}
// }