/*--- Montserrat ---*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*--- Intro ---*/
@font-face {
	font-family: 'Intro';
	src: url('../fonts/intro.eot');
	src: url('../fonts/intro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/intro.woff2') format('woff2'),
		url('../fonts/intro.woff') format('woff'),
		url('../fonts/intro.ttf') format('truetype'),
		url('../fonts/intro.svg#intro') format('svg');
	font-display: swap;
}