.page-header {
	margin: 0;
	box-sizing: border-box;
	background-color: #ffffff;
}

.page-header__top {
	background-color: #efefef;
	box-shadow: 0px -7px 7px 0px rgba(0,0,0,.03) inset;
}

.page-header__top-container {
	display: flex;
	align-items: center;
	padding: 10px 30px 10px 30px;
}

.page-header__map {
	display: flex;
	align-items: center;
}

.page-header__email,
.page-header__phone {
	transition: @animation;
	&:hover,
    &:focus {
    	span {
    		color: @red;
    		opacity: 1;
    	}
    }
}

.page-header__email {
	display: inline-block;	
	margin-left: auto;
	svg {
		margin-right: 10px;
		top: 2px;
	}
}

.page-header__phone {
	display: inline-block;	
	margin-left: 20px;	
	svg {
		margin-right: 10px;
		top: 2px;
	}
}

.page-header__bottom {
	position: relative;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	padding: 15px 15px 15px 30px;
}

.page-header__menu {
	position: relative;
}

.page-header__toggle-nav {
	display: none;	
	position: absolute;
	top: 35px;
	right: 35px;
}

/*--- LOGO ---*/
.page-header__logo {
	display: flex;
	align-items: center;	
	margin-right: 40px;
	.logo {
		margin-right: 20px;	
	}
	.slogan {
		max-width: 250px;
		color: #777777;
	}
}

.page-header__menu {
	margin-left: auto;
}

.page-header__nav {
	opacity: 1;
	visibility: visible;
}


@media (max-width: @desktop-width) {
	.page-header__email,
	.page-header__phone {
		&:hover,
	    &:focus {
	    	span {
	    		color: #ffffff;
	    	}
	    }
	}

	.page-header__email {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
		margin-left: auto;
		background-color: rgba(0,0,0,.07);
		border-radius: 4px;
		svg {
			margin-right: 0;
			width: 21px;
			height: 16px;
			top: 0;
		}
		span {
			display: none;
		}
		&:hover,
		&:focus {
			color: #ffffff;
			svg {
				fill: #ffffff;
			}
			background-color: @red;
		}
	}

	.page-header__phone {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
		margin-left: 10px;	
		background-color: rgba(0,0,0,.07);
		border-radius: 4px;
		svg {
			margin-right: 0;
			top: 0;		
		}
		span {
			display: none;
		}
		&:hover,
		&:focus {
			svg {
				fill: #ffffff;
			}
			background-color: @red;
		}
	}

	.page-header__email,
	.page-header__phone {
		position: relative;
		span {
			display: inline-block;
		}
		&:hover,
	    &:focus {
	    	span {
	    		bottom: -39px;
			    opacity: 0.8;
			    visibility: visible;
	    	}
	    }
	}

	.page-header__bottom {	
		min-height: 90px;
	}

	.page-header__menu {
		position: static;
	}

	.page-header__toggle-nav {
		display: block;
	}

	.page-header__nav {
		top: 100px;
	    opacity: 0;
	    visibility: hidden;
	}

	.page-header__nav--show {
		top: 75px;
		opacity: 1;
		visibility: visible;
	}
}

@media (max-width: @tablet-width) {
	.page-header__logo {
		margin-right: 65px;
	}
}

@media (max-width: @mobile-width) {
	.page-header__top-container {
		padding: 10px 20px;
	}

	.page-header__map {
		span {
			display: none;
		}
	}

	.page-header__email,
	.page-header__phone {
		span {
			display: none;
		}		
	}

	.page-header__bottom {
		padding: 10px 20px;
	}
}