.menu {
	position: static;
	display: block;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.menu__item {	
	a {
		position: relative;
		padding: 5px 20px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 600;
		color: #000000;
		text-align: center;
		text-decoration: none;
		border: none;
		border-radius: 4px;
		&::before {
			content: none;
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 2px;
			height: 2px;
			background-color: @red;
			transition: all .25s ease-out;
		}
		&:hover,
		&:focus {
			color: @red;
			background-color: transparent;
		}
	}
}

.menu__item--active {
	a {			
		color: @red;
		&::before {
			content: '';
		}
	}
}

.menu__item--active {
	a {
		color: @red;
		background-color: transparent;
		&:hover,
		&:focus {
			color: @red;
			background-color: transparent;				
		}
	}
}



// @media (min-width: @mobile-width) {
// 	.menu {
// 		left: 40%;
// 	}
// }

// @media (min-width: @tablet-width) {
// 	.menu {
// 		left: 60%;
// 	}	
// }

@media (max-width: @desktop-width) {
	.page-header__nav.active li.menu__item {
		animation-fill-mode: forwards;
		animation-duration: .3s;
		animation-name: openMenuAnimationList;
		opacity: 0;		
	}	

	.page-header__nav.active li.menu__item:nth-child(n) {
		// .page-header__nav.active li.menu__item:nth-child(1) {animation-delay: .3s;}
		// .page-header__nav.active li.menu__item:nth-child(2) {animation-delay: .4s;}
		// .page-header__nav.active li.menu__item:nth-child(3) {animation-delay: .5s;}
		// .page-header__nav.active li.menu__item:nth-child(4) {animation-delay: .6s;}
		// .page-header__nav.active li.menu__item:nth-child(5) {animation-delay: .7s;}
		// .page-header__nav.active li.menu__item:nth-child(6) {animation-delay: .8s;}
		// .page-header__nav.active li.menu__item:nth-child(7) {animation-delay: .9s;}
	}

	.page-header__nav.active {
		transform: translateX(0);
		transition: .6s cubic-bezier(.65, .025, .67, .36);
	}

	.page-header__nav.active.esc {
	    animation: .6s closeMenu .3s cubic-bezier(.65,.025,.67,.36)
	}

	.page-header__nav.active.esc li.menu__item {
		opacity: 1;
		animation-duration: .3s;
		animation-name: closeMenuAnimationList;
		animation-fill-mode: forwards;
	}

	.menu {
		position: absolute;
		left: 60%;
		right: 30px;		
		transition: all .2s ease-out;
		z-index: 2;
	}

	.menu__list {
		display: block;
	}

	.menu__item {
		margin-bottom: 1px;
		a {
			display: block;
			padding: 15px 20px;
		    line-height: normal;
		    text-decoration: none;
		    color: #777;
		    border-bottom: 1px dotted #d8d8d8;		
			text-align: right;
			background-color: rgba(255,255,255,.95);
			transition: all .2s ease-out;
			&:hover,
			&:focus {
				color: #000;
				background-color: #ddd;
				box-shadow: none;
			}
		}
	}

	.menu__item--active {
		a {
			color: #ffffff;
			background-color: @red;
			&:hover,
			&:focus {
				color: #ffffff;
				background-color: @red;
			}
		}
	}
}

@media (max-width: @tablet-width) {
	.menu {
		left: 40%;
	}
}

@media (max-width: @mobile-width) {
	.menu {
		left: 0;
		right: 0;
	}
}