.sidebar {
	width: 275px;
	padding-bottom: 20px;
	border-right: 1px solid @brown;
}

.sidebar__menu {
	padding: 5px 4px 5px 0;
	li {

		animation-fill-mode: forwards;
		animation-duration: .3s;
		animation-name: openMenuAnimationList;
		opacity: 0;	

		margin-bottom: 2px;
		& > a {
			display: block;
			padding: 10px 20px 10px 15px;
			font-size: 14px;
			line-height: 22px;
			font-weight: 500;
			text-decoration: none;
			color: #000000;
			background-color: #ffffff;
			border-radius: 4px;
			&:hover,
			&:focus {
				color: @red;
				background-color: #f7f7f7;
			}
		}
	}
}