.carpet {
	padding: 50px 30px;
}

.carpet__wrapper {
	padding: 0;
}

.carpet__title {
	position: relative;
	margin-bottom: 50px;
	font-family: @ff-m;
	font-size: 45px;
	line-height: 55px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
	color: #6c7d96;	
}



@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	.carpet__title {
		font-size: 52px;
		line-height: 62px;		
	}
}

@media (min-width: @tablet-width) {
	.carpet__title {
		text-align: left;		
	}
}

@media (min-width: @desktop-width) {

}

@media (min-width: 1100px) {
	
}

@media (min-width: @desktop-full-width) {

}
