.email {
	display: flex;
	align-items: center;
	font-family: @ff-f;
	padding: 0 5px;
	font-size: 18px;
	line-height: normal;
	font-weight: 400;
	text-decoration: none;	
	color: #ffffff;
	svg {
		width: 16px;		
		margin-top: 5px;
		margin-right: 10px;
		fill: @color-red;
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 2px #4c565d, 0 0 0 4px #ffcc00;
      			box-shadow: 0 0 0 2px #4c565d, 0 0 0 4px #ffcc00;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	.email {
		color: #777777;	
		svg {
			width: 20px;			
		}
		&:focus {
			-webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #ffcc00;
	      			box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #ffcc00;
		}
	}
}


