.flooring {	
	list-style-type: none;
	padding: 0;
	z-index: 2;
}

.flooring__item {
	a {
		position: relative;
		display: block;
		padding: 10px 20px;		
		font-size: 20px;		
		text-decoration: none;
		text-align: center;
		color: #a5a5a5;		
		&:hover,
		&:focus {
			color: #ffffff;
			background-color: rgba(0,0,0,.2);
			box-shadow: none;
		}
	}
}

.flooring__item--active {
	a {
		color: #ffffff;
		background-color: rgba(0,0,0,.4);
		&:hover,
		&:focus {
			color: #ffffff;
		}
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {
	.flooring__item {
		a {	
			text-align: right;
		}
	}
}

@media (min-width: @desktop-width) {
	.flooring {
		display: flex;
	}

	.flooring__list {	
		display: flex;
		justify-content: space-around;
		background-color: transparent;
		border-bottom: none;
	}

	.flooring__item {
		flex-grow: 1;
		display: flex;
		align-items: stretch;
		a {	
			flex-grow: 1;
			position: relative;
			display: block;
			padding: 10px 20px 7px 20px;
			font-size: 18px;
			line-height: 26px;
			// font-size: 14px;
			// line-height: normal;
			text-decoration: none;			
			text-align: center;
			color: #6c7d96;
			// color: rgba(255,255,255,.5);
			/*span {
				display: block;
				margin-bottom: 0px;
				font-size: 20px;
				line-height: 24px;
				color: #6c7d96;
				// color: rgba(255,255,255,.8);
			}
			&::after {
				content: none;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 4px;
				background-color: @color-red;
			}*/
			&:hover,
			&:focus {
				color: #202f64;
				background-color: transparent;
				// background-color: rgba(0,0,0,.1);				
			}
		}
	}

	.flooring__item--active {
		a {			
			background-color: transparent;
		}
	}


	/*.flooring__item {
		flex-grow: 1;
		display: flex;
		align-items: stretch;
		a {	
			flex-grow: 1;
			position: relative;
			display: block;
			padding: 10px 20px 7px 20px;
			font-size: 14px;
			line-height: normal;
			text-decoration: none;			
			text-align: center;
			color: rgba(255,255,255,.5);
			span {
				display: block;
				margin-bottom: 0px;
				font-size: 20px;
				line-height: 24px;
				color: rgba(255,255,255,.8);
				
			}
			&::after {
				content: none;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 4px;
				background-color: @color-red;
			}
			&:hover,
			&:focus {
				color: #ffffff;
				background-color: rgba(0,0,0,.1);
				span {
					color: #ffffff;
				}
			}
		}
	}

	.flooring__item--active {
		a {
			color: #ffffff;
			background-color: #555e65;
			&::after {
				content: '';
			}
			&:hover,
			&:focus {
				background-color: #555e65;
			}
			span {
				color: #ffffff;
			}
		}
		
	}*/
}