.page-footer {
	padding-top: 30px;
	background-color: #30363a;
	// background-color: rgba(0,0,0,.85);

	// height: 150px;
}

.page-footer__wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.page-footer__info {
	order: 2;
	margin-bottom: 30px;
	text-align: center;	
}

.page-footer__logo {
	order: 1;
	width: 160px;
	height: 130px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.page-footer__menu {
	order: 3;
}

.page-footer__title {
	margin-bottom: 10px;
	font-family: @ff-m;
	font-size: 32px;
	line-height: 42px;
	text-align: center;
	color: #ffffff;
}

.page-footer__address {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #ffffff;
	opacity: 0.5;
}

.page-footer__phone {	
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 32px;	
	color: #ffffff;
	background-color: rgba(0,0,0,.2);
	opacity: 0.7;
	svg {
		top: 2px;
	}
	&:hover,
	&:focus {
		background-color: rgba(0,0,0,.4);
		opacity: 1;
	}
}

.page-footer__social {
	justify-content: center;	
	.social__item {
		a {			
			background-color: rgba(255,255,255,.1);
			&:hover,
			&:focus {
				background-color: rgba(0,0,0,.85);				
				svg {
					fill: #ffffff;
				}
			}
		}
	}
}

.page-footer__logo {
	display: block;
	// margin-bottom: 15px;
	text-align: center;	
}

.page-footer__menu-item {
	margin-bottom: 2px;
	a {
		display: block;		
		// margin-bottom: 10px;
		padding: 5px 10px;
		font-size: 18px;
		line-height: 27px;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		background-color: rgba(0,0,0,.2);
		opacity: 0.3;
		&:hover,
		&:focus {
			background-color: rgba(0,0,0,.6);
			opacity: 1;
		}
	}
}

.page-footer__copyright {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-top: 1px dashed rgba(255,255,255,.2);
	border-bottom: 1px dashed rgba(255,255,255,.2);
	color: rgba(255,255,255,.5);
	p {
		margin: 0;
		line-height: 24px;
	}
}

.page-footer__web-studio {
	padding: 5px 10px;
	font-size: 14px;
	text-align: center;
	background-color: rgba(0,0,0,.2);
	color: rgba(255,255,255,.2);
	a {
		text-decoration: none;
		color: rgba(255,255,255,.4);
		&:hover,
		&:focus {
			color: rgba(255,255,255,.8);
		}
	}
}

@media (min-width: @mobile-width) {
	.page-footer__wrapper {
		width: 80%;
	}
}

@media (min-width: 600px) {
	.page-footer__wrapper {
		width: 100%;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.page-footer__info {
		width: 40%;
		margin-right: 40px;		
	}

	.page-footer__logo {
		width: 100%;
		img {
			width: 160px;
			height: 130px;
		}
	}

	.page-footer__menu {
		width: 40%;
	}
}

@media (min-width: 900px) {
	.page-footer__wrapper {
		
	}

	.page-footer__info {
		order: 1;
		width: 22%;
		margin-right: 15px;
	}

	.page-footer__logo {
		order: 2;
		width: 30%;
		margin-left: 15px;
		margin-right: 15px;
	}

	.page-footer__menu {
		order: 3;
		width: 30%;
		margin-left: 15px;
	}
}

@media (min-width: @desktop-width) {
	
}


@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}