.gallery {
	
}

.gallery__list {
	margin-bottom: 30px;
	li {		
		margin-right: 10px;
		a {
			display: block;
			picture {
				width: 100%;
				display: block;
				line-height: 0;
				image {
					width: 100%;
				}
			}
		}
	} 
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}


@media (min-width: @desktop-full-width) {

}
