.menu {	
	// list-style-type: none;
	z-index: 2;
}

.menu__list {
	display: flex;
	justify-content: center;
	width: 100%;
}

.menu__item {
	a {
		position: relative;
		display: block;
		padding: 10px 20px;		
		font-size: 20px;
		text-decoration: none;
		text-align: center;
		color: #6c7d96;	
		&:hover,
		&:focus {
			color: #202f64;
		}
	}
	&:first-child {
		display: none;
	}
}

@media (min-width: @mobile-width) {
	.menu__item {		
		&:first-child {
			display: block;
		}
	}
}

@media (min-width: 600px) {
	.menu__list {	
		display: flex;
		justify-content: flex-end;
		background-color: transparent;
		border-bottom: none;
	}

	.menu__item {		
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		a {
			position: relative;
			display: block;
			padding: 10px 10px;
			font-size: 20px;
			text-decoration: none;
			text-align: center;
			transition: all .25s ease-out;
			&::after {
				content: none;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 7px;
				height: 1px;
				background-color: #202f64;
				
			}
			&:hover,
			&:focus {				
				color: #202f64;
				&::after {
					content: '';	
				}
			}
		}
	}

	.menu__item--active {
		a {
			color: #202f64;			
			&::after {
				content: '';
			}			
		}
		
	}
}

@media (min-width: @tablet-width) {	

}

@media (min-width: @desktop-width) {
	
}