.p404 {
	margin: 70px 30px;
	padding: 20px;
	text-align: center;
	color: #ad8a18;	
	border: 1px dashed #ad8a18;
	border-radius: 3px;
	font-family: @ff-m;
}

.p404__404 {
	// font-family: @ff-s;
	font-size: 75px;	
	line-height: 75px;	
	font-weight: 600;
}

.p404__text {
	font-size: 30px;
	line-height: 38px;
	font-weight: 600;
	a {
		color: #ad8a18;
		text-decoration: none;
		&:hover,
		&:focus {
			color: #836810;
		}
	}
}

.p404__text--normal {
	font-size: 20px;
	font-weight: 300;
}


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.p404 {
		width: 70%;
		margin: 50px auto;
	}
}

@media (min-width: @desktop-width) {
	.p404 {
		width: 450px;
		// margin: 100px auto 150px auto;
	}
	.p404__top {
		height: 100px;
	}
}