.page {
	padding: 0;
}

.page__wrapper {
	padding: 40px 30px 60px 30px;
}

.page__banner {
	position: relative;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	overflow: hidden;
	box-sizing: border-box;
	
}

.page__banner-img {
	position: relative;
	height: 350px;
	display: block;
	img {
		position: absolute;
		top: 50%;
		left: 50%;		
		max-width: 200%;
		// width: 100%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
}

.page__title {
	position: relative;
	margin-bottom: 30px;
	font-family: @ff-m;
	font-size: 45px;
	line-height: 55px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
	color: #6c7d96;
}

.page__title-text {
	margin-bottom: 15px;
	font-size: 20px;
	line-height: normal;
	font-weight: 600;
	color: #000000;
}

.page__text-wrapper {
	margin-bottom: 25px;
}

.page__text--phone {
	padding-top: 20px;
}

.page__icon {
	margin-bottom: 20px;
}

.page__icon-text {
	margin-bottom: 10px;
	font-size: 18px;
	text-align: center;
}

.page__phone {
	justify-content: center;
}

.page__list {
	margin-bottom: 20px;
}

.page__item {
	display: flex;
	margin-bottom: 10px;
	svg {
		width: 20px;
		margin-right: 15px;
		fill: green;
	}
}

.page__item-box {
	width: 87%;
}

.page__item-title {
	font-size: 20px;
}

.page__item-text {
	font-size: 14px;
	line-height: 24px;
	color: #999999;
}

.page__list-ol {
	padding-left: 30px;
}

.page__item-ol {
	padding-left: 5px;
	color: #777777;
	&::marker {
		position: relative;
		font-weight: 600;
		color: #000000;
		&::before {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			background-color: red;
		}
	}
}

.page__youtube {
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	border: 0;
}

.page__footnote {
	display: block;
	font-size: 14px;
	font-style: italic;
	color: green;
}

.page__samples {
	padding-top: 30px;
}

.page__sample {
	margin-bottom: 20px;
	text-align: center;
	
}

.page__sample-img {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	line-height: 0;
	img {
		width: 100%;
	}
}

.page__sample-title {
	font-weight: 600;
	color: #000000;
}

.page__carpets {
	margin-bottom: 50px;
	padding-top: 30px;
}

.page__carpet {
	margin-bottom: 20px;
	text-align: center;
}

.page__carpet-img {
	display: block;
	line-height: 0;
	img {
		width: 100%;
	}
}

.page__carpet-box {
	
}

.page__carpet-title {
	margin-bottom: 0;
	font-size: 20px;
	line-height: 28px;	
	font-weight: 600;
	color: #000000;
}

.page__carpet-colors {
	margin-bottom: 0;
	font-size: 14px;
	line-height: normal;
	color: #999999;
}

.page__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 130px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 1px dashed #cccccc;
	border-radius: 100%;
}

.page__contact-us {
	.page__address {
		text-align: center;
		font-size: 18px;
		color: @color;
	}

	.page__phone {
		margin-bottom: 15px;
	}

	.page__social {
		justify-content: center;
	}
}


@media (min-width: @mobile-width) {
	.page__text--phone {
		width: 60%;
		margin: 0 auto;
	}

	.page__youtube {	
		height: 300px;
	}

	.page__samples {
		width: 60%;
		margin: 0 auto;
	}

	.page__carpet {
		width: 60%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.page__samples--concrete {
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}

	.page__contact-us {
		width: 60%;
		margin: 0 auto;
	}
}

@media (min-width: 600px) {
	.page__title {
		font-size: 52px;
		line-height: 62px;		
	}

	.page__banner-img {	
		img {			
			max-width: 150%;
		}
	}

	.page__text--phone {
		display: flex;
		align-items: center;
		width: 100%;
		margin: 0;
	}

	.page__icon {
		width: 130px;
		height: 130px;
		margin: 0;
		margin-right: 30px;
	}

	.page__phone-box {
		width: 50%;
	}

	.page__youtube {
		height: 350px;
	}

	.page__samples {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		margin: 0;
	}

	.page__sample {
		width: 47%;
	}

	.page__samples--concrete {
		display: block;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 20px;
		.page__sample {
			width: 100%;
		}
	}

	.page__contact-us {
		width: 40%;
		margin: 0 auto;
	}
}

@media (min-width: @tablet-width) {
	.page__title {
		text-align: left;		
	}

	.page__banner-img {	
		height: 450px;
	}

	.page__phone-box {
		width: 300px;
	}

	.page__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 0;
	}

	.page__item {
		width: 45%;
		margin: 0 15px;
		margin-bottom: 20px;
	}

	.page__list-ol {
		width: 60%;
	}

	.page__youtube {
		width: 450px;
		height: 320px;
	}

	.page__samples {		
		width: 100%;
		justify-content: flex-start;		
		box-sizing: border-box;
	}

	.page__sample {
		width: 29%;		
		margin-right: 30px;
	}

	.page__carpets {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.page__carpet {
		width: 45%;
		margin: 0;
		margin-bottom: 20px;
	}

	.page__carpet-box {
		display: flex;
		align-items: center;
	}

	.page__carpet-title {
		width: 60%;
		margin-left: 20px;
		text-align: left;
	}

	.page__carpet-colors {
		width: 30%;
		margin-left: auto;
		margin-right: 20px;
		text-align: right;
	}

	.page__samples--concrete {
		display: flex;
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
		.page__sample {
			width: 47%;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

	.page__contact-us {
		width: 100%;
		margin: 0;
		.page__address {
			text-align: left;
		}

		.page__phone {
			width: 250px;
			justify-content: flex-start;
		}

		.page__social {
			justify-content: flex-start;
		}
	}

}

@media (min-width: 900px) {
	.page__carpet {
		width: 40%;		
	}
}

@media (min-width: @desktop-width) {
	.page__banner-img {	
		img {			
			max-width: 100%;
			width: 100%;
		}
	}

	.page__item {
		width: 30%;		
	}

	.page__sample {
		width: 21%;
	}
}

@media (min-width: 1100px) {
	.page__sample {
		width: 22%;
	}

	.page__carpet {
		width: 29%;
	}	
}

@media (min-width: @desktop-full-width) {

}
