.phone {
	display: flex;
	align-items: center;
	// margin-right: 10px;
	padding: 5px 15px 3px 15px;
	font-family: @ff;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;	
	color: #ffffff;	
	background-color: rgb(108, 125, 150);
	border-radius: 3px;
	transition: all .25s ease-out;
	svg {
		position: relative;
		top: -2px;
		width: 16px;
		height: 16px;
		margin-right: 10px;
		fill: #ffffff;
		opacity: 0.7;		
	}
	span {
		margin-right: 5px;
		font-weight: 400;
		opacity: 0.5;
	}
	&:hover,
	&:focus {
		background-color: #5f6e85;
		// -webkit-box-shadow: 0 0 0 2px #4c565d, 0 0 0 4px #ffcc00;
  //     			box-shadow: 0 0 0 2px #4c565d, 0 0 0 4px #ffcc00;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}


