.slick-dots {
	bottom: 15px;
	li {
		width: 7px;
		height: 7px;
		margin-right: 10px;
		button {
			width: 7px;
			height: 7px;
			padding: 0;
			&::before {				
				font-size: 7px;
				line-height: 0;
				width:auto;
				height: 7px;
				margin-top: 0;
				content: '•';
				text-align: center;
				color: #ffffff;
				opacity: .25;				
			}
		}
	}	
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: #ffffff;
}

.slick-track {
	transition: none; // cancel jerky rewind
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.slick-next {
	right: 15px;
}

.slick-prev {
	left: 15px;
	z-index: 10;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}
