.social {	
	display: flex;
}

.social__item {
	margin-right: 7px;
	line-height: 0;	
	
	&:last-child {
		margin-right: 0;
	}
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		background-color: rgba(0,0,0,.1);
		border-radius: 3px;
		transition: all .25s ease-out;
		svg {
			width: 20px;
			height: 20px;
		}
		&:hover,
		&:focus {
			background-color: rgba(0,0,0,.85);
			// background-color: #202f64;
			svg {
				fill: #ffffff;
			}
		}
	}
}


@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	
}