.why {
	padding: 80px 30px;
}

.why__wrapper {
	padding: 0;
}

.why__item {
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
}

.why__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 130px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 1px dashed #cccccc;
	border-radius: 100%;
}

.why__item-title {
	font-family: @ff-m;
	font-weight: 500;
	font-size: 32px;
	line-height: 45px;
	text-align: center;
	color: #212529;
}

.why__item-text {	
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #212529;
}




@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	.why__wrapper {
		width: 80%;
	}
}

@media (min-width: @tablet-width) {
	.why__wrapper {
		width: 60%;
	}
}

@media (min-width: @desktop-width) {
	.why__wrapper {
		width: 100%;
	}

	.why__list {
		display: flex;
		justify-content: center;
	}

	.why__item {
		width: 40%;
		margin-bottom: 0;
		margin-right: 60px;
		&:last-child {
			margin-right: 0;
		}
	}

}


@media (min-width: @desktop-full-width) {

}
