.contact {
	margin-bottom: 100px;	
	padding: 50px 30px;	
	box-sizing: border-box;
}

.contact__text {
	max-width: 400px;
	margin: 0 auto;
	padding: 10px 20px;
	text-align: center;
	font-size: 25px;
	line-height: 34px;
	span {
		display: block;		
	}
}

.contact__text--title {
	margin-bottom: 30px;
	border-bottom: 1px dashed #aaaaaa;
}

.contact__text--phone {
	font-size: 23px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
	span {
		color: #777777;
	}
}

.contact__text--email {
	font-size: 23px;
	line-height: 32px;
	font-weight: 400;
	color: #252590;
	word-wrap: break-word;
	span {
		color: #777777;
	}
}


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}