.contact {
	margin-bottom: 100px;	
	padding: 0 30px;	
	box-sizing: border-box;
}

.contact__text {
	max-width: 400px;
	margin: 0 auto;
	padding: 10px 20px;
	text-align: center;
	font-size: 25px;
	line-height: 34px;
	span {
		display: block;		
	}
}

.contact__text--title {
	color: #414260;
	border-bottom: 1px dashed #414260;
}

.contact__text--phone {
	font-size: 23px;
	line-height: 32px;
	font-weight: 400;
	color: #000000;
	span {
		color: #aaaaaa;
	}
}

.contact__text--email {
	padding-top: 0;
	font-size: 23px;
	line-height: 32px;
	font-weight: 400;
	color: #252590;
	word-wrap: break-word;
	span {
		color: #aaaaaa;
	}
}


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}