.footer-page {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #000000;
}

.footer-page__logo {
	display: block;
	padding-top: 20px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	img {
		display: block;
		margin: 0 auto;
	}
	&:hover,
	&:focus {
		box-shadow: 0 0 0 2px #131210, 0 0 0 4px #fc0;
	}
}

.footer-page__logo--text {
	font-size: 20px;
	line-height: 26px;
	font-weight: 600;
	span {
		display: block;
		font-size: 16px;
		font-style: italic;
		font-weight: 400;
		color: #ffcc00;
	}
}

.footer-page__copyright {
	margin: 0;
	padding: 5px 20px;
	text-align: center;
	border-top: 1px dashed #333333;
}

@media (min-width: @tablet-width) {

}

