.header-page {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
}

/*--- HEADER TOP ---*/
.header-page__wrapper {
	background-color: #1e2248;
}

.page-header__top {
	position: relative;
	padding: 5px 20px 0 20px;
	min-height: 40px;
	box-sizing: border-box;
}

.page-header__phone {
	margin: 0;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	border-top: 1px dashed #5f5f5f;

	svg {
		position: relative;
		top: 4px;
		margin-right: 10px;
	}
}

.page-header__address {
	margin: 0;	
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	color: #ffffff;	

	svg {
		position: relative;
		top: 4px;
		margin-right: 7px;
	}
}

@media (min-width: @mobile-width) {
	.page-header__top {
		display: flex;
		align-items: center;
		padding-top: 0;
	}

	.page-header__phone {
		margin-left: auto;
		padding-bottom: 0;
		text-align: left;
		border-top: none;
	}

	.page-header__address {
		margin-right: 30px;
		padding-bottom: 0;
		text-align: left;
		color: #ffffff;
	}
}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	.page-header__address {
		margin-left: 0;
		margin-right: 20px;
	}	
}


/*--- LOGO & MENU ---*/
.page-header__middle {
	line-height: 0;
	background-color: #000000;
}

.page-header__logo {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	img {
		display: block;
		width: 175px;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.page-header__logo--text {
		margin-bottom: 0;
		font-size: 20px;
		line-height: 26px;
		font-weight: 600;
		span {
			display: block;
			font-size: 16px;
			font-style: italic;
			font-weight: 400;
			color: #ffcc00;
		}
	}

	&:hover,
	&:focus {
		box-shadow: 0 0 0 2px #131210, 0 0 0 4px #fc0;
	}
}

@media (min-width: @tablet-width) {
	.page-header__logo {
		.page-header__logo--text {
			font-size: 26px;
			line-height: 34px;
			span {
				font-size: 20px;
			}
		}
	}
}