.services {
	margin-bottom: 40px;
	padding: 0 30px;	
	box-sizing: border-box;
}

.services__text {
	
}

.services__text--list {
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 600;
	text-align: center;
	color: #414260;
}

.services__list {
	margin: 0 auto;
	list-style-type: none;	
}

.services__list-item {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	padding: 5px 15px 5px 0;
	font-size: 20px;
	line-height: 26px;
	background-color: #eaeaea;
	svg {
		width: 50px;
		height: 50px;
		margin-right: 15px;
		padding-left: 5px;
	}
	span {
		width: 75%;
	}
}

@media (min-width: @mobile-width) {
	.services__list {
		width: 80%;
	}
}

@media (min-width: 600px) {
	.services__list {
		width: 60%;
	}
}

@media (min-width: @tablet-width) {
	.services__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 90%;		
	}
	.services__list-first {
		width: 45%;
		margin-right: 30px;
	}
	.services__list-second {
		width: 45%;
	}
}

@media (min-width: @desktop-width) {
	.services__list {		
		width: 700px;		
	}
	.services__list-first {
		width: 45%;
		margin-right: 30px;
	}
	.services__list-second {
		width: 45%;
	}
}