.delivery {
	margin-bottom: 100px;
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #f9f9f9;
}

.delivery__title {
	
}

.delivery__form {
	background-color: transparent;
}

.delivery__form-wrapper {
	margin-bottom: 40px;
}

.delivery__item {
	margin-bottom: 15px;
}

.delivery__item--range {
	margin-bottom: 2px;
}

.delivery__total {
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.delivery__total-title {
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
}

.delivery__total-item {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #e7e7e7;
}

.delivery__total-item--last {
	margin-bottom: 20px;
}

.delivery__desc {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	span {
		display: block;
		margin-top: 10px;
		font-size: 12px;
		line-height: 15px;
		color: #565656;
	}
}

.delivery__price {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.delivery__price--important {
	font-size: 18px;
	font-weight: 600;
}

@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {
	.delivery__total {
		padding: 30px;
	}

	.delivery__desc {
		width: 330px;
		margin-bottom: 0;
	}

	.delivery__price {
		position: absolute;
		top: 15px;
		right: 5px;
	}

	.delivery__submit {
		width: 260px;
	}
}

@media (min-width: @desktop-width) {
	.delivery__total {
		padding: 40px;
	}
}

@media (min-width: @desktop-full-width) {
	.delivery__title {
		margin-bottom: 35px;
	}

	.delivery__form {
		display: flex;		
	}

	.delivery__form-wrapper {
		width: 410px;
		margin-right: 70px;
		margin-bottom: 0;
	}

	.delivery__total {
		width: 640px;
	}

	.delivery__submit {
		width: 260px;
	}
}
