.working {
	margin-bottom: 100px;
}

.working__title {
	margin-bottom: 50px;
	font-size: 30px;
	line-height: 40px;
}

.working__item {
	position: relative;
	margin-bottom: 30px;
	padding: 30px;
	padding-bottom: 20px;
	color: #ffffff;
	background-color: @dark-blue;
	box-sizing: border-box;
	svg {
		margin-bottom: 25px;
		fill: #ffffff;
	}
	&:last-child {
		.working__time {
			&::after {
				content: none;
			}
		}
	}
}

.working__item-title {
	margin-bottom: 25px;
	font-size: 21px;
	line-height: 25px;
	font-weight: 500;
}

.working__item-text {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	span {
		display: block;
		margin-top: 15px;
		font-size: 12px;
		line-height: 17px;
	}
}

.working__time {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 600;
	&::after {
		content: none;
		position: absolute;
		bottom: -30px;
		left: 0;
		width: 61px;
		height: 16px;
		background-image: url('../img/icon-arrow.svg');
		background-repeat: no-repeat;
	}
}


@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {
	.working__title {
		font-size: 36px;
		line-height: 44px;
		text-align: center;
	}

	.working__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.working__item {
		width: 46%;
		&:first-child {
			margin-right: 30px;
		}
	}
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-full-width) {
	.working__title {
		text-align: left;
	}


	.working__list {
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	.working__item {
		width: 31%;
		&:first-child {
			margin-right: 0;
		}
	}

	.working__time {
		&::after {
			content: '';
		}
	}
}
