@color: #000000;
// @red: #019659; // green Дом Знак
// @red: #e16b1d; // jivago55.ru
// @red: #96c93d; // yug44.ru
@red: #cd4b44;
@brown: #1c0201;
// @bg-color: #f4f5f5;
@bg-color: #efefef;
// @ff: 'Gilroy', sans-serif;
@ff: 'Montserrat', sans-serif;
@ff-intro: 'Intro', sans-serif;

@animation: all 0.25s ease-out;
@animation-cubic: all .6s cubic-bezier(.65,.025,.67,.36);

@mobile-width: 480px;
@tablet-width: 767px;
@desktop-width: 960px;
@desktop-full-width: 1200px;