body {	
	min-width: 1200px;
	margin: 0;
	padding: 0;
	
	font-family: 'PT+Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
		
	background-color: #ffffff;
}

a {
	text-decoration: none; 
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px; 
	margin: -1px;
	bottom: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

 .button {
	font: inherit;
	line-height: 21px;
	font-weight: 700;

	text-align: center;
	vertical-align: middle;
	color: #ffffff;

	border: none;	

	transition: all .2s ease;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255,255,255,.3);
} 

.btn-brown {
	background-color: #766357;
}

.btn-brown:hover,
.btn-brown:focus {
	background-color: #604e43;
}

.btn-brown:active {
	background-color: #503e33;
}

.btn-blue {
	background-color: #81b3d2;
}

.btn-blue:hover,
.btn-blue:focus {
	background-color: #669ec0;
}

.btn-blue:active {
	background-color: #5496bd;
}

/*--- центровщик ---*/
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}


/*--- HEADER ---*/
.main-header {
	
}

.main-navigation {
	position: relative;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	z-index: 1;

	width: 138px;
	height: 70px;
	margin-left: -69px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;

	margin: 0 73px;
	padding: 0;

	font-weight: 700;
	list-style: none;

	background-color: #ffffff;
}

.site-navigation li {
	width: 240px;
	padding: 15px 0;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}

.site-navigation li:nth-child(3) {
	margin-left: auto;
}

.site-navigation a {
	color: #000000;

	transition: all .2s ease;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #000000;
	opacity: .3;
}

.site-navigation-current a {
	color: #766357;
}



/*--- Promo ---*/
.promo {
	position: relative;
	
	min-height: 724px;

	background-image: url('../img/background-photo.jpg');
	background-color: #56575c;
	background-repeat: no-repeat;
	background-position: 0 -56px;
}

.promo::before {
	content: '';

	position: absolute;
	top: 76px;
	left: 50%;

	width: 458px;
	height: 352px;
	margin-left: -229px;

	background-image: url('../img/welcome-sedona.png');	
	background-repeat: no-repeat;
}

.promo p {
	margin: 0;
	padding: 0;
}

.promo .promo-title {
	margin-bottom: 27px;

	font-size: 21px;
	font-weight: 700;
}

.promo .promo-desc {
	margin-bottom: 51px;

	color: #333333;
}

.promo-bottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	padding-top: 60px;

	text-align: center;

	background-color: #ffffff;
}

.promo-bottom::before {
	content: '';

	position: absolute;
	top: -57px;
	left: 0;

	width: 1200px;
	height: 57px;

	background-image: url('../img/edge.png');
	background-repeat: no-repeat;
}


/*--- Достопримечательности ---*/
.features {
	
}


.features .features-list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	line-height: 21px;

	list-style: none;
}

.features-list li {
	position: relative;
	width: 400px;
	min-height: 203px;
	width: 320px;
	padding: 47px 40px 10px 40px;

	text-align: center;

	background-color: #eeeeee;
}

.features-list h3 {
	width: 173px;

	margin: 0 auto;
	margin-bottom: 23px;
	padding: 0;

	font-size: 21px;
	font-weight: 700;
}

.features-list p {
	margin: 0;
	padding: 0;
}

.features-list .feature-number {
	margin-bottom: 22px;
}

.features-list .white-style {	
	width: 100%;
	min-height: 256px;
	padding: 0;

	color: #ffffff;

	background-color: #81b3d2;	
}

.features-list .white-style:first-child {
	order: 1;
}

.features-list .white-style:nth-child(2) {
	order: 3;
}

.features-list li:nth-child(3) {
	order: 4;
}

.features-list li:nth-child(4) {
	order: 5;
}

.features-list li:nth-child(5) {
	order: 6;
}

.box-left,
.box-right {
	width: 320px;
	padding: 47px 40px 10px 40px;

	text-align: center;
}

.box-right {
	margin-left: auto;
}

.white-style:nth-child(1)::before {
	content: '';

	position: absolute;
	top: 50%;
	right: 0;

	width: 800px;
	height: 256px;
	margin-top: -128px;

	background-image: url('../img/town.jpg');
	background-repeat: no-repeat;
}

.white-style:nth-child(2)::before {
	content: '';

	position: absolute;
	top: 50%;
	left: 0;

	width: 800px;
	height: 256px;
	margin-top: -128px;

	background-image: url('../img/bridge.jpg');
	background-repeat: no-repeat;
}

/*--- Услуги ---*/
li.services {
	order: 2;

	width: 100%;
	padding: 0;
}

.services-list {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.services-list li {
	min-height: 160px;

	padding-top: 160px;

	background-color: #ffffff;	
}

.services-list p {
	color: #333333;
}

.housing {
	background-image: url('../img/icon-1.svg');
	background-repeat: no-repeat;
	background-position: center 60px;
}

.eat {
	background-image: url('../img/icon-2.svg');
	background-repeat: no-repeat;
	background-position: center 60px;
}

.souvenirs {
	background-image: url('../img/icon-3.svg');
	background-repeat: no-repeat;
	background-position: center 60px;
}


/*--- Поиск гостиницы ---*/
.search {
	padding-top: 48px;
	text-align: center;
}

.search p {
	margin: 0;
	padding: 0;
}

.search .search-lead {
	margin-bottom: 22px;

	font-size: 30px;
	line-height: 36px;		
	font-weight: 700;
}

.search .search-data {
	width: 450px;
	margin: 0 auto 47px auto;

	line-height: 24px;
	color: #333333;
}

.search-button {
	position: relative;
	z-index: 1;

	display: inline-block;

	padding: 29px 118px;


	font-size: 21px;
	line-height: 26px;
}



/*--- Карта ---*/
.map {
	min-height: 475px;

	line-height: 0;
}



/*--- Фильтр ---*/
.filters {
	background: #83accb;

	/* demo */
	min-height: 220px;
}

.filters fieldset {
	border: none;
}

.filters legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filters ul {
	line-height: 21px;
	color: #ffffff;

	list-style: none;
}

.filters li input,
.filters li span {
	opacity: .7;
}

.filters li:hover input,
.filters li:hover span {
	opacity: 1;
}

.filters input[type=checkbox]:disabled,
.filters input[type=checkbox]:disabled ~ span {
	color: #6a6a6a;
	opacity: .7;
}

.filter-range {
	width: 330px;
	padding: 20px; /*для демо*/	

	color: #ffffff;	
	text-transform: uppercase;

	background: #777;
}

.filter-range-title {
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;

	height: 36px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;

	background: #ffffff;
}



/*--- колонки ---*/
.columns {
	display: flex;

	border-bottom: 1px solid #e5e5e5;
}



/*--- Количество найденных гостиниц ---*/
.count {
	width: 165px;

	font-size: 21px;
	font-weight: 700;	

	/* demo */
	min-height: 89px;
}



/*--- Сортировка результата ---*/
.sort {
	width: 1035px;

	font-size: 12px;
	line-height: 18px;

	/* demo */
	min-height: 89px;
}

.sort p {
	margin: 0;
	padding: 0;
}

.sort .sort-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.sort-item a {
	color: #b2b2b2;

	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover,
.sort-item a:focus {
	color: #81b3d2;
}

.sort-item a:active {
	color: #000000;

	border-bottom: 1px dotted transparent;	
}

.sort-item-current a {
	color: #81b3d2;

	border-bottom: 1px dotted transparent;
}

.icon-updown svg polygon {
	fill: #cacaca;
}

.icon-updown a:hover svg polygon,
.icon-updown a:focus svg polygon {
	fill: #000000;
}

.icon-updown a:active svg polygon {
	fill: #81b3d2;
}

.icon-current svg polygon {
	fill: #81b3d2;	
}



/*--- Результат поиска ---*/
.hotels-result {

}

.hotels-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.hotels-list li {
	border-bottom: 1px solid #e5e5e5;

	/* demo */
	min-height: 150px;
}

.hotels-list h3 a {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.hotels-list h3 a:hover,
.hotels-list h3 a:focus {
	color: #81b3d2;
}

.hotels-list h3 a:active {
	color: #000000;
	opacity: .3;
}



/*--- FOOTER ---*/
.main-footer {
	display: flex;

	text-align: center;
}


.main-footer .visitsedona {
	width: 400px;
	margin: 0;
	padding: 47px 0;

	font-size: 21px;
	font-weight: 700;	
}

.main-footer .visitsedona a {
	color: #000000;
}

.main-footer .visitsedona a:hover,
.main-footer .visitsedona a:focus {
	color: #81b3d2;
}

.main-footer .visitsedona a:active {
	color: #766357;
}

.main-footer .social {
	width: 400px;
	padding-top: 36px;
}

.main-footer .social-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	width: 150px;
	margin: 0 auto;
	padding: 0;

	list-style: none;
}

.social-buttons a {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 46px;
	height: 48px;
}

.social-buttons a:active svg {
	opacity: .3;
}

.main-footer .website {
	width: 400px;
	margin: 0;
	padding: 23px 0 47px 0;
}

.main-footer .website a {
	position: relative;
	top: 16px;
	left: 10px;

	display: inline-block;

	line-height: 0;
}

.main-footer .website a:hover svg path,
.main-footer .website a:hover svg rect,
.main-footer .website a:focus svg path,
.main-footer .website a:focus svg rect {
	fill: #81b3d2;
}

.main-footer .website a:active svg path,
.main-footer .website a:active svg rect {
	fill: #bdbbbc;
}

/* .main-footer .website a::before {
	content: '';	

	display: inline-block;
	
	width: 115px;
	height: 41px;

	background-image: url('../img/logo_name.svg');
	background-repeat: no-repeat;
} */

/*.social-buttons a {
	background: #81b3d2;
}

.social-buttons a:hover {
	background: #669ec0;
}*/




/*--- Модальное окно ---*/
.search-hotels {
	font-weight: 700;

}

.search-hotels input {
	font: inherit;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: 2px solid transparent;

	transition: all .2s ease;
}

.search-hotels input:hover,
.search-hotels input:focus {
	background: #ebebeb;
}

.search-hotels input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.search-hotels button[type=button] {
	font-weight: 700;

	background-color: #f2f2f2;
	border: none;

	opacity: .3;
	transition: all .1s ease;
}

.search-hotels button[type=button]:hover,
.search-hotels button[type=button]:focus {
	opacity: 1;
}

.search-hotels button[type=button]:active {
	color: #81b3d2;
}