.more__wrapper {

}

.more__button {
	transition: all 0.25s ease-out;
}

.more {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.more__hide {

}


@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}