.banner {
	position: relative;

}

.banner__description {
	position: absolute;
	left: 500px;
	right: 30px;
}

.banner__title {
	font-size: 32px;
	text-transform: uppercase;
}

.banner__text {
	font-size: 14px;
	line-height: 22px;
}

.banner__price {
	position: absolute;
	top: 10px;
	right: 10px;
}

.banner__order {
	margin-bottom: 5px;
	// width: 100px;
	// display: inline-block;
}

.banner__more {
	width: auto;
	// display: inline-block;
}