.banner {
	position: relative;
	padding: 0;
}

.banner__img {
	width: 100%;
}

.banner__description {
	position: absolute;
	top: 75px;
	left: 650px;
	right: 60px;
}

.banner__title {
	margin-bottom: 15px;
	font-family: @ff-intro;
	font-size: 32px;
	text-align: left;	
	text-transform: uppercase;
}

.banner__text {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 22px;
}

.banner__price {
	position: absolute;
	top: -30px;
	right: 0px;
	padding: 5px 10px;
	background-color: @red;
	color: #ffffff;
	border-radius: 4px;
}

.banner__buttons {
	display: flex;
}

.banner__order {
	width: 120px;
	margin-right: 10px;
}

.banner__more {
	width: 120px;
}