.bid {
	position: relative;	
	margin-top: -40px;
	margin-bottom: 60px;
	// padding: 20px 20px 30px 20px;
	// background-color: rgba(255, 255, 255, 0.9);
	// box-shadow: 0px 4px 30px rgba(214, 158, 106, 0.2);
	// box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	// border: 1px solid #ebebeb;
}

.bid__title {
	// margin-bottom: 30px;
}

.bid {
	// margin-bottom: 100px;
}

.bid__form {
	width: 40%;
	margin: 0 auto;
	padding: 20px 20px 30px 20px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid #ebebeb;
}

.bid__items {
	display: flex;
	// flex-wrap: wrap;
	justify-content: space-between;
	// margin-right: 15px;
}

.bid__item {
	width: 100%;
	// margin-bottom: 35px;
	&--phone {
		margin-right: 15px;
	}
}

.bid__submit {
	// width: 260px;
	// margin-top: 23px;
	z-index: 1;
}