.page-header {
	margin: 0;
	box-sizing: border-box;
	background-color: #ffffff;
}

.page-header__top {	
	background-color: #efefef;
}

.page-header__top-container {
	display: flex;
	align-items: flex-end;
	padding: 5px 30px 10px 30px;	
}

.page-header__email {
	margin-left: auto;
	margin-right: 10px;
}

.page-header__phone {
	margin-left: 10px;
}

.page-header__bottom {
	display: flex;
	padding: 15px 15px 15px 30px;
}

/*--- LOGO ---*/
.page-header__logo {
	margin-left: 10px;
}

.page-header__nav {
	margin-left: auto;
}
