.menu {	

}

.menu__list {
	display: flex;
}

.menu__item {	
	a {
		position: relative;
		display: block;
		padding: 20px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 600;
		color: #000000;
		text-align: center;	
		text-align: center;
		text-decoration: none;		
		transition: all .2s ease-out;
		&::before {
			content: none;
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 15px;
			height: 2px;
			background-color: @red;
			transition: all .25s ease-out;
		}
		&:hover,
		&:focus {
			color: @red;
		}
		
	}
	
}

.menu__item--active {
	a {			
		color: @red;
		&::before {
			content: '';
		}
	}	
}