@CHARSET "UTF-8";@font-face{font-family:Myriad Pro;src:url(css/MyriadPro-Bold.otf);}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0pt;padding:0pt;vertical-align:baseline;}
body{line-height:1em;font-size:12px;background:#e6e6e6 url(img/bg.png) repeat;font-family:Myriad Pro, Tahoma, Arial, Helvetica, sans-serif;margin:0pt;cursor:default;font-weight:normal;}
table{border-collapse:separate;border-spacing:0pt;}
strong{font-weight:700;}
caption, th, td{font-weight:normal;text-align:left;}
blockquote:before, blockquote:after, q:before, q:after{content:""}
blockquote, q{quotes:"" ""}
pre, #footer{font-family:Tahoma, Arial, Helvetica, sans-serif}
i, cite, em, var, address{font-style:italic;}
input{border:0;margin:0;font-family:Tahoma, Arial, Helvetica, sans-serif;}
textarea{font-family:Tahoma, Arial, Helvetica, sans-serif;color:#888888;padding:7px 3px 0 4px;font-size:11px;}
select{font-size:11px;color:#888888;background:#fff;font-family:Tahoma, Arial, Helvetica, sans-serif;border:1px solid #CAD2CE;}
ul{list-style:none;list-style-type:none;list-style-position:outside;}
a{cursor:pointer;color:#984100;text-decoration:none;outline:none !Important;}
html, body{height:100%}
.clear{clear:both;height:0;visibility:hidden;display:block;line-height:0;}
.clearfix{overflow:hidden}
.fleft{float:left}
.fright{float:right}
.tright{text-align:right !important}
.italic{font-style:italic}
.padbot36{padding-bottom:36px !Important}
.sepbot10{margin-bottom:10px}
.dispnone{display:none}
.nomargin{margin:0 !Important}
.text_web{color:#b6ef93}
.text_flash{color:#ef93d2}
.text_iphone{color:#93d8ef}
.text_android{color:#efe593}
.text_windowsphone{color:#ef9393}
h6{font-size:12px;}
h2.pagetitle{padding:0px 0px 20px 40px;color:#333;font-size:16px;font-family:Tahoma, Arial;}
.wrapper{width:1066px;margin:0pt auto;font-size:12px;color:#fff;}
#header{height:94px;background:#333 url(img/top_bg.png) top left repeat-x;margin-bottom:10px;min-width:1065px;}
#header #logo{width:320px;height:103px;position:absolute;background:url(img/logo_bg.png) top left repeat-x;}
#header #logo a{width:237px;height:61px;overflow:hidden;text-indent:-99999px;position:absolute;display:block;top:15px;left:40px;background:url(img/logo.png) center center no-repeat;}
#header #logo a:hover{opacity:0.8;}
#header .descr{display:block;position:relative;top:65px;left:105px;font-weight:normal;font-family:Tahoma, Arial;font-size:11px;opacity:0.8;}
#menu{float:right;margin-top:21px;margin-right:11px}
#menu li{float:left;font-size:14px;font-family:Tahoma, Arial, Helvetica, sans-serif;padding:0;margin-left:14px;text-transform:uppercase;}
#menu a{color:#eee;display:block;padding:7px 15px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;-khtml-border-radius:0px;border:1px solid #000;background:url(img/mnu_act.png);}
#menu li.current-menu-item a, #menu li:hover a{color:#fff;border:1px solid #b1b1b1;text-shadow:0px 1px 0px #454545;}
#menu a:hover{color:#333}
#menu .sub-menu{display:none;visibility:hidden;position:absolute;margin-left:-50px}
#menu li:hover .sub-menu{display:block;visibility:visible}
#menu .sub-menu li{margin:5px 5px 0px 0px;text-transform:none;font-size:14px}
#menu .sub-menu li a{color:#eee;display:block;padding:5px 12px;border-radius:0px;border:1px solid #000;background:url(img/mnu_act2.png)}
#menu .sub-menu li.current-menu-item a, #menu .sub-menu li:hover a{color:#fff;border:1px solid #b1b1b1;text-shadow:0px 1px 0px #454545}
a img{border:0;}
#content{margin-top:15px}
#content .wrappost{width:728px;background:#eee;margin-bottom:25px;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;}
#content .wrappost.fullwidth{width:982px}
#content .post{padding:39px;background:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;}
#content .post.entry{padding-bottom:45px}
#content .post a{color:#984100;font-weight: 600;}
#content .post .entry, #content .navigation{font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:14px;line-height:1.5em;color:#575757;}
#content .post .entry a.more-link{background:#984100;color:#fff;padding:4px 10px;font-size:11px;border-radius:3px;}
#content .post .entry a.more-link:hover{background:#773300;text-decoration:none;}
#content .post .entry .wrapentry{margin-bottom:10px}
#content .post .entry .wrapentry img{padding:0;border:0;background:transparent;}
.attachment-thumbnail{width:200px;height:200px}
#content .post .entry .soc_likes{float:right;}
#content .post .entry .soc_likes span{float:left;margin-left:20px;}
#content .post .entry .soc_likes span.gplu{width:60px;}
#content .post .entry .soc_likes span.retweet{width:94px;}
.vkon2{width:136px !important;position:inherit !important}
#content .post .entry .socialmedia{margin:1em 0 3em 0;text-align:center;}
#content .post .entry .socialmedia.alter{margin-bottom:18px}
#content .post .entry .socialmedia a:hover{text-decoration:none}
#content .post .entry .socialmedia .item{margin:0 20px 0 20px}
#content .post .entry .socialmedia a.google-buzz-button .buzz-counter-long{line-height:19px !Important}
#content .post .entry .socialmedia img{padding:0;border:0;background:transparent;}
#content .post .entry .socialmedia a.retweet span{padding:2px 3px 1px 3px !Important}
#content .post .entry .socialmedia a.retweet{color:#000 !Important}
#content .post .entry .authorinfo{border:1px solid #c8c8c8;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;padding:12px;background:#f5f5f5;font-size:12px;margin:1.2em 0 3em;}
#content .post .entry .authorinfo img{border:1px solid #1c1c1c;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-khtml-border-radius:0;padding:0;}
#content .post .entry .authorinfo div.photo{margin-right:12px}
#content .post .entry .authorinfo div.desc{width:488px;padding-top:8px;line-height:1.4em;}
#content .post .entry .authorinfo div.desc h4{font-weight:normal;font-size:16px;line-height:0.3em;}
#content .post .entry .authorinfo.demobox{text-align:center;padding-bottom:5px;}
#content .post .entry .authorinfo.demobox img{border:0}
#content .post .entry .authorinfo.demobox a.imgleft{margin-right:26px}
#content .post .entry .authorinfo.demobox a.imgright{margin-left:26px}
#content .post .entry .intro{font-size:12px;font-style:italic;}
#content .post .entry h1, #content .post .entry h2, #content .post .entry h3, #content .post .entry h4{font-family:Roboto, Myriad Pro, Arial, Helvetica, sans-serif;font-size:38px;line-height:1.3em;padding-bottom:14px;color:#303030;text-shadow:#e4e4e4 0px 1px 2px;-moz-text-shadow:#e4e4e4 0px 1px 2px;-webkit-text-shadow:#e4e4e4 0px 1px 2px;}
#content .post .entry h1{padding-bottom:20px;}
#content .post .entry h2, #content .post .entry h3{font-size:30px;text-align:left;color:#303030;margin-top:20px;}
#content .post .entry h3{font-size:22px;padding-top:0;}
#content .post .entry h4{font-size:20px;padding-top:0;text-align:left;padding-bottom:18px;line-height:1.5em !important}
#content .post .entry h4 a{color:#424242}
#content .post .entry h4 a:hover{color:#984100}
#content .post .entry ul, #content .post .entry ol{list-style-position:outside;list-style-type:square;margin-left:3em;margin-bottom:1.3em;}
#content .post .entry ul li, #content .post .entry ol li{margin-bottom:0.5em}
#content .post .entry ol li{list-style-type:decimal}
#content .post .entry .dp-highlighter{margin:1em 0 2em}
#content .post .entry .dp-highlighter ol{list-style-position:outside;list-style-type:decimal-leading-zero;margin-left:45px;margin-bottom:1px;}
#content .post .entry .dp-highlighter ol li{margin-bottom:auto}
#content .post .entry .dp-highlighter ol li{list-style-type:decimal-leading-zero}
#content .post .entry .syntaxhighlighter{font-size:12px !Important}
#content .post .entry .info{width:450px;text-align:left}
#content .post .entry .info.alter{width:auto}
#content .post .entry h1 a{color:#303030; font-weight: 500;}
#content .post .entry h1 a:hover{color:#000}
#content .post .entry p, #content .post .entry center{padding-bottom:18px;padding-top:15px;}
#content .post .entry blockquote p{padding-bottom:0}
#content .post .entry p.readmore{padding-bottom:0}
#content .post .entry blockquote{background:#fafad6 url(img/quote.gif) no-repeat scroll 0 0;border:1px solid #f6d87d;padding:12px 40px 12px 40px;color:#3a3a3a;font-size:13px;font-style:italic;margin:1.3em 0 2.9em;}
#content .post .entry a:hover img{opacity:0.8;}
#content .post .entry img.aligncenter{clear:both;display:block;margin:0pt auto;}
#content .navigation{padding:2px 35px;margin-bottom:38px;}
#content .navigation a{background:#984100;color:#fff;padding:4px 10px;font-size:11px;border-radius:3px;font-weight:normal;font-size:14px;}
#content .navigation a:hover{background:#773300;text-decoration:none;}
#content .post.comments img.avatar{width:64px;height:64px;}
#content .post .entry a:hover{text-decoration:underline}
#content .post .entry h1 a:hover{text-decoration:none}
#content .post .entry .info{font-size:12px}
#content .post .entry .author{background:#eee;font-style:italic;padding:2px 4px 2px 4px;color:#000;}
#content .post .entry .author a{color:#000;text-transform:capitalize;}
#content .post .entry .metainfo{margin-top:9px}
#content .post .entry .tags{margin-right:6px;background:transparent url(img/tags.gif) no-repeat scroll 0 0;padding:0 0 2px 15px;text-transform:lowercase;}
#content .post .entry .tags2{margin-right:10px;background:transparent url(img/vid4.png) no-repeat scroll 0 0;padding:0 0 2px 20px;text-transform:uppercase;}
#content .post .entry .comments{background:transparent url(img/comments.png) no-repeat scroll 0 0;padding:0 0 2px 20px;}
#content .post.comments{margin-top:30px}
#content .post.comments{padding:20px 40px}
#content .post.comments strong.authorcomment{line-height:1.3em;display:block;margin-top:2px;}
#content .post.comments .comment{border-bottom:1px solid #d8d8d8;padding-bottom:1.3em;margin-bottom:1.3em;}
#content .post.comments .comment .name{width:76px;font-size:11px;text-align:center;}
#content .post.comments .comment .message{width:496px;font-size:12px;margin-left:20px;}
#content .post.comments .comment .message img{border:0;background:transparent;padding:0;}
#content .post.comments .comment .date{font-size:11px;margin-bottom:5px;}
#content .post.comments .comment .date a{color:#737273}
#content .post div.p18{padding-top:18px}
#content .post.comments .write{padding-top:1.3em}
#content .post.comments .comment .comment{float:left;background:#f5f5f5;border-left:4px solid #d8d8d8;margin:10px 0 0 75px;padding:10px;width:508px;}
#content .post.comments .comment .comment .message{width:417px;margin-left:15px;}
#content .post.comments .comment-edit-link{font-size:11px}
#content .post.comments .comment-reply-link{margin-right:4px}
#content .post textarea, #content .post input{border:1px solid #ced0d0;font-size:12px;padding:16px;width:614px;color:#737273;margin-bottom:1.3em;}
#content .post textarea{min-height:100px}
#content .post input{width:100%;/*width:634px;*/padding:6px;}
#content .post .contactform input#contactsubmit{width:auto;float:right;background:#292929;color:#fff;border:0;}
#content .post .contactform input#contactsubmit:hover{background:#333}
#content .post .contactform div.success, #content .post .contactform div.error{margin-bottom:15px;font-size:13px;padding:12px;background:#fafad6;border:1px solid #f6d87d;color:#d50000;font-weight:700;}
#content .post .contactform div.success{color:#00bd0d}
#content .post input.submit{width:100px;float:right;background:#984100;color:#fff;border:0;}
#content .post input.submit:hover{background:#333}
#content div.enjoy{margin-top:25px;padding:25px 0 25px;border-top:1px solid #C8C8C8;}
#content div.enjoy a{margin-right:5px}
#content img.wp-smiley{padding:0 !Important;border:0 !Important;background:transparent !Important;}
#content .post .entry .bottom_soc{list-style:none;list-style-image:none;margin:10px 0;height:40px;clear:both;}
#content .post .entry .bottom_soc li{float:left;}
#content .post .entry .post_bottom{background:#F9F9F9;margin:35px 0px 30px -39px;width:689px;padding:15px 0px 5px 39px;}
#content div.enjoy #related{margin-left:0}
#content div.enjoy #related{list-style:none;list-style-type:none;list-style-position:outside;clear:both;overflow:hidden;}
#content div.enjoy #related img{width:110px;height:110px;}
#content div.enjoy #related li{display:block;width:120px;font-size:12px;float:left;margin-left:22px;}
#disqus_thread ul{margin:0 !important;}
.related-posts, .related-date-posts{}
.related-thumb{width:100%;overflow:hidden;display:block;}
.related-date-posts{margin:40px 0 0;}
.related-posts h2, .related-date-posts h2{font-size:24px;color:#111;margin:0 0 15px;}
.related-posts ul, .related-date-posts ul{margin:0;padding:0 0 0 15px;}
.related-posts ul{padding:0;width:690px;position:relative;margin-left:0px !important;}
.related-date-posts ul li{list-style:disc outside;}
.related-posts ul li, .related-date-posts ul li{margin:0 0 10px;color:#9999A1;}
.related-posts ul li{float:left;margin:0 5px;width:210px;font-size:12px;overflow:hidden;}
.related-posts ul li:hover{}
.related-posts ul li a img{display:block;}
.related-posts ul li a{color:#fff;text-decoration:none;}
.nav-previous{width:260px;float:left;font-size:14px;}
.nav-previous i{position:relative;display:block;float:left;}
.nav-previous strong{display:block;margin:0px 0 0 20px;}
.nav-next{width:260px;float:right;font-size:14px;text-align:right;}
.nav-next i{position:relative;display:block;float:right;right:0;}
.nav-next strong{display:block;margin:0px 20px 0 0;}
#sidebar{width:320px;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:14px;padding-right:0px;}
#sidebar .section, #sidebar .widget{padding:9px;color:#8c8c8c;margin-bottom:7px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;line-height:1.2em;}
#sidebar .section.search{padding:0;margin-top:15px;position:relative;text-decoration:none;background:#fff;border:1px solid #DDD;}
#sidebar input{width:200px;background:transparent;color:#8c8c8c;padding:5px 4px 5px 7px;outline:none;}
#sidebar input.search{width:43px;height:43px;padding:0;position:absolute;top:-7px;right:-1px;background:transparent url(img/search.png) no-repeat scroll 0 0;}
#sidebar input.search:hover{opacity:.6}
#sidebar .section li{margin-bottom:13px}
#sidebar h2.widget-title, .arch-title{font-size:18px;margin:0 0 15px;color:#333;}
#sidebar a:hover{text-decoration:underline}
#sidebar .section li{padding:3px 3px 3px 29px}
#sidebar .banner a{width:231px;height:79px;display:block;text-indent:-99999px;}
#contact{background:transparent url(img/contact_bg.png) no-repeat scroll 0 0}
#contact:hover{background:transparent url(img/contact_bg.png) no-repeat scroll 0 bottom}
#most_commented_widget-2 ul li{list-style:disc;padding:0 0 15px;margin-left:15px;}
.widget_categoryposts h2{margin-bottom:25px;}
.widget_categoryposts ul{}
.widget_categoryposts ul li{display:inline-block;overflow:hidden;margin-bottom:25px}
.widget_categoryposts ul li a:hover{opacity:0.8;}
.widget_categoryposts ul li a.post-title{display:none;}
.widget_categoryposts ul li a{display:block;overflow:hidden;}
.widget_categoryposts ul li a img{}
#categoryposts-3 ul{margin:0;padding:0;}
#tag_cloud-3{color:#333 !important;background:transparent !important;border:none !important;}
#tag_cloud-3 .tagcloud{margin-top:10px;}
#tag_cloud-3 .tagcloud a{color:#8c8c8c}
#tag_cloud-3 .tagcloud a:hover{color:#333;}
#text-5{background:transparent !important;border:none !important;}
a.grbutton{display:inline-block;-moz-border-radius:30px;-webkit-border-radius:30px;border-radius:30px;background:#619017;padding:5px 5px 5px 5px;}
a.grbutton span{display:inline-block;-moz-border-radius:30px;-webkit-border-radius:30px;border-radius:30px;font-weight:500;background:#ffffff;background:-moz-linear-gradient(top, #ffffff 35%, #ddd 65%);background:-webkit-gradient(linear, left top, left bottom, color-stop(35%,#ffffff), color-stop(65%,#ddd));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0);padding:10px 22px 10px 21px;font-size:20px;color:#777;text-shadow:0px 1px 0px #ffffff;filter:dropshadow(color=#ffffff, offx=0, offy=1);-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 -1px 0px 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 -1px 0px 0 rgba(0, 0, 0, 0.1);box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 -1px 0px 0 rgba(0, 0, 0, 0.1);}
a.grbutton:hover span{background:#ffffff;background:-moz-linear-gradient(top, #ffffff 35%, #cccccc 65%);background:-webkit-gradient(linear, left top, left bottom, color-stop(35%,#ffffff), color-stop(65%,#cccccc));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0);color:#333;-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 -1px 0px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.6), 0 -1px 0px 0 rgba(0, 0, 0, 0.2);box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 -1px 0px 0 rgba(0, 0, 0, 0.2);}
a.grbutton:active span{background:#ffffff;background:-moz-linear-gradient(top, #eee 35%, #fff 65%);background:-webkit-gradient(linear, left top, left bottom, color-stop(35%,#eee), color-stop(65%,#fff));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#fff',GradientType=0);color:#333;}
.socials{margin-left:0px}
.socials li{position:relative;float:left;padding:0;}
.socials li a{display:block;}
.socials li a:hover{opacity:0.8;}
.tooltip{background:#fff;position:absolute;bottom:46px;left:50%;display:none;padding:6px;margin-left:-152px !important;border:6px solid rgba(0, 0, 0, 0.2);min-width:120px;min-height:70px;z-index:111;}
span.tt-bg{background:url(img/tt-bg.png) no-repeat;width:17px;height:14px;position:absolute;bottom:-14px;left:50%;margin:0 0 0 -4px;}
#footer{font-size:12px;margin-bottom:15px;padding:10px 35px;color:#8c8c8c;}
.tp_link{/*text-indent:90px;*/display: inline-block;/*overflow:hidden;background:url(//hostenko.com/wpcafe/wp-content/uploads/logo-1.png);width:98px;height:27px;display:block;margin:-24px 0 10px 55px;opacity:0.8;*/}
.tp_link:hover{opacity:1;}
.wpcomm:hover{opacity:0.8;}
.socials li a img{width:38px;height:38px;padding-top:9px;}
.wp-super-faq-question-closed{text-shadow:none !important;}
.ratingtext{display:none;}
.ratingblock{margin-top:20px;padding-top:10px;}
.ratingheader:before{content:"Пожалуйста, оцените материал"}
.postrate{margin-top:20px;padding-top:10px;border-top:1px solid #ccc;}
#subscribe{padding:40px;font-size:14px;list-style:none;}
#subscribe a:hover{opacity:0.9}
#subscribe .fb{height:67px;padding-left:2px;}
#subscribe .gplus{border-top:1px solid white;border-bottom:1px solid #EBEBEB;font-size:0.75em;color:black;padding:0px;line-height:1px;height:55px;margin-top:-2px;}
#subscribe .gplus div{height:20px;}
#subscribe .gplus span{position:absolute;margin:-10px 0 0 80px;}
#subscribe .twitter{background-color:#EEF9FD;border-top:1px solid white;border-bottom:1px solid #EBEBEB;padding:9px 11px;clear:both;width:278px;}
#subscribe .twitter iframe{width:280px !important;}
#subscribe .vkontaktik{padding:10px 0 0 10px;width:290px;}
#mc_embed_signup{padding:25px;text-align:center;font:14px Helvetica,Arial,sans-serif;width:600px;background:url('img/mch-subscr-bg.png') no-repeat bottom left;height:50px;position:relative;margin-left:0px;}
#mc_embed_signup input.email{padding:5px;border-color:#C4C4C4 #EAEAEA #EAEAEA #C4C4C4;border-width:1px;font:normal 1em Bitter, Helvetica, Arial, sans-serif;border-style:solid;outline:none;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;color:gray;width:210px;font-size:12px;}
#mc-embedded-subscribe{display:inline-block;width:182px !important;margin:5px;padding:4px 13px !important;color:white !important;text-align:center;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);text-decoration:none;border:none;font-family:inherit;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#C30;background:-webkit-gradient(linear, left top, left bottom, from(#C30), to(#A10));background:-webkit-linear-gradient(#C30, #A10);background:-moz-linear-gradient(center top, #C30 0%, #A10 100%);background:-moz-gradient(center top, #C30 0%, #A10 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cc3300,endColorstr=#aa1100);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cc3300, endColorstr=#aa1100)";}
#mc_embed_signup label{display:block;padding-bottom:10px;}
.tp_copy{position: relative;float: right;margin-top: -15px;margin-right: -15px;}
.our_projects{padding-top:20px;border-top:1px solid #ccc;text-align:center;height:50px;margin-top:20px;width:1060px;margin-left:-35px;}
.our_projects a{display:block;vertical-align:middle;color:#666;border:1px solid #ccc;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;width:337px;height:50px;margin-right:20px;float:left;}
.our_projects a:hover{border-color:#666;color:#333;}
.our_projects a img{margin:10px;float:left;opacity:0.6;}
.our_projects a:hover img{opacity:1;}
.our_projects a.our_hostenko img{float:left;margin:16px 0px 0px 33px;}
.our_projects a.our_umla img{float:left;margin:10px 0px 0px 40px;}
.our_projects a.our_druhost img{float:left;margin:10px 0 0 35px;}
.our_projects a span{margin:20px 0;display:block;}
.our_projects a.our_druhost{margin-right:0;float:right;}
.postid-6708 #content, .postid-6708 #content .wrappost{width:100% !important;}
.postid-6708 #sidebar{display:none;}
.postid-6708 #content #mc_embed_signup{margin:0 auto;}
.postid-6708 #content .post_bottom{width:992px !important;}
#content .post .entry span.hreview-aggregate{display:none;}
#content .post .entry p.pvc_stats:hover{opacity:1;}
.wpcafe_footer a:hover{text-decoration:underline}
._0{border:1px solid rgba(0, 0, 0, 0.5)}
.gallery img{border:0 !important}
.gallery-item{margin-top:0px !important}
.gallery-item{margin-left:-1px !important}
.widget-sb-easy-image a:hover img{opacity:.8}
#decomments-comment-section.decomments-comment-section.decomments-comment-section{margin:15px auto !important}
#decomments-comment-section.decomments-comment-section.decomments-comment-section h3{color:#444444 !important}
#decomments-comment-section.decomments-comment-section.decomments-comment-section .decomments-addform .decomments-addform-body .decomments-button-save, #decomments-comment-section.decomments-comment-section.decomments-comment-section .decomments-addform .decomments-addform-body .decomments-button-send{height:35px !important;padding:0 15px !important;-webkit-border-radius:0px !important;-moz-border-radius:0px !important;-ms-border-radius:0px !important;-o-border-radius:0px !important;border-radius:0px !important;}
#decomments-comment-section.decomments-comment-section.decomments-comment-section .decomments-addform .decomments-addform-body .decomments-button-cancel{height:35px !important;padding:0 27px !important;background-color:#ababab !important;-webkit-border-radius:0px !important;-moz-border-radius:0px !important;-ms-border-radius:0px !important;-o-border-radius:0px !important;border-radius:0px !important;}
#decomments-comment-section.decomments-comment-section.decomments-comment-section .decomments-vote .decomments-dislike-link:before{display:none !important}
.decomments-button.decomments-button-reply{height:20px !important;line-height:20px !important;background-color:#ababab !important;-webkit-border-radius:0px !important;-moz-border-radius:0px !important;-ms-border-radius:0px !important;-o-border-radius:0px !important;border-radius:0px !important;}
.decomments-author-block .social_icon{display:none;}
.sidethemes ul li a img{margin-bottom:22px}
.sidethemes ul li a:hover img{opacity:.8}
.themes-cover img {height: 310px !important}
.su-list ul li a {font-weight: 400 !important;}

#content .post .entry blockquote a {font-weight: 400;}
