.advantages {
	h3 {
		margin: 0;
		font-size: 20px;
		font-weight: 700;
		line-height: 27px;		
		letter-spacing: 0em;
		color: @white;
	}
}

.advantages__reliability {
	padding: 360px 24px 30px 24px;
	background-color: #25292c;
	border-radius: 20px;
	background-image: url('../img/bg-reliability.webp');
	background-repeat: no-repeat;
	background-position: 14px 3px;
	background-size: 98%;
}

h3.advantages__reliability-title {
	margin-bottom: 30px;	
}

.advantages__table-title {
	margin-bottom: 13px;
	font-size: 12px;
	font-weight: 550;
	line-height: 20px;
	letter-spacing: 0em;
	text-transform: uppercase;
	color: @gray-font;
}

.advantages__table {
	width: 100%;
	margin-bottom: 35px;
	border-collapse: collapse;
	tr {
		display: flex;
		justify-content: space-between;
		padding: 1px 0;
		font-size: 12px;
		font-weight: 300;
		line-height: 31px;		
		letter-spacing: 0em;
		color: @menu-font;
		border-bottom: 1px solid #303638;
		&:last-child {
			border-bottom: none;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}


@media (min-width: @mobile-width) {
	.advantages {
		h3 {			
			font-size: 25px;
			line-height: 34px;
		}
	}

	.advantages__reliability {
		background-position: 10px -55px;
	}

	.advantages__table-title {
		font-size: 14px;		
		line-height: 23px;
	}

	.advantages__table {
		tr {
			font-size: 14px;
			line-height: 36px;
		}		
	}
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.advantages {
		h3 {			
			font-size: 32px;			
			line-height: 43px;			
		}
	}

	.advantages__reliability {
		padding: 210px 40px 30px 40px;
		background-position: right 0px top -55px;
		background-size: 60%;
	}

	h3.advantages__reliability-title {
		width: 46%;
		margin-bottom: 50px;
		font-size: 25px;
		line-height: 34px;
	}

	.advantages__table-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.advantages__table-first,
	.advantages__table-second {
		width: 46%;
	}

	.advantages__table-title {
		font-size: 14px;
		line-height: 23px;
	}

	.advantages__table {
		tr {
			font-size: 14px;
			line-height: 36px;
		}
	}
}

@media (min-width: @desktop-width) {
	.advantages {
		h3 {			
			font-size: 35px;			
			line-height: 47px;
		}
	}

	.advantages__reliability {
		padding: 140px 50px 40px 50px;
		background-size: 45%;
	}

	h3.advantages__reliability-title {
		width: 50%;
		margin-bottom: 60px;
	}

	.advantages__table-title {
		font-size: 16px;
		line-height: 27px;
	}

	.advantages__table {
		tr {
			font-size: 16px;
			line-height: 42px;
		}
	}
}

@media (min-width: @desktop-1200-width) {
	.advantages {
		padding-left: 60px;
		padding-right: 60px;
	}

	.advantages__reliability {
		padding: 140px 70px 60px 70px;
		background-size: 42%;
	}
}

@media (min-width: @desktop-1400-width) {
	.advantages {
		h3 {			
			font-size: 40px;
			line-height: 54px;
		}
	}

	.advantages__reliability {
		padding: 100px 70px 80px 70px;
		background-position: right 0px center;
		background-size: 42%;
	}

	.advantages__table-wrapper {
		width: 60%;
	}
}

@media (min-width: @desktop-1600-width) {

}

@media (min-width: @desktop-full-width) {
	.advantages {
		padding-left: 93px;
		padding-right: 93px;
	}

	.advantages__reliability {
		padding: 94px 72px 90px 72px;
		background-position: right 0px top 0px;
		background-size: 46%;
	}

	h3.advantages__reliability-title {
		width: 50%;
		margin-bottom: 55px;
	}

	.advantages__table-wrapper {
		width: 612px;
	}

	.advantages__table-first,
	.advantages__table-second {
		width: 270px;
	}

	.advantages__table-title {
		margin-bottom: 25px;
	}

	.advantages__table {		
		tr {
			padding: 3px 0;
		}
	}
}