.advantages {
	h3 {
		font-size: 20px;
		font-weight: 700;
		line-height: 27px;
		letter-spacing: 0em;
		color: @white;
	}
}

.advantages__reliability {
	height: 500px;
	padding: 16px;
	background-color: #25292c;
	border-radius: 20px;
	background-image: url('../img/bg-scale.webp');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}


@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}