.button {
	display: flex;
	justify-content: center;
	align-items: center;
	// height: 48px;
	padding: 10px 30px;
	font-family: @ff;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: #ffffff;
	text-decoration: none;
	background-color: @main-dark;
	border: none;
	// border-radius: 7px;
	cursor: pointer;
	transition: @animation;
	opacity: 0.9;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
		/* отмена выделения текста */
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
			    user-select: none;
	&:hover,
	&:focus {
		// background-color: @red;
		opacity: 1;
	}
	/*&:active {
		// transform: scale(.99);
	}*/
}

.button--light {
	color: @white;
	background: #eff1ee;
	&:hover,
	&:focus {
		background: #dddddd;
	}
}

.button--green-border {
	height: 40px;
	font-size: 16px;
	line-height: 19px;
	color: @red;
	background: #e4f2d0;
	border: 1px solid #9ecb5d;	
	&:hover,
	&:focus {
		background: #c9dfa9;
	}
}

.button--white-border {
	height: 40px;
	font-size: 16px;
	line-height: 19px;
	color: @white;
	background: #ffffff;
	border: 1px solid @red;
	&:hover,
	&:focus {
		color: @white;
		border: 1px solid #cccccc;
		background: #efefef;
	}
}


