.page-footer {
	padding-top: 56px;
	padding-bottom: 56px;
}

.page-footer__logo {
	display: block;
	line-height: 0;
	svg {
		width: 57px;
		height: 23px;
		transition: @animation;
	}
	&:hover,
	&:focus {
		svg {
			fill: @red;
		}
	}
}

.page-footer__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.page-footer__logo {
	width: 100%;
	margin-bottom: 39px;
}

.page-footer__contacts {
	width: 100%;
	margin-bottom: 33px;
}

.page-footer__phone {
	display: block;
	margin-bottom: 33px;
	font-size: 20px;
	line-height: 25px;
	// font-size: 32px;
	// line-height: 40px;
	font-weight: 550;
	text-decoration: none;
	letter-spacing: -0.1px;
	color: @white;
	opacity: .8;
	&:hover,
	&:focus {
		opacity: 1;
	}
}

.page-footer__request {
	display: block;
	width: 100%;
	margin-bottom: 18px;
	padding: 13px 16px 13px 6px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	// font-size: 15px;
	// line-height: 19px;
	letter-spacing: 0.2px;
	color: @white;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #2b3032;
	opacity: .8;
	transition: @animation;
	svg {
		position: relative;
		top: 2px;
		width: 17px;
		height: 17px;
		// width: 18px;
		// height: 18px;
		margin-right: 25px;
		transition: @animation;
	}
	&:hover,
	&:focus {
		opacity: 1;
	}
}

.page-footer__email {
	display: block;
	margin-bottom: 40px;
	padding: 13px 16px 13px 6px;
	font-size: 14px;
	line-height: 18px;
	// font-size: 15px;
	// line-height: 19px;
	font-weight: 400;
	text-align: left;
	letter-spacing: -0.2px;
	text-decoration: none;
	color: @white;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #2b3032;
	opacity: .8;
	transition: @animation;
	svg {
		position: relative;
		top: 2px;
		margin-right: 25px;
		transition: @animation;
	}
	&:hover,
	&:focus {
		opacity: 1;
	}
}

.page-footer__address {
	.title {
		margin-bottom: 12px;
		font-size: 12px;
		line-height: 15px;
		// font-size: 15px;
		// line-height: 19px;
		font-weight: 700;
		letter-spacing: 0em;
		color: @white;
	}
	.text {	
		font-size: 11px;
		line-height: 17px;
		// font-size: 15px;
		// line-height: 23px;
		font-weight: 400;
		color: @gray-font;
		letter-spacing: -0.1px;
	}
}

.page-footer__products {
	width: 55%;
	margin-right: 20px;
	margin-bottom: 63px;
}

.page-footer__products-title {
	display: block;
	margin-bottom: 12px;
	text-decoration: none;
	color: @white;
	h3 {
		margin: 0;
		font-size: 12px;
		line-height: 15px;
		// font-size: 15px;
		// line-height: 19px;
		font-weight: 700;
		letter-spacing: 0em;
	}
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.page-footer__product-list {
	
}

.page-footer__product-item {
	a {
		display: inline-block;
		padding: 8px 0;
		font-size: 11px;
		line-height: 14px;
		// font-size: 15px;
		// line-height: 19px;
		font-weight: 400;
		letter-spacing: -0.2px;
		text-decoration: none;
		color: @gray-font;
		&:hover,
		&:focus {
			color: @white;
		}
	}
}

.page-footer__company {
	width: 38%;
	margin-bottom: 63px;
}

.page-footer__company-title {
	display: block;
	margin-bottom: 12px;
	text-decoration: none;
	color: @white;
	h3 {
		margin: 0;
		font-size: 12px;
		line-height: 15px;
		// font-size: 15px;
		// line-height: 19px;
		font-weight: 700;
		letter-spacing: 0em;
	}
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.page-footer__company-list {
	margin-bottom: 20px;
}

.page-footer__company-item {
	a {
		display: inline-block;
		padding: 8px 0;
		font-size: 11px;
		line-height: 14px;
		// font-size: 15px;
		// line-height: 19px;
		font-weight: 400;
		letter-spacing: -0.2px;
		text-decoration: none;
		color: @gray-font;
		&:hover,
		&:focus {
			color: @white;
		}
	}
}

.page-footer__menu-list {

}

.page-footer__menu-item {
	a {
		display: inline-block;
		padding: 10px 0;
		font-size: 12px;
		line-height: 15px;
		// font-size: 15px;
		// line-height: 19px;
		font-weight: 700;
		letter-spacing: -0.2px;
		text-decoration: none;
		color: @white;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.page-footer__bottom {
	width: 100%;
}

.page-footer__copyright {
	margin-bottom: 5px;
	font-size: 11px;
	line-height: 14px;
	// font-size: 15px;
	// line-height: 19px;
	font-weight: 400;
	color: @gray-font;
}

.page-footer__politic {
	a {
		font-size: 11px;
		line-height: 14px;
		// font-size: 15px;
		// line-height: 19px;
		font-weight: 400;
		text-decoration: none;
		color: @gray-font;
		&:hover,
		&:focus {
			text-decoration: underline;
			color: @white;
		}
	}
}


@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}