.page-footer {
	
}

.page-footer__logo {
	display: block;
	line-height: 0;
	svg {
		width: 57px;
		height: 23px;
	}
}



@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}