.page-header {	
	margin: 0;
	margin-bottom: 30px;
	box-sizing: border-box;	
	// background-color: red;
	border-bottom: 1px solid #292b32;
}

.page-header__container {
	display: flex;
	align-items: center;
	padding: 16px;
	position: relative;
}

.page-header__logo-container {
	// position: absolute;
	// top: 25px;
	// left: -130px;
}

.page-header__logo {
	display: block;
	line-height: 0;
	svg {
		width: 57px;
		height: 23px;
	}
}

.page-header__left-nav {
	display: none;
	// display: flex;
	// flex-direction: column;
	// position: fixed;
	// top: 155px;
	// bottom: 25px;
}

.page-header__number {	
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 50px;
	// margin-left: 20px; 
}

.page-header__number-item {
	display: block;
	margin-bottom: 20px;
	transform: rotate(-90deg);
	a {
		font-size: 13px;
		font-weight: 600;
		line-height: 18px;
		color: @gray-font;
		text-decoration: none;
		letter-spacing: .9px;
		transition: @animation;
		&:hover,
		&:focus {
			color: @red;
		}
	}
}

.page-header__number-item--active {
	a {
		color: @red;
	}	
}

.page-header__btn-scroll {
	// position: fixed;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;	
	margin-top: auto;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	color: @menu-font;
	background-color: transparent;
	border: none;
	span {
		margin-bottom: 25px;
		text-transform: uppercase;
		letter-spacing: 2.2px;
		transform: rotate(-90deg);
	}
}

.page-header__phone {
	display: flex;
	align-items: center;
	margin-left: auto;
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
	text-decoration: none;
	color: @white;
	letter-spacing: .5px;
	span {
		display: none;
	}
	&:hover,
	&:focus {
		color: @red;		
	}
}

.page-header__cart {
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 30px;
	&::after {
		position: absolute;
		top: -5px;
		right: -10px;
		content: '';
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: @red;
	}
}

.page-header__toggle-nav {
	margin-left: 30px;
}

.page-header__data-container {
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	padding: 32px 16px;
	background-color: @main-dark;	
    opacity: 0;    
    visibility: hidden;
    transition: all .2s ease-out;
    z-index: 10;
}

.page-header__data-container--show {
	top: 56px;
	opacity: 1;
	visibility: visible;
}

.page-header__operation {
	margin-bottom: 18px;
	border-bottom: 1px solid #292b32;
}

.page-header__search {
	margin-bottom: 28px;
}

.page-header__ul-container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 38px;	
}

.page-header__user,
.page-header__lang {
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
	color: @menu-font;
	letter-spacing: .2px;
	transition: @animation;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
		/* отмена выделения текста */
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
			    user-select: none;
	svg {
		position: relative;
		top: 5px;
		left: 5px;
		margin-right: 20px;
		transition: @animation;
	}
	&:hover,
	&:focus {
		color: @red;
		svg {
			fill: @red;
		}
	}
}

.page-header__lang {
	line-height: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

.page-header__nav {
	margin-bottom: 32px;
	padding -bottom: 20px;
	border-bottom: 1px solid #292b32;
}

.page-header__phone-wrapper {
	margin-bottom: 25px;
	svg {
		display: none;
	}
}

.page-header__phone-number {
	text-decoration: none;
	font-size: 22px;
	line-height: 22px;
	font-weight: 700;
	color: @white;
	letter-spacing: 1px;
	&:hover,
	&:focus {
		color: @red;
	}
}

.page-header__socials {
	display: flex;
	li {
		margin-right: 15px;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 48px;
			height: 48px;
			line-height: 0;
			border-radius: 50%;
			background-color: #313538;
		}
		&:last-child {
			margin-right: 0;
		}
		&.page-header__socials-telegram {
			a {
				&:hover,
				&:focus {
					background-color: #259cd8;
				}
			}
		}
		&.page-header__socials-whatsapp {
			a {
				&:hover,
				&:focus {
					background-color: #25cb63;
				}
			}
		}
		&.page-header__socials-mail {
			a {
				&:hover,
				&:focus {
					background-color: #ff3e41;
				}
			}
		}
		&.page-header__socials-message {
			a {
				&:hover,
				&:focus {
					background-color: #8a8b8b;
				}
			}
		}
	}
	
}



@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.page-header__phone {
		svg {
			display: none;
		}
		span {
			display: inline-block;
		}
	}

	.page-header__operation {
		display: flex;
		align-items: center;
	}

	.page-header__search {
		width: 400px;
	}

	.page-header__ul-container {
		margin-left: auto;
	}

	.page-header__lang {
		margin-left: 20px;
	}

	.page-header__phone-wrapper {
		display: none;
	}
}

@media (min-width: @desktop-width) {
	.page-header__search {
		width: 630px;
	}

	.page-header__socials {
		justify-content: flex-end;
	}
}

@media (min-width: @desktop-1200-width) {
	.page-header__container {
		// justify-content: space-between;		
	}

	.page-header__toggle-nav {
		display: none;
	}

	.page-header__phone {
		// order: 2;
		display: none;
		svg {
			display: block;
		}
		span {
			display: none;
		}
	}

	.page-header__cart {
		order: 3;
		position: absolute;
		right: 100px;
		margin-left: 0;		
	}

	.page-header__data-container {
		position: static;
		top: auto;
		left: auto;
		right: auto;
		display: flex;
		width: 100%;
		order: 1;
		padding: 0;
		background-color: transparent;
	    // opacity: 0;    
	    // visibility: hidden;
	    // transition: all .2s ease-out;
	    // z-index: 10;

	    // top: 56px;
		opacity: 1;
		visibility: visible;
	}

	.page-header__operation {
		order: 3;
		position: relative;
		margin-bottom: 0;
		margin-left: auto;
		padding-bottom: 0;
		border-bottom: none;
	}

	.page-header__search {
		position: absolute;
		left: 110px;
		width: 45px;
		margin-bottom: 0;
	}

	.page-header__ul-container {
		width: 210px;
		padding-bottom: 0;
	}

	.page-header__user {
		order: 2;
		span {
			display: none;
		}
	}

	.page-header__lang {
		order: 1;
		margin-left: 0;
	}

	.page-header__nav {
		order: 1;
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}	

	.page-header__phone-wrapper {
		order: 2;
		display: block;
		margin-bottom: 0;
		svg {
			display: block;
		}
		span {
			display: none;
		}
	}

	.page-header__socials {
		position: fixed;
		top: 450px;
		right: 20px;
		flex-direction: column;
		li {
			margin-right: 0;
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media (min-width: @desktop-full-width) {

}
