.info {
	position: relative;
	margin-bottom: 100px;
	padding-top: 47px;
	// padding-bottom: 14px;
	//padding-right: 0;
	background-color: @white;
}

.info__title {
	padding-right: 16px;
}

/*--- slider ---*/
.info__wrapper {
	padding-right: 0;
}

.info__list-wrapper {
	position: relative;	
}

.info__list {
	position: relative;
	padding: 27px 0 145px;
	.swiper-wrapper {
		// display: flex;
		align-items: stretch;
	}
}

.info__item {
	position: relative;
	box-sizing: border-box;
	width: 314px !important;
	padding-bottom: 10px;

	border-radius: 20px;
	background-color: @red;
	// background-color: #f5f5f5;	
	
	display: flex;
	flex-direction: column;
	// flex: 1;
	
	
	& > a {
		display: block;
		margin-bottom: 30px;		
		picture {
			overflow: hidden;
			border-radius: 20px;
			img {				
				transition: @animation;

			}
		}
		&:hover,
		&:focus {			
			picture {
				img {
					transform: scale(1.05);
				}
			}
		}
	}	
}


	
.info__item-title {
	display: block;
	margin-bottom: 40px;
	padding: 0px 28px;
	text-decoration: none;
	h3 {
		margin: 0;
		font-size: 14px;
		line-height: 21px;
		font-weight: 550;
		letter-spacing: -0.3px;
		color: @main-dark;
		transition: @animation;
	}
	&:hover,
	&:focus {
		h3 {
			color: @red;
		}
	}
}


.info__item-category {
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	color: @red;
}

.info__item-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
	padding: 0px 28px;
}

.info__item-date {
	font-size: 12px;
	line-height: 16px;
	// font-size: 14px;
	// line-height: 19px;
	font-weight: 400;
	color: @gray-font;
}

.info__item-link {
	margin-right: 5px;
	svg {
		width: 10px;
		height: 10px;
		transition: @animation;
	}
	&:hover,
	&:focus {
		svg {
			fill: @red;
		}
	}
}

.info__pagination {
	position: absolute;
	bottom: 64px;
	width: 100%;
	z-index: 2;  
	.prev, .next {
	    position: absolute;
	    left: 2px;
	    bottom: 0;
	    width: 33px;
	    height: 33px;
	    line-height: 0;
	    border: none;
	    background-color: rgba(255,255,255,.1);
	    // background-color: #f5f5f5;
	    border-radius: 50%;
	    opacity: 0.6;
	    cursor: pointer;
	    transition: @animation;
	    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
	    /* отмена выделения текста */
			-webkit-user-select: none;
			 -khtml-user-select: none;
			   -moz-user-select: none;
				-ms-user-select: none;
				    user-select: none;
	    z-index: 1;
	    &::after {    	
	    	position: absolute;
	    	top: 50%;
	    	left: 12px;
	    	width: 10px;
	    	height: 10px;
	    	margin-top: -7px;
	    	border-bottom: 2px solid @gray-font;
	    	border-left: 2px solid @gray-font;
	    	transform: rotate(45deg);
	    }
	    &:hover,
	    &:focus {
	      opacity: 1;  
	    }
	}
	.next {
		left: 57px;    
		&::after {
			left: 8px;
			border: none;
			border-top: 2px solid @gray-font;
			border-right: 2px solid @gray-font;	
		}
	}
}

.info__all {
	position: absolute;
	bottom: 64px;
	right: 16px;	
	z-index: 1;
	a {
		display: inline-block;
		padding-bottom: 8px;
		color: @main-dark;
		letter-spacing: 0.1px;
		&::after {
			background-color: @main-dark;
		}
	}
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.info {
		padding-top: 53px;		
	}

	.info__wrapper {
		padding-left: 48px;
		padding-right: 48px;
	}

	.info__title {
		padding-right: 0;
	}

	.info__list  {
		padding: 40px 0 110px 0;
	}

	.info__item {
		border-radius: 24px;
		& > a {
			picture {
				border-radius: 24px;
			}
		}
	}

	.info__item-data {
		.info__item-title {			
			h3 {				
				font-size: 16px;
				line-height: 24px;
			}			
		}
	}

	.info__item-category {
		font-size: 14px;
		line-height: 19px;
	}

	.info__item-date {
		font-size: 14px;
		line-height: 19px;		
	}

	.info__item-link {		
		svg {
			width: 12px;
			height: 12px;			
		}		
	}

	.info__pagination {
		bottom: 45px;
	}

	.info__all {
		bottom: 45px;
	}
}

@media (min-width: @desktop-width) {
	.info__wrapper {
		padding-left: 108px;
		padding-right: 108px;
	}

	.info__item {
		width: 350px !important;
	}
}

@media (min-width: @desktop-1200-width) {
	.info {
		padding-top: 60px;
	}

	.info__wrapper {		
		padding-left: 127px;
		padding-right: 127px;
	}

	.info__item {
		width: 418px !important;
	}

	.info__item-data {
		.info__item-title {			
			h3 {				
				font-size: 18px;
				line-height: 27px;
				//font-size: 20px;
				//line-height: 30px;
			}			
		}
	}
}

@media (min-width: @desktop-1400-width) {
	.info {
		padding-bottom: 60px;
	}

	.info__wrapper {
		padding-left: 227px;
		padding-right: 227px;
	}

	.info__list  {
		padding: 40px 0 60px 0;
	}

	.info__item {
		border-radius: 28px;
		& > a {
			picture {
				border-radius: 28px;
			}
		}
	}

	.info__pagination {
		bottom: auto;		
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -30px;
		.prev, .next {
		    left: -127px;
		    bottom: 0;
		    width: 100px;
		    height: 100px;		    
		    background-color: transparent;
		    &::after {
		    	left: 35px;
		    	width: 40px;
		    	height: 40px;
		    	margin-top: -22px;
		    }		    
		}
		.next {
			left: auto;
			right: -133px;
			&::after {
				left: 19px;				
			}
		}
	}

	.info__all {
		position: static;
		text-align: center;
	}
}

@media (min-width: @desktop-1600-width) {
	.info {
		padding-top: 92px;
		padding-bottom: 92px;
	}

	.info__wrapper {
		padding-left: 93px;
		padding-right: 93px;
	}

	.info__list  {
		padding: 67px 0 88px 0;
	}

	.info__item-data {
		padding: 0 35px;
		.info__item-title {
			margin-bottom: 35px;
			h3 {
				font-size: 20px;
				line-height: 31px;
			}			
		}
	}

	.info__item-category {
		margin-bottom: 16px;
	}

	.info__item-link {
		margin-right: 0;
	}

	.info__pagination {
		display: none;
	}

	.info__all {
		a {
			margin-bottom: 11px;
		}
	}
}

@media (min-width: @desktop-full-width) {
	.info__pagination {
		display: block;
		margin-top: 6px;
		.prev, .next {
		    left: -127px;
		}
		.next {
			left: auto;			
			right: -133px;
			
		}
	}
}

&:hover,
&:focus {
	
}