.intro {
	position: relative;	
	height: 660px;
	// height: 790px;
	// background-color: @red;
}

.intro__desc {
	position: absolute;
	top: 0;
	left: 16px;
	width: 180px;
	font-size: 18px;
	line-height: 27px;
	font-weight: 700;
	color: @menu-font;
	z-index: 1;

	// top: 72px;	
	// left: 100px;	
	// width: 370px;	
	// font-size: 32px;
	// line-height: 43px;	
}

.intro__video {
	position: absolute;
	top: 2px;
	right: 10px;
	// top: 0;
	// right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	z-index: 1;
	svg {
		transition: all .35s ease-out;	
	}
	svg.play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-48%, -48%);
		width: 11px;
		height: 12px;
		// width: 20px;
		// height: 22px;
	}
	svg.play-text {
		width: 54px;
		height: 56px;
		// width: 94px;
		// height: 98px;
	}
	&:hover,
	&:focus {
		svg.play-text {			
			transform: rotate(-135deg);			
		}
	}
}

.intro__buy {
	position: absolute;
	bottom: 50px;
	right: 16px;
	// bottom: 5px;
	// left: 100px;
	padding-bottom: 5px;
	color: @menu-font;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.03em;
	// font-size: 16px;
	// line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	z-index: 1;
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		height: 2px;
		background-color: @menu-font;
		transition: @animation;
	}
	&:hover,
	&:focus {
		color: @red;
	}
	&:hover::after,
	&:focus::after {
		background-color: @red;
	}
}

.intro__choice {
	position: absolute;
	bottom: 52px;
	left: 16px;
	padding-left: 40px;
	color: @menu-font;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.03em;
	// font-size: 16px;
	// line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	z-index: 1;
	&::after {
		position: absolute;
		top: 50%;
		left: 0;				
		content: '';
		width: 30px;
		height: 2px;
		margin-top: -1px;
		background-color: @menu-font;
		transition: @animation;
	}
	&:hover,
	&:focus {
		color: @red;
	}
	&:hover::after,
	&:focus::after {
		background-color: @red;
	}
}

.intro__state-register {
	position: absolute;
	top: 80px;
	right: 18px;
	// bottom: 0;
	// right: 90px;
	text-align: center;
	z-index: 1;
	svg {
		width: 34px;
		height: 33px;
		margin-bottom: 2px;
		// width: 65px;
		// height: 64px;
	}
	span {
		display: block;
		color: @menu-font;
		font-size: 6px;
		line-height: 8px;
		// font-size: 12px;
		// line-height: 16px;
		font-weight: 500;
		&.upper {			
			font-size: 9px;
			line-height: 9px;
			// font-size: 18px;
			// line-height: 24px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.03em;
		}
	}
}

.intro-1,
.intro-2 {		
	position: absolute;	
	top: 0;
	bottom: 0;
	left: 16px;
	right: 16px;
	padding-top: 52px;
	// left: 93px;
	// right: 93px;
	// padding-left: 185px;
	// padding-top: 0;
	box-sizing: border-box;
	.title {
		position: absolute;		
		bottom: 150px;
		left: 0;
		right: 0;
		// bottom: 335px;
		// left: -110px;
		margin: 0;

		font-size: 28px;
		line-height: 35px;
		text-align: center;

		// font-size: 72px;
		// line-height: 90px;
		// text-align: left;
		font-weight: 700;
		color: @white;
		z-index: 1;
		transition: all .4s ease-out;
	}
	.choice {
		position: absolute;		
		bottom: 52px;
		left: 40px;
		// bottom: 305px;
		// left: 5px;

		font-size: 12px;
		line-height: 16px;

		// font-size: 16px;
		// line-height: 22px;
		font-weight: 550;
		letter-spacing: 0.03em;
		text-decoration: none;
		text-transform: uppercase;
		color: @menu-font;
		z-index: 1;
		transition: all .5s ease-out;
		&::before {
			position: absolute;
			top: 50%;
			left: -40px;
			// left: -112px;
			content: '';
			width: 30px;
			// width: 88px;
			height: 2px;
			margin-top: -2px;
			background-color: @menu-font;
			transition: all .5s ease-out;
		}
		&:hover,
		&:focus {
			color: @white;
		}
		&:hover::before,
		&:focus::before {
			background-color: @white;
		}
	}
	picture {
		position: relative;
		display: inline-block;
		transition: all .5s ease-out;
		img {
			position: relative;
			bottom: 4px;
			left: -16px;
			// bottom: 10px;
		}
	}
}

.intro-2 {
	// padding-left: 275px;
	.title {
		// bottom: 315px;
		// left: auto;
		// right: -5px;
		// text-align: right;
		br {
			display: none;
		}
	}
	.choice {
		// bottom: 275px;
		// left: auto;
		// right: -5px;
	}
	picture {
		img {
			left: 0;
			bottom: -10px;
		}
	}
}

.intro-1__hide, 
.intro-2__hide {
	.title {
		bottom: 120px;
		// bottom: 360px;
		
		font-size: 18px;
		line-height: 23px;

		// font-size: 32px;
		// line-height: 40px;

		&::after {
			position: absolute;
			top: 50%;
			right: -108px;
			// content: '\2022';
			display: flex;
			justify-content: center;
			align-items: center;
			width: 72px;
			height: 72px;
			margin-top: -36px;
			font-size: 20px;
			color: @red;
			border-radius: 50%;
			background-color: rgba(127, 133, 137, 0.4);
			border: 1px solid @gray-font;
			box-sizing: border-box;
			transition: all .4s ease-out;
		}
		&:hover {
			color: @red;
		}
		&:hover::after {
			transform: scale(1.1);
		}
	}
	.choice {
		transform: translate(-150px, -50px) scale(0);
	}
	picture {
		transform: scale(0.65) translate(-620px, 50px);
		filter: blur(19px);
	}
}

.intro-2__hide {
	.title {
		// right: -117px;		
		br {
			display: none;
		}
		&::after {
			right: auto;
			left: -103px;
		}
	}
	.choice {
		transform: translate(350px, -50px) scale(0);
		// transform: translate(150px, -50px) scale(0);
	}
	picture {
		transform: scale(.69) translate(525px,-10px);
	}
}


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-1200-width) {

}


@media (min-width: @desktop-full-width) {

}

/*.intro {
	position: relative;	
	height: 790px;
}

.intro__desc {
	position: absolute;
	top: 72px;
	left: 100px;
	width: 370px;
	font-size: 32px;
	line-height: 43px;
	font-weight: 700;
	color: @menu-font;
	z-index: 1;
}

.intro__video {
	position: absolute;
	top: 72px;
	right: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	z-index: 1;
	svg {
		transition: all .35s ease-out;	
	}
	svg.play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-48%, -48%);
	}
	&:hover,
	&:focus {
		svg.play-text {
			transform: rotate(-135deg);			
		}
	}
}

.intro__buy {
	position: absolute;
	bottom: 5px;
	left: 100px;
	padding-bottom: 5px;
	color: @menu-font;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	z-index: 1;
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		height: 2px;
		background-color: @menu-font;
		transition: @animation;
	}
	&:hover,
	&:focus {
		color: @red;
	}
	&:hover::after,
	&:focus::after {
		background-color: @red;
	}
}

.intro__state-register {
	position: absolute;
	bottom: 0;
	right: 90px;
	text-align: center;
	z-index: 1;
	span {
		display: block;
		color: @menu-font;
		font-size: 12px;
		line-height: 16px;
		font-weight: 500;
		&.upper {
			font-size: 18px;
			line-height: 24px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}

.intro-1,
.intro-2 {	
	position: absolute;	
	top: 0;
	bottom: 0;
	left: 93px;
	right: 93px;
	padding-left: 185px;
	box-sizing: border-box;
	.title {
		position: absolute;		
		bottom: 335px;
		left: -110px;
		margin: 0;
		font-size: 72px;
		line-height: 90px;
		font-weight: 700;
		color: @white;
		z-index: 1;
		transition: all .4s ease-out;
	}
	.choice {
		position: absolute;		
		bottom: 305px;
		left: 5px;
		font-size: 16px;
		line-height: 22px;
		font-weight: 550;
		letter-spacing: 0.03em;
		text-decoration: none;
		text-transform: uppercase;
		color: @menu-font;
		z-index: 1;
		transition: all .5s ease-out;
		&::before {
			position: absolute;
			top: 50%;
			left: -112px;
			content: '';
			width: 88px;
			height: 2px;
			margin-top: -2px;
			background-color: @menu-font;
		}
	}
	picture {
		position: relative;
		display: inline-block;
		transition: all .5s ease-out;
		img {
			position: relative;
			bottom: 10px;
		}
	}
}

.intro-2 {
	padding-left: 275px;
	.title {
		bottom: 315px;
		left: auto;
		right: -5px;
		text-align: right;
	}
	.choice {
		bottom: 275px;
		left: auto;
		right: -5px;		
	}
	picture {
		img {
			bottom: -10px;
		}
	}
}

.intro-1__hide, 
.intro-2__hide {
	.title {
		bottom: 360px;
		font-size: 32px;
		line-height: 40px;
		&::after {
			position: absolute;
			top: 50%;
			right: -108px;
			content: '\2022';
			display: flex;
			justify-content: center;
			align-items: center;
			width: 72px;
			height: 72px;
			margin-top: -36px;
			font-size: 20px;
			color: @red;
			border-radius: 50%;
			background-color: rgba(127, 133, 137, 0.4);
			border: 1px solid @gray-font;
			box-sizing: border-box;
			transition: all .4s ease-out;
		}
		&:hover {
			color: @red;
		}
		&:hover::after {
			transform: scale(1.1);
		}
	}
	.choice {
		transform: translate(-150px, -50px) scale(0);
	}
	picture {
		transform: scale(0.65) translate(-620px, 50px);
		filter: blur(19px);
	}
}

.intro-2__hide {
	.title {
		right: -117px;
		br {
			display: none;
		}
		&::after {
			right: auto;
			left: -103px;
		}
	}
	.choice {
		transform: translate(150px, -50px) scale(0);
	}
	picture {
		transform: scale(.69) translate(525px,-10px);
	}
}*/