.modal-video {
  //position: fixed;  
  display: none;
  width: 300px;  
  padding: 5px;
  top: 50%;
  left: 50%;  
  margin-left: -150px;
  margin-top: -120px;
  line-height: 0;
  color: #000000;  
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;  
  z-index: 100;
  video {
    width: 100%;
  }
}

.modal-video__close {  
	position: absolute;
	top: 0;
	right: -35px;	
	width: 25px;
	height: 25px;
	font-size: 0;	
	background-color: transparent;  
	box-sizing: border-box;
  border: none;	
  border-radius: 50%;
	cursor: pointer;
	opacity: 0.7;  
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.modal-video__close::before,
.modal-video__close::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 0px;
  width: 20px;
  height: 2px;
  background-color: @white;  
}

.modal-video__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-video__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-video__close:hover {
  opacity: 1;
}

@media (min-width: @mobile-width) {  
  .modal-video {
    width: 350px;
    margin-left: -175px;
    //padding: 30px;
  }

  .modal-video__close {
    display: block;
  }  
}


@media (min-width: @tablet-width) {
  .modal-video {
    width: 500px;
    margin-left: -250px;
    margin-top: -150px;
  }
}

@media (min-width: @desktop-width) {
  .modal-video {
    width: 700px;
    margin-left: -350px;
    margin-top: -150px;
  }
}