.modal-user {
  // position: fixed;
  display: none;
  width: 280px;  
  padding: 20px;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  margin-left: -140px;
  margin-top: -120px;
  color: #000000;
  // border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  // transition: none;
  z-index: 100;  
  .form__input--textarea {
    height: auto;
  }
}

.modal-user__description {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: @red;
}

.modal-user__close {  
	position: absolute;
	top: 0;
	right: -35px;
	// display: none;
	width: 25px;
	height: 25px;
	font-size: 0;	
	background-color: transparent;
  // background-color: #eeeeee;
	box-sizing: border-box;
  border: none;	
  border-radius: 50%;
	cursor: pointer;
	opacity: 0.7;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.modal-user__close::before,
.modal-user__close::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 0px;
  width: 20px;
  height: 2px;
  background-color: @white;
  // background-color: #777777;
}

.modal-user__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-user__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-user__close:hover {
  opacity: 1;
}

@media (min-width: @mobile-width) {  
  .modal-user {
    width: 350px;
    margin-left: -175px;
    padding: 30px;
  }

  .modal-user__close {
    display: block;
  }  
}


@media (min-width: @tablet-width) {
  .modal-user {
    // width: 500px;
    // margin-left: -250px;
  }
}