.products {
	margin-bottom: 120px;
	padding: 45px 0 42px 0;
	background-color: @white;
	.tabs__input:checked + label {  
		position: relative;		
		color: @main-dark;
		transition: @animation;
		&::after {
			position: absolute;
			bottom: -10px;
			left: 0;
			right: 0;
			content: '';
			height: 1px;
			background-color: @main-dark;
			opacity: 1;
			transition: none;
		}
	}

	.tabs__wrapper {
		position: relative;
		margin-left: 0;
		padding: 0;
		width: 315px;
	}
}

.products__title {
	margin-bottom: 20px;
}

.products__tabs {
	position: relative;
	align-items: flex-start;
	padding: 0 16px;
	&::before {
		position: absolute;
		top: 46px;
		left: 0;
		right: 0;
		content: '';
		height: 1px;
		background-color: @menu-font;
	}
}

.products__label {
	margin-bottom: 40px;
	margin-right: 30px;
	padding: 9px 8px;
	font-size: 14px;
	line-height: 19px;
	font-weight: 400;
	letter-spacing: 0em;
	color: @gray-font;
	&[for="tab2"] {
		margin-right: 0;
	}
}


/*--- slider ---*/
.products__list {
	padding: 30px 0 90px;
	background-color: #ffffff;	
}

.products__item {
	box-sizing: border-box;
	width: 315px !important;
	padding-right: 7px;
	a {
		text-decoration: none;
		color: @main-dark;
		transition: all 0.2s ease-out;
		&:hover,
		&:focus {
			color: @red;
		}
	}
}

.products__item-title {
	width: 70%;
	margin: 0;
	margin-bottom: 10px;
	padding: 0 30px;
	font-size: 14px;
	font-weight: 550;
	line-height: 21px;
	letter-spacing: -0.3px;	
}

.products__images-wrapper {
  position: relative;
  margin-bottom: 13px;
}

.products__item-images {
  padding-bottom: 15px;
}

.products__images-dots {
  position: absolute;
  padding-left: 7px;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;  
  span {
    width: 6px;
    height: 6px;
    margin: 0 5px !important;
    background-color: @menu-font;
    border-radius: 50%;
    opacity: 0.7;
    transition: @animation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
    /* отмена выделения текста */
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
			    user-select: none;
    &.swiper-pagination-bullet-active {
      background-color: #454545;
    }
    &:hover,
    &:focus {
      opacity: 1;  
    }
  }
}

.products__data {
	display: flex;
	justify-content: space-between;
	padding: 0 23px 0 30px;
}

.products__price {

}

.products__availability {
	margin-bottom: 5px;
	font-size: 11px;
	line-height: 13px;
	font-weight: 400;
	letter-spacing: -0.3px;
	color: @gray-font;
}

.products__price-value {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: @main-dark;
	del {
		display: inline-block;
		margin-right: 12px;
		font-weight: 400;
		color: @gray-font;
	}
}

.products__cart,
.products__more {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 7px;
	background-color: @red;
	border: none;
	opacity: 0.8;
	&:hover,
	&:focus {
		opacity: 1;
	}
}

.products__cart {
	margin-left: auto;
	margin-right: 10px;
	svg {
		width: 14px;
		height: 13px;
	}
}

.products__more {	
	background-color: @main-dark;
	svg {
		width: 11px;
		height: 9px;
		width: 14px;
		height: 12px;
	}
}

.products__pagination {
	position: absolute;
	bottom: 14px;
	width: 100%;
	z-index: 2;  
	.prev, .next {
	    position: absolute;
	    left: 2px;
	    bottom: 0;
	    width: 33px;
	    height: 33px;
	    line-height: 0;
	    border: none;
	    background-color: #f5f5f5;
	    border-radius: 50%;
	    opacity: 0.6;
	    cursor: pointer;
	    transition: @animation;
	    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
	    /* отмена выделения текста */
			-webkit-user-select: none;
			 -khtml-user-select: none;
			   -moz-user-select: none;
				-ms-user-select: none;
				    user-select: none;
	    z-index: 1;
	    &::after {    	
	    	position: absolute;
	    	top: 50%;
	    	left: 12px;
	    	width: 10px;
	    	height: 10px;
	    	margin-top: -8px;
	    	border-bottom: 2px solid @gray-font;
	    	border-left: 2px solid @gray-font;
	    	transform: rotate(45deg);
	    }
	    &:hover,
	    &:focus {
	      opacity: 1;  
	    }
	}
	.next {
		left: 57px;    
		&::after {
			left: 8px;
			border: none;
			border-top: 2px solid @gray-font;
			border-right: 2px solid @gray-font;	
		}
	}
}

.products__catalog {
	position: absolute;
	bottom: 8px;
	right: -45px;
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.03em;
	font-weight: 550;	
	text-transform: uppercase;
	text-decoration: none;
	color: @main-dark;
	transition: all .5s ease-out;
	z-index: 1;
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		height: 2px;
		background-color: @main-dark;
		transition: all .5s ease-out;
	}
	&:hover,
	&:focus {
		color: @red;
		svg {
			fill: @red;
		}
	}
	&:hover::after,
	&:focus::after {
		background-color: @red;
	}

	svg {
		display: none;
		transition: all .5s ease-out;
	}
}

@media (min-width: @mobile-width) {
	.products {
		.tabs__input:checked + label {
			&::after {
				bottom: -8px;
			}
		}

		.tabs__wrapper {
			margin-left: auto;
			width: 350px;
		}
	}

	.products__label {
		font-size: 16px;
		line-height: 21px;		
	}

	.products__tabs {
		justify-content: center;
	}

	.products__item {
		box-sizing: border-box;
		width: 350px !important;
		padding-right: 0;
	}

	.products__item-title {
		font-size: 16px;		
		line-height: 24px;
	}	

	.products__availability {
		margin-bottom: 1px;
		font-size: 13px;
		line-height: 14px;
	}

	.products__price-value {
		font-size: 22px;
		line-height: 28px;
	}

	.products__cart,
	.products__more {		
		width: 37px;
		height: 37px;
		border-radius: 8px;
	}

	.products__cart {		
		svg {
			width: 18px;
			height: 15px;
		}
	}

	.products__more {
		background-color: @main-dark;
		svg {			
			width: 14px;
			height: 12px;
		}
	}

	.products__pagination {	
		.prev, .next {
			left: 32px;
		}
		.next {
			left: 87px;
		}
	}

	.products__catalog {
		right: 30px;
	}


}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.products {
		.tabs__wrapper {	
			width: 700px;
		}
		.tabs__input:checked + label {
			&::after {
				bottom: -5px;
			}
		}
	}

	.products__label {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (min-width: @desktop-width) {
	.products {
		.tabs__wrapper {	
			width: 770px;
		}
	}

	.products__item {
		width: 370px !important;
	}

	.products__item-title {
		font-size: 18px;
		line-height: 27px;
	}

	.products__price-value {		
		font-size: 24px;
		line-height: 30px;
	}

	.products__cart,
	.products__more {
		width: 40px;
		height: 40px;
		border-radius: 10px;
	}

	.products__cart {		
		svg {			
			width: 22px;
			height: 18px;
		}
	}
}

@media (min-width: @desktop-1200-width) {
	.products {	
		padding: 60px 0 42px 0;
	}
}

@media (min-width: @desktop-1400-width) {
	.products {
		padding: 70px 0 0 0;
	}
	.products__pagination {
		bottom: auto;		
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -82px;
		.prev, .next {		
		    left: -120px;		    
		    // left: -70px;		    
		    bottom: 0;
		    width: 100px;
		    height: 100px;		    
		    background-color: transparent;
		    &::after {
		    	left: 35px;
		    	width: 40px;
		    	height: 40px;
		    	margin-top: -22px;
		    }		    
		}
		.next {
			left: auto;
			right: -120px;
			// right: -70px;
			&::after {
				left: 19px;				
			}
		}
	}

	.products__catalog {
		padding-bottom: 0;
		bottom: auto;
		top: -77px;
		right: -90px;
		// top: -99px;
		// right: 0;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: -0.3px;
		text-transform: none;
		svg {
			position: relative;
			top: 4px;
			display: inline-block;
			margin-right: 10px;
		}
		&:after {
			content: none;
		}
	}
}

@media (min-width: @desktop-1600-width) {
	.products {
		.tabs__wrapper {	
			width: 1314px;
		}
		.tabs__input:checked + label {
			&::after {
				bottom: -12px;
			}
		}
	}	

	.products__title {
		margin-bottom: 64px;
	}

	.products__tabs {
		&::before {			
			top: 55px;
		}
	}

	.products__label {
		margin-right: 50px;
		margin-bottom: 60px;
		padding: 10px 18px;
	}

	.products__item-title {
		padding: 0 16px;
	}

	.products__item {
		width: 418px !important;
		padding: 24px;
	}

	.products__item-title {
		margin-bottom: 18px;
	}

	.products__images-wrapper {
		margin-bottom: 20px;
	}

	.products__item-images {
		padding-bottom: 30px;
	}

	.products__images-dots {
		padding-left: 3px;		
		span {
			width: 8px;
			height: 8px;
			margin: 0 6px !important;			
			&.swiper-pagination-bullet-active {
				background-color: #454545;
			}		
		}
	}

	.products__data {
		padding: 0 15px 0 18px;
	}

	.products__availability {
		margin-bottom: 5px;
		line-height: 12px;
	}

	.products__price-value {
		del {
			margin-right: 11px;
		}
	}

	.products__cart {
		margin-right: 15px;
	}

	.products__pagination {
		.prev, .next {
		    left: -70px;
		}
		.next {
			left: auto;
			right: -70px;		
		}
	}

	.products__catalog {		
		top: -99px;
		right: 0;	
	}	

	
}

@media (min-width: @desktop-full-width) {
	.products {
		padding: 93px 0 25px 0;
	}

	.products__pagination {
		.prev, .next {
		    left: -127px;		    
		}
		.next {
			left: auto;
			right: -133px;			
		}
	}
}