/*.products__pagination-list {
  position: relative;
  top: 4px;
  display: flex;
  justify-content: center;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    margin: 0 5px;
    padding: 0 9px;
    font-size: 14px;
    line-height: 16px; 
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // отмена синего фона при нажатии на мобильной версии сайта
    &.active {
      padding: 0 7px;
      color: #ffffff;
      border-radius: 10px;
      background-color: @red;
      opacity: 0.9;
      &:hover,
      &:focus {
        color: #ffffff;
        opacity: 1;
      }
    }
    &.dotted {
      position: relative;
      &::after {
        position: absolute;
        top: -3px;
        content: '...';
        font-size: 20px;
      }
    }
    &:hover,
    &:focus {
      color: @red;
    }
  }
}*/

@media (min-width: @mobile-width) {
  // .products__list {
  //   padding: 20px 0 60px;
  // }

  // .products__item {
  //   width: 80%;
  //   margin: 0 auto;    
  //   padding: 0 20px;
  // }  

  // .products__pagination {    
  //   .prev, .next {
  //   width: 23px;      
  //     left: 25px;
  //   }
  //   .next {
  //     left: auto;
  //     right: 65px;
  //   }
  // }
}

@media (min-width: 600px) {
  
}

@media (min-width: @tablet-width) {
  .products__list {
    padding: 0;
    box-shadow: none;
  }

  .products__item {
    margin: 0;   
  }

  .products__item-wrapper {
    position: relative;
    width: 260px;    
    margin-left: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cee7aa;
  }

  .products__item-title {
    font-size: 21px;
    line-height: 28px;
  }  

  .products__images-dots {
    bottom: 12px !important;
  }

  .products__images-wrapper {
    position: absolute;
    top: 0;
    right: 279px;
    width: 408px;
    height: auto;
    margin: 0;
  }
  .products__pagination {
    bottom: -40px;
  }
}

@media (min-width: @desktop-width) {
  .products__item {
        
  }

  .products__item-wrapper {
    width: 330px;
  }

  .products__item-title {   
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 36px;
  }  

  .products__images-wrapper {    
    right: 349px;
    width: 530px;
    height: auto;
    margin: 0;
  }
}

@media (min-width: @desktop-1200-width) {
  .products__list {
    position: relative;
    padding-right: 95px;
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 95px;
      content: '';      
      background: linear-gradient(90deg,rgba(255,255,255,0.5) 0,rgba(255,255,255,.7) 42%,rgba(255,255,255,.95) 100%);
      // background: linear-gradient(270deg, #FFFFFF 21.45%, rgba(255, 255, 255, 0.2) 96.14%);
      z-index: 1;
    }
  }

  .products__item {
    width: 985px !important;
  }

  .products__images-wrapper {
    right: 359px;
    width: 605px;
  }

  .products__pagination {
    top: 65%;
    bottom: auto;
    .prev, .next {      
      left: 30px;
      bottom: 0;
      width: 40px;
      height: 40px;
      padding: 9px;      
      border-radius: 50%;
      opacity: .8;
      transition: @animation;      
      background-color: #ffffff;
      svg {
        fill: @red;
      }      
    }
    .next {
      left: auto;
      right: 70px;      
    }
  }
}

@media (min-width: @desktop-full-width) {
  .products__list {
    padding-right: 190px;
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 190px;
      content: '';      
      background: linear-gradient(90deg,rgba(255,255,255,0.5) 0,rgba(255,255,255,.7) 42%,rgba(255,255,255,.95) 100%);
      // background: linear-gradient(270deg, #FFFFFF 21.45%, rgba(255, 255, 255, 0.2) 96.14%);
      z-index: 1;
    }
  }  

  .products__item-wrapper {
      margin-left: 815px;
      padding: 20px;
      width: 500px;
      min-height: 432px;
  }

  .products__item {
    width: 1370px !important;
    min-height: 433px;
  }

  .products__item-title {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 48px;
  }

  .products__images-wrapper {
    right: 540px;
    width: 794px;    
  }

  .products__images-dots {
    margin-left: -12px;
  }

  .products__pagination {
    top: 63%;
    .next {
      right: 145px;
    }
  }

  .products__button-see {
    height: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
  }

  .products__button-call {
    height: 50px;
    font-size: 18px;
    line-height: 21px;
  }
}