.search {
	position: relative;
	input[type=text] {
		position: relative;
		width: 100%;		
		padding: 12px 50px 12px 20px;
		font-size: 14px;
		line-height: 21px;
		color: @gray-font;
		border-radius: 10px;
		border: none;
		background-color: #25292c;
		box-sizing: border-box;
		cursor: pointer;
	}	

	svg {
		position: absolute;
		top: 14px;
		right: 19px;
		width: 15px;
		height: 16px;
		cursor: pointer;
		transition: @animation;		
	}	
}


@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	.search {
		svg {		
			top: 14px;
			right: 19px;
			width: 16px;
			height: 18px;
		}
	}
}

@media (min-width: @desktop-1200-width) {
	.search {
		position: relative;
		input[type=text] {
			width: 45px;			
			// padding: 12px 20px 12px 20px;
			font-size: 14px;
			line-height: 21px;
			color: @gray-font;			
			background-color: transparent;			
			opacity: 0;			
			transition: width 0.4s ease-in-out;
			&:focus {
				width: 200px;
				// width: 475px;
				background-color: #25292c;
				opacity: 1;

				& + svg {
					fill: @white;
				}
			}

			&:hover {
				& + svg {
					fill: @white;
				}
			}
		}
	}
}

@media (min-width: @desktop-full-width) {
	.search {		
		input[type=text] {			
			&:focus {				
				width: 475px;				
			}			
		}
	}
}