/*--- Haval ---*/
@font-face {
    font-family: 'Haval';
    font-weight: 400;
    src: url('../fonts/Haval/Haval-Regular.eot');
    src: url('../fonts/Haval/Haval-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Haval/Haval-Regular.woff2') format('woff2'),
        url('../fonts/Haval/Haval-Regular.woff') format('woff'),
        url('../fonts/Haval/Haval-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Haval';
    font-weight: 500;
    src: url('../fonts/Haval/Haval-Medium.eot');
    src: url('../fonts/Haval/Haval-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Haval/Haval-Medium.woff2') format('woff2'),
        url('../fonts/Haval/Haval-Medium.woff') format('woff'),
        url('../fonts/Haval/Haval-Medium.ttf') format('truetype');
    font-display: swap;
}

/*--- TT-Wellingtons ---*/
@font-face {
    font-family: 'TT-Wellingtons';
    font-weight: 400;
    src: url('../fonts/TT-Wellingtons/TT-Wellingtons-Medium.eot');
    src: url('../fonts/TT-Wellingtons/TT-Wellingtons-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TT-Wellingtons/TT-Wellingtons-Medium.woff2') format('woff2'),
        url('../fonts/TT-Wellingtons/TT-Wellingtons-Medium.woff') format('woff'),
        url('../fonts/TT-Wellingtons/TT-Wellingtons-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'TT-Wellingtons';
    font-weight: 500;
    src: url('../fonts/TT-Wellingtons/TT-Wellingtons-Bold.eot');
    src: url('../fonts/TT-Wellingtons/TT-Wellingtons-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TT-Wellingtons/TT-Wellingtons-Bold.woff2') format('woff2'),
        url('../fonts/TT-Wellingtons/TT-Wellingtons-Bold.woff') format('woff'),
        url('../fonts/TT-Wellingtons/TT-Wellingtons-Bold.ttf') format('truetype');
    font-display: swap;
}