/*--- Haval ---*/
@font-face {
    font-family: 'Haval';
    font-weight: 400;
    src: url('../fonts/Haval/Haval-Regular.eot');
    src: url('../fonts/Haval/Haval-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Haval/Haval-Regular.woff2') format('woff2'),
        url('../fonts/Haval/Haval-Regular.woff') format('woff'),
        url('../fonts/Haval/Haval-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Haval';
    font-weight: 500;
    src: url('../fonts/Haval/Haval-Medium.eot');
    src: url('../fonts/Haval/Haval-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Haval/Haval-Medium.woff2') format('woff2'),
        url('../fonts/Haval/Haval-Medium.woff') format('woff'),
        url('../fonts/Haval/Haval-Medium.ttf') format('truetype');
    font-display: swap;
}