.about-us {
	
}

.about-us__text {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.about-us__text--black {
	color: #000000;
}

.about-us__img {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

@media (min-width: @custom-width) {
	.about-us__text {
		text-align: justify;
	}
}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}