.banners {
	padding-bottom: 10px;

	background-color: #f2f2f2;
}

.banners__title {
	position: relative;

	margin: 0;
	padding: 5px 10px 5px 38px;

	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	background-color: #329A00;

	svg {
		position: absolute;
		top: 50%;
		left: 10px;
		margin-top: -10px;
	}
}	

.banners__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 10px;	
	padding-bottom: 0;

	list-style: none;
}

.banners__item {	
	width: 48%;
	margin-bottom: 10px;	

	a {
		display: block;	

		img {
			display: block;
		}
	}
}

@media (min-width: @custom-width) {
	.banners {
		padding-bottom: 20px;
	}

	.banners__item {
		width: 24%;
	}
}

@media (min-width: @tablet-width) {
	.banners__item {
		width: 18.5%;
	}
}

@media (min-width: @custom940-width) {
	.banners__item {
		width: 48%;
	}
}

@media (min-width: @desktop-width) {

}