.button {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 10px 30px;

	font: inherit;
	font-size: 17px;
	line-height: 23px;	

	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 400;
	color: #ffffff;

	background-color: #f19f0f;
	// border: 1px solid #e5ddd5;
	border: none;
	// border-radius: 3px;

	box-sizing: border-box;

	transition: @anim;
}

.button:hover,
.button:focus {
	background: #e09107;
}

.button:active {
	color: rgba(0,0,0,.3);
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (min-width: @custom-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}