.contacts {
	
}

.contacts__department {
	margin-bottom: 15px;	

	border-bottom: 1px dashed #cccccc;
}

.contacts__name {
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
}

.contacts__phone {
	position: relative;

	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	padding-left: 33px;

	font-weight: 700;
	color: #003553;

	&::after {
		content: '';

		position: absolute;
		top: 4px;
		left: 7px;

		width: 18px;
		height: 18px;

		background-image: url('../img/phone.svg');
		background-repeat: no-repeat;
	}
}

.contacts__fax {
	position: relative;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	padding-left: 33px;

	font-weight: 700;
	color: #003553;

	&::after {
		content: '';

		position: absolute;
		top: 3px;
		left: 5px;

		width: 23px;
		height: 23px;

		background-image: url('../img/fax.svg');
		background-repeat: no-repeat;
	}
}

.contacts__email {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;

	color: #3d00c4;
}

@media (min-width: @custom-width) {
	
}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}