.employment-contract {
	
}

.employment-contract__title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;

	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;	
	color: #000000;
}

.employment-contract__text {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;

	span {
		font-size: 15px;
		font-style: italic;
		color: #aaaaaa;
	}
}

.employment-contract__text--black {
	color: #000000;
}

.employment-contract__text--privileges {
	padding: 5px 10px;

	font-size: 16px;
	line-height: 23px;

	background-color: #fdf7f1;
	border: 3px double #e0a100;
}

.employment-contract__text--important {
	margin-bottom: 20px;
	text-align: center;
}

.employment-contract__text--schedule {
	margin-bottom: 20px;	
	color: #000000;
}

.employment-contract__schedule {
	margin-bottom: 25px;
}

.employment-contract__phone {
	margin-bottom: 25px;
}

.employment-contract__address {
	margin-bottom: 25px;
}

.employment-contract__list {
	margin-bottom: 15px;

	a {
		color: #d56e00;
		transition: @anim;

		&:hover,
		&:focus {
			color: #329a00;
		}
	}
}

.employment-contract__links {
	margin-bottom: 15px;
}

.employment-contract__links--dark {
	position: relative;

	margin-bottom: 5px;
	padding: 7px 10px 7px 55px;
	
	text-align: left;
	text-transform: none;

	span {
		font-weight: 400;
		font-size: 15px;
		font-style: italic;
	}	

	svg {
		position: absolute;
		top: 50%;
		left: 12px;

		margin-top: -15px;

		fill: #ffffff;
	}
}

.employment-contract__links--light {
	position: relative;

	margin-bottom: 5px;
	padding: 7px 10px 7px 55px;
	
	text-align: left;
	text-transform: none;
	color: #2c8004;

	background-color: #e6e3af;
	border: 1px solid #319202;

	span {
		font-weight: 400;
		font-size: 15px;
		font-style: italic;
	}	

	svg {
		position: absolute;
		top: 50%;
		left: 12px;

		margin-top: -15px;

		fill: #2c8004;
	}

	&:hover,
	&:focus {
		color: #205807;

		background-color: #deda92;

		svg {
			fill: #205807;
		}
	}
}


@media (min-width: @custom-width) {
	.employment-contract__links--dark {
		padding: 12px 10px 14px 55px;
	}
}

@media (min-width: @tablet-width) {
	.employment-contract__title {
		text-align: left;
	}

	.employment-contract__text {
		text-align: justify;
	}

	.employment-contract__text--important {
		text-align: center;
	}

	.employment-contract__schedule {
		margin-left: 30px;
	}

	.employment-contract__phone {
		margin-left: 30px;
	}

	.employment-contract__address {
		margin-left: 30px;
	}
}

@media (min-width: @custom940-width) {
	.employment-contract__links--dark {
		margin: 0;
		margin-bottom: 5px;
		width: 63%;
	}

	.employment-contract__links--light {
		margin: 0;
		margin-bottom: 5px;
		width: 63%;
	}
}

@media (min-width: @desktop-width) {

}