.files {
	
}

.files__description-wrapper {
	svg {		
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}

.files__description {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	padding-top: 10px;

	font-weight: 700;
	text-align: center;
}

.files__list {
	margin: 0;
	padding: 0;
	padding-top: 5px;

	list-style: none;

	border-top: 1px solid #edd3ae;
}

.files__item {
	margin-bottom: 5px;

	a {
		position: relative;
		
		display: block;
		padding: 2px 10px 2px 25px;
		
		text-decoration: none;
		color: #777;
		
		background-color: #f7f7f7;
		border-bottom: 1px dashed #e4eae2;

		transition: @anim;

		&::before {
			position: absolute;
			top: 14px;
			left: 10px;
			
			content: '';
			
			width: 4px;
			height: 4px;
			
			background-color: #b5b5b5;
			transform: rotate(45deg);

			transition: @anim;
		}

		&:hover,
		&:focus {
			color: #000000;
			box-shadow: 0 0 0 2px white,
						0 0 0 4px #fc0;

			&::before {
				background-color: #fc0;
			}
		}
	}
}

@media (min-width: @custom-width) {
	.files__description-wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;

		svg {		
			width: 76px;
			height: 50px;
			padding-left: 10px;

			order: 1;
		}
	}

	.files__description {
		width: 400px;

		padding-left: 20px;
		text-align: left;

		order: 2;
	}
}

@media (min-width: @tablet-width) {
	.files__description {
		width: 580px;
	}
}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {
	.files__description-wrapper {
		
		svg {
			padding-top: 15px;
			padding-left: 10px;

			order: 1;
		}
	}

	.files__description {
		width: 700px;
	}
}