.footer-structure {
	margin-bottom: 20px;	
}

.footer-structure__title {
	position: relative;

	padding-left: 45px;

	svg {
		position: absolute;
		top: 9px;
		left: 10px;
	}
}

.footer-structure__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-structure__item {
	a {
		display: block;
		padding: 2px 10px;

		color: #999999;
		text-decoration: none;

		border-bottom: 1px solid #454b4c;

		transition: @anim;

		&:hover,
		&:focus {
			color: #ffffff;

			box-shadow: none;
			background-color: #e28605;
		}
	}
}

@media (min-width: @custom-width) {

}

@media (min-width: @tablet-width) {
	.footer-structure {
		width: 340px;
	}
}

@media (min-width: @custom940-width) {
	.footer-structure {
		width: 31%;
	}
}

@media (min-width: @desktop-width) {
	.footer-structure {
		width: 360px;
		margin-bottom: 0;
	}
}