.footer-structure {
	
}

.footer-structure__title {
	position: relative;

	padding-left: 45px;

	svg {
		position: absolute;
		top: 9px;
		left: 10px;
	}
}

@media (min-width: @custom-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}