.footer-info {
	
}

.footer-info__title {
	position: relative;

	padding-left: 38px;

	svg {
		position: absolute;
		top: 11px;
		left: 10px;
	}
}

.footer-info__two-columns {

}

.footer-info__one {
	margin-bottom: 15px;
}

.footer-info__two {
	margin-bottom: 15px;

	.footer-info__description {
		margin-bottom: 0;
	}	
}

.footer-info__description {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;

	color: #999999;
}

.footer-info__mode {
	padding-left: 10px;

	color: #cacaca;

	background: #454b4c;	
	border-left: 2px solid #e28605;

	p {
		margin: 0;
		padding: 0;

		line-height: 23px;
	}
}

.footer-info__content {
	position: relative;

	margin: 0;
	padding: 0;
	padding-left: 38px;

	font-size: 20px;
	font-weight: 700;
	color: #ffffff;

	svg {
		position: absolute;
		top: 3px;
		left: 10px;		
	}
}

.footer-info__email {
	margin: 0;
	padding: 0;

	color: #e28605;
}

@media (min-width: @custom-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}