.form {
	
}

.form--nojs .form__label {
	top: -12px;
	left: 16px;
	font-size: 15px;
}

.form__comment {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;

	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #329a00;

	box-sizing: border-box;
}

.form__notice {
	position: relative;

	display: none;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;

	margin: 0;
	margin-top: 75px;
	margin-bottom: 30px;
	padding: 0;
	
	text-align: center;
	color: #ffffff;

	background-color: red;

	svg {
		position: absolute;
		top: -50px;

		width: 50px;
		height: 43px;
		margin-bottom: 10px;

		fill: red;
	}

	span {
		padding: 3px 10px;
	}
}

.form__notice--succesfull {
	background-color: #329a00;

	svg {
		fill: #329a00;
	}

	.second {
		padding: 1px 10px;
		
		color: #000000;

		background-color: #ffffff;
		border-bottom: 1px solid #a3de86;
	}
}

.form__notice--show {
	display: flex;
	animation-name: noticeShow;
	animation-duration: 1s;
}

@keyframes noticeShow {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

.form__comment--file {
	padding: 5px 10px;
	
	color: #d56e00;
	
	border: 1px dashed #e0a100;
	border-radius: 3px;
}

.form__item {
	position: relative;

	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.form__item--attach {
	text-align: center;
}

.form__item--person,
.form__item--email,
.form__item--phone,
.form__item--record {
	position: relative;

	&::after {
		content: '';

		position: absolute;
		top: 50%;
		right: 10px;

		width: 23px;
		height: 29px;
		margin-top: -16px;
		
		background-image: url('../img/person.svg');
		background-position: center;
		background-repeat: no-repeat;
	}
}

.form__item--email {
	&::after {
		width: 23px;
		height: 23px;
		margin-top: -12px;

		background-image: url('../img/email.svg');
	}
}

.form__item--phone {
	&::after {
		width: 23px;
		height: 23px;
		margin-top: -12px;

		background-image: url('../img/telephone.svg');
	}
}

.form__item--record {
	&::after {
		width: 23px;
		height: 23px;
		margin-top: -10px;

		background-image: url('../img/record.svg');
	}
}

.form__input {
	width: 100%;
	height: 50px;
	margin: 0;	
	padding: 5px 45px 5px 15px;
	
	font-size: 20px;
	line-height: 26px;

	border: 1px solid #d0d0d0;
	border-radius: 2px;
	
	box-sizing: border-box;
	transition: @anim;

	&:hover,
	&:focus {
		box-shadow: none;
		// border: 1px solid #329a00;
		border: 1px solid #e28605;
	}

	&:hover + .form__label,
	&:focus + .form__label {
		// color: #329a00 !important; // нужно только, чтобы не писать много кола на JS
		color: #e28605 !important; // нужно только, чтобы не писать много кола на JS
	}
}

.form__input--textarea {
	height: auto;
	padding: 20px;
}

.form__label {
	position: absolute;

	top: -12px;
	left: 16px;
	font-size: 15px;

	display: block;
	padding: 0 5px;
	
	color: #c3c3c3;

	background-color: #ffffff;

	transition: @anim;

	span {
		opacity: .5;
	}
}

.form__label--start {
	top: 12px;
	left: 16px;

	font-size: 17px;

	background-color: transparent;
}

.form__input--error {
	border: 1px solid red;

	& + .form__label {
		color: red;
	}
}

.form__attach {
	position: relative;

	display: inline-block;
	margin-bottom: 5px;
	padding: 10px 20px 13px 65px;

	font-size: 18px;
	color: #ffffff;

	background-color: #3d4647;
	border-radius: 5px;
	box-sizing: border-box;

	cursor: pointer;
	transition: @anim;

	&::before {
		content: '';

		position: absolute;
		top: 2px;
		bottom: 2px;
		left: 12px;

		width: 25px;		
		padding-right: 10px;
		
		background-image: url('../img/attach.svg');
		background-repeat: no-repeat;
		background-position: 0 center;
		border-right: 1px dashed #ffffff;
	}

	&:hover,
	&:focus {
		background-color: #1a1d1d;
	}
}

.form__attach-input {
	position: absolute;
	width: 0;
	height: 0;

	opacity: 0;
	box-shadow: none;

	overflow: hidden;    
    z-index: -1;
}

.form__filename {
	margin: 0;
	padding: 0;
}

.form__submit {
	padding: 10px 30px;

	font-size: 19px;
	line-height: 26px;

	background-color: #3d4647;
}

@media (min-width: @custom-width) {	

	.form__item--attach {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		text-align: left;
	}

	.form__attach {
		display: inline-block;
		width: 225px;
		margin-right: 15px;
		margin-bottom: 0;
	}

	.form__filename {
		width: 300px;
		margin-bottom: 0;
	}

	.form__comment {
		width: 100%;
		text-align: left;
	}

	.form__notice {
		flex-direction: row;
		
		margin-top: 25px;

		text-align: left;

		svg {
			position: static;

			width: 23px;
			height: 23px;
			margin: 0 0 0 10px;

			fill: #ffffff;
		}

		span {
			width: 470px;
		}
	}

	.form__notice--succesfull {
		.second {
			width: 100%;
		}
	}
}

@media (min-width: @tablet-width) {
	.form__filename {
		width: 480px;
	}

	.form__notice {
		span {
			width: 650px;
		}
	}

	.form__two-columns {
		display: flex;
		justify-content: space-between;
	}

	.form__first-column {
		width: 48%;
	}

	.form__second-column {
		width: 48%;
	}

	.form__submit {
		margin: 0;
		width: 42%;
	}
}

@media (min-width: @custom940-width) {
	.form__filename {
		width: 55%;
	}

	.form__notice {
		span {
			width: 90%;
		}
	}
}

@media (min-width: @desktop-width) {
	.form__filename {
		width: 560px;
	}

	.form__notice {
		span {
			width: 740px;
		}
	}
}