.hamburger {
	width: 25px;
	height: 18px;
}

.hamburger__line {
	position: relative;
	top: 50%;

	display: block;
	width: 25px;
	height: 2px;
	margin-top: -1px;
	
	background: #a0a1a3;
	transition: transform 0.35s;

	&::before,
	&::after {
		content: '';

		display: block;
		width: 25px;		
		height: 2px;

		background: #a0a1a3;
		transition: transform 0.35s;
		transform: translate(0%, -7px);
	}

	&::after {
		transform: translate(0%, 5px);	
	}
}


@media (min-width: @custom-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}