.info {
	padding-top: 20px;
}

.info__text-title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;

	font-size: 28px;
	text-align: center;	
}

.info__text {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;	
}

.info__more-button {
	margin-bottom: 15px;
}

.info__more {
	padding-bottom: 10px;
}

.info__list {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;	
}

.info__link-bottom {
	margin-bottom: 10px;
}

@media (min-width: @custom-width) {
	.info__text-title {
		text-align: left;
	}

	.info__text {
		text-align: justify;
	}

	.info__more-button {
		display: none;
	}

	.info__more {
		display: block !important;
		padding-bottom: 0;
	}

	.info__link-bottom {	
		padding-left: 10px;
	}
}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}