.intercom {
	
}

.intercom__text {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.intercom__text--title {	
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	color: #000000;
}

.intercom__phone {
	margin-bottom: 20px;
}

.intercom__address {
	margin-bottom: 25px;
}

.intercom__list {
	margin-bottom: 15px;
}

.intercom__underline {
	display: inline-block;
	padding: 0 7px 2px 7px;

	font-weight: 700;
	color: #d56e00;
	border: 1px dashed #d56e00;
	border-radius: 3px;
}

.intercom__gray {
	font-style: italic;
	color: #aaaaaa;
}



@media (min-width: @custom-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}