.janovo {
	
}

.janovo__img {
	margin-bottom: 15px;
}

.janovo__text {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.janovo__phone {
	margin-bottom: 30px;
}

.janovo__list {
	margin-bottom: 25px;
}

.janovo__list-slider {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	margin-bottom: 15px;
	padding: 0;

	list-style: none;
	
	li {
		width: 100%;
		margin-bottom: 10px;
		
		line-height: 0;

		border: 1px solid #e2e2e2;
	}

	a {
		display: inline-block;
	}
}

@media (min-width: @custom-width) {
	.janovo__text {
		text-align: justify;
	}

	.janovo__list-slider {
		li {
			width: 49%;
			margin-bottom: 7px;
		}
	}
}

@media (min-width: @tablet-width) {
	.janovo__img {
		width: 50%;
		margin-right: 15px;
		margin-bottom: 0;
		padding-top: 5px;
		float: left;
	}

	.janovo__list-slider {
		li {
			margin-bottom: 10px;
		}
	}
}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}