.jes {
	
}

.jes__reception-title {
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #000000;

	span {
		font-size: 15px;
		font-weight: 400;
		font-style: italic;
		color: #aaaaaa;

		border-bottom: 1px dashed #aaaaaa;
	}
}

.jes__reception-schedule {
	margin-bottom: 30px;

	span {
		font-size: 15px;
		font-weight: 400;
		font-style: italic;
		color: #aaaaaa;
	}
}

.jes__person {
	margin-bottom: 20px;
	padding-bottom: 0;
}

.jes__title {
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
	padding: 5px 10px;

	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: #3d4647;

	background-color: #f2f2f2;
	border-bottom: 1px dashed #dddddd;

	box-sizing: border-box;
}

.jes__title-tablet {
	display: none;
}


@media (min-width: @custom-width) {
	.jes__reception-title {
		text-align: left;
	}

	.jes__title {
		text-align: left;
	}

	.jes__title-mobile {
		display: none;
	}

	.jes__title-tablet {
		display: block;
	}
}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}