.laboratory {
	
}

.laboratory__text {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.laboratory__text--last {
	margin-bottom: 20px;
}

.laboratory__title {
	display: block;
	margin-bottom: 10px;

	text-align: center;	
}

.laboratory__list {
	margin-bottom: 20px;

	& > li {
		color: #1c244a;
	}
}

.laboratory__list-slider {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	margin-bottom: 15px;
	padding: 0;

	list-style: none;
	
	li {
		margin-right: 10px;
		margin-bottom: 10px;
		
		line-height: 0;

		border: 1px solid #e2e2e2;
	}

	a {
		display: inline-block;
	}
}

@media (min-width: @custom-width) {
	.laboratory__text {
		text-align: justify;
	}

	.laboratory__title {
		text-align: left;
	}

	.laboratory__list-slider {
		li {
			margin-right: 7px;
			margin-bottom: 7px;
		}
	}
}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}