.link-download {
	position: relative;

	display: block;
	padding: 10px 40px 10px 0;	

	text-decoration: none;
	
	color: #0a5993;

	background-image: linear-gradient(#e28605 0%, #e28605 100%);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 0 1px;

	transition: background-size .5s;

	svg {
		fill: #053152;
	}

	&::after {
		content: '';
	
		position: absolute;
		top: 50%;
		right: 7px;

		width: 20px;
		height: 20px;
		margin-top: -10px;
		
		background-image: url(../img/icon-link-download.svg);
		background-size: 20px 20px;

		opacity: .5;
		transition: @anim;
	}

	&:hover,
	&:focus {
		color: #00243f;
		background-size: 100% 1px;		

		box-shadow: none;

		svg {
			fill: #00243f;
		}

		&::after {
			opacity: 1;
		}
	}
}

@media (min-width: @custom-width) {
	.link-download {
		padding-right: 50px;
	}
}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}