.menu-list {
	width: 100%;
	margin: 0;
	padding: 0;

	top: 5px;
	left: -100%;

	list-style: none;

	font-size: 18px;

	opacity: 0;
	transition: all .2s ease-out;

	z-index: 2;
}

.menu-list__show {
	left: 0;
	opacity: 1;
}

.menu-list__item {
	border-bottom: 1px dotted #d8d8d8;

	& > a {
		position: relative;

		display: block;
		padding: 12px 10px;

		text-align: center;
		text-decoration: none;
		color: #ffffff;		
		
		background-color: rgba(28, 36, 44, 0.85);
		transition: @anim;
		
		span {
			position: relative;

			svg {
				position: absolute;
				top: -5px;
				left: -35px;

				margin-right: 10px;
				transition: @anim;		
			}	
		}

		&:hover,
		&:focus {
			color: #e28605;
			box-shadow: none;

			svg {
				fill: #e28605;
			}
		}
	}

	&:last-child {
		border-bottom: none;
	}
}

.menu-list__item--fiz,
.menu-list__item--ur {
	
	user-select: none;
	cursor: pointer;

	& > a {
		
		&::after {
			content: '';

			position: absolute;
			top: 50%;
			right: 27px;

			width: 8px;
			height: 8px;
			margin-top: -4px;

			border-right: 1px solid #ffffff;
			border-bottom: 1px solid #ffffff;

			transform: rotate(-45deg);
			transition: @anim;
		}

		&:hover::after,
		&:focus::after {
			border-right: 1px solid #f39f18;
			border-bottom: 1px solid #f39f18;
		}
	}
}

.menu-list__item--ur {
	
	& > a {
		
		span {
			
			svg {
				top: -11px;
				left: -40px;
			}
		}
	}
}

.menu-list__item--question,
.menu-list__item--contacts {	
	& > a {
		span {
			svg {
				display: none;
				// transition: @anim;
			}
		}		
	}
}

.menu-list__item--active {

	& > a {		
		color: #f39f18;

		svg {
			fill: #f39f18;
		}

		&::after {
			transform: rotate(45deg);
			border-right: 1px solid #f39f18;
			border-bottom: 1px solid #f39f18;
		}
	}
}

.menu-list__dropdown {
	margin: 0;	
	padding: 0;
	list-style: none;
	
	background-color: #ffffff;
	box-shadow: 0px 4px 5px 0 rgba(0,0,0,.2);

	height: 0;
	overflow: hidden;
	transition: all .3s ease;

	a {
		display: block;
		padding: 5px 20px;

		text-decoration: none;
		color: #777777;

		border-bottom: 1px dotted #d8d8d8;
		transition: all .3s ease-out;

		&:hover,
		&:focus {
			color: #000000;
			background-color: #dddddd;

			box-shadow: none;
		}
	}
}

.menu-list__seconddown {
	margin: 0;
	padding: 0;

	list-style: none;

	background-color: #eaeaea;

	height: 0;
	overflow: hidden;
	transition: all .5s ease;

	a {
		position: relative;
		padding-left: 40px;

		svg {
			position: absolute;
			top: 13px;
			left: 20px;
		}
	}
}

@media (min-width: @custom-width) {
	.menu-list {
		
	}
}

@media (min-width: @tablet-width) {
	.menu-list {
		display: flex;

		opacity: 1;
		left: 0;
	}	

	.menu-list__item {		
		border-bottom: none;

		& > a {
			color: #555555;

			background-color: transparent;

			svg {
				fill: #555555;
			}
		}
	}

	.menu-list__item--fiz,
	.menu-list__item--ur {
		width: 280px;

		a {
			&::after {
				content: none;
			}
		}
		&:hover .menu-list__dropdown {
			top: 48px;
			opacity: 1;
			visibility: visible;				
		}
	}

	.menu-list__item--fiz {
		a {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 5px;
				right: 20px;

				width: 1px;
				height: 40px;

				background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(175,175,175,1) 50%, rgba(255,255,255,1) 100%);
			}
		}
	}

	.menu-list__item--question,
	.menu-list__item--contacts {
		width: 50px;
		margin-left: auto;		

		& > a {			
			display: block;
			width: 100%;			
			span {
				display: block;
				width: 100%;
				height: auto;
				svg {
					top: 0;
					left: 0;

					display: inline-block;
					width: 80%;
				}
				.menu-list__item-text {
					position: absolute;
					bottom: 40px;
					right: 20px;
					min-width: 100px;
					padding: 4px 10px;

					font-size: 15px;
					color: #ffffff;

					border-radius: 3px;
					background-color: @tooltip-color;

					opacity: 0;
					visibility: hidden;
					transition: all .25s ease-out;

					&::after {
						position: absolute;
						right: 3px;
						bottom: -5px;
						content: '';

						width: 0;
						height: 0;
						border-style: solid;
						border-width: 10px 10px 0 10px;
						border-color: @tooltip-color transparent transparent transparent;
					}
				}
			}
		}

		&:hover {
			.menu-list__item-text {
				bottom: 10px;
				opacity: .9;
				visibility: visible;
			}
		}
	}	

	.menu-list__item--contacts {
		margin-left: 0;
	}

	.menu-list__dropdown {
		position: absolute;
		top: 120px;
		width: 260px;
		height: auto !important; // не очень правильно, но это сделано для того, чтобы при изменении ширины экрана работал :hover без использования JS (чтобы JS-менять высоту с 0 на auto)

		opacity: 0;
		visibility: hidden;
		transition: all .25s ease-out;
		a {
			&::before {
				content: none;
			}
		}

		z-index: 2;
	}
}

@media (min-width: @desktop-width) {
	
}	