.menu-list {
	width: 100%;
	margin: 0;
	padding: 0;

	top: 5px;
	left: -100%;

	list-style: none;

	font-size: 18px;

	opacity: 0;
	transition: all .2s ease-out;
}

.menu-list__show {
	left: 0;
	opacity: 1;
}

.menu-list__item {
	border-bottom: 1px dotted #d8d8d8;

	& > a {
		position: relative;

		display: block;
		padding: 12px 10px;

		text-align: center;
		text-decoration: none;
		color: #ffffff;		
		
		background-color: rgba(28, 36, 44, 0.85);
		transition: @anim;
		
		span {
			position: relative;

			svg {
				position: absolute;
				top: -5px;
				left: -35px;

				margin-right: 10px;
				transition: @anim;		
			}	
		}

		&:hover,
		&:focus {
			color: #f39f18;
			box-shadow: none;

			svg {
				fill: #f39f18;
			}
		}
	}

	&:last-child {
		border-bottom: none;
	}
}

.menu-list__item--fiz,
.menu-list__item--ur {
	
	& > a {
		
		&::after {
			content: '';

			position: absolute;
			top: 50%;
			right: 27px;

			width: 8px;
			height: 8px;
			margin-top: -4px;

			border-right: 1px solid #ffffff;
			border-bottom: 1px solid #ffffff;

			transform: rotate(-45deg);
			transition: @anim;
		}

		&:hover::after,
		&:focus::after {
			border-right: 1px solid #f39f18;
			border-bottom: 1px solid #f39f18;
		}
	}
}

.menu-list__item--ur {
	
	& > a {
		
		span {
			
			svg {
				top: -11px;
				left: -40px;
			}
		}
	}
}

.menu-list__item--active {

	& > a {		
		color: #f39f18;

		svg {
			fill: #f39f18;
		}

		&::after {
			transform: rotate(45deg);
			border-right: 1px solid #f39f18;
			border-bottom: 1px solid #f39f18;
		}
	}
}

.menu-list__dropdown {
	margin: 0;	
	padding: 0;
	list-style: none;

	background-color: #ffffff;

	height: 0;
	overflow: hidden;
	transition: all .3s ease;

	a {
		display: block;
		padding: 5px 20px;

		text-decoration: none;
		color: @color;

		border-bottom: 1px dotted #d8d8d8;
		transition: all .3s ease-out;

		&:hover,
		&:focus {
			color: #000000;
			background-color: #dddddd;

			box-shadow: none;
		}
	}
}

.menu-list__seconddown {
	margin: 0;
	padding: 0;

	list-style: none;

	background-color: #eaeaea;

	height: 0;
	overflow: hidden;
	transition: all .5s ease;

	a {
		position: relative;
		padding-left: 40px;

		svg {
			position: absolute;
			top: 13px;
			left: 20px;
		}
	}
}

@media (min-width: @custom-width) {
	.menu-list {
		
	}
}

@media (min-width: @tablet-width) {
	.menu-list {
		display: flex;
		justify-content: space-between;

		opacity: 1;
		left: 0;
	}

	.menu-list__item--fiz,
	.menu-list__item--ur {
		width: 320px;

		a {
			&::after {
				content: none;
			}
		}
	}

	.menu-list__item {		

		& > a {
			color: #555555;

			background-color: transparent;

			svg {
				fill: #555555;
			}
		}
	}
}

@media (min-width: @desktop-width) {
	
}	