.menu-list {
	width: 100%;
	margin: 0;
	padding: 0;

	// top: 0;
	// left: -100%;

	list-style: none;

	// opacity: 0;
	// transition: all .2s ease-out;
}

.menu-list__show {
	left: 0;
	opacity: 1;
}

.menu-list__item {
	border-bottom: 1px dotted #d8d8d8;

	& > a {
		position: relative;

		display: block;
		padding: 12px 10px;

		text-align: center;
		text-decoration: none;
		color: #ffffff;		
		
		background-color: rgba(28, 36, 44, 0.85);
		transition: @anim;
		
		span {
			position: relative;

			svg {
				position: absolute;
				top: -5px;
				left: -35px;

				margin-right: 10px;
				transition: @anim;		
			}	
		}

		&:hover {
			color: #f39f18;

			svg {
				fill: #f39f18;
			}
		}
	}

	&:last-child {
		border-bottom: none;
	}
}

.menu-list__item--fiz,
.menu-list__item--ur {
	
	& > a {
		
		&::after {
			content: '';

			position: absolute;
			top: 50%;
			right: 20px;

			width: 8px;
			height: 8px;
			margin-top: -4px;

			border-right: 1px solid #ffffff;
			border-bottom: 1px solid #ffffff;

			transform: rotate(-45deg);
			transition: @anim;
		}

		&:hover::after {
			border-right: 1px solid #f39f18;
			border-bottom: 1px solid #f39f18;
		}
	}
}

.menu-list__item--ur {
	
	& > a {
		
		span {
			
			svg {
				top: -11px;
				left: -40px;
			}
		}
	}
}

@media (min-width: @tablet-width) {
	.menu-list {
		opacity: 1;
		left: 0;
	}
}

@media (min-width: @desktop-width) {
	
}