.more {
	width: 320px;
	margin: 0 auto;
	margin-bottom: 35px;

	box-sizing: border-box;
}

.more__title {
	margin: 0;
	padding: 0;

	/* demo */
	min-height: 88px;
}

.more__list {
	margin: 0;
	margin-bottom: 40px;
	padding: 0 20px;
	list-style: none;
}

.more__item {
	&:first-child {
		border-top: 1px solid red;
	}

	/* demo */
	min-height: 129px;
}

.more__gift {
	width: 280px;
	height: 224px;
	margin: 0 20px;
	padding-top: 65px;

	text-align: center;
	color: #ffffff;

	svg {
		margin-bottom: 50px;
		
		fill: #ffffff;
	}
}

@media (min-width: @tablet-width) {
	.more {
		width: 768px;
		margin-bottom: 75px;
	}

	.more__title {
		/* demo */
		min-height: 182px;
	}

	.more__list {
		margin-bottom: 65px;
		padding: 0 30px;
	}

	.more__item {
		/* demo */
		min-height: 140px;
	}

	.more__gift {
		display: flex;
		justify-content: space-between;

		width: 708px;
		height: 135px;
		margin: 0 30px;

		svg {
			width: 235px;
		}		
	}

	.more__gift-tagline {
		width: 286px;
		text-align: left;
	}
}

@media (min-width: @desktop-width) {
	.more {
		width: 100%;
		margin-bottom: 85px;
	}

	.more__title {
		margin: 0;
		/* demo */
		min-height: 193px;
	}

	.more__wrapper {
		display: flex;
		justify-content: space-between;

		width: 1300px;
		margin: 0 auto;
		padding: 0 40px;

		box-sizing: border-box;
	}

	.more__list {
		width: 895px;
		margin-bottom: 0;
		padding: 0;
	}

	.more__item {
		/* demo */
		min-height: 72px;
	}

	.more__gift {
		display: block;
		width: 245px;
		height: 224px;
		margin: 0;

		svg {
			width: auto;
		}
	}

	.more__gift-tagline {
		width: auto;
		text-align: center;
	}
}