/* .news {
	padding-top: 20px;
}

.news__article {
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #eeeeee;
}

.news__article-title {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;

	font-size: 23px;
	line-height: 30px;
	font-weight: 400;

	a {
		display: block;
		text-decoration: none;
		color: #135275;		
	}
}

.news__date {
	margin: 0;
	padding: 0;

	font-size: 14px;
	color: #aaaaaa;	
}

.news__wrapper {
	display: flex;
	justify-content: space-between;	
	padding-top: 10px;

	border-top: 1px solid #eeeeee;
}

.news__img {
	top: 7px;

	width: 300px;
	height: 200px;	

	background-color: #eeeeee;

	img {
		display: none;
	}
}

.news__description-wrapper {
	display: flex;
	flex-direction: column;
}

.news__description {
	margin: 0;
	margin-top: -5px;
	margin-bottom: 10px;
	padding: 0;

	width: 460px;

	text-align: justify;
}

.news__button {
	align-self: flex-end;

	width: auto;
	margin: auto 0 0 0;
	padding: 5px 15px;

	text-transform: none;
	color: #000000;

	background-color: #dddddd;
	border-radius: 2px;

	&:hover,
	&:focus {
		background-color: #cccccc;
	}
} */

.news {
	padding-top: 20px;
}

.news__article {
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #edd3ae;
}

.news__article-title {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;

	font-size: 20px;
	line-height: 25px;
	font-weight: 400;

	a {
		display: block;
		text-decoration: none;
		color: #135275;		
	}
}

.news__date {
	margin: 0;
	padding: 0;

	font-size: 14px;
	color: #aaaaaa;	
}

.news__wrapper {
	display: flex;
	justify-content: space-between;	
	padding-top: 10px;

	border-top: 1px solid #eeeeee;
}

.news__img {
	width: 280px;	

	background-color: #eeeeee;

	img {
		display: block;
	}
}

.news__img--video {
	height: 230px;

	background-image: url('../img/icon-video.svg');

	background-repeat: no-repeat;
	background-position: center;
}

.news__description-wrapper {
	display: none;
}

.news__description {
	margin: 0;
	margin-top: -5px;
	margin-bottom: 10px;
	padding: 0;

	text-align: justify;
}

.news__button {
	align-self: flex-end;

	width: auto;
	margin: auto 0 0 0;
	padding: 5px 15px;

	text-transform: none;
	color: #000000;

	background-color: #dddddd;
	border-radius: 2px;

	&:hover,
	&:focus {
		background-color: #cccccc;
	}
}

@media (min-width: @custom-width) {
	.news__article-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.news__article {
		display: flex;
		flex-direction: column;

		width: 260px;
	}

	.news__date {
		margin-top: auto;
	}

	.news__img {
		width: 260px;
	}
}

@media (min-width: @tablet-width) {
	.news__article {
		width: 340px;
	}

	.news__img {
		width: 340px;
	}
}

@media (min-width: @custom940-width) {
	.news__article {
		width: 48%;
	}

	.news__img {
		width: 100%;
	}
}

@media (min-width: @desktop-width) {
	.news__article {
		width: 380px;
	}

	.news__img {
		width: 380px;
		height: 250px;
	}

	.news__description-wrapper {
		width: 460px;
	}
}