.ordered-list {
	margin: 0;
	padding: 0;

	list-style: none;

	counter-reset: li;
}

.ordered-list__item {
	position: relative;

	margin-bottom: 10px;

	a {
		position: relative;

		display: block;
		padding: 5px 10px 5px 50px;

		text-decoration: none;
		color: #777777;

		border-bottom: 1px dashed #dddddd;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		transition: @anim;

		&::before {
			counter-increment: li;
			content: counter(li);

			position: absolute;
			top: 0;
			left: 0;

			width: 35px;
			height: 100%;
			padding-top: 5px;

			text-align: center;
			color: #aaaaaa;

			background: #eeeeee;
			border-bottom: 1px solid #ffffff;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;

			box-sizing: border-box;
			transition: @anim;
		}

		&:hover,
		&:focus {
			color: #000000;
			
			background-color: #f2f2f2;

			border-bottom: 1px solid #cccccc;
			box-shadow: none;

			&::before {
				color: #000000;

				background-color: #cccccc;
			}	
		}
	}
	
}

@media (min-width: @custom-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}