.page-footer {
	width: 320px;
	margin: 0 auto;
	padding-top: 20px;

	background-color: #3d4647;

	box-sizing: border-box;
}

.page-footer__top {
	margin-bottom: 50px;
}

.page-footer__bottom {
	position: relative;

	border-top: 1px solid #bd7a1c;
}

.page-footer__wrapper {
	padding: 0 20px;

	box-sizing: border-box;
}

.page-footer__title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;	
	padding: 7px 10px 5px 0;
	

	font-size: 20px;
	font-weight: 300;
	color: #fff;
	border-bottom: 1px solid #bd7a1c;
	background: #454b4c;
}

.page-footer__copyright {
	margin: 0;
	padding: 0;
	padding: 5px;

	text-align: center;
	font-size: 16px;
	line-height: 23px;
}

.page-footer__counters {
	position: absolute;
	top: -40px;
	left: 0;

	display: flex;
}

.page-footer__counter {
	margin-right: 5px;
}

@media (min-width: @custom-width) {
	.page-footer {
		width: 580px;
	}
}

@media (min-width: @tablet-width) {
	.page-footer {		
		width: 100%;
	}

	.page-footer__wrapper {
		width: 768px;
		margin: 0 auto;
	}
}

@media (min-width: @custom940-width) {
	.page-footer__wrapper {
		width: 100%;
		padding: 0 20px;
	}
}

@media (min-width: @desktop-width) {
	.page-footer__wrapper {
		width: 1200px;
		padding: 0;
	}
}