.page-main {
	
}

.page-main__two-columns {
	width: 320px;
	margin: 0 auto;
	padding: 10px 20px 0 20px;
	
	background-color: #ffffff;
	box-sizing: border-box;
}

.page-main__one {
	margin-bottom: 20px;
}

.page-main__input {

}

.page-main__label {
	padding: 0px 10px;

	span {
		display: none;
	}
}

.page-main__section {
	padding-top: 10px;

	border-top: 1px solid #dddddd;
}

@media (min-width: @custom-width) {
	.page-main__two-columns {
		width: 580px;
	}

	.page-main__label {
		span {
			display: inline;
		}
	}
}

@media (min-width: @tablet-width) {
	.page-main__two-columns {		
		width: 768px;		
		padding-top: 20px;
	}

	.page-main__label {
		padding: 4px 20px;

		font-size: 18px;
	}
}

@media (min-width: @custom940-width) {
	.page-main__two-columns {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 20px 30px 0 30px;
	}

	.page-main__one {
		width: 67%;
	}

	.page-main__two {
		width: 30%;
	}
}

@media (min-width: @desktop-width) {
	.page-main__two-columns {		
		width: 1200px;
		padding-top: 30px;
	}

	.page-main__one {
		width: 870px;
	}

	.page-main__two {
		width: 300px;
	}
}