.page-footer {
	width: 320px;
	margin: 0 auto;
	padding-top: 20px;

	background-color: #3d4647;

	box-sizing: border-box;
}

.page-footer__top {
	margin-bottom: 50px;
}

.page-footer__bottom {
	position: relative;

	border-top: 1px solid #bd7a1c;
}

.page-footer__wrapper {
	padding: 0 20px;

	box-sizing: border-box;
}

.page-footer__title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;	
	padding: 7px 10px 5px 0;
	

	font-size: 20px;
	font-weight: 300;
	color: #fff;
	border-bottom: 1px solid #bd7a1c;
	background: #454b4c;
}

.page-footer__copyright {
	margin: 0;
	padding: 0;
	padding: 5px;

	font-size: 16px;
	line-height: 23px;
	text-align: center;
	color: #777777;
}

.page-footer__counters {
	position: absolute;
	top: -40px;
	left: 0;

	display: flex;
	flex-wrap: wrap;
}

.page-footer__counter {
	margin-right: 5px;

	&:last-child {
		margin-right: 0;
	}
}

@media (min-width: @custom-width) {
	.page-footer {
		width: 580px;
	}

	.page-footer__top {
		margin-bottom: 20px;
	}

	.page-footer__bottom {
		display: flex;
		justify-content: space-between;

		padding-top: 5px;
		padding-bottom: 10px;
	}

	.page-footer__copyright {
		width: 300px;
		padding: 0;		

		text-align: left;
	}

	.page-footer__counters {
		position: static;
		top: auto;
		left: auto;
		
		justify-content: flex-end;
		width: 200px;
		padding-top: 5px;
	}
}

@media (min-width: @tablet-width) {
	.page-footer {		
		width: 100%;
		padding-top: 40px;
	}

	.page-footer__wrapper {
		width: 768px;
		margin: 0 auto;
	}

	.page-footer__top {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.page-footer__copyright {
		padding-left: 10px;
	}
}

@media (min-width: @custom940-width) {
	.page-footer__wrapper {
		width: 100%;
		padding: 0 20px;
	}

	.page-footer__top {
		flex-wrap: nowrap;
	}
}

@media (min-width: @desktop-width) {
	.page-footer__wrapper {
		width: 1200px;
		padding: 0 30px;
	}
}