.price-list {
	
}

.price-list__title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;

	font-size: 28px;
	line-height: 32px;
	text-align: center;
	color: #000000;
}

.price-list__text {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.price-list__list {
	color: #000000;
}

.price-list__list--ordered {
	font-size: 17px;
	font-style: normal;	
}

@media (min-width: @custom-width) {
	.price-list__title {
		text-align: left;
	}

	.price-list__text {
		text-align: justify;
	}
}

@media (min-width: @tablet-width) {
	.price-list__list--ordered {
		margin-left: 30px;
	}
}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}