.question {
	
}

.question__title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;

	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}

.question__rules {
	padding: 5px 15px;

	font-size: 15px;
	line-height: 22px;

	border: 1px solid #e0a100;
	border-radius: 2px;
}

.question__rules-title {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0;
	margin-bottom: 10px;
	padding: 0;

	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #d56e00;

	svg {
		width: 50px;
		height: 43px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.question__button-more {
	margin-bottom: 20px;
	padding: 5px 10px;

	text-transform: none;
	color: #000000;

	background-color: #e5e5e5;
	border-bottom: 1px solid #d5d5d5;

	&:hover,
	&:focus {
		background-color: #cccccc;
	}
}

.question__text {
	margin: 0;
	padding: 0;
}

.question__important {
	margin: 0;
	margin-bottom: 5px;
	padding: 2px 10px;

	font-size: 16px;
	text-transform: uppercase;
	color: #000000;

	background-color: #e7e7e7;
}

.question__list-title {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;

	color: #000000;
}

.question__list {
	margin-bottom: 10px;
}

.question__list--check {

	li {
		border: none;
		
		&::after {
			left: -16px;
		}
	}
}

@media (min-width: @custom-width) {
	.question__title {
		text-align: left;
	}

	.question__button-more {
		width: 220px;
	}
	
	.question__list--check {
		padding-left: 50px;
	}
}

@media (min-width: @tablet-width) {
	.question__rules {
		display: block;
	}

	.question__rules-title {
		flex-direction: row; 
		align-items: center;
		margin-bottom: 5px;

		text-align: left;

		svg {			
			width: 35px;
			height: 30px;
			margin-right: 15px;
			margin-bottom: 5px;
		}

		span {
			width: 650px;
		}
	}

	.question__button-more {
		display: none;
	}
}

@media (min-width: @custom940-width) {
	.question__rules-title {
		flex-direction: row; 
		align-items: center;

		text-align: left;

		svg {			
			width: 35px;
			height: 30px;
			margin-right: 15px;
			margin-bottom: 5px;
		}

		span {
			width: 650px;
		}
	}
}

@media (min-width: @desktop-width) {

}