.question {
	
}

.question__rules {
	position: relative;

	margin-bottom: 30px;
	padding: 10px 15px 5px 15px;

	font-size: 15px;
	line-height: 22px;
	
	&::before {
		content: '';
		position: absolute;
		bottom: -15px;
		left: 0;
		right: 0;
		height: 3px;
		background-color: #e0a100;
		background: repeating-linear-gradient(-45deg,#e0a100,#e0a100 20px,#1c244a 20px,#1c244a 40px);
		// background: repeating-linear-gradient(-45deg,#cccccc,#cccccc 20px,#777777 20px,#777777 40px);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 3px;
		background-color: #e0a100;
		background: repeating-linear-gradient(-45deg,#e0a100,#e0a100 20px,#1c244a 20px,#1c244a 40px);
	}
}

.question__rules-title {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0;
	margin-bottom: 10px;
	padding: 0;

	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #d56e00;

	svg {
		width: 50px;
		height: 43px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.question__button-more {
	margin-bottom: 20px;
	padding: 5px 10px;

	text-transform: none;
	color: #000000;

	background-color: #e5e5e5;
	border-bottom: 1px solid #d5d5d5;

	&:hover,
	&:focus {
		background-color: #cccccc;
	}
}

.question__text {
	margin: 0;
	padding: 0;
}

.question__important {
	margin: 0;
	margin-bottom: 5px;
	padding: 2px 10px;

	font-size: 16px;
	text-transform: uppercase;
	color: #000000;

	background-color: #e7e7e7;
}

.question__list-title {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;

	color: #000000;
}

.question__list {
	margin-bottom: 10px;
}

.question__list--check {

	li {
		border: none;
		
		&::after {
			left: -16px;
		}
	}
}

.question__accordeon {

}

.question__comment {	
	margin-bottom: 5px;

	font-size: 17px;
	font-weight: 400;
	color: #9c5100;

	border-top: none;
}

.question__accordeon-item {
	.accordeon__title--active {
		opacity: 1;
		border-bottom: 1px dashed #d56e00;
	}
}

.question__accordeon-title {
	margin: 0;
	margin-bottom: 5px;
	padding: 7px 10px;	

	font-size: 17px;
	font-weight: 700;
	color: #000000;

	background-color: #f7f7f7;
	border-bottom: 1px dashed #aaaaaa;

	cursor: pointer;

	opacity: .5;
	transition: @anim;

	&:hover {
		opacity: 1;
	}
}

.question__accordeon-content {
	
}

.question__accordeon-text {
	margin: 0;
	margin-bottom: 10px;
	padding: 0 10px;

	font-size: 15px;
}

@media (min-width: @custom-width) {	

	.question__button-more {
		width: 220px;
	}
	
	.question__list--check {
		padding-left: 50px;
	}

	.question__accordeon-text {
		text-align: justify;
	}
}

@media (min-width: @tablet-width) {
	.question__rules {
		display: block;
	}

	.question__rules-title {
		flex-direction: row; 
		align-items: center;
		margin-bottom: 5px;

		text-align: left;

		svg {			
			width: 35px;
			height: 30px;
			margin-right: 15px;
			margin-bottom: 5px;
		}

		span {
			width: 650px;
		}
	}

	.question__button-more {
		display: none;
	}
}

@media (min-width: @custom940-width) {
	.question__rules-title {
		flex-direction: row; 
		align-items: center;

		text-align: left;

		svg {			
			width: 35px;
			height: 30px;
			margin-right: 15px;
			margin-bottom: 5px;
		}

		span {
			width: 650px;
		}
	}
}

@media (min-width: @desktop-width) {

}