.rss {
	
}

.rss__person {
	margin-bottom: 15px;
	padding-bottom: 0;

	border-bottom: 1px solid #ffcc00;
}

.rss__text {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.rss__text--list {
	margin-bottom: 5px;

	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #000000;
}

.rss__list {
	margin-bottom: 15px;

	span {
		font-size: 15px;
		font-style: italic;
		color: #aaaaaa;
	}
}


@media (min-width: @custom-width) {
	.rss__text {
		text-align: justify;
	}
}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}