.search {	
	position: fixed;	
	top: -300px;
	left: 0;
	right: 0;
	width: 320px;
	margin: 0 auto;

	background-color: rgba(255, 255, 255, 0.9);
	z-index: 2;	

	opacity: 0;
	transition: all .3s ease;
}

.search__show {
	top: 0;
	opacity: 1;	
}

.search__input {
	position: relative;

	display: block;
	width: 90%;
	margin: 20px auto 10px auto;
	padding-left: 10px;
	padding-right: 42px;

	font-family: inherit;
	font-size: 30px;

	border: none;
	border-bottom: 1px solid #bfbfbf;

	box-sizing: border-box;

	&::-webkit-input-placeholder {	
		opacity: .3; 
		transition: @anim;
	}

	&:focus {
		box-shadow: none;

		&::-webkit-input-placeholder {		
			opacity: 0; 			
		}
	}
}

.search__button {
	position: absolute;
	top: 30px;
	right: 20px;
	
	margin: 0;
	padding: 0;

	line-height: 0;

	background-color: transparent;
	border: none;

	opacity: .4;
	transition: @anim;
	
	&:hover,
	&:focus {
		opacity: 1;
	}
}


@media (min-width: @custom-width) {
	.search {
		width: 580px;
	}

	.search__button {
		right: 38px;
	}
}

@media (min-width: @tablet-width) {
	.search {
		position: absolute;
		top: -38px;
		left: 50%;

		width: 175px;
		margin: 0;
		margin-left: -10px;
		
		background-color: transparent;
		opacity: 1;
		transition: none;
	}

	.search__input {
		width: 100%;

		margin: 0;
		padding-right: 25px;
		font-size: 18px;

		border: 1px solid #e7e7e7;
	}

	.search__button {
		top: 4px;
		right: 5px;

		svg {
			width: 18px;
			height: 18px;
		}
	}
}

@media (min-width: @desktop-width) {
	.search {
		left: 10px;

		width: 300px;
	}

	.search__input {
		padding: 3px 30px 3px 10px;
	}

	.search__button {
		top: 5px;
		right: 5px;

		svg {
			width: 21px;
			height: 21px;
		}
	}
}