.selection {
	width: 320px;
	margin: 0 auto;	
	// padding: 0 20px;

	box-sizing: border-box;
}

.selection__text {
	padding: 0 20px;

	/* demo */
	min-height: 33px;
}

@media (min-width: @tablet-width) {
	.selection {
		width: 768px;		
		padding: 0 30px;
	}	
}

@media (min-width: @desktop-width) {
	.selection {
		width: 1300px;		
		padding: 0 40px;
	}
}