.services-list {
	position: relative;

	margin: 0;
	padding: 10px 15px 10px 20px;
	
	list-style: none;
	border-right: 1px solid #f5dabf;	

	&:before {
		content: '';
		position: absolute;
		top: 5px;
		left: 0;
		bottom: 0;
		width: 4px;
		background-color: #e0a100;
		background: repeating-linear-gradient(-45deg,#e0a100,#e0a100 20px,#1c244a 20px,#1c244a 40px);
	}
	
}

.services-list__item {
	position: relative;

	margin-bottom: 10px;
	padding-top: 5px;

	color: #135275;

	&:first-child {
		border-top: none;
	}

	span {
		display: block;
		padding-left: 20px;

		font-size: 18px;
		font-weight: 700;
		color: #3d4647;

		&:first-child {
			margin-top: 3px;

			border-top: 1px dashed #dddddd;
		}
	}

	/* &::after {
		content: '';
	
		position: absolute;
		top: 10px;
		left: -25px;
	
		width: 10px;
		height: 5px;
	
		// background-color: green;
		border-left: 1px solid #135275;
		border-bottom: 1px solid #135275;
		transform: rotate(-45deg);
	} */
}


@media (min-width: @custom-width) {
	
}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}