.services-list {
	margin: 0;
	padding: 10px 15px;	
	
	list-style: none;

	border: 1px solid #e0a100;
	border-radius: 5px;
}

.services-list__item {
	position: relative;

	margin-bottom: 10px;
	padding-top: 5px;

	color: #135275;	

	&:first-child {
		border-top: none;
	}

	span {
		display: block;
		padding-left: 20px;

		font-size: 18px;
		font-weight: 700;
		color: #d56e00;		

		&:first-child {
			border-top: 1px dashed #d56e00;
		}
	}

	/* &::after {
		content: '';
	
		position: absolute;
		top: 10px;
		left: -25px;
	
		width: 10px;
		height: 5px;
	
		// background-color: green;
		border-left: 1px solid #135275;
		border-bottom: 1px solid #135275;
		transform: rotate(-45deg);
	} */
}


@media (min-width: @custom-width) {
	
}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}