.slider {
	display: none;
	background-color: #eeeeee;
}

.slider__wrapper {
	position: relative;

	margin: 0 auto;
}

.slider__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider__item {
	position: relative;
	display: none;

	&:first-child {
		display: block;
	}

	img {
		display: block;
	}
}

.slider__description {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	margin: 0;
	padding: 0;
	padding: 10px 20px;
	
	font-weight: 100;
	color: #ffffff;
	text-shadow: 1px -1px 1px rgba(0, 0, 0, 1);

	background-color: rgba(85,85,85,.5);
}

.slider__prev,
.slider__next {
	position: absolute;
	top: 50%;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	padding: 0;
	border: none;
	background-color: transparent;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	transition: all .25s ease;
	opacity: .7;
}

.slider__prev {
	left: 30px;
	transform: rotate(-45deg);
}
.slider__next {
	right: 30px;
	transform: rotate(135deg);
}
.slider__prev:hover,
.slider__next:hover {
	opacity: 1;
	cursor: pointer;
}
.slider__prev:focus,
.slider__next:focus {
	box-shadow: none;
}

.slider__toggles {
	position: absolute;
	right: 30px;
	bottom: 17px;

	display: flex;
	justify-content: space-between;
	width: 110px;
	margin: 0;	
	padding: 0;
}
.slider__toggle {
	width: 9px;
	height: 9px;
	margin: 0;
	padding: 0;
	
	border-radius: 50%;
	background-color: rgba(255,255,255,.8);
	border: none;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,.5);
	// transform: rotate(45deg);
	transition: all .2s ease;
}
.slider__toggle:hover,
.slider__toggle:focus {
	background-color: rgba(255,255,255,1);
	box-shadow: 0 0 0 2px #8E8B56,
				0 0 0 4px #fc0;
}


@media (min-width: @custom-width) {
	
}

@media (min-width: @tablet-width) {
	.slider {
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.slider__wrapper {
		width: 768px;
	}

	.slider__description {
		font-size: 20px;
	}
}

@media (min-width: @desktop-width) {
	.slider {
		padding-top: 125px;
		padding-bottom: 7px;
	}

	.slider__wrapper {
		width: 1200px;
	}

	.slider__description {
		font-size: 23px;
	}

	.slider__prev,
	.slider__next {		
		border-left: 2px solid #ffffff;
		border-top: 2px solid #ffffff;
	}

	.slider__prev {
		left: 40px;
	}

	.slider__next {
		right: 40px;
	}

	.slider__toggles {		
		width: 120px;
	}
	.slider__toggle {
		width: 10px;
		height: 10px;
	}
}