.slider {
	display: none;
	background-color: #eeeeee;
	background: repeating-linear-gradient(
		-60deg,
		rgba(235,235,235),
		rgba(235,235,235) 1px,
		rgba(250,250,250) 1px,
		rgba(250,250,250) 4px
	);
}

.slider__wrapper {
	position: relative;

	margin: 0 auto;

	box-sizing: border-box;
}

.slider__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider__item {
	position: relative;
	display: none;

	img {
		display: block;
	}
}

.slider__description {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	margin: 0;
	padding: 0;
	padding: 10px 20px;
	
	font-weight: 100;
	color: #ffffff;
	text-shadow: 1px -1px 1px rgba(0, 0, 0, 1);

	background-color: rgba(85,85,85,.5);
}

.slider__prev,
.slider__next {
	position: absolute;
	top: 50%;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	padding: 0;
	border: none;
	background-color: transparent;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	transition: all .25s ease;
	opacity: .7;
}

.slider__prev {
	left: 50px;
	transform: rotate(-45deg);
}
.slider__next {
	right: 50px;
	transform: rotate(135deg);
}
.slider__prev:hover,
.slider__next:hover {
	opacity: 1;
	cursor: pointer;
}
.slider__prev:focus,
.slider__next:focus {
	box-shadow: none;
}

.slider__toggles {
	position: absolute;
	right: 50px;
	bottom: 20px;

	display: flex;
	justify-content: space-between;
	width: 110px;
	margin: 0;	
	padding: 0;
}
.slider__toggle {
	width: 9px;
	height: 9px;
	margin: 0;
	padding: 0;
	
	border-radius: 50%;
	background-color: rgba(255,255,255,.5);
	border: none;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,.5);
	transition: all .2s ease;
}
.slider__toggle:hover,
.slider__toggle:focus {
	background-color: rgba(255,255,255,.8);
}

.slider__toggle--active {
	background-color: rgba(255,255,255,1);
	box-shadow: 0 0 0 2px #8E8B56,
				0 0 0 4px #fc0;
}

.slider-show {
	display: block;	
	animation-name: slideShow;
	animation-duration: 1s;
}

@keyframes slideShow {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

.slider--nojs .slider__item:nth-child(1) {
	display: block;
}


@media (min-width: @custom-width) {
	
}

@media (min-width: @tablet-width) {
	.slider {
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.slider__wrapper {
		width: 768px;
		padding: 0 20px;
	}

	.slider__description {
		font-size: 23px;
		line-height: 30px;
	}
}

@media (min-width: @custom940-width) {
	.slider__wrapper {
		width: 100%;

		margin: 0 auto;
		padding: 0 30px;

		box-sizing: border-box;
	}

	.slider__prev {
		left: 70px;
	}

	.slider__next {
		right: 70px;
	}

	.slider__toggles {
		right: 60px;
	}
}

@media (min-width: @desktop-width) {
	.slider {
		padding-top: 125px;
		padding-bottom: 7px;
	}

	.slider__wrapper {
		width: 1200px;
		
	}

	.slider__description {
		font-size: 25px;
	}

	.slider__prev,
	.slider__next {		
		border-left: 2px solid #ffffff;
		border-top: 2px solid #ffffff;
	}
	
	.slider__toggles {
		width: 120px;	
	}
	.slider__toggle {
		width: 10px;
		height: 10px;
	}
}