.station {
	
}

.station__img {
	margin-bottom: 15px;
}

.station__text {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.station__schedule {
	margin-bottom: 30px;
}

.station__phone {
	margin-bottom: 30px;
}

.station__banner {
	display: inline-block;
	margin: 0 auto;

	line-height: 0;
}

@media (min-width: @custom-width) {

}

@media (min-width: @tablet-width) {
	.station__wrapper {
		display: flex;
		justify-content: space-between;

		margin-bottom: 10px;
	}

	.station__img {
		width: 350px;
		margin-bottom: 0;
		padding-top: 7px;
	}

	.station__description {
		width: 348px;
		margin-left: 30px;
	}
}

@media (min-width: @custom940-width) {
	.station__img {
		width: 50%;
	}

	.station__description {
		width: 45%;
	}
}

@media (min-width: @desktop-width) {
	.station__wrapper {
		margin-bottom: 20px;
	}

	.station__img {
		width: 400px;
	}

	.station__description {
		width: 380px;
	}
}