.tabs {
	
}

.tabs__section {
	display: none;
}

.tabs__section {
	line-height: 1.5;
	color: #383838;
}

.tabs__wrapper {
	/* прикрутим анимацию */	
	animation-duration: .7s;	
	animation-fill-mode: both;
	animation-name: fadeIn;
}

/* Описываем анимацию свойства opacity */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.tabs__label {
	display: inline-block;
	color: #cccccc;

	border-top: 2px solid transparent;
	user-select: none;

	transition: @anim;

	&:hover {
		color: #339B37;
		cursor: pointer;
	}
}

/* Стили для активной вкладки */
.tabs__input {
	display: none;
	position: absolute;

	&:checked + label {
		color: #555555;
		border-top: 2px solid #339B37;
		background: #dddddd;
	}
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #tabs__content1, 
#tab2:checked ~ #tabs__content2, 
#tab3:checked ~ #tabs__content3,
#tab4:checked ~ #tabs__content4,
#tab5:checked ~ #tabs__content5 {
	display: block;
}


@media (min-width: @custom-width) {
	
}

@media (min-width: @tablet-width) {
	.tabs__wrapper {
		padding: 0 10px;
	}
}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}