.text-border {
	border-left: 3px solid #329a00;
	padding: 5px 15px;
	background-color: #eeeeee;
}

@media (min-width: @custom-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}