.transport {
	
}

.transport__text {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;

	font-size: 20px;
	line-height: 26px;
	color: #000000;
}

.transport__list {
	margin-bottom: 25px;
}

.transport__list--second {
	padding-left: 25px;

	color: #777777;

	border: none;
}

.transport__schedule {
	margin-bottom: 25px;
}

.transport__slogan {
	margin: 0;
	padding: 3px 0;

	font-size: 18px;	
	text-align: center;
	color: #e28605;	

	border-top: 1px solid #d56e00;
	border-bottom: 1px solid #d56e00;
}

@media (min-width: @custom-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @custom940-width) {

}

@media (min-width: @desktop-width) {

}