.video {
	
}

.video__promo {
	width: 100%;	
	height: 200px;
}

.video__iframe {
	width: 100%;
	height: 100%;
}

@media (min-width: @custom-width) {
	.video__promo {
		height: 350px;
	}
}

@media (min-width: @tablet-width) {
	.video__promo {
		height: 400px;
	}
}

@media (min-width: @custom940-width) {
	
}

@media (min-width: @desktop-width) {
	.video__promo {
		height: 450px;
	}
}