.registration {
	margin-bottom: 50px;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	.registration {
		margin-bottom: 70px;
	}
}

@media (min-width: @desktop-1200-width) {
	.registration {
		margin-bottom: 120px;
	}
}

@media (min-width: @desktop-1600-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}