.swiper {
	overflow: visible;
	// overflow: hidden;
}

.swiper-wrapper {
	
}

.swiper-slide {
	height: auto;
	// height: 100%;
}


@media (max-width: 600px) {
	.swiper {
		overflow: hidden;
	}

	.swiper-wrapper {
		
	}

	.swiper-slide {
		height: 100%;
	}
}

&:hover,
&:focus {
	
}