/*--- Exo 2 ---*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=Josefin+Sans:wght@600&display=swap');

/*--- KoHo ---*/
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

/*--- Jost ---*/
// @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

/*--- Spartan ---*/
// @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400&display=swap');


/*--- Quicksand ---*/
// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

/*--- Futura ---*/
// @font-face {
// 	font-weight: 300;
// 	font-family: "Futura";
// 	font-style: normal;
// 	font-display: swap;
// 	src: url(../fonts/futura-bt-light.woff2) format("woff2"), url(../fonts/futura-bt-light.woff) format("woff");
// }
// @font-face {
// 	font-weight: 300;
// 	font-family: "Futura";
// 	font-style: italic;
// 	font-display: swap;
// 	src: url(../fonts/futura-bt-light-italic.woff2) format("woff2"), url(../fonts/futura-bt-light-italic.woff) format("woff");
// }


/*--- Sansation ---*/
@font-face {
    font-family: 'Sansation';    
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local('Sansation Light'), 
    	url('../fonts/sansation/sansationlight.woff2') format('woff2'), 
    	url('../fonts/sansation/sansationlight.woff') format('woff'), 
    	url('../fonts/sansation/sansationlight.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation';    
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: local('Sansation Light Italic'), 
    	url('../fonts/sansation/sansationlightitalic.woff2') format('woff2'), 
    	url('../fonts/sansation/sansationlightitalic.woff') format('woff'), 
    	url('../fonts/sansation/sansationlightitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation';    
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Sansation Regular'), 
    	url('../fonts/sansation/sansationregular.woff2') format('woff2'), 
    	url('../fonts/sansation/sansationregular.woff') format('woff'), 
    	url('../fonts/sansation/sansationregular.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation';    
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: local('Sansation Italic'), 
    	url('../fonts/sansation/sansationitalic.woff2') format('woff2'), 
    	url('../fonts/sansation/sansationitalic.woff') format('woff'), 
    	url('../fonts/sansation/sansationitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation';    
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Sansation Bold'), 
    	url('../fonts/sansation/sansationbold.woff2') format('woff2'), 
    	url('../fonts/sansation/sansationbold.woff') format('woff'), 
    	url('../fonts/sansation/sansationbold.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation';    
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: local('Sansation Bold Italic'), 
    	url('../fonts/sansation/sansationbolditalic.woff2') format('woff2'), 
    	url('../fonts/sansation/sansationbolditalic.woff') format('woff'), 
    	url('../fonts/sansation/sansationbolditalic.ttf') format('truetype');
}