.mission {
	margin-bottom: 70px;
	padding: 0 30px;
	padding-top: 40px;
}

.mission__title {
	font-size: 28px;
	line-height: normal;
	text-transform: uppercase;	
	color: #480028;
}

.mission__text {
	font-size: 16px;
	line-height: 26px;
	text-align: justify;
	color: #555555;
}



@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	.mission {
		padding: 0 10%;
		padding-top: 40px;
	}
}

@media (min-width: @desktop-width) {
	.mission {
		padding: 0 15%;
		padding-top: 70px;
	}
}

@media (min-width: @desktop-full-width) {

}
