.schedule {
	margin-bottom: 10px;
	padding: 5px 10px;
	color: #ffffff;
	background-color: rgba(255,255,255,.05);
	border: 1px solid rgba(224,161,0,.7);
}

.schedule__item {
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 25px;
	text-align: center;	
	&:last-child {
		margin-bottom: 0;
	}
	span {
		font-weight: 100;
		opacity: 0.5;
	}
}



@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	.schedule__item {
		text-align: right;
	}
}

@media (min-width: @desktop-full-width) {

}
