body {
	margin: 0;
	padding: 0;
	
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;	
	color: #ffffff;

	background-color: #849d8f;
}

a {
	text-decoration: none; 
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px; 
	margin: -1px;
	bottom: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

:focus {
	outline: none;
	box-shadow: 
		0 0 0 2px #849d8f,
		0 0 0 4px #fc0;
}

.button {
	padding: 10px 25px;

	font: inherit;
	font-size: 18px;
	line-height: 24px;	

	text-align: center;
	vertical-align: middle;
	color: #ffffff;	
	text-shadow: 0 2px 2px rgba(160,32,11,.76);;

	background-color: #e84d37;
	background-image: linear-gradient(#f26843, #e74a35);
	border: none;
	border-radius: 20px;
	box-shadow: 0 1px 2px 0 #ac1000;

	transition: all .2s ease;
}

.button:hover,
.button:focus {
	background-image: linear-gradient(#f58669, #ec6f5e);
	box-shadow: 0 1px 2px 0 #ac1000,
				0 0 0 2px #849d8f,
				0 0 0 4px #fc0;
}

.button:active {
	background-image: linear-gradient(#e74a35, #f26843);
	box-shadow: 0 1px 2px 0 #942718 inset,
				0 0 0 2px #849d8f,
				0 0 0 4px #fc0;
}

/*--- центровщик ---*/
.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;	
}

/* section h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}

.pt-sans {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
} */

main h1 {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;

	font-size: 35px;
	line-height: 41px;

	/* demo */
	min-height: 41px;
}



/*--- HEADER ---*/
.main-header-absolute {
	position: relative;	
}

.main-header {
	position: absolute;
	left: 0;
	z-index: 2;
}

.inner-page .main-header {
	position: static;
}

.main-header-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main-navigation {
	display: flex;
	align-items: flex-end;
}

.main-header-logo {
	display: inline-block;
	width: 154px;
	height: 64px;	
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;

	width: 700px;
	margin: 0;
	padding: 0;

	font-size: 16px;
	line-height: 18px;
	font-weight: 700;

	list-style: none;
}

.site-navigation > li {
	position: relative;

	margin: 30px 0 25px 10px;
}

.site-navigation > li > a {
	position: relative;

	padding: 5px 10px;

	color: #ffffff;
}

.site-navigation > li > a::before {
	content: '';

	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 5px;

	height: 1px;

	background-color: rgba(255,255,255,.2);


}

.site-navigation > li:hover,
.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
	color: #333333;

	background-color: #ffffff;
	border-radius: 20px;
}

.site-navigation > li > a:hover::before,
.site-navigation > li > a:focus::before {
	content: none;
}

.site-navigation > li > a:active {
	background-color: #ededed;
	box-shadow: 
		0 0 0 2px #849d8f,
		0 0 0 4px #fc0,
		0 2px 1px 0 #696969 inset;
}

.site-navigation > li:hover > .sub-menu {
	/*display: block;*/
}

.sub-menu {
	position: absolute;

	/*display: none;*/
	width: 175%;
	margin: 0;
	margin-top: 12px;
	padding: 7px 0;

	font-size: 14px;
	line-height: 16px;
	font-weight: 400;

	background-color: #ffffff;
	border-radius: 3px;

	list-style: none;
}

.sub-menu li {
	margin-bottom: 5px;
}

.sub-menu li:first-child {
	font-weight: 700;

	border-bottom: 1px solid #d1d0ce;
}

.sub-menu a {
	display: block;
	padding: 5px 12px 7px 12px;

	color: #323232;

	transition: all .2s ease;
}

.sub-menu li a:hover,
.sub-menu li a:focus {
	background-color: #fbded7;
}

.sub-menu li a:active {
	background-color: #f6b5a5;
}

.main-header-right {
	width: 267px;

	/* demo */
	min-height: 72px;
}

.search-form input {
	font-size: 14px;
	line-height: 24px;
	color: #999999;
}

.user-navigation {
	list-style: none;
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;

	color: #ffffff;
}

.login-form input {
	font-size: 14px;
	line-height: 24px;
	color: #999999;
}

.forgot {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
}

.new-registration {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
}

.login-form a {
	text-decoration: underline;
}

.login-form a:hover,
.login-form a:focus {
	text-decoration: none;
}

.cart {
	font-size: 14px;
	line-height: 16px;

	color: #ffffff;
}

.cart-list {
	font-size: 13px;
	line-height: 16px;
	color: #323232;

	list-style: none;
}

.cart-list .price {
	color: #999999;
}

.cart-total {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #323232;
}

.contacts-info {
	width: 267px;
	margin-left: auto;

	/* demo */
	min-height: 50px;
}

.contacts-info .schedule {
	font-size: 14px;
	line-height: 16px;
}

.contacts-info .phone {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}





/*--- Виды мороженого ---*/
.type-ice-cream {
	position: relative;

	margin-bottom: 40px;
}

.type-list {
	margin: 0;
	padding: 0;

	list-style: none;

	/* demo */
	min-height: 881px;
}

.type-list li {
	text-align: center;
}

.type-list h3 {
	font-size: 60px;
	line-height: 60px;
}

.type-list-button {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
}




/*--- Баннеры ---*/
.banners {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

.banners-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;
}

.banners-list li {
	width: 560px;

	/* demo */
	min-height: 230px;
}

.banners-list h3 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.banners-list p {
	font-size: 18px;
	font-weight: 700;
}




/*--- Хиты ---*/
.hits {
	margin-bottom: 30px;
}

.hits-list {
	margin: 0;
	padding: 0;

	list-style: none;

	/* demo */
	min-height: 330px;
}

.hits-list h3 {
	font-size: 16px;
	font-weight: 400;

	text-decoration: underline;
}

.hits-price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;

	text-shadow: 0 1px 3px rgba(49,50,53, .5);
}

.hits-price .kg {
	font-size: 30px;
	margin-left: 40px;
}




/*--- Продвижение ---*/
.seo {
	margin-bottom: 40px;

	color: #323232;

	/* demo */
	min-height: 305px;
}

.seo-promo {
	font-size: 24px;
	line-height: 30px;
}

.seo-list {
	margin: 0;
	padding: 0;

	list-style: none;	
}





.index-columns {
	display: flex;
	justify-content: space-between;

	margin-bottom: 40px;
}

/*--- Новости блога ---*/
.news {
	width: 560px;

	color: #323232;

	/* demo */
	min-height: 220px;
}

.news-promo {

}

.news-link {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
	text-decoration: underline;
}

.news-link:hover,
.news-link:focus {
	text-decoration: none;
}




/*--- Подписка на рассылку ---*/
.subscription {
	width: 560px;

	/* demo */
	min-height: 220px;
}

.subscription-desc {
	color: #5a5a5a;
}

.subscription-form input {
	line-height: 24px;
	color: #999999;
}




/*--- Контактная информация ---*/
.contacts {
	text-align: center;

	line-height: 0;
}

.contacts img {
	width: 1200px;
	height: 430px;
}

.contacts-information {
	color: #323232;
}

.contacts-information .contacts-desc {
	font-size: 14px;
	line-height: 20px;
}

.contacts-information .contacts-address {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.contacts-information .contacts-phone {
	font-size: 18px;	
	font-weight: 700;
}





/*--- Хлебные крошки ---*/
.breadcrumbs {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;

	list-style: none;

	/* demo */
	min-height: 17px;
}





/*--- Фильтр ---*/
.filter {
	margin-bottom: 40px;

	/*--- demo ---*/
	min-height: 135px;
}




/*--- Result ---*/
.result {
	
}

.result-list {
	margin: 0;
	margin-bottom: 65px;
	padding: 0;

	list-style: none;

	/* demo */
	min-height: 1065px;
}





/*--- Pagination ---*/
.pagination {
	margin-bottom: 30px;

	/* demo */
	min-height: 30px;
}

.pagination-list {
	margin: 0;
	padding: 0;

	list-style: none;
}



/*--- FOOTER ---*/
.main-footer {

}

.main-footer > .container {
	display: flex;
	justify-content: space-between;
}

.social-buttons {
	width: 267px;
	margin: 0;
	padding: 0;

	list-style: none;

	/* demo */
	min-height: 100px;
}

.footer-menu {
	width: 560px;
}

.footer-menu-list {
	margin: 0;
	padding: 0;

	font-size: 13px;
	line-height: 18px;	

	list-style: none;

	/* demo */
	min-height: 100px;
}

.footer-menu-list a {
	text-decoration: underline;
	color: #ffffff;
}

.footer-menu-list a:hover,
.footer-menu-list a:focus {
	text-decoration: none;
}

.copyright {
	width: 267px;

	/* demo */
	min-height: 100px;
}

.copyright p {
	font-size: 12px;
	line-height: 18px;
}

.copyright a {
	color: #fefefe;
	text-decoration: underline;
}

.copyright a:hover,
.copyright a:focus {
	text-decoration: none;
}




/*--- Модальные окна ---*/
.modal {

}

.modal-subscription {
	
}

.subscription-promo {
	font-size: 24px;
	line-height: 28px;
	color: #323232;
}

.subscription-modal-form input,
.subscription-modal-form textarea {
	line-height: 24px;
	color: #999999;

	border: 1px solid #b2b2b2;
	transition: all .2s ease;
}

.subscription-modal-form input:hover,
.subscription-modal-form textarea:hover {
	border: 1px solid #9a9a9a;
}

.subscription-modal-form input:focus,
.subscription-modal-form textarea:focus {
	border: 1px solid #2e88e4;
}

.modal-show {
	display: block;
}
























































































































































































































































































































































































































































































































