.logo {	
	display: flex;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	svg {
		margin-right: 10px;
	}
}

.logo__text {
	display: flex;
	flex-direction: column;	
	color: #1567BA;
}

.logo__name {
	display: block;	
	// margin-top: auto;
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
}

.logo__slogan {
	display: block;
	font-size: 12px;
	line-height: 9px;
	color: #292B2C;
}


@media (min-width: @mobile-width) {
	// .logo {	
	// 	display: flex;
	// 	// width: 480px;
	// 	margin-bottom: 20px;
	// 	padding-top: 15px;

	// 	svg {		
	// 		margin: 0;
	// 		margin-right: 20px;
	// 		padding: 0;
			
	// 	}
	// }
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	// .logo {
	// 	margin-bottom: 15px;
	// }
}
