.phone {	
	margin: 0;
	padding: 0;
	font-size: 28px;
	line-height: 39px;
	font-weight: 600;
	
}

.phone__number {
	text-decoration: none;
	color: #EF8C34;	
}


@media (min-width: @mobile-width) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}


