.team {
  margin-bottom: 80px;

}

.team__wrapper {
  padding: 0;
  padding-left: 15px;
}



@media (min-width: @mobile-width) {
  .team__wrapper {
    padding-left: 30px;
  }	
}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-full-width) {
	.team__wrapper {
    padding-left: 0;
  } 
}