input.error {
	border: 1px solid red;
	&:hover,
	&:focus {
		border: 1px solid #c32424;
		& + label.error {
			color: #c32424;	
		}
	}
}

label.error {
	position: absolute;
	top: -12px;	
	right: 6px;
	display: block;
	padding: 5px 5px 0 10px;
	font-size: 13px;
	color: red;
	background: #ffffff;
}


@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}