.container {
	width: 1260px;
	margin: 0 auto;
	box-sizing: border-box;	
}

@media (max-width: @desktop-full-width) {
	.container {
		width: 100%;
		padding: 0 70px;
	}
}

@media (max-width: @tablet-width) {
	.container {		
		padding: 0 30px;
	}
}

