/*--- Avenir Next ---*/
@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/avenir/AvenirNext-Regular.eot');
    src: url('/fonts/avenir/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/avenir/AvenirNext-Regular.woff2') format('woff2'), url('/fonts/avenir/AvenirNext-Regular.woff') format('woff'),
    url('/fonts/avenir/AvenirNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/avenir/AvenirNext-Medium.eot');
    src: url('/fonts/avenir/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/avenir/AvenirNext-Medium.woff2') format('woff2'), url('/fonts/avenir/AvenirNext-Medium.woff') format('woff'),
    url('/fonts/avenir/AvenirNext-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/avenir/AvenirNext-Demi.eot');
    src: url('/fonts/avenir/AvenirNext-Demi.eot?#iefix') format('embedded-opentype'),
         url('/fonts/avenir/AvenirNext-Demi.woff2') format('woff2'), url('/fonts/avenir/AvenirNext-Demi.woff') format('woff'),
    url('/fonts/avenir/AvenirNext-Demi.ttf') format('truetype');
    font-weight: 600;
    font-weight: 600 1000;
    font-style: normal;
}

// https://cdna.skillspace.ru/fonts/avenir/AvenirNext-Regular.ttf
// https://cdna.skillspace.ru/fonts/avenir/AvenirNext-Medium.ttf
// https://cdna.skillspace.ru/fonts/avenir/AvenirNext-Demi.ttf