.reviews {
	margin-bottom: 50px;
}

.reviews__title {
	margin-bottom: 20px;
}

.reviews__desc {	
	margin-bottom: 30px;	
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: @grey;
}

.reviews__list {
	margin-bottom: 30px;
}

.reviews__item {
	margin-bottom: 20px;
	padding: 20px;	
	border-radius: 20px;
	background-color: @bg-block;	
	transition: @animation;	
	.rating {
		position: relative;
		margin-bottom: 15px;
		font-family: @ff-m;
		font-weight: 700;
		font-size: 22px;
		line-height: 28px;		
		span {
			position: absolute;
			top: 0;
			left: 45px;
			font-size: 0;
			svg {
				width: 30px;
				height: 30px;
				margin-right: 5px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.content {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 22px;
	}

	.category {	
		font-size: 16px;
		line-height: 22px;
		color: @grey;
	}
}

.video__item {
	margin-bottom: 20px;
	.name {
		font-size: 16px;
		line-height: 22px;
	}
}

.video__wrapper {
	position: relative;
	margin-bottom: 5px;
	line-height: 0;
	border-radius: 20px;
	overflow: hidden;
	.play {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 0;
		transform: translate(-50%, -50%);
		background-color: transparent;
		border: none;
		opacity: 0.7;
		transition: @animation;
		svg {
			position: relative;
			top: 9px;
			left: -4px;
			width: 35px;
			height: 41px;
			transform: rotate(120deg);
		}
		&--hide {
			display: none;
		}
	}
	video {
		width: 100%;		
	}
	&:hover,
	&:focus {
		.play {
			opacity: 1;
		}
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.reviews__item {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	.video__item {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: @desktop-width) {
	.reviews {
		margin-bottom: 70px;
	}	

	.reviews__desc {
		margin-bottom: 40px;
		padding: 0 150px;
		font-size: 20px;
		line-height: 26px;
	}

	.reviews__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;		
	}

	.reviews__item {
		width: 45%;
		margin-left: 10px;
		margin-right: 10px;
		padding: 30px;
		.rating {
			font-size: 28px;
			line-height: 34px;
			span {
				left: 60px;				
				svg {
					width: 35px;
					height: 35px;
				}
			}
		}
		.content {			
			font-size: 18px;
			line-height: 24px;
		}		
	}

	.video__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.video__item {
		width: 45%;
		margin-left: 10px;
		margin-right: 10px;
		.name {
			font-size: 16px;
			line-height: 22px;
		}
	}
}

@media (min-width: @desktop-1200-width) {
	.reviews {
		margin-bottom: 100px;
	}
}

@media (min-width: @desktop-1600-width) {
	.reviews__desc {
		padding: 0 350px;
		font-size: 24px;
		line-height: 30px;
	}	

	.reviews__item {
		padding: 40px;		
		border-radius: 30px;
		.rating {
			margin-bottom: 20px;
			font-size: 36px;
			line-height: 52px;
			span {
				left: 80px;				
				svg {					
					width: 49px;
					height: 49px;
				}
			}
		}
		.content {			
			font-size: 22px;
			line-height: 29px;
		}

		.category {
			font-size: 22px;
			line-height: 29px;
		}
	}	

	.video__item {
		.name {			
			font-size: 24px;
			line-height: 30px;
		}
	}

	.video__wrapper {
		margin-bottom: 10px;
		border-radius: 40px;
		.play {			
			svg {				
				top: 4px;
				width: 53px;
				height: 62px;
			}			
		}
	}
}

@media (min-width: @desktop-full-width) {
	.reviews__desc {		
		padding: 0 420px;		
		font-size: 32px;
		line-height: 39px;
	}

	.reviews__list {
		margin-bottom: 20px;
	}

	.reviews__item {	
		width: 430px;		
		&:nth-child(4n+1) {
			margin-left: 0;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}		
		.content {
			font-size: 24px;			
		}

		.category {
			font-size: 24px;
		}
	}	

	.video__item {
		width: 580px;
		&:nth-child(3n+1) {
			margin-left: 0;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
	}

	.video__wrapper {
		height: 320px;
		.play {
			svg {
				top: 8px;
			}
		}
	}	
}

&:hover,
&:focus {
	
}