.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	padding: 15px 15px 0 15px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	li {
		margin-right: 30px;		
		a {
			position: relative;
			font-size: 14px;
			line-height: 28px;
			font-weight: 400;
			text-decoration: none;
			color: @color;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: -15px;
				width: 1px;
				background-color: @color;
				opacity: 0.2;
			}
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
		span {
			opacity: .5;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	
}

.breadcrumbs--sidebar {
	// padding-left: 0;
	// padding-right: 0;
}

@media (min-width: @mobile-width) {	

}

@media (min-width: 600px) {
	.breadcrumbs--sidebar {
		padding-left: 30px;
	}
}

@media (min-width: @tablet-width) {
	.breadcrumbs {
		padding-left: 30px;
	}

	.breadcrumbs--sidebar {		
		// padding-left: 0;
		// padding-right: 0;
		margin-bottom: 35px;
	}
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-full-width) {
	.breadcrumbs {
		padding-top: 25px;
		padding-left: 15px;
	}

}