.button {
	display: inline-block;
	padding: 30px 20px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	// background: #5acf28;
	border-radius: 12px;
	border: none;
	transition: all .25s ease-out;

	// &:hover,	
	// &:focus {
	// 	background-color: #59e01f;
	// }
	// &:active {
	// 	background-color: #56c626;
	// }
}

.button--green {	
	background: #5acf28;
	&:hover,	
	&:focus {
		background-color: #59e01f;
	}
	&:active {
		background-color: #56c626;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-full-width) {

}
