.button {
	display: inline-block;
	padding: 30px 20px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	// background: #5acf28;
	border-radius: 12px;
	border: none;
	transition: all .25s ease-out;

	// &:hover,	
	// &:focus {
	// 	background-color: #59e01f;
	// }
	// &:active {
	// 	background-color: #56c626;
	// }
}

.button--green {
	background: #5acf28;
	&:hover,	
	&:focus {
		background-color: #59e01f;
	}
	&:active {
		background-color: #56c626;
	}
}

.button--orange {
	background: linear-gradient(157.07deg, #FE8C27 -17.61%, #F26210 87.18%);
	&:hover,	
	&:focus {
		background: linear-gradient(157.07deg, #FFB472 -17.61%, #F26210 87.18%);
	}
	&:active {
		background: linear-gradient(157.07deg, #E76F1A -17.61%, #E76F1A 87.18%);
	}
}

.button--border {
	padding: 18px 20px;
	text-transform: none;
	background-color: #ffffff;
	border: 2px solid #5ACF28;
	box-sizing: border-box;
	border-radius: 12px;
	color: @color;
	&:hover,	
	&:focus {
		color: #ffffff;
		background-color: #5ACF28;
	}
	&:active {
		background-color: #56C626;
		border: 2px solid #56C626;
	}
}


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-full-width) {

}
