.consortium {
	margin-bottom: 50px;
}

.consortium__title {
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 38px;
	font-weight: 400;
	text-align: center;		
}

.consortium__list {
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
	background-color: transparent;
}

.consortium__item {	
	margin-right: 10px;
	padding-top: 5px;
	picture {
		display: block;
	}
	a {
		display: block;
		border-radius: 10px;

		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
		transition: all .25s ease-out;
		&:hover,
		&:focus {			
			transform: translateY(-5px);
			box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.13);
		}
	}
}

.consortium__img {
	width: 108px;
	border-radius: 10px;
	border: 1px solid #dfdfdf;
}



@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	.consortium__title {
		text-align: left;
	}

	.consortium__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 500px;
		box-shadow: none;
	}

	.consortium__item {
		display: block;
		margin-bottom: 10px;
		padding-top: 0;
		width: 110px;
		line-height: 0;
		
	}

	.consortium__img {
		width: 100%;
	}
}

@media (min-width: @tablet-width) {
	.consortium__list {		
		width: auto;
		max-width: 707px;	
	}

	.consortium__item {		
		width: 157px;		
		&:last-child {			
			margin-right: 0;
		}
	}
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-full-width) {
	.consortium {
		display: flex;
		align-items: center;
	}

	.consortium__title {
		margin-bottom: 0;
		margin-right: 30px;
	}

	.consortium__list {
		margin-bottom: 0;
	}

	.consortium__item {		
		width: 147px;
		margin-right: 27px;
	}
}
