.container {
	width: 375px;
	max-width: @container-center-max;
	margin: 0 auto;
	padding: 0 15px;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	.container {
		width: 100%;
		padding: 0 30px;
	}
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-full-width) {
	.container {	
		padding: 0 15px;
	}
	
	.container {
		// padding-left: 0;
		// padding-right: 0;
	}
}