.contacts {
	padding: 0 0 50px 0;
	picture {
		display: none;
		position: relative;
		line-height: 0;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 250px 400px 0 0;
			border-color: rgba(255,255,255,.2) transparent transparent transparent;
		}
	}
}

.contacts__list {
	margin-bottom: 15px;
	background-color: #ffffff;
	z-index: 1;
}

.contacts__item {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border: 1px solid #f8ba18;
	background-color: #ffffff;
	&:last-child {
		margin-bottom: 0;
	}
}

.contacts__name {
	padding: 5px 15px;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	background-color: #f8ba18;
}

.contacts__address {
	padding: 0 15px;
	font-size: 18px;
	line-height: 24px;
	span {
		display: block;
	}
}

.contacts__phone {
	margin-right: 0;
	padding: 0 15px;
	font-size: 25px;
	line-height: 40px;
	color: #777777;
	text-shadow: none;
	span {
		display: block;
	}
	svg {
		display: inline;
		width: 22px;
		height: 22px;
		fill: #f8ba18;
	}
	&:hover,
	&:focus {
		box-shadow: none;
		background-color: rgba(0,0,0,.05);
	}
}

.contacts__item--dark {	
	border: 1px solid #f8ba18;
	background-color: #f8ba18;
	&:last-child {
		margin-bottom: 0;
	}
	.contacts__name {
		padding-top: 10px;
		padding-bottom: 0;
	}
	.contacts__address {
		color: rgba(255,255,255,.9);
	}
	.contacts__phone {
		color: #ffffff;
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
		svg {
			fill: rgba(255,255,255,.9);
		}
	}
}

.contacts__email {
	justify-content: center;
	font-size: 24px;
	text-align: center;
	color: #005199;
	svg {
		width: 35px;
		height: 25px;
		fill: #f8ba18;
	}
	&:hover,
	&:focus {
		box-shadow: none;
	}
}

@media (min-width: @mobile-width) {
	.contacts {
		picture {
			position: relative;
			display: block;
		}
	}

	.contacts__list {
		position: relative;		
		width: 85%;
		margin: -50px auto 15px auto;
		padding: 20px;
		box-shadow: 1px 1px 2px 0px rgba(0,0,0,.2);
	}	
}

@media (min-width: 600px) {
	.contacts {	
		picture {
			width: 80%;
			margin-left: auto;
		}
	}

	.contacts__list {
		width: 65%;		
		margin: -245px 0 15px 0;
		padding: 20px;
	}

	.contacts__email {
		justify-content: flex-start;
		padding-left: 20px;
	}
}

@media (min-width: @tablet-width) {
		.contacts__list {
			width: 450px;		
			margin: -35% 0 15px 0;
			padding: 30px;
		}

		.contacts__item {
			margin-bottom: 30px;
		}

		.contacts__email {
			padding-left: 30px;
		}
}

@media (min-width: 850px) {
		.contacts__email {
			position: relative;
			margin: -70px 0 0 450px;
			font-size: 28px;
			z-index: 2;
			svg {
				width: 40px;
				height: 30px;
				margin-right: 10px;
			}
		}
}

@media (min-width: @desktop-width) {
	.contacts {	
		picture {
			width: 70%;
		}
	}

	.contacts__list {
		width: 450px;		
		margin: -28% 0 0 10%;
		padding: 30px;
	}

	.contacts__item {
		margin-bottom: 30px;
	}

	.contacts__email {	
		margin: -55px 0 0 570px;
	}
}