.contact-us {	
	// width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

// .news__wrapper {
// 	position: relative;
// }



.contact-us__title {
	margin-bottom: 20px;
	font-size: 42px;
	line-height: 60px;
	font-weight: 400;
	text-align: left;
}

.contact-us__text {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	&:last-child {
		margin-bottom: 0;
	}	
}

.contact-us__phone {
	margin-bottom: 35px;
	padding-left: 45px;
	font-size: 16px;
	line-height: 20px;
	width: 700px;	
	svg {
		width: 15px;
		height: 24px;
		top: -3px;
		left: 7px;	
	}
	span {
		opacity: 1;
	}
}

.contact-us__address {
	margin-bottom: 35px;
	padding-left: 45px;
	font-size: 16px;
	line-height: 20px;
	width: 700px;	
	svg {
		width: 27px;
		height: 24px;
		top: -5px;
		left: 3px;	
	}
	span {
		opacity: 1;
	}
	br {
		display: inline;
	}
}

.contact-us__email {
	margin-bottom: 35px;
	padding-left: 45px;
	font-size: 14px;
	line-height: 20px;
	width: 700px;	
	svg {
		width: 24px;
		height: 24px;
		top: -5px;
		left: 3px;	
	}
	span {
		opacity: 1;
	}
	br {
		display: inline;
	}
}


.contact-us__button {
	margin-bottom: 40px;
	padding: 20px 50px;
	font-family: @ff;
	text-transform: none;
}

.contact-us__img {
	width: 150%;
	display: block;
	margin-left: -100px;
	margin-bottom: 60px;
	line-height: 0;
}


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.contact-us__wrapper-contact {
		display: flex;
		flex-wrap: wrap;
	}

	.contact-us__phone {
		width: 210px;
		order: 1;
	}

	.contact-us__address {
		order: 3;
		br {
			display: none;
		}
	}

	.contact-us__email {
		width: 200px;
		order: 2;
	}

	.contact-us__img {
		width: 100%;
		margin-left: 0;
		margin-bottom: 80px;
		img {
			border-radius: 10px;	
		}
	}
}

@media (min-width: @desktop-width) {
	.contact-us {
		display: flex;
		justify-content: space-between;
		margin-bottom: 120px;
	}

	.contact-us__wrapper {
		width: 270px;
		margin-right: 50px;
	}

	.contact-us__wrapper-contact {
		display: block;
	}

	.contact-us__phone {
		width: auto;		
	}

	.contact-us__address {		
		br {
			display: inline;
		}
	}

	.contact-us__email {
		width: auto;
		order: 2;
	}

	.contact-us__img {
		// width: 100%;
		// margin-left: 0;
		margin-bottom: 0;
		img {
			// width: 852px;
			// height: 400px;

		}
	}
}	

@media (min-width: @desktop-full-width) {
	// .contact-us__text--before-title {
	// 	margin-bottom: 60px;
	// }

	// .contact-us__list {
	// 	margin-bottom: 25px;
	// }
}

