.cycling {	
	// width: 100%;
	box-sizing: border-box;
}

// .news__wrapper {
// 	position: relative;
// }



.cycling__title {
	margin-bottom: 20px;
	font-size: 42px;
	line-height: 60px;
	font-weight: 400;
	text-align: left;
}

.cycling__text {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	&:last-child {
		margin-bottom: 0;
	}	
}

.cycling__text--before-title {
	margin-bottom: 20px;
}

.cycling__text--mb20 {
	margin-bottom: 20px;
}

.cycling__text--mb40 {
	margin-bottom: 40px;
}

.cycling__img {
	width: auto;
	margin-bottom: 20px;
	line-height: 0;
	img {
		width: 100%;
		border-radius: 10px;
		
	}
}

.cycling__list {

}

.cycling__item {
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}
}

.cycling__item-title {
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
}

.cycling__item-text {
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
}

.cycling__list-title {
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
}

.cycling__list-link {
	margin-bottom: 40px;
}

.cycling__item-link {	
	margin-bottom: 10px;
	a {
		font-size: 14px;
		line-height: 28px;
		font-weight: 400;
		text-decoration: none;
		color: @color;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}	
}


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	

}

@media (min-width: @desktop-width) {
	
}	

@media (min-width: @desktop-full-width) {
	.cycling__text--before-title {
		margin-bottom: 60px;
	}

	.cycling__list {
		margin-bottom: 25px;
	}
}

