.donate {
	picture {
		display: inline-block;
	}
}

.donate__img {
	margin-right: 20px;
}

.donate__button {
	display: inline-block;	
	margin-right: 20px;
	padding: 0 20px;
	text-decoration: none;
	font-weight: 600;
	color: #000000;
	background-color: #f6c557;
	border-radius: 20px;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-full-width) {

}
