.footer-menu {
	margin-bottom: 45px;
}

.footer-menu__title {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 140%;
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
	color: #ffffff;
}

.footer-menu__list {

}

.footer-menu__item {
	margin-bottom: 20px;
	a {
		display: block;
		font-size: 12px;
		line-height: 180%;
		text-decoration: none;
		color: #ffffff;
		opacity: 0.7;
		transition: all .25s ease-out;
		&:hover,
		&:focus {
			opacity: 1;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {

}

@media (min-width: @desktop-full-width) {

}
