.formula {
	width: 375px;
	margin: 0 auto;
	padding: 0 15px;
	padding-bottom: 60px;
	box-sizing: border-box;
}

.formula__wrapper {	
	position: relative;
	width: 100%;
	padding: 40px;
	padding-bottom: 13px;	
	border-radius: 10px;
	background-color: #f5f7fb;
}

.formula__title {	
	margin-bottom: 25px;
	font-size: 42px;
	line-height: 140%;
	font-weight: 400;
	text-align: left;
}

.formula__item {
	position: relative;
	margin-bottom: 27px;
	svg {
		position: absolute;
		top: 3px;
		left: 0;
		fill: @color-green;
	}
	p {
		margin-bottom: 0;
		padding-left: 40px;		
		font-size: 12px;
		line-height: 180%;
		color: #5f5f5f;
		span {
			margin-bottom: 5px;
			display: block;
			font-size: 20px;
			line-height: 28px;
			font-weight: 600;
			color: @color;
		}
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	.formula {
		width: 100%;
		padding: 0 30px;
		padding-bottom: 60px;
	}
}

@media (min-width: @tablet-width) {
	.formula {		
		padding-bottom: 80px;
	}

	.formula__wrapper {	
		// padding: 0 70px;
	}

	.formula__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.formula__item {
		width: 48%;
	}
}

@media (min-width: @desktop-width) {

}	

@media (min-width: @desktop-full-width) {
	.formula {
		width: 420px;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.formula__list {
		display: block;
	}

	.formula__item {
		width: 100%;
	}
}

