.join-page {	
	// width: 100%;
	box-sizing: border-box;
}

.join-page__title {
	margin-bottom: 20px;
	font-size: 42px;
	line-height: 60px;
	font-weight: 400;
	text-align: left;
}

.join-page__text {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	&:last-child {
		margin-bottom: 0;
	}	
}

.join-page__text--before-title {
	margin-bottom: 20px;
}

.join-page__text--mb20 {
	margin-bottom: 20px;
}

.join-page__text--mb40 {
	margin-bottom: 40px;
}

.join-page__img {
	width: auto;
	margin-bottom: 20px;
	background: #dee0e4;
	
	line-height: 0;
	img {
		width: 100%;
		border-radius: 10px;
		
	}
}

.join-page__list {
	margin-bottom: 60px;
}

.join-page__item {
	
}

.join-page__item-title {
	position: relative;
	font-size: 20px;	
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	span {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		margin-right: 15px;
		border: 4px solid @color;
		border-radius: 100%;
	}
}

.join-page__item-text {
	margin-bottom: 20px;
	p {
		font-size: 14px;
		line-height: 28px;
		font-weight: 400;
		&:last-child {
			margin-bottom: 0;
		}
		&.bold {
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}

/*.join-page__list {

}

.join-page__item {
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}
}

.join-page__item-title {
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
}

.join-page__item-text {
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
}

.join-page__list-title {
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
}

.join-page__list-link {
	margin-bottom: 40px;
}

.join-page__item-link {	
	margin-bottom: 10px;
	a {
		font-size: 14px;
		line-height: 28px;
		font-weight: 400;
		text-decoration: none;
		color: @color;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}	
}*/


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.join-page__list {
		display: flex;
		justify-content: space-between;
		margin-bottom: 80px;
	}

	.join-page__item {
		width: 48%;
	}
}

@media (min-width: @desktop-width) {
	
}	

@media (min-width: @desktop-full-width) {
	.join-page__text--before-title {
		margin-bottom: 60px;
	}

	.join-page__list {
		margin-bottom: 40px;
	}
}

