.page-main {	

}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}


@media (min-width: @tablet-width) {
	.page-main--sidebar {
		padding-bottom: 80px;
	}

	.box__wrapper {
		display: flex;
		// justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 80px;		
	}
}

@media (min-width: @desktop-full-width) {
	.content__wrapper {
		display: flex;
		justify-content: space-between;
		width: 1200px;
		margin: 0 auto;
	}

	.page-main--sidebar {
		width: 800px;
	}

	.box__wrapper {
		width: 1200px;
		margin: 0 auto;
		padding-top: 160px;		
		padding-bottom: 75px;
	}
}
