.page-main {	
	// padding-top: @header-height;
	// background: linear-gradient(#777777, green);
	// background-color: rgba(0,128,0,1);
	// height: 2000px;
}




@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}


@media (min-width: @tablet-width) {
	.box__wrapper {
		display: flex;
		// justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 80px;		
	}
}

@media (min-width: @desktop-full-width) {
	.box__wrapper {
		width: 1200px;
		margin: 0 auto;
		padding-top: 160px;		
		padding-bottom: 75px;
	}
}
