.menu {	
	list-style-type: none;
	z-index: 2;
}

.menu__list {
	width: 100%;
	// background-color: rgba(76,86,93,.95);
	// background-color: rgba(28,36,44,.9);
	// background-color: rgba(255,255,255,1);
	// border-bottom: 2px solid @color-red;
}

.menu__item {
	position: relative;
	a {
		position: relative;
		display: block;
		padding: 10px 20px;
		font-size: 14px;
		line-height: 25px;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;		
		color: @color;
		&:hover,
		&:focus {
			color: @color-green;
			background-color: rgba(0,0,0,.02);
		}
	}
}

.menu__item--active {
	a {
		color: @color-green;
		background-color: rgba(0,0,0,.05);
		&:hover,
		&:focus {
			background-color: rgba(0,0,0,.05);
		}
	}
}

.submenu {		
	background-color: rgba(0,0,0,.1);
	transition: all .25s ease-out;
}

.submenu__item {
	a {
		font-weight: 400;
		text-transform: none;
		color: rgba(0,0,0,.5);
		&:hover,
		&:focus {
			color: #ffffff;
			background-color: rgba(0,0,0,.5);
		}
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	.menu__list  {
		display: flex;
		justify-content: flex-end;
	}

	.menu__item {		
		a {
			padding: 10px 10px;			
			font-size: 12px;
		}
		&:hover,
		&:focus {
			& > .submenu {
				top: 43px;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.submenu {
		width: 220px;
		position: absolute;
		top: 70px;
		right: 0;
		background-color: rgba(0,0,0,.7);		
		opacity: 0;
		visibility: hidden;
	}

	.submenu__item {
		a {			
			text-align: right;
			color: rgba(255,255,255,.7);			
		}
	}

}

@media (min-width: 1100px) {
	.menu__item {		
		a {			
			padding: 10px 15px;
			font-size: 13px;
		}
	}
}

@media (min-width: @desktop-full-width) {
	.menu__item {		
		a {
			font-size: 14px;
		}
	}
}