.mission {
	padding-top: 25px;
	padding-bottom: 40px;
	background-color: #f5f7fb;
	overflow: hidden;
}

.mission__wrapper {
	position: relative;
}

.mission__title {
	font-size: 42px;
	line-height: 140%;
	font-weight: 400;
	text-align: left;	
}

.mission__text {
	font-size: 14px;	
}

.mission__text--last {
	margin-bottom: 20px;
}

.mission__composite-image {
	position: relative;
	&:hover {
		.mission__person {
			transform: rotate(25deg)
		           translate(120px)
		           rotate(-25deg);
		}
		.mission__person--n2 {
			transform: rotate(-50deg)
		           translate(194px)
		           rotate(50deg);
		}
		.mission__person--n3 {
			transform: rotate(-16deg)
		           translate(265px)
		           rotate(16deg);
		}
		.mission__person--n4 {
			transform: rotate(46deg)
		           translate(265px)
		           rotate(-46deg);
		}
		.mission__person--n5 {
			transform: rotate(100deg)
		           translate(265px)
		           rotate(-100deg);
		}
		.mission__person--n6 {
			transform: rotate(150deg)
		           translate(194px)
		           rotate(-150deg);
		}
		.mission__person--n7 {
			transform: rotate(215deg)
		           translate(265px)
		           rotate(-215deg);
		}
	}
}

.mission__img {
	width: 200%;
	position: relative;
	left: -87px;
	// left: -117px;
}

.mission__person {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -44px;
	width: 102px;
	height: 102px;
	line-height: 0;
	border-radius: 50%;
	border: 4px solid #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	transform: rotate(58deg)
	           translate(120px)
	           rotate(-58deg);
	transition: transform .8s ease-in-out;
	img {
		// display: block;
		border-radius: 50%;
	}
}

.mission__person--n2 {
	width: 72px;
	height: 72px;
	margin-top: -48px;
	margin-left: -30px;	
	transform: rotate(-78deg)
	           translate(194px)
	           rotate(78deg);
}

.mission__person--n3 {
	width: 52px;
	height: 52px;
	margin-top: -36px;
	margin-left: -20px;	
	transform: rotate(-34deg)
	           translate(265px)
	           rotate(34deg);
}

.mission__person--n4 {
	width: 52px;
	height: 52px;
	margin-top: -36px;
	margin-left: -20px;	
	transform: rotate(36deg)
	           translate(265px)
	           rotate(-36deg);
}

.mission__person--n5 {
	width: 52px;
	height: 52px;
	margin-top: -36px;
	margin-left: -20px;	
	transform: rotate(121deg)
	           translate(265px)
	           rotate(-121deg);
}

.mission__person--n6 {
	width: 72px;
	height: 72px;
	margin-top: -48px;
	margin-left: -30px;	
	transform: rotate(159deg)
	           translate(194px)
	           rotate(-159deg);
}

.mission__person--n7 {
	width: 72px;
	height: 72px;
	margin-top: -48px;
	margin-left: -30px;	
	transform: rotate(205deg)
	           translate(265px)
	           rotate(-205deg);
}

.about-us-page {
	.mission {
		// background-color: red;
	}
}


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	.mission__img {
		width: auto;
		position: static;
		text-align: center;
	}


	.mission__img--inner {
		margin-left: -35px;
	}

	// .about-us-page {
	// 	.mission {
	// 		margin-left: -30px;
	// 		margin-right: -30px;
	// 	}

	// 	.mission__wrapper {
	// 		padding: 0 30px;
	// 	}
	// }
}

@media (min-width: @tablet-width) {
	.mission {
		position: relative;
		min-height: 450px;
		padding-top: 95px;
		padding-bottom: 60px;
	}

	.mission__wrapper {
		// display: flex;
	}

	.mission__wrapper-text {
		position: relative;
		width: 260px;
		z-index: 3;
	}

	.mission__text--last {
		margin-bottom: 0;
	}

	.mission__composite-image {
		position: absolute;
		top: -60px;
		left: 330px;
		width: 560px;
		height: 548px;
		z-index: 2;
	}

	.page {
		.mission__composite-image {
			position: relative;
			top: auto;
			left: auto;
			width: auto;
			height: auto;
		}	
	}	
}

@media (min-width: 900px) {
	.mission__wrapper-text {		
		width: 360px;	
	}

	.mission__composite-image {
		left: 430px;
	}
}	

@media (min-width: @desktop-width) {
	.mission {
		padding-top: 120px;
	}
	.mission__composite-image {
		top: -75px;		
	}
}	

@media (min-width: 1100px) {
	.mission__composite-image {
		left: 510px;
	}
}	

@media (min-width: @desktop-full-width) {
	.mission {
		padding-top: 160px;		
	}
	.mission__wrapper-text {		
		width: 370px;
	}

	.mission__composite-image {				
		left: auto;
		right: 80px;		
	}

	.page {
		.mission__composite-image {				
			right: auto;
		}	
	}
}

