.news {	
	padding-bottom: 55px;	
}

.news__wrapper {
	position: relative;
}

.news__title {
	margin-bottom: 20px;
	font-size: 42px;
	line-height: 140%;
	font-weight: 400;	
}

.news__list {
	margin-bottom: 40px;
}

.news__item {
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}
	&:nth-child(1),
	&:nth-child(2) {
		display: none;
	}
}

.news__item-img {
	width: auto;
	height: 227px;
	margin-bottom: 20px;
	background-color: #eceef1;
	border-radius: 10px;
	img {
		display: none;
	}
}

.news__item-title {
	margin-bottom: 5px;
	a {
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		text-decoration: none;
		color: @color;
		&:hover,
		&:focus {
			text-decoration: underline;
			color: darken(@color, 20%);
		}
	}
}

.news__item-text {
	font-size: 12px;
	line-height: 21px;
	font-weight: 400;	
	color: #5f5f5f;
}

.news__item-link {
	font-size: 14px;
	line-height: 180%;
	font-weight: 600;
	text-decoration-line: underline;
	color: @color;
	transition: all .25s ease-out;
	&:hover,
	&:focus {
		color: #2f80ed;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	.news__wrapper {
		width: 65%;
	}
}

@media (min-width: @tablet-width) {
	.news {		
		padding-bottom: 75px;
	}

	.news__wrapper {
		width: 768px;
	}

	.news__title {
		margin-bottom: 40px;
	}

	.news__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	.news__item {
		width: 340px;
		margin-bottom: 40px;
		&:nth-child(1),
		&:nth-child(2) {
			display: block;
		}		
		&:nth-child(5),
		&:nth-child(6) {
			margin-bottom: 0;
		}
	}

	.news__item-img {
		height: 226px;
	}

}

@media (min-width: @desktop-width) {
	.news {
		padding-bottom: 115px;
	}

	.news__wrapper {
		width: 100%;
	}

	.news__title {	
		margin-bottom: 40px;
	}

	.news__list {
		margin-bottom: 60px;
	}

	.news__item {
		width: 31%;
		&:nth-child(4) {
			margin-bottom: 0;
		}
	}	
}	

@media (min-width: @desktop-full-width) {
	.news__item {
		width: 370px;		
	}
}

