.page {	
	// width: 100%;
	box-sizing: border-box;
}

// .news__wrapper {
// 	position: relative;
// }



.page__title {
	margin-bottom: 20px;
	font-size: 42px;
	line-height: 60px;
	font-weight: 400;
	text-align: left;
}

.page__h3 {
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
	text-align: left;
}

.page__text {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	&:last-child {
		margin-bottom: 0;
	}
	a {
		font-weight: 600;
		text-decoration: none;
		color: darken(@color-green, 30%);
		&:hover,
		&:focus {
			color: darken(@color-green, 20%);
			text-decoration: underline;
		}
	}
}

.page__text--706 {
	margin-bottom: 10px;
}

.page__img {
	width: auto;
	height: 161px;
	margin-bottom: 20px;
	background: #dee0e4;
	border-radius: 10px;
	line-height: 0;
	img {
		width: 100%;
		border-radius: 10px;		
	}
}

.page__img--team {
	height: auto;
}

.page__img--team-men {
	height: auto;
}

.page-stay__list {
	margin-bottom: 60px;
}

.page-stay__item {
	
}

.page-stay__item-title {
	position: relative;
	font-size: 20px;	
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	span {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		margin-right: 15px;
		border: 4px solid @color;
		border-radius: 100%;
	}
}

.page-stay__item-text {
	margin-bottom: 20px;
	p {
		font-size: 14px;
		line-height: 28px;
		font-weight: 400;
		&:last-child {
			margin-bottom: 0;
		}
		&.bold {
			font-weight: 700;
		}
	}
}

.page-706__wrapper-img {
	display: flex;
	justify-content: space-between;
	.page__img-1 {
		width: 107px;
		height: auto;
	}

	.page__img-2 {
		width: 223px;
		height: auto;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	.page__img {
		height: 250px;
	}

	.page__img--team {
		height: auto;
	}

	.page__img--team-men {
		height: auto;
	}

	.page-706__wrapper-img {		
		.page__img-1 {
			width: 30%;
			height: auto;
			margin-bottom: 20px;			
		}

		.page__img-2 {
			width: 65%;
			height: auto;
			margin-bottom: 20px;	
		}
	}
}

@media (min-width: @tablet-width) {
	.page__text {
		margin-bottom: 40px;		
	}

	.page__text--team {
		margin-bottom: 20px;
	}

	.page__text--706 {
		margin-bottom: 10px;
	}

	.page__text--706-20 {
		margin-bottom: 20px;
	}

	.page__img {
		height: 330px;
		margin-bottom: 40px;
	}

	.page__img--team {
		height: auto;
		margin-bottom: 20px;
	}

	.page__img--team-men {
		height: auto;
	}

	.page-stay__list {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0;
	}

	.page-stay__item {
		width: 48%;
	}

}

@media (min-width: @desktop-width) {
	.page {
		width: 768px;
	}
}	

@media (min-width: @desktop-full-width) {
	.page {
		width: auto;
	}

	.page__img {
		height: 360px;
		margin-bottom: 40px;
	}

	.page__img--team-men {
		height: auto;
	}

	.page__img--team {
		height: auto;
	}

	.page-stay__list {
		// margin-bottom: 100px;
	}
}

