.phone {
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding-left: 35px;
	font-size: 14px;
	line-height: 25px;
	font-weight: 600;
	text-decoration: none;
	color: @color;
	svg {
		position: absolute;
		top: 2px;
		left: 0;		
	}
	span {
		opacity: 0.8;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	
}


