.promo {
	position: relative;
	padding-top: 80px;
	padding-bottom: 35px;
	&:hover {
		.promo__circle {
			bottom: 100px;
			right: 265px;
		}
	}
}
.promo__wrapper {
	position: relative;
	overflow: hidden;
}

.promo__title {	
	margin-bottom: 20px;
	font-size: 56px;
	line-height: 67px;
	font-weight: 400;
	text-align: left;
	text-shadow: 1px 1px 0px rgba(255,255,255,1);
}

.promo__button {
	// width: 80%;
	margin-bottom: 40px;
}

.promo__img {
	position: relative;
	width: 690px;
	margin-left: -70px;
	margin-bottom: 30px;
	picture {
		display: block;
	}
}

.promo__circle {
	position: absolute;
	bottom: 40px;
	right: 325px;
	width: 112px;
	transition: all .6s ease;
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	.promo {
		overflow: hidden;
		&:hover {
			.promo__circle {
				bottom: 60px;
				right: 40px;
			}
		}
	}

	.promo__wrapper {	
		overflow: visible;	
	}

	.promo__button {	
		margin-bottom: 60px;
	}

	.promo__img {
		position: absolute;
		top: -40px;
		right: -45px;
		width: 350px;		
		margin: 0;
		z-index: -1;
	}

	.promo__circle {
		width: 100px;
		height: 100px;	
		right: 75px;
		bottom: 25px;
	}
}

@media (min-width: 700px) {
	.promo {
		&:hover {
			.promo__circle {
				bottom: 80px;
				right: 45px;
			}
		}
	}
	.promo__img {
		width: 400px;
	}

	.promo__circle {
		right: 105px;
	}
}

@media (min-width: @tablet-width) {
	.promo {	
		padding-top: 100px;
		padding-bottom: 60px;
		// overflow: hidden;
	}	

	.promo__title {		
		
	}

	

	.promo__img {
		top: -60px;
		right: -170px;
		width: auto;
	}

	.promo__circle {
		display: none;
	}
}

@media (min-width: 850px) {
	.promo__img {	
		right: -60px;		
	}
}

@media (min-width: @desktop-width) {
	.promo {
		&:hover {
			.promo__circle {
				bottom: 80px;
				right: 80px;
			}
		}
	}

	.promo__wrapper {	
		padding: 0 30px;
	}

	.promo__title {
		font-size: 82px;
		line-height: 98px;
		margin-bottom: 40px;
	}

	.promo__circle {
		display: block;
		width: 152px;
		height: 152px;
		right: 140px;
		bottom: 15px;
	}
}

@media (min-width: @desktop-full-width) {
	.promo {
		padding-top: 130px;
		padding-bottom: 170px;
		&:hover {
			.promo__circle {
				bottom: 95px;
				right: 65px;
			}
		}
	}

	.promo__wrapper {	
		padding: 0 15px;
	}	

	.promo__button {	
		margin-bottom: 70px;
	}

	.promo__img {
		top: -125px;
		right: -125px;
	}

	.promo__circle {		
		width: 192px;
		height: 192px;
		right: 120px;
		bottom: 40px;
	}
	
}
