.purpose {
	padding-top: 60px;
	padding-bottom: 60px;
}

.purpose__wrapper {
	position: relative;
}

.purpose__title {	
	margin-bottom: 20px;
	font-size: 42px;
	line-height: 140%;
	font-weight: 400;
	text-align: left;
}

.purpose__opinion {
	margin-bottom: 40px;
}

.purpose__opinion-text {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 600;
	font-style: italic;
}

.purpose__opinion-person {
	display: flex;
	align-items: center;
}

.purpose__person-img {
	width: 70px;
	height: 70px;
	margin-right: 20px;
	background-color: #dee0e4;
	border-radius: 100%;
}

.purpose__person-text {
	margin: 0;
	padding-top: 5px;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	span {
		display: block;
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 17px;
		font-weight: 700;
	}
}

.purpose__list {

}

.purpose__item {
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
}

.purpose__item-title {
	margin-bottom: 7px;
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
}

.purpose__item-text {
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	&:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}	

@media (min-width: @desktop-full-width) {
	.purpose {
		padding-top: 0;
		padding-bottom: 0;
	}
}

