.rosters {	
	padding-top: 60px;
	box-sizing: border-box;
}

// .news__wrapper {
// 	position: relative;
// }



.rosters__title {
	margin-bottom: 20px;
	font-size: 42px;
	line-height: 60px;
	font-weight: 400;
	text-align: left;
}

.rosters__name {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;	
}

.rosters__img {
	display: block;	
	margin-bottom: 20px;
	line-height: 0;
	img {		
		border-radius: 10px;
	}
}

.rosters__item-title {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 28px;
	font-weight: 700;	
}

.rosters__list {
	margin-bottom: 40px;
}

.rosters__item {
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}
}

.rosters__item-text {	
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;	
}

.rosters__mens {
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}
}

.rosters__item-mens {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 700;	
}


@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.rosters__title {
		margin-bottom: 40px;	
	}

	.rosters__img {
		margin-right: 30px;
		margin-bottom: 0;	
		img {		
			width: 340px;
		}
	}

	.rosters__item {
		display: flex;
		margin-bottom: 20px;
	}

	.rosters__box {
		width: 46%;
		margin-top: 20px;
	}

	.rosters__item--right {
		.rosters__img {
			order: 2;
			margin-right: 0;
			margin-left: 40px;
		}

		.rosters__box {
			order: 1;
		}
	}

	.rosters__mens-wrapper {
		display: flex;
		justify-content: space-between;		
	}

	.rosters__mens {
		width: 48%;
		margin-bottom: 0;
	}
}

@media (min-width: @desktop-width) {
	.rosters {
		width: 768px;
	}

	.rosters__item {
		display: flex;
		// justify-content: space-between;
	}

	.rosters__img {
		padding-top: 5px;
	}	

	.rosters__img {
		margin-right: 40px;
	}

	.rosters__box {
		width: 60%;
	}

	.rosters__item--right {
		.rosters__img {
			order: 2;
			margin-right: 0;
			margin-left: 40px;
		}

		.rosters__box {
			order: 1;
		}
	}
}	

@media (min-width: @desktop-full-width) {
	.rosters__img {	
		img {		
			width: 370px;
		}
	}
}

