.sidebar {	
	padding-top: 60px;
	box-sizing: border-box;
}




@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}


@media (min-width: @tablet-width) {
	.sidebar {
		padding-top: 0;
		padding-bottom: 50px;
	
	}
}

@media (min-width: @desktop-full-width) {
	.sidebar {	
		width: 345px;
		padding-top: 88px;
		// padding-top: 90px;
	}

	.sidebar--page {	
		order: 2;
	}
}
