.slick-dots {
	bottom: -35px;
	li {
		width: 4px;
		height: 4px;
		button {
			width: 4px;
			height: 4px;
			padding: 0;
			&::before {				
				font-size: 4px;
				line-height: 0;
				width:auto;
				height: 4px;
				content: '•';
				text-align: center;
				opacity: .25;				
			}
		}
	}	
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: @color-green;
}

.slick-track {
	transition: none; // cancel jerky rewind
}

.clients__list {	
	.slick-dots {
		bottom: -20px;
	}		
}

.works__list {
	.slick-slide {
		margin-right: 30px;
	}
	.slick-dots {
		bottom: -30px;
		li {
			button {
				&::before {
					color: #ffffff;
				}
			}
		}
	}
}

.gallery__list {
	.slick-slide {
		margin-right: 30px;		
	}
	.slick-dots {
		bottom: -30px;
		li {
			button {
				&::before {
					color: #000000;
				}
			}
			&.slick-active {
				button {
					&:before {
						opacity: 1;
						color: #1567BA;
					}
				}
			}
		}
	}
}
/*
.company__list--first {
	.slick-slide {
		// margin-right: 30px;
	}
	.slick-dots {
		display: none;
		li {
			button {
				&::before {
					color: #ffffff;
				}
			}
		}
	}
}*/

.articles__list {
	// .slick-active {
	// 	background-color: red;
	// }
	// .slick-active + .slick-active {
	// 	background-color: green;
	// }
	// .slick-active + .slick-active + .slick-active {
	// 	background-color: yellow;
	// }
}

@media (min-width: @mobile-width) {

}

@media (min-width: 600px) {

}

@media (min-width: @tablet-width) {
	.gallery__list {
		.slick-dots {
			bottom: -20px;
		}
	}
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-full-width) {
	
}
