.tabs {
  position: relative;  
}

.tabs__tabs-wrapper {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
  p {
    margin-bottom: 0;
  }
}

.tabs__label {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #dbdbdb;
  border-left: 2px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease-out;
}
.tabs__label:hover {
  color: #f2f2f2;
  // background-color: #f2f2f2;
  // border-bottom: 2px solid #368FE9;
  cursor: pointer;  
}

.tabs__input {
  display: none !important;
  position: absolute;  
}

.tabs__input--active + label {  
  // color: #1567BA;
  // border-bottom: 2px solid #1567BA;  
  background-color: rgba(100,100,100,.5);
  // background-color: rgba(210,74,67,.5);
  border-left: 2px solid @color-red;
}

/*.tabs__wrapper {  
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/


.tabs__section-wrapper {
  padding-top: 50px;
}

.tabs__section {
  display: none;
  line-height: 1.5;
  color: #383838;
}

.tabs__section-title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: #1567BA;
}

.tabs__section-text {
  font-size: 14px;
  line-height: 28px;
}

@media (min-width: @mobile-width) {
	.tabs__tabs-wrapper {
    left: 20px;
  }
  .tabs__label {
    padding: 7px 10px;
    font-size: 16px;
  }
  .tabs__section-wrapper {
    padding-top: 20px;
  }
}

@media (min-width: 600px) {
  .tabs__tabs-wrapper {
    // top: 20px;
  }
}

@media (min-width: @tablet-width) {
	.tabs__tabs-wrapper {
    top: 100px;
  }
  .tabs__section-wrapper {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {	
  .tabs__tabs-wrapper {
    top: 120px;
  }

  .tabs__label {
    min-width: 200px;
  }  
}

@media (min-width: 1000px) {
  .tabs__section-wrapper {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (min-width: @desktop-full-width) {
	
}