.twitter {		
	padding-bottom: 60px;
	background-color: #ffffff;
}

.twitter__wrapper {	
	position: relative;
	width: 345px;
	padding: 40px 20px;	
	// background-color: red;
	background: linear-gradient(180deg, rgba(245, 247, 251, 0) 74.5%, #F5F7FB 94.16%);
	border-radius: 10px;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 200px;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	}
}

.twitter__title {
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 44px;
	font-weight: 400;
	text-align: left;	
}

.twitter__twitter {
	position: relative;
	display: block;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;	
	text-decoration: none;
	color: #2f80ed;
	span {
		font-size: 12px;
		line-height: 17px;
		font-weight: 400;
		
		color: #bdbdbd;		
	}
	&:hover,
	&:focus {
		color: #2463b9;
		span {
			color: #999999;
		}
	}	
}

.twitter__item {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}

.twitter__item-title {
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
}

.twitter__item-text {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;	
	color: #5f5f5f;
}

.twitter__item-login {	
	font-weight: 600;	
	color: #2f80ed;
}

.twitter__item-link {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 25px;
	// font-weight: 600;
	text-decoration-line: none;
	color: #2f80ed;
	transition: all .25s ease-out;
	&:hover,
	&:focus {		
		text-decoration-line: underline;
	}
}

.twitter__item-date {
	margin-bottom: 0;
	font-size: 12px;
	line-height: 21px;
	font-weight: 400;	
	color: #5f5f5f;
}


@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.twitter {
		width: 45%;
		padding-bottom: 0;		

	}

	.twitter__wrapper {
		width: 100%;
	}	
}

@media (min-width: @desktop-width) {
		
}	

@media (min-width: @desktop-full-width) {
	.twitter {		
		width: 355px;
		margin: 0 30px;
	}

	.twitter__title {
		margin-bottom: 40px;
	}

}

