.target {
	margin-bottom: 50px;
}

.target__title {
	margin-bottom: 20px;
}

.target__item {
	position: relative;
	margin-bottom: 20px;
	padding: 20px;	
	border-radius: 20px;	
	background-color: @bg-block;	
	&:after {
		position: absolute;
		bottom: -84px;
		right: -47px;
		content: none;
		width: 370px;
		height: 300px;
		border-radius: 50%;
		background-color: @dark;
		transform: rotate(-20deg);
		z-index: 0;
	}
	.title {
		position: relative;
		display: block;
		margin-bottom: 10px;		
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		svg {
			position: absolute;
			top: -33px;
			right: -33px;			
			width: 35px;
			height: 35px;			
			transform: rotate(15deg);
		}		
	}
	&:nth-child(2n) {
		.title {			
			svg {
				right: auto;
				left: -33px;
			}
		}
	}	
	.text {		
		font-size: 16px;
		line-height: 22px;		
		color: @grey;
	}
	picture {
		display: none;		
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100px;
		z-index: 1;
	}
}

@media (min-width: 400px) {
	.target__item {
		.text {
			width: 70%;			
		}
		picture {
			width: 28%;
			display: block;			
		}
	}
}

@media (min-width: @mobile-width) {
	.target__item {		
		overflow: hidden;
		&:after {
			content: '';
			bottom: -58px;
			right: -35px;
			width: 150px;
			height: 121px;			
		}
		.title {
			display: inline-block;		
			svg {				
				top: -5px;				
				right: -80px;
			}		
		}
		&:nth-child(2n) {
			.title {			
				svg {
					right: -80px;
					left: auto;
				}
			}
		}		
	}
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.target__title {
		margin-bottom: 30px;
	}

	.target__item {
		&:after {
			bottom: -90px;
			right: -80px;
			width: 220px;
			height: 178px;
		}
	}
}

@media (min-width: @desktop-width) {
	.target {
		margin-bottom: 70px;
	}

	.target__title {
		margin-bottom: 40px;
	}

	.target__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.target__item {
		width: 47%;		
		margin-left: 10px;
		margin-right: 10px;
		&:after {
			bottom: -90px;
			right: -80px;			
			width: 220px;
			height: 178px;
		}
	}
}

@media (min-width: @desktop-1200-width) {
	.target {
		margin-bottom: 100px;
	}
}

@media (min-width: @desktop-1600-width) {
	.target {
		margin-bottom: 100px;
	}
	.target__item {		
		height: 250px;		
		padding: 60px 40px 20px;		
		border-radius: 30px;				
		&:after {
			bottom: -107px;
			width: 300px;
			height: 243px;
		}
		.title {			
			font-size: 24px;
			line-height: 29px;
			svg {
				top: -16px;
				width: 45px;
				height: 45px;
			}		
		}			
		.text {			
			width: 60%;			
			font-size: 20px;
			line-height: 27px;			
		}
		picture {
			width: 35%;
		}
	}
}

@media (min-width: @desktop-full-width) {
	.target__list {
		justify-content: space-between;
	}

	.target__item {
		width: 880px;
		height: 350px;
		margin-left: 0;
		margin-right: 0;		
		&:after {			
			bottom: -84px;
			right: -47px;
			width: 370px;
			height: 300px;
		}
		.title {
			max-width: 340px;			
			margin-bottom: 25px;			
			font-size: 32px;
			line-height: 38px;
			svg {				
				top: 0;
				width: 45px;
				height: 45px;
			}		
		}			
		.text {
			width: 425px;
			font-size: 24px;
			line-height: 29px;
		}
		picture {
			width: auto;
		}
	}
}

&:hover,
&:focus {
	
}