.about-us {
	position: relative;
	padding-top: 50px;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: none;
		width: 945px;
		height: 776px;
		background-image: url('../img/pages/about-us/home-bg.webp');
		background-repeat: no-repeat;		
		background-size: 75%;
		opacity: 0.2;
		z-index: -1;
	}
}

.about-us__title {
	
}

.about-us__description-wrapper {
margin-bottom: 50px;	
	picture {		
		margin-bottom: 20px;		
		text-align: center;		
		img {
			width: 100%;
		}
	}
}

.about-us__description {
	position: relative;
	z-index: 1;
	p {
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 20px;
		text-align: justify;
	}	
}
	

@media (min-width: @mobile-width) {
	.about-us {
		&:before {
			content: '';
			top: 50px;
		}
	}

	.about-us__description {
		p {
			text-align: left;
		}
	}
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.about-us {
		&:before {	
			left: -250px;
		}
	}

	.about-us__description-wrapper {
		picture {
			position: relative;
			top: 5px;
			width: 350px;
			margin-left: 20px;
			margin-bottom: 20px;
			float: right;			
		}
	}

	.about-us__description {		
		p {			
			font-size: 16px;
			line-height: 22px;
			text-align: justify;
		}
	}
}

@media (min-width: @desktop-width) {
	.about-us {
		padding-top: 75px;
		&:before {
			top: 40px;
			left: -280px;
			background-size: 100%;
		}
	}	

	.about-us__description-wrapper {
		picture {
			width: 430px;
			margin-left: 30px;
			margin-bottom: 30px;			
		}
	}
}

@media (min-width: @desktop-1200-width) {
	.about-us__description-wrapper {
		min-height: 530px;
		picture {
			width: 540px;			
		}
	}
}

@media (min-width: @desktop-full-width) {
	.about-us__description-wrapper {
		picture {
			width: 720px;			
		}
	}

	.about-us__description {
		padding-top: 160px;
		padding-left: 160px;
		p {
			text-align: right;
		}
	}
}