.article__wrapper {
	margin-bottom: 50px;
}

.article {	
	margin-bottom: 50px;
}

.article__intro {	
	margin-bottom: 10px;
	padding: 10px 15px;	
	font-size: 14px;
	line-height: 22px;
	text-align: justify;
	color: #1e4b11;
	background-color: #eeeeee;
	border-radius: 5px;
	// background-color: #f5f5f5;
	// border-bottom: 2px solid #fddf31;	
	// border: 1px solid red;
	border-right: 4px solid #ffcc00;
	border-left: 4px solid #ffcc00;
}

.article__sidebar {

}

.article__block {
	margin-bottom: 40px;
	padding: 0 10px;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}

.article__block--start {	
	margin-bottom: 40px;
	line-height: 25px;
	font-weight: 400;	
}

.article__block-title {
	margin: 0;
	margin-bottom: 20px;
	font-family: @ff-m;
	font-size: 26px;
}

.article__block-images {
	position: relative;
	box-sizing: border-box;
	a {
		position: relative;
		// display: block;
	}
}

.article__text {
	margin: 0;	
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.article__intro {	
		line-height: 24px;
	}

	.article__sidebar-request {
		display: block;
		width: 340px;
		margin-right: 0;
		order: 1;
		picture {
			margin-right: 20px;
		}
	}
}

@media (min-width: @desktop-width) {
	.article__intro {
		font-size: 16px;
	}

	.article__sidebar-request {
		width: 450px;
		picture {
			margin-right: 30px;
		}
	}
}

@media (min-width: @desktop-1200-width) {
	.article__wrapper {
		display: flex;
	}

	.article {
		width: 750px;
		margin-right: 30px;
	}

	.article__sidebar {
		width: 300px;
	}

	.article__sidebar-request {
		width: auto;
		picture {
			margin-right: 20px;
		}
		.request__manager-wrapper {
			width: 180px;
		}
		.request__manager-post {
			font-size: 12px;
			line-height: 16px;
		}
		.request__checkbox {
			.form__checkbox-text {
				min-height: 20px;
				min-width: 60px;
				span {
					display: none;
				}
			}
		}
	}
}

@media (min-width: @desktop-full-width) {
	.article {
		width: 1060px;
		margin-right: 50px;
	}

	.article__sidebar {
		width: 450px;
	}

	.article__sidebar-request {	
		picture {
			margin-right: 30px;
		}
		.request__manager-wrapper {
			width: 280px;
		}
		.request__manager-post {
			font-size: 16px;
			line-height: 21px;
		}
		.request__checkbox {
			.form__checkbox-text {				
				min-width: 90px;
				span {
					display: inline;
				}
			}
		}
	}
}

&:hover,
&:focus {
	
}