body {
	min-width: 320px;
	// min-height: 3000px;
	margin: 0 auto;
	padding: 0;
	font-family: @ff;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;  
	color: @color;
	background-color: @bg-color;
	overflow-x: hidden;
}
:focus {
  outline: none;
  // -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;
  //         box-shadow: 0 0 0 2px white, 0 0 0 4px #fc0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	      clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

p, ul {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div, p, a {
	box-sizing: border-box;
	transition: all 0.3s ease-out;
}

// h1 {
// 	margin: 0;
// 	padding: 0;
// 	font-size: 30px;
// 	line-height: 40px;
// 	font-weight: 700;
// 	text-align: center;
// }

// h2 {
// 	margin: 0;
// 	margin-bottom: 20px;
// 	padding: 0;	
// 	font-size: 24px;
// 	line-height: normal;
// 	font-weight: 700;
// 	text-align: center;
// 	color: #000000;
// 	box-sizing: border-box;
// }

// h3 {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// }

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
}

picture {
	display: block;
	line-height: 0;
}

.green {
	font-weight: 600;
	color: @green;
}

.h2-style {
	display: inline-block;
	position: relative;	
	width: auto;
	margin: 0 30px 40px;
	padding: 5px 10px;
	font-size: 22px;
	line-height: 26px;
	// font-size: 30px;
	// line-height: 30px;
	color: #339c1c;	
	background-color: #f2f2f2;
	letter-spacing: .5px;
	&:hover {
		&:before {
			top: -15px;
			left: -15px;
			// top: -20px;
			// left: -30px;
		}
		&:after {
			bottom: -15px;
			right: -15px;
			// bottom: -20px;
			// right: -30px;
		}
	}
	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: -10px;
		// top: -15px;
		// left: -25px;
		width: 30px;
		height: 20px;
		border-top: 2px solid #fddf31;
		border-left: 2px solid #fddf31;
		transition: @animation;
	}
	&:after {
		content: "";
		position: absolute;
		bottom: -10px;
		right: -10px;
		// bottom: -15px;
		// right: -25px;
		width: 30px;
		height: 20px;
		border-bottom: 2px solid #fddf31;
		border-right: 2px solid #fddf31;
		transition: @animation;
	} 
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.h2-style {		
		font-size: 26px;
		line-height: 30px;
	}
}

@media (min-width: @desktop-width) {
	.h2-style {		
		margin: 0 20px 40px;
	}
}

@media (min-width: @desktop-1200-width) {
	.h2-style {		
		font-size: 30px;
	}
}

@media (min-width: @desktop-full-width) {
	
}