.consultation {
  
}

.consultation_wrapper {
  // padding-bottom: 40px;
}

.consultation__form-wrapper {
  margin-bottom: 40px;
}

.consultation__title {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

.consultation__description {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: @gray;
}

.consultation__item {
  .form__label--file {
    display: inline-flex;
    align-items: center;
    margin: 0;    
    .icon-file {
      svg {
        position: relative;
        top: 3px;
        margin-right: 10px;
      }
    }
  }
}

.consultation__item--file {
  margin-bottom: 15px;
}

.consultation__item--textarea {
  margin-bottom: 10px;
  textarea {
    height: 60px;
    padding-top: 10px;  
  }  
}

.consultation__submit {
  height: 40px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.consultation__lock {
  font-size: 10px;
  line-height: 12px;
  color: @gray;
  svg {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }
}

@media (min-width: @mobile-width) {
  .consultation__title {
    margin-bottom: 10px;
  }

  .consultation__submit {  
    margin-bottom: 7px;
  }

  .consultation__lock {
    font-size: 12px;
    line-height: 14px;
    svg {
      top: 1px;
    }
  }
}

@media (min-width: 600px) {
  
}

@media (min-width: @tablet-width) {
  .consultation {
    position: relative;
    background-image: url('../img/home.webp');
    background-repeat: no-repeat;
    background-position: right -90px bottom -30px;
    background-size: contain;
    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: '';
      width: 250px;
      height: 473px;      
      background-image: url('../img/tree.webp');
      background-repeat: no-repeat;      
      background-size: contain;
    }
  }

  .consultation__cloud {
    position: relative;    
    overflow: hidden;
    &::before {
      position: absolute;
      bottom: -220px;
      left: -145px;
      content: none;
      width: 836px;
      height: 364px;
      background-image: url('../img/cloud-bottom.webp');
      background-repeat: no-repeat;      
      background-size: contain;      
      transform: scale(1, -1);
      z-index: 1;
    }
    &::after {
      position: absolute;
      bottom: -220px;
      right: -145px;
      content: '';
      width: 836px;
      height: 364px;
      background-image: url('../img/cloud-bottom.webp');
      background-repeat: no-repeat;      
      background-size: contain;      
      transform: scale(-1, 1);
      z-index: 1;
    }
  }

  .consultation__wrapper {
    position: relative;
    padding-left: 20px;    
  }

  .consultation__form-wrapper {
    position: relative;
    width: 507px;
    z-index: 2;    
  }

  .consultation__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;    
  }

  .consultation__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 21px;    
  }

  .consultation__form-wrapper {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 4px 4px 20px 0px rgba(41,45,41,.1);
  }
}

@media (min-width: @desktop-width) {
  .consultation {
    background-position: right -90px bottom -10px;
    &::after {        
      width: 300px;
      height: 568px;      
    }
  }

  .consultation__cloud {    
    &::before {
      content: '';
      left: 0;
    }
    &::after {
      bottom: -195px;
    }
  }

  .consultation__wrapper {
    
  }

  .consultation__form-wrapper {
    margin-bottom: 80px;
  }
}

@media (min-width: @desktop-1200-width) {
  .consultation {    
    &::after {
      width: 349px;
      height: 661px;
    }
  }

  .consultation__cloud {
    &::after {
      bottom: -185px;
      right: -100px;
    }
  }

  .consultation__wrapper {
    
  }

  .consultation__form-wrapper {
    margin-bottom: 100px;
  }
}

@media (min-width: @desktop-full-width) {
  .consultation {
    background-position: right -420px bottom -10px;
    &::after {
      bottom: 50px;
      width: 400px;
      height: 757px;
    }
  }

  .consultation__cloud {
    &::after {
      bottom: -150px;
      right: -60px;
    }
  }

  .consultation__wrapper {
    // padding-left: 0;
  }

  .consultation__title {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 38px;
  }

  .consultation__description {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 21px;
  } 

  .consultation__form-wrapper {
    position: relative;
    margin-bottom: 115px;
    width: 547px;
    &::after {
      position: absolute;
      bottom: 20px;
      right: -240px;
      content: '';
      width: 206px;
      height: 167px;
      background-image: url('../img/helmet.webp');
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  .consultation__item {
    input {
      height: 50px;
      font-size: 16px;
      line-height: 19px;
    }
  }

  .consultation__item {
    .form__label--file {
      .icon-file {
        height: 50px;
        line-height: 40px;
        svg {
          position: relative;
          top: 3px;
          margin-right: 10px;
        }
      }
    }
  }

  .consultation__item--file {
    margin-bottom: 15px;
  }

  .consultation__item--textarea {
    margin-bottom: 10px;
    textarea {
      height: 100px;
      padding-top: 15px;  
    }  
  }

  .consultation__submit {
    height: 50px;
  }

  .consultation__lock {
    font-size: 14px;
    line-height: 16px;
    svg {
      margin-right: 10px;
    }
  }
}

@media (min-width: 1700px) {
  .consultation {
    background-position: right -350px bottom -10px;    
  }
}