.data {

}

.data__indicators {
	display: flex;
	justify-content: space-between;
	counter-reset: heading; /* Инициируем счетчик */
	margin-bottom: 15px;
}

.data__indicators-item {
	position: relative;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: @ff-m;
	font-size: 16px;
	line-height: 20px;
	color: @color;
	border: 1px solid #6F7C7C;
	
	border-radius: 50%;
	box-sizing: border-box;
	&::before {
		position: absolute;
		counter-increment: heading;
    	content: counter(heading);
	}
}

.data__indicators-item--active {
	border: none;
	background-color: @green;
	font-weight: 500;
	color: #ffffff;
}

.data__description {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
	color: @gray;
}

.data__item {
	label {
		display: none;
	}
	.form__label--file {
		display: inline-flex;
		align-items: center;
		.label {
			display: none;
		}
		.icon-file {
			svg {
				position: relative;
				top: 3px;
				margin-right: 10px;
			}
		}
	}
}

.data__checkboxs {
	margin-bottom: 25px;
}

.data__submit {
	height: 40px;
	font-size: 16px;
	line-height: 18px;
}

@media (min-width: @mobile-width) {
	.data__indicators {
		justify-content: flex-start;
	}

	.data__indicators-item {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.data__description {
		margin-bottom: 15px;
	}

	.data__one,
	.data__two {
		display: flex;
		justify-content: space-between;
	}

	.data__two {
		padding-top: 20px;
	}

	.data__item,
	.data__checkboxs {
		width: 48%;
	}

	.data__checkboxs {
		margin-bottom: 0;
	}

	.data__checkbox {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.data__item {
		label {
			display: inline-block;
		}
		.form__label--file {
			position: relative;
			.label {
				display: inline-block;
				position: absolute;
				top: -20px;
				left: 0;
				padding: 0;
				height: auto;
				font-size: 13px;
				line-height: 15px;
				font-weight: 500;
				color: @color;
				border-radius: 0;
				border: none;
			}
		}
	}

	.data__submit {
		width: 48%;		
	}
}

@media (min-width: @desktop-width) {
	.data__item,
	.data__checkboxs {
		width: 49%;
	}
}

@media (min-width: @desktop-1200-width) {
	.data {
		width: 60%;
		margin-left: auto;
	}

	.data__indicators {
		margin-bottom: 40px;
	}

	.data__indicators-item {
		margin-right: 45px;
		width: 46px;
		height: 46px;		
		font-size: 20px;
		line-height: 24px;
		&:last-child {
			margin-right: 0;
		}
	}

	.data__description {
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 28px;
	}

	.data__item,
	.data__checkboxs {
		width: 48%;
	}

	.data__item {
		.form__label,
		.form__input {			
			margin-bottom: 10px;
			font-size: 16px;
			line-height: 19px;
		}

		.form__input {
			height: 50px;
			margin-bottom: 20px;
		}
	}

	.data__item {		
		.form__label--file {			
			span {
				height: 50px;
				font-size: 16px;
				line-height: 40px;
			}
			.label {
				height: 50px;
				top: -30px;
				font-size: 16px;
				line-height: 19px;
				white-space: nowrap;
			}
			.icon-file {
				svg {
					width: 18px;
					height: 18px;
				}
			}
		}
	}

	.data__submit {
		width: 48%;
		height: 55px;
		font-size: 18px;
		line-height: 21px;
	}
}

@media (min-width: @desktop-full-width) {
	
}