.price {
	margin-bottom: 50px;
	padding-left: 36px;
	padding-right: 36px;	
}

.price__title {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	color: @green;
}

.price__bonus-title {
	margin-bottom: 20px;
	font-size: 14px;	
	line-height: 16px;
	color: @gray;
}

.price__bonus-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 16px;
	color: @gray;
	svg {
		width: 24px;
		height: 30px;
		margin-right: 10px;
	}
}