.price {
	margin-bottom: 40px;
}

.price__wrapper {
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 4px 4px 20px 0px rgba(41,45,41,.1);
}

.price__title {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	color: @green;
}

.price__bonus-title {
	margin-bottom: 20px;
	font-size: 14px;	
	line-height: 16px;
	color: @gray;
}

.price__bonus-list {
	margin-bottom: 15px;
}

.price__bonus-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 16px;
	color: @gray;	
	svg {
		width: 24px;
		height: 30px;
		margin-right: 10px;
	}
}

@media (min-width: @mobile-width) {
	.price__wrapper {
		padding: 20px;
	}
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	.price {
		margin-bottom: 60px;
	}

	.price__title {
		margin-bottom: 20px;
		font-size: 32px;
		line-height: 38px;
		color: @color;
	}

	.price__bonus-title {
		font-size: 20px;
		line-height: 26px;
		font-weight: 600;
		color: @green;
	}

	.price__bonus-list {
		display: flex;
		flex-wrap: wrap;
	}

	.price__bonus-item {
		margin-right: 30px;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 19px;		
		&:last-child {
			margin-right: 0;
		}
	}



	
}

@media (min-width: @desktop-width) {
	.price__bonus-title {
		margin-bottom: 30px;
	}

	.price__bonus-list {
		justify-content: space-around;
	}
}

@media (min-width: @desktop-1200-width) {
	.price__wrapper {
		padding: 30px;
	}

	.price__title {
		margin-bottom: 30px;
		font-size: 45px;
		line-height: 53px;
	}	

	.price__bonus-title {
		font-size: 24px;
		line-height: 28px;
	}

	.price__bonus-list {
		margin-bottom: 45px;
	}

	.price__bonus-item {
		margin-right: 0;
		margin-bottom: 0;
		padding: 10px 15px;		
		box-shadow: 4px 4px 20px 0px rgba(41,45,41,.1);
		svg {
			width: 36px;
			height: 36px;
			margin-right: 15px;
		}	
	}

	.price__block {
		display: flex;
	}
}

@media (min-width: @desktop-full-width) {
	.price {
		/**/
		margin-bottom: 95px;

		padding-right: 0;
	}

	.price__wrapper {
		padding: 40px;
	}

	.price__title {
		margin-bottom: 40px;
		font-size: 45px;
		line-height: 53px;		
	}

	.price__bonus-title {
		margin-bottom: 20px;		
		font-size: 24px;
		line-height: 28px;
	}

	.price__bonus-list {
		margin-bottom: 55px;
	}

	.price__bonus-item {		
		padding: 13px 30px;
		font-size: 18px;
		line-height: 21px;
	}
}