.promo {
	
}

.promo__title {
	margin-bottom: 10px;
	font-size: 22px;	
	line-height: 26px;
	font-weight: 700;
	text-align: left;
	.green {
		display: block;
	}
}

.promo__description {
	margin-bottom: 7px;
	font-size: 12px;	
	line-height: 14px;
	font-weight: 400;
}

.promo__video {
	position: relative;
	video {
		width: 100%;
		border-radius: 5px;	
	}
	
}

.promo__video-desc {
	// position: absolute;
	// left: 0;
	// // right: 5px;
	// bottom: 0;
	// width: 98%;
	text-transform: uppercase;
	color: #ffffff;
	background-color: red;
	.first {
		display: block;	
		background-color: #383838;
	}

	.second {
		display: block;
		background-color: @green;
	}
}