.swiper {
	
}

.swiper-slide {

}

.swiper-button-prev,
.swiper-button-next {	
	height: auto;
	padding: 0;
	border: none;
	svg {
		height: auto;
	}
	&::after {
		content: '';
	}
}

.swiper-button-next {
	
}

@media (min-width: @mobile-width) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-width) {
	
}

@media (min-width: @desktop-1200-width) {

}

@media (min-width: @desktop-full-width) {
	
}

&:hover,
&:focus {
	
}