@color: #000000;
@blue: #098fcf;
@dark-blue: #043C77;
@bg-color: #ffffff;
@ff: 'Montserrat', sans-serif;

@mobile-width: 480px;
@tablet-width: 768px;
@desktop-width: 960px;
@desktop-full-width: 1200px;

@animation: all 0.25s ease-out;