.hamburger {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}
.hamburger__line {
	position: relative;
	top: 50%;
	display: block;	
	height: 1px;
	margin-top: -8px;
	background: #ffffff;	
}
.hamburger__line::before,
.hamburger__line::after {
	content: '';
	display: block;	
	height: 1px;
	background: #ffffff;	
	transform: translate(0%, -6px);
}
.hamburger__line::after {
	transform: translate(0%, 5px);
}

@media (min-width: @tablet-width) {
	
}

@media (min-width: @desktop-full-width) {

}