.header-page {
	position: fixed;	
	width: 100%;
	// min-height: 100px;
	margin: 0;
	padding: 0;	
	background: rgba(21,21,21,.65);
	z-index: 11;
	border-bottom: 2px solid #ff3700;
	// &:hover {
	// 	background: #ffffff;
	// }
	// &::after {
	// 	position: absolute;
	// 	background: #ff3700;
	// 	width: 100%;
	// 	bottom: 0;
	// 	left: 0;
	// 	height: 2px;
	// 	// z-index: 3;
	// }
}

.header__wrapper {
	width: 100%;
	max-width: 1234px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	align-items: flex-end;
}

.header__logo {
	display: block;
	padding-top: -2px;
	line-height: 0;
	svg {
		width: 120px;
		height: 72px;
		fill: #ffffff;

		// .header__logo-logo {
		// 	fill: #ff3700;
		// }
		// .header__logo-text {
		// 	fill: #4c4c4c;
		// }
	}
	
}

.header__toolbar {	
	display: flex;
	align-items: flex-end;
	flex-grow: 1;
	height: 72px;
	z-index: 1;
	.header__price-ticker {
		margin-right: 32px;
		font-size: 16px;		
		text-decoration: none;
		color: #fff;
	}

	.header__toolbar-icon-globe {
		width: 19px;
		height: 19px;
		margin-right: 10px;
		fill: #ffffff;
	}

	.header__toolbar-search-toggle {
		width: 18px;
		height: 18px;
		fill: #ffffff;	
	}
}



@media (min-width: @desktop-width) {

}


