.header-page {
	position: fixed;	
	width: 100%;
	height: 76px;
	margin: 0;
	padding: 0;	
	background-color: rgba(21,21,21,.65);
	z-index: 11;
	border-bottom: 2px solid #ff3700;
	transition: all .2s ease-in;
	transition: background-color .2s ease-in-out,
				color .2s ease-in-out,
				transform .2s ease-in-out;
}

.header-page--light {
	background-color: #ffffff;
	.header__wrapper {
		.header__logo {
			.header__logo-svg {
				.header__logo-logo {
					fill: #ff3700;
				}
				.header__logo-text {
					fill: #4c4c4c;
				}
			}
		}

		.navigation__container {

		}

		.header__toolbar {
			.header__price-ticker {
				color: @color;
			}
			.header__toolbar-search {
				a {
					.header__toolbar-icon-globe {
						path {
							fill: @color;
							stroke: @color;
						}
					}
				}
				.header__toolbar-search-toggle {
					display: none;
				}
				.header__toolbar-search-cross {
					display: block;
				}
			}
		}
	}
}

.header__wrapper {
	width: 100%;
	max-width: 1234px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	align-items: flex-end;
}

.header__logo {
	line-height: 24px;
	svg {
		width: 120px;
		height: 70px;		
		fill: #ffffff;
	}
}

.header__toolbar {	
	display: flex;
	align-items: flex-end;
	height: 72px;
	margin-left: auto;
	z-index: 1;
	.header__price-ticker {
		margin-right: 33px;
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 1.5;
		font-weight: 400;		
		text-decoration: none;
		letter-spacing: .1px;
		color: #fff;
		span {
			margin-right: 5px;
			&.arrow {
				font-size: 14px;
			}
		}
	}

	.header__toolbar-search {
		display: flex;
		margin-bottom: 13px;
		a {			
			line-height: 0;
			margin-right: 10px;
		}
	}

	.header__toolbar-icon-globe {
		width: 19px;
		height: 19px;		
		fill: #ffffff;
	}

	.header__toolbar-search-toggle {
		width: 18px;
		height: 18px;
		fill: #ffffff;	
	}

	.header__toolbar-search-cross {
		display: none;
		width: 18px;
		height: 18px;
	}
}



@media (min-width: @desktop-width) {

}


