.navigation {
	position: relative;
}

.navigation__container {
	margin-left: 65px;
	margin-bottom: 2px;	
}

.navigation__list {
	display: flex;
	
}

.navigation__list-item {

}

.navigation__anchor {
	display: flex;
	padding: 15px 20px 5px;
	font-size: 15px;
	text-decoration: none;
	color: #ffffff;
	transition: color .25s ease-in-out;
	&:hover {
		color: #ff3700;
	}
}

.header-page--light {
	.navigation__list-item {
		opacity: 0;
		transform: translate3d(0px, -10px, 0.1px);
		transition: all .1s ease-in-out .2s;
		&:nth-child(1) {transition-delay: .2s;}
		&:nth-child(2) {transition-delay: .25s;}
		&:nth-child(3) {transition-delay: .3s;}
		&:nth-child(4) {transition-delay: .35s;}
		&:nth-child(5) {transition-delay: .4s;}
		&:nth-child(6) {transition-delay: .45s;}
		&:nth-child(7) {transition-delay: .5s;}
		// &:nth-child(8) {transition-delay: .55s;}
		// &:nth-child(9) {transition-delay: .6s;}
		// &:nth-child(10) {transition-delay: .65s;}
	}

	.navigation__anchor {
		color: @color;
	}
}

@media (min-width: @desktop-width) {

}


