.navigation {
	
}

.navigation__list {
	display: flex;
	
}

.navigation__list-item {

}

.navigation__anchor {
	display: flex;
	padding: 15px 20px 5px;
	font-size: 15px;
	text-decoration: none;
	color: #ffffff;
	transition: color .25s ease-in-out;
	&:hover {
		color: #ff3700;
	}
}

@media (min-width: @desktop-width) {

}


