.navigation {
	position: absolute;
	left: 0;
	right: 0;
	background-color: #ffffff;
}

@media (min-width: @desktop-full-width) {
	.navigation {
		position: relative;
		background-color: transparent;
	}

	.navigation__container {
		margin-left: 65px;
		margin-bottom: 2px;	
	}

	.navigation__list {
		display: flex;
		
	}

	.navigation__list-item {

	}

	.navigation__anchor {
		display: flex;
		padding: 15px 20px 5px;
		font-size: 15px;
		text-decoration: none;
		color: #ffffff;
		transition: color .25s ease-in-out;
		&:hover {
			color: #ff3700;
		}
	}

	.header-page--light {
		.navigation__list-item {
			opacity: 0;
			transform: translate3d(0px, -10px, 0.1px);
			transition: all .1s ease-out .3s;
			&:nth-child(1) {transition-delay: .3s;}
			&:nth-child(2) {transition-delay: .35s;}
			&:nth-child(3) {transition-delay: .4s;}
			&:nth-child(4) {transition-delay: .45s;}
			&:nth-child(5) {transition-delay: .5s;}
			&:nth-child(6) {transition-delay: .55s;}
			&:nth-child(7) {transition-delay: .6s;}
		}

		.navigation__anchor {
			color: @color;
		}
	}

	.header-page--dark {
		.navigation__list-item {
			opacity: 1;
			transform: matrix(1, 0, 0, 1, 0, 0);
			transition: all .1s ease-out .3s;
			&:nth-child(7) {transition-delay: .3s;}
			&:nth-child(6) {transition-delay: .35s;}
			&:nth-child(5) {transition-delay: .4s;}
			&:nth-child(4) {transition-delay: .45s;}
			&:nth-child(3) {transition-delay: .5s;}
			&:nth-child(2) {transition-delay: .55s;}
			&:nth-child(1) {transition-delay: .6s;}
		}

		.navigation__anchor {
			color: #ffffff;
			transition: color .1s ease-in-out .7s;
		}
	}
}


