@color: #292B2C;
@color-add: #E0A100;


@bg-color: #ffffff;
@ff: 'Gotham Pro', 'Exo 2', Tahoma, Verdana, sans-serif;
// @ff-f: 'KoHo', 'Exo 2', Tahoma, Verdana, sans-serif;
// @ff-f: 'Jost', 'Exo 2', Tahoma, Verdana, sans-serif;
// @ff-f: 'Spartan', 'Exo 2', Tahoma, Verdana, sans-serif;
// @ff-f: 'Quicksand', 'Exo 2', Tahoma, Verdana, sans-serif;
// @ff-f: 'Futura', 'Exo 2', Tahoma, Verdana, sans-serif;
// @ff-s: 'Sansation', 'Exo 2', Tahoma, Verdana, sans-serif;



@mobile-width: 480px;
@tablet-width: 768px;
@desktop-width: 991px;
@desktop-full-width: 1200px;


@container-center-max: 1170px;


@animation: transition: all 0.25s ease-out;



