@font-face {
	font-family: 'Montserrat Alternates';
	src: 
/*		local('MontserratAlternates-Regular),*/
		url('fonts/MontserratAlternates-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Glyphter';
	src:
		url('fonts/Glyphter.woff') format('woff');
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	width: 150px;
	margin: 20px;
	padding: 15px 20px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	background: #3498db;
}

.btn1 {
	box-shadow: 0 5px 5px -3px #34495e;
}

.btn2 {
	box-shadow: inset 0 -30px 30px -30px #34495e;	
}
.btn3 {
	background: #34495e;
	box-shadow: 
		0 -5px 10px -3px #3498db,
		0 5px 10px -3px #2ecc71;
}
.btn4 {
	border-radius: 5px;
	background: #34495e;
	box-shadow: 
		0 0 0 5px #e74c3c,
		0 0 0 10px #f1c40f,
		0 0 0 15px #2ecc71;
}
.circle {
	width: 100px;
	height: 100px;
	margin: 40px;
	border-radius: 50%;
	box-shadow: 
		inset 2px 2px 2px 0 white,
		inset 0 0 0 4px #4f5054,
		inset 0 0 0 5px black,
		inset -5px -5px 5px 3px white,
		inset 0 0 0 9px #6c6d70,
		inset 0 0 0 10px black;
}

.portraitcat {
	width: 300px;
	height: 400px;
	background: #fff777 url(img/cat.jpg) no-repeat;
	margin: 20px auto 0 auto;
	background-size: 200px;	
}

[class^="portrait-"] {
	background: #fff777 url('img/cat_2.jpg') no-repeat;	
	background-size: 100px auto;
	margin: 10px;	
}

.portrait-vertical {
	width: 150px;
	height: 200px;
	float: left;
}

.portrait-horizontal {
	width: 200px;
	height: 150px;
	float: left;
}

.portrait-1 {
	background-size: contain;
}

.portrait-3 {
	background-size: contain;
}

.portrait-2 {
	background-size: cover;
}

.portrait-4 {
	background-size: cover;	
}

[class^="set"] {
	border-top: 1px solid #777;
	clear: both;
}

.set .portrait {
	box-sizing: border-box;
	padding: 20px;
	margin: 10px;
	width: 200px;
	height: 200px;
	border: 20px solid rgba(255,255,0,.5);
	background: url('img/cat_3.jpg') no-repeat;
	background-size: 100% 100%;
	float: left;
}

.set .portrait-1 {
	background-origin: content-box;
}

.set .portrait-2 {
	background-origin: padding-box;
}

.set .portrait-3 {
	background-origin: border-box;
}

.set2 .portrait {
	box-sizing: border-box;
	padding: 20px;
	margin: 10px;
	width: 250px;
	height: 250px;
	border: 20px solid rgba(255,255,0,.5);
	background: url('img/cat_3.jpg') no-repeat;
	background-size: 100% 100%;
	float: left;
}

.set2 .portrait-small {
	background-clip: content-box;
}

.set2 .portrait-full {
	background-clip: padding-box;
}

.set3 .portrait {
	box-sizing: border-box;
	padding: 40px;
	margin: 20px;
	width: 400px;
	height: 400px;
	border: 40px solid rgba(255,255,0,.5);
	background-color: #fff777;
	background-image: url('img/glasses.png'), url('img/cat_3.jpg');
	background-position: 65px 125px, center;
	background-clip: padding-box;	
	background-origin: border-box;	
	background-size: 150px, cover;
	background-repeat: no-repeat;
	float: left;	
}

.set4 .portrait {
	margin: 20px;
	width: 400px;
	height: 400px;	
	background-color: #fff777;
	background-image: url('img/cat_3.jpg');
	background-position: 65px 125px, center;
	background-size: 150px;
	background-repeat: round;
}

.set5 .portrait {
	box-sizing: border-box;
	margin: 20px;
	width: 400px;
	height: 400px;	
	background-color: #fff777;
	background-image: url('img/cat_3.jpg');
	background-position: 65px 125px, center;
	background-size: 150px;
	background-repeat: space;
}

.set6 {
	background: rgba(255,255,0, .5);
	padding-bottom: 1px;
}

.set6 .portrait {
	box-sizing: border-box;
	margin: 50px;
	padding: 10px;
	width: 270px;
	height: 270px;	
	outline: 10px solid white;
	border: 50px solid rgba(0,98,73,.5);
	border-image-source: url('img/square.jpg');
	border-image-slice: 50;
	border-image-repeat: repeat;
	/*border-image-outset: 60px;*/
	background-color: #fff777;
	background: url('img/square.jpg') no-repeat;
	background-clip: padding-box;
	background-origin: content-box;
	background-size: cover;
}

.set7 .square {
	margin: 30px;
	width: 0;
	height: 0;
	background: #aaaaaa;
	border: 100px solid #fff;
	border-left-color: #0074d9;
	border-right-color: #2ecc40;
	border-top-color: #ff4136;
	border-bottom-color: #ffdc00;
}

.geometry [class^="arrow"] {
	display: inline-block;
	margin: 30px;
	width: 0;
	height: 0;
}

.geometry .arrow-bottom {
	border: 100px solid #fff777;
	border-top-color: #0074d9;
	border-bottom-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
}

.geometry .arrow-left {
	border: 100px solid #fff777;
	border-right-color: #0074d9;
	border-left-width: 0;
	border-top-color: transparent;
	border-bottom-color: transparent;	
}

.geometry2 [class^="arrow"] {
	display: inline-block;
	margin: 30px;
	width: 0;
	height: 0;
}

.geometry2 .arrow-top-right {
	border: 100px solid #fff777;
	border-top-color: #0074d9;
	border-bottom-width: 0;
	border-right-width: 0;
	border-left-color: transparent;
}

.geometry2 .arrow-bottom-left {
	border: 100px solid #fff777;
	border-left-color: #0074d9;
	border-right-width: 0;
	border-bottom-width: 0;
	border-top-color: transparent;	
}

.geometry3 .arrow-right-long {
	position: relative;
	margin: 50px;
	width: 200px;
	height: 30px;
	background: #0074d9;
}

.geometry3 .arrow-right-long::after {
	position: absolute;
	content: '';
	border: 40px solid #fff777;
	top: -25px;
	right: -30px;
	border-right-width: 0;
	border-left-color: #0074d9;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.geometry4 .arrow-round {
	position: relative;
	margin: 50px;
	width: 200px;
	height: 200px;
	border: 50px solid #0074d9;
	border-radius: 50%;
	border-right-color: transparent;
}

.geometry4 .arrow-round::after {
	position: absolute;
	content: '';
	border: 50px solid #fff777;
	border-bottom-color: #0074d9;
	top: -16px;
	left: 160px;
	border-right-width: 0;
	border-top-width: 0;
	border-left-color: transparent;
}

.geometry5 a.arrow {
	display: inline-block;
	margin: 0 0 0 0;
	font-size: 0;
}

.geometry5 a.arrow::before {
	content: '';
	border: 10px solid #0074d9;	
	border-right-width: 7px;
	border-left-width: 7px;
	border-right-color: transparent;
	border-left-color: transparent;
	display: inline-block;
}

.geometry5 a.arrow-up::before {
	border-top-width: 0;
}

.geometry5 a.arrow-down::before {
	border-bottom-width: 0;
}

.set8 p.uni span {
	display: inline-block;
	width: 140px;
	margin-right: 12px;
	font-size: 150px;
}

.set8 p.uni span:first-child {
	color: #ffdc00;
}

.set8 p.uni span:nth-child(2) {
	color: #aaa;
}

.set8 p.uni span:nth-child(3) {
	color: #ff8518;
}

.set8 p.uni span:last-child {
	color: #ff8518;
}

div.txt h1 {
	margin: 40px 40px;
	font-size: 50px;
	font-weight: normal;
	text-shadow: 5px 5px 15px #333;
}

div.txt span {
	margin: 10px;
	font-size: 80px;
	color: #fff777;
	text-shadow: 5px 5px 15px #333;
}

div.night h1 {
	margin: 40px 40px;
	font-size: 50px;
	font-weight: normal;
	text-shadow: 		
		-1px -1px 1px #1e181c,
		2px 2px 1px #52424d;
}

div.night span {
	margin: 10px;
	font-size: 80px;
	color: #fff777;
	text-shadow: 5px 5px 15px #333;
}

div.camera h1 {
	margin: 40px 40px;
	font-size: 50px;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: 		
		2px 2px 0px #e5d4c0,
		4px 4px 0px rgba(0,0,0,.2);
}

div.camera span {	
	margin: 10px;
	font-size: 80px;
	color: #fff777;
	text-shadow: 5px 5px 15px #333;
}

.warm a {
	display: block;
	margin: 12px;
	/*text-align: center;*/
	text-decoration: none;
	text-transform: uppercase;
	color: #0074D9;
	font-family: 'Montserrat Alternates';
	font-size: 55px;
	font-weight: bold;
}
.warm a span {
	font-family: 'Glyphter';
	color: red;
	margin-right: 10px;
	margin-left: 10px;
	text-shadow: 3px 2px 5px rgba(0,0,0,.5);
	font-size: 45px;
}

.warm .square {
	text-transform: uppercase;
	border: 5px solid #751a1a;
	font-family: 'Montserrat Alternates';
	font-size: 72px;
	width: 286px;
	text-align: center;
}

.flex {
	background: url("img/bg.png");
}

.room {
	display: flex;
	/*align-items: center;*/
	/*flex-direction: row;*/
	justify-content: center;
	/*flex-wrap: wrap-reverse;*/
	
}

.room-1, .room-2, .room-3 {
	/*width: 320px;*/
	height: 250px;
	background: #ddd url("img/bg_gray.jpeg");
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,.3);
	border-radius: 5px;
	border: 3px solid white;
	margin: 20px;
	/*box-sizing: border-box;*/
	/*text-align: center;	*/
	/*display: flex;*/
}

.room-1 img, .room-2 img, .room-3 img {
	margin-top: 5px;
	/*align-items: center;*/
}	

.room-1 {
	/*align-self: flex-start;*/
	order: 2;
}

.room-2 {
	height: 350px;
	/*align-self: flex-end;*/
	order: -1;
}

.room-3 {
	/*align-self: flex-end;	*/
	order: 1;
}

.test1 {
	width: 300px;
	height: 300px;	
	margin: 20px auto;
	padding: 10px;
	background: #eee;	
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,.3);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.test1 .palette {
	height: 230px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
}

.test1 .color {
	width: 30px;
	height: 30px;
	margin: 5px;
	background: #CBB000;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,.3);	
	border-radius: 50%;
}

.test1 .color-1 {
	
}

.test1 .color-2 {
	background: #C00E98;
	align-self: center;
}

.test1 .color-3 {
	background: #65AFCC;
	align-self: flex-end;
}

.test1 .color-green {
	background: green;
	width: 100%;
	border-radius: 20px;
	margin: 0;
}

.test2 {
	width: 250px;
	height: 250px;	
	margin: 20px auto;
	padding: 10px;
	background: #eee;	
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,.3);
	display: flex;
	/*flex-direction: column;
	justify-content: space-between;*/
}

.test2 .palette {	
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-content: center;
}

.test2 .color {
	width: 30px;
	height: 30px;
	margin: 5px;
	background: #CBB000;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,.3);
	border-radius: 50%;
}

.test2 .color-1 {
	background: #317B5A;
	/*order: 2;*/
}

.test2 .color-2 {
	background: #69103C;
}

.test2 .color-3 {
	background: #8F0AA1;
}

.test2 .color-4 {
	background: #C00E98;
}

.test2 .color-5 {
	background: #CBB000;
}

.test2 .color-6 {
	background: #65AFCC;
}

.test2 .color-7 {
	background: #001932;
	/*order: 1;*/
}

.pictures {
	width: 700px;
	height: 700px;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid red;
}

.picture {
	/*margin: auto;*/
}

.picture img {
	width: 200px;
}

.menu {
	width: 80%;
	background: #29354B;
	padding-bottom: 3px;
	display: flex;
	justify-content: space-around;
}

.menu div {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #384355;	
	padding: 10px 20px;
	margin-bottom: 1px;
}

.menu a {
	color: white;	
	text-decoration: none;
	font-size: 18px;
	font-family: 'Open Sans';
}

.spot {
	width: 80%;
	height: 500px;
	margin: 20px auto;
	background: url("img/bg_gray.jpeg");
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.spot .skate {
	width: 75px;
	height: 300px;
	/*padding: 10px;*/
	margin: 10px;
	min-width: 40px;
	min-height: 120px;
	background-clip: content-box;
	border-top-left-radius: 75px;
	border-top-right-radius: 75px;
	border-bottom-left-radius: 75px;
	border-bottom-right-radius: 75px;
	background: url("img/bg.png");
	border: 5px solid white;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,.3);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skate img {
	width: 35px;
	
}

.skate::after {	
	content: '1';
	width: 20px;
	height: 20px;
	text-align: center;
	background: rgba(0,0,0,.2);
	color: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -10px;
	font-size: 14px;
	font-weight: bold;
}

.skate-2::after {
	content: '2';
}

.skate-3::after {
	content: '3';
}

.skate-4::after {
	content: '4';
}

.skate-2 {
	/*box-sizing: border-box;*/
	margin-left: auto;
}

.skate-4 {
	/*box-sizing: border-box;*/
	margin-right: auto;
}

.spot3 {
	width: 80%;
	height: 500px;
	margin: 20px auto;
	background: url("img/bg_gray.jpeg");
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: column;
}

.spot3 .skate {
	min-width: 50px;
	min-height: 50px;
	margin: 10px;
	background-clip: content-box;
	border-radius: 10px;
	background: url("img/bg.png");
	border: 5px solid white;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,.5);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spot3 .skate img {
	width: 35px;
}

.spot3 .skate::after {	
	content: '1';
	width: 20px;
	height: 20px;
	text-align: center;
	background: rgba(0,0,0,.3);
	color: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 5px;
	left: 15px;
	/*margin-left: -10px;*/
	font-size: 14px;
	font-weight: bold;
	border: 1px solid white;
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,.5);
}

.spot3 .skate-2::after {
	content: '2';
}

.spot3 .skate-3::after {
	content: '3';
}

.spot3 .skate-4::after {
	content: '4';
}

.spot3 .skate-2 {	
	margin-left: auto;
}

.spot3 .skate-3 {	
	margin-right: auto;
}

.spot5 {
	width: 80%;
	height: 500px;
	margin: 20px auto;
	background: url("img/bg_gray.jpeg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.spot5 .skate {
	min-width: 50px;
	min-height: 50px;
	margin: 10px;
	background-clip: content-box;
	border-radius: 10px;
	background: url("img/bg.png");
	border: 5px solid white;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,.5);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spot5 .skate img {
	width: 35px;
}

.spot5 .skate::after {	
	content: '1';
	width: 20px;
	height: 20px;
	text-align: center;
	background: rgba(0,0,0,.3);
	color: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 5px;
	left: 15px;	
	font-size: 14px;
	font-weight: bold;
	border: 1px solid white;
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,.5);
}

.spot5 .skate-2::after {
	content: '2';
}

.spot5 .skate-3::after {
	content: '3';
}

.spot5 .skate-2 {
	width: 300px;
	height: 100px;
	flex-basis: 100%;
}

.test3 {
	width: 300px;
	height: 300px;
	border-radius: 10px;
	border: 10px solid #eee;
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,.5);	
	background: #fff;
	margin: 50px auto;
}

.test3 .palette {
	height: 100%;
	align-items: stretch !important;
}
.test3 .palette [class^="color"]{
	align-self: stretch !important;
}

.test3 .palette div {
	min-width: 35px;
	height: 100px;
}

.test3 .palette {
	display: flex;
}

.color-olive {
	flex-basis: 50px;
	min-height: 150px;
	margin: auto;	
	margin-right: 5px;
	background: #317B5A;
}

.color-aqua {
	flex-basis: 50px;
	min-height: 150px;
	margin: auto;
	margin-right: auto;
	margin-left: 5px;
	background: #65AFCC;
}

.color-yellow {	
	margin-top: auto;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	background: #CBB000;
}

.color-fuchsia {	
	margin-top: 10px;	
	margin-right: 5px;
	margin-left: auto;
	background: #C00E98;
}

.spot7 {
	width: 80%;
	height: 500px;
	margin: 20px auto;
	background: url("img/bg_gray.jpeg");
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.spot7 .skate {
	width: 75px;
	height: 300px;
	/*padding: 10px;*/
	margin: 10px;
	min-width: 40px;
	min-height: 120px;
	background-clip: content-box;
	border-top-left-radius: 75px;
	border-top-right-radius: 75px;
	border-bottom-left-radius: 75px;
	border-bottom-right-radius: 75px;
	background: url("img/bg.png");
	border: 5px solid white;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,.3);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skate7 img {
	width: 35px;
	
}

.skate7::after {	
	content: '1';
	width: 20px;
	height: 20px;
	text-align: center;
	background: rgba(0,0,0,.2);
	color: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -10px;
	font-size: 14px;
	font-weight: bold;
}

.spot7 .skate-1 {
	flex-grow: 3;
}

.spot7 .skate-2 {
	flex-grow: 2;
}

.spot8 {
	width: 300px;
	height: 500px;
	margin: 20px auto;
	background: url("img/bg_gray.jpeg");
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.spot8 .skate {
	flex-basis: 250px;
	width: 75px;
	height: 300px;
	/*padding: 10px;*/
	margin: 10px;
	min-width: 40px;
	min-height: 120px;
	background-clip: content-box;	
	background: url("img/bg.png");
	border: 5px solid white;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,.3);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skate8 img {
	width: 35px;	
}

.skate8::after {	
	content: '1';
	width: 20px;
	height: 20px;
	text-align: center;
	background: rgba(0,0,0,.2);
	color: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -10px;
	font-size: 14px;
	font-weight: bold;
}

.spot8 .skate-1 {
	flex-shrink: 1;
}

.spot8 .skate-2 {
	flex-shrink: 1;
}